<div class='login-container'>

  <% if params[:type] == 'regist' %>
    <h2>发送邮箱注册确认邮件</h2>
  <% else %>
    <h2>重新发送确认邮件</h2>
  <% end %>

  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name, type: params[:type]), html: { method: :post }) do |f| %>

    <%= f.input_field :email, required: true, class: 'input-block',
      autofocus: true, placeholder: '邮箱地址' %>
    <br />
    <%= f.button :submit, "发送验证邮件", class: "btn btn-large btn-block" %>
    <br />
    <%= link_to "登录", new_session_path(resource_name), class: "btn btn-link btn-block" %>
    <br />
    <%= link_to "忘记密码?", new_user_password_path, class: 'btn btn-block btn-link' %>
  <% end %>
</div>
