<%= content_for :page_title do %>
评价
<% end %>

<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<%= content_for :header_right do %>
  <a href="#" class="submit" onclick="submitEvaluationStatus()">提交</a>
<% end %>


<%= simple_form_for @evaluation, html: {autocomplete: 'off'} do |f| %>
  <%= f.input_field :status, selected: 'good', class:'hidden' %>
  <%= f.hidden_field :order_item_id, class:'hidden' %>
  <%= f.hidden_field :order_id, class:'hidden' %>
  <%= hidden_field_tag :timestamp, @stale_form_check_timestamp %>
  <%= hidden_field_tag :type, 'new' %>
  <div class="emoticon-box m-top10">
    <div class="emoticon" data-star="1">
    	<p><i class="icon worst-icon"></i></p>
    	<p class='worst'>不满 </p>
    </div>
    <div class="emoticon" data-star="2">
    	<p><i class="icon bad-icon"></i></p>
    	<p class='bad'>减分</p>
    </div>
    <div class="emoticon active" data-star="3">
    	<p><i class="icon good-icon"></i></p>
    	<p class='good'>满意</p>
    </div>
    <div class="emoticon" data-star="4">
    	<p><i class="icon better-icon"></i></p>
    	<p class='better'>加分</p>
    </div>
    <div class="emoticon" data-star="5">
    	<p><i class="icon best-icon"></i></p>
    	<p class='best'>惊喜</p>
    </div>
  </div>
  <div class="evaluations-box bg-white gap">
    	<div class="star-box">
    		<div class="star"></div>
    		<div class="star"></div>
    		<div class="star"></div>
    	</div><!-- start-box -->
    	<div class="m-top10">
    		<%= f.text_area :content, value: '', checked: false, autocomplete: 'off', placeholder: '写点什么吧...', id:"y_textarea" ,rows:"6",class:"input-block" %>
    	</div>
  </div><!-- evaluations-box -->
<% end %>
<% if @order.present? %>
  <% @order.order_items.each do |item| %>
  <!-- 有菜品的时候 -->
    <div class="evaluation-dishes-list bg-white">
      <!-- 循环  -->
      <div class="evaluation-dishes-box">
        <div class="cover"
          <% if item.product.image_url %>
            style="background-image:url(<%= item.product.image_url(:thumb) %>) ;"
          <% end %>
        ></div><!--cover -->
        <div class="title text-cut"><%= item.product.name %></div>
        <div class="recommend-icon">
          <div class="order-item-box" data-id="<%= item.id %>">
            <span class="<%= item.recommend ? 'active': '' %>"></span>
          </div>
        </div><!-- recommend-icon -->
      </div><!-- evaluation-dishes-box -->
    </div><!-- evaluation-dishes-list -->
    <br />
  <% end %>
<% end %>
<script type="text/javascript">
  function submitEvaluationStatus() {
    var val = $("#y_textarea").val()
    if (val == '') {
      alert("请写点什么吧");
    }
    else{
      $('#new_evaluation').submit();
    };
  };
</script>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript">
      wx.ready(function(){ UBoss.luffy.disableSharing(); });
    </script>
  <% end %>
<% end %>

