<%= content_for :page_title do %>
评价
<% end %>
<br />
<%= simple_form_for @evaluation do |f| %>
  <%= f.input_field :status, value: 'good', class:'hidden' %>
  <%= f.hidden_field :order_item_id, class:'hidden' %>
  <div class="emoticon-box">
    <div class="emoticon" data-star="1">
    	<p><i class="icon worst-icon"></i></p>
    	<p class='worst'>不满 </p>
    </div>
    <div class="emoticon">
    	<p><i class="icon bad-icon"></i></p>
    	<p class='bad'>减分</p>
    </div>
    <div class="emoticon active">
    	<p><i class="icon good-icon"></i></p>
    	<p class='good'>满意</p>
    </div>
    <div class="emoticon">
    	<p><i class="icon better-icon"></i></p>
    	<p class='better'>加分</p>
    </div>
    <div class="emoticon">
    	<p><i class="icon best-icon"></i></p>
    	<p class='best'>惊喜</p>
    </div>
  </div>
  <div class="evaluations-box bg-white gap">
  	<div class="star-box">
  		<div class="star"></div>
  		<div class="star"></div>
  		<div class="star"></div>
  	</div><!-- start-box -->
  	<div class="gap">
  		<%= f.text_area :content, placeholder: '写点什么吧...', id:"y_textarea" ,rows:"6",class:"input-block" %>
  	</div>
  </div><!-- evaluations-box -->
<% end %>

<script type="text/javascript">

function submitEvaluationStatus() {
  var status = $('#evaluation_status').val();
  if (status == ''){
    $('#evaluation_status').val('good');
  }

  var val = $("#y_textarea").val()
  if (val == '') {
    alert("请写点什么吧");
  }
  else{
  	$('#new_evaluation').submit();
  };
};
</script>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript">
      wx.ready(function(){ UBoss.luffy.disableSharing(); });
    </script>
  <% end %>
<% end %>

