
<header class="head">
  <%= link_to root_path do %>
    <div class="bottom left iconleft"></div>
  <% end %>
  
  <div class="log_font">收货评价</div>
</header>
<div class="container">
<%= simple_form_for @evaluation do |f| %>
<div class="y_comment">
  <div class="y_commentnox1">
    <div class="y_img"></div>
    <p>您已经确认收货，请给评价。</p>
  </div>
  <div class="y_commentnox2">

      <a id="good" onclick="good()">
      好评
      </a>
      <a id="normal" onclick="normal()">
      中评
      </a>
      <a id="bad" onclick="bad()">
      差评
      </a>
    </ul>
  </div>

  
  <%= f.input_field :status, style:"display:none;" %>
  <%= f.input_field :order_item_id, value: params[:id], style:"display:none;" %>
  <div style="padding:30px 5px;">
    <%= f.input_field :content, placeholder: '写点评价吧',style: "height:100px;padding:10px;width:200px;margin:0;margin-bottom: 24px" %>
  </div>
</div>
<a onclick="submitEvaluationStatus()">
  <div class="accunt_adil_box3"><input type="submit" value="提交" class="accunt_adilbtn">
  </div>
</a>

<% end %>
</div>


<script type="text/javascript">
function good() {$("#evaluation_status").val("1");$("#good").addClass('y_hover');$("#normal").removeClass('y_hover');$("#bad").removeClass('y_hover')};
function normal() {$("#evaluation_status").val("2");$("#normal").addClass('y_hover');$("#good").removeClass('y_hover');$("#bad").removeClass('y_hover')};
function bad() {$("#evaluation_status").val("3");$("#bad").addClass('y_hover');$("#normal").removeClass('y_hover');$("#good").removeClass('y_hover');};
function submitEvaluationStatus() {
  var val = $("#evaluation_status").val()
  if (val == '0') {
    alert("请评价");
  }else{$('#new_evaluation').submit();};
};
</script>