<%= content_for :page_title do %>
  收货评价
<% end %>

<%= simple_form_for @evaluation do |f| %>
  <div class="appr_box">
    <p><%= image_tag 'img/pay_sucsss.png' %></p>
    <p>亲，您已确认收货，给个评价吧！</p>
    <div class="appr_feelbox">
      <div class="appr_feellist">
        <a class="laugh" id="good" onclick="good()"> <p>好评</p></a>
        <a class="averg"id="normal" onclick="normal()"> <p>中评</p> </a>
        <a class="kry" id="bad" onclick="bad()"> <p>差评</p> </a>
        <%= f.input_field :status, style:"display:none;" %>
        <%= f.input_field :order_item_id, value: params[:id], style:"display:none;" %>
      </div>
    </div>
  </div>

  <div style="background-color: white; text-align: center; padding-bottom:1px;">
    <%= f.text_area :content, placeholder: '写点评价吧', id:"y_textarea" %>

    <div class="accunt_adil_box3" style='margin-top: 25px;'>
      <a onclick="submitEvaluationStatus()" class="accunt_adilbtn">提交</a>
    </div>
  </div>

  <% if @privilege_card.present? %>
    <div class="appr_box2">
      <div class="appr_box2_cont">
        <div class="appr_header">
          <span class="appr_header_img">
            <%= image_tag current_user.avatar_url(:h50) %>
          </span>
          <span class="appr_header_tit">将获得<strong><%= @privilege_card.returning_amount * @order_item.amount %></strong>积分</span>
        </div>
        <div class="appr_header_content">
          <p class="appr_line1"><strong><%= @privilege_card.discount %></strong><span>折</span></p>
          <p class="appr_line2">购买本商品每件省</p>
          <p class="appr_line3">省<strong><%= @privilege_card.privilege_amount %></strong>元/件</p>
          <p class="appr_line4">返<strong><%= @privilege_card.returning_amount %></strong>积分/件</p>
        </div>
        <div class="appr_shar"><a href="#" id="fire_sharing_btn">分享给朋友</a></div>
      </div>
    </div>

    <div class="appr_header_pro">
      <div class="appr_header_pro_c">
        <div class="space_hx"></div>
        <div class="appr_header_pro_ct">
          <strong>使用说明：</strong>
          <p>1、友情卡用于打折并积分，<a href="#" class="dail_a">查看说明</a></p>
          <p>2、本友情卡所有权归某某用户</p>
          <p>3、任何通过此页面下单的用户都可享受此卡打折优惠</p>
          <p>4、通过此卡消费所获积分归某某用户所有</p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
function good() {$("#evaluation_status").val("good");$("#good").addClass('y_hover');$("#normal").removeClass('y_hover');$("#bad").removeClass('y_hover')};
function normal() {$("#evaluation_status").val("normal");$("#normal").addClass('y_hover');$("#good").removeClass('y_hover');$("#bad").removeClass('y_hover')};
function bad() {$("#evaluation_status").val("bad");$("#bad").addClass('y_hover');$("#normal").removeClass('y_hover');$("#good").removeClass('y_hover');};
function submitEvaluationStatus() {
  var val = $("#evaluation_status").val()
  if (val == '0') {
    alert("请评价");
  }else{$('#new_evaluation').submit();};
};
</script>
