<%= content_for :page_title do %>
  已评价
<% end %>

<%= content_for :extra_meta_tags do %>
  <%= sharing_meta_tags(@product, @sharing_node) %>
<% end %>

<div class="container" style='margin-bottom: 60px;'>

  <div class="p_comment">
    <div class="p_img <%= @evaluation.status %>"></div>
    <strong><%= @evaluation.status_i18n %></strong>
    <p>感谢你的评价!</p>
  </div>

  <% if @privilege_card.present? %>
    <%= render partial: 'privilege_card', locals: { privilege_card: @privilege_card, product: @product } %>
    <br />
  <% end %>

  <div class="fenxinrated">
    <%= render partial: 'application/share_buttoms',
      locals: { product: @product, node: @sharing_node } %>
  </div>

  <div class="accunt_adil_box4">
    <%= link_to("返回首页", root_path, class:"accunt_adilbtnt") %>
  </div>

</div>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>
