<%= content_for :page_title do %>
  已评价
<% end %>

<div class="container">
  <div class="p_comment">
    <% case @evaluation.status %>
    <% when 'good' %>
    <div class="p_img good"></div>
    <strong>好评</strong>
    <% when 'normal' %>
    <div class="p_img normal"></div>
    <strong>中评</strong>
    <% when 'bad' %>
    <div class="p_img bad"></div>
    <strong>差评</strong>
    <% end %>
    <p>感谢你的评价!</p>
  </div>
  <div class="fenxinrated">
    <%= render 'application/share_buttoms' %>
  </div>
  <div class="accunt_adil_box4">
    <%= link_to("返回首页", root_path, class:"accunt_adilbtnt") %>
  </div>

</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"></script>
<script type="text/javascript">
var jiathis_config = {
  url: "<%= product_sharing_link(@evaluation.product, @sharing_node) %>",
  title: "<%= @evaluation.order_item.product.try(:name) %>",
  summary:"原价：￥<%= @sharing_node.product.try(:original_price) %>,现价：￥<%= @sharing_node.product.try(:present_price) %>,快来抢购吧~"
}
</script>

<script type="text/javascript">
wx.ready(function(){
  UBoss.luffy.resetInvokeSharing({
    title: "<%= @evaluation.order_item.product.try(:name) %>", // 分享标题
    link: "<%= product_sharing_link(@evaluation.product, @sharing_node) %>",
    imgurl: '<%= @evaluation.order_item.product.image_url %>', // 分享图标
    desc: 'UBOSS'
  });
});
</script>
