<style type="text/css">
a {color:white;}
a:hover {color: yellow;}
</style>

<div class="row text-center bg_green font_h2 white heading">
  <%= link_to root_path do %>
  <div class="col-xs-2"><</div>
  <% end %>
  <div class="col-xs-8">已评价</div>
  <!-- <a class="col-xs-2" onclick="">分享</a> -->
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <% case @evaluation.status %>
    <% when 1 %>
      <div style="width:70px;margin:20px auto 0px auto;">
        <img src="/t/mobile/good.png" style="width:70px;">
      </div>
      <div class="green font_h1">好评</div>
    <% when 2 %>
      <div style="width:70px;margin:20px auto 0px auto;">
        <img src="/t/mobile/normal.png" style="width:70px;">
      </div>
      <div class="green font_h1">中评</div>
    <% when 3 %>
      <div style="width:70px;margin:20px auto 0px auto;">
        <img src="/t/mobile/bad.png" style="width:70px;">
      </div>
      <div class="green font_h1">差评</div>
    <% end %>
    <div class="grey" style="margin:20px auto 40px auto;">感谢您的评价!</div>
  </div>
  <div class="col-xs-12 bg_white">
    <h4 class="green text-center" style="padding-top:20px;">分享到</h4>
    <div class="clear"></div>
    <div id="share-box" class="l_toshare clearfix">
      <div id="l_share_more" class="l_toshare-bd undis" style="position:relative;height:50px;">
        <ul style="position:absolute;left:50%;margin-left:-120px;">
          <li>
            <a class="jiathis_button_xiaoyou l_s_pengyou">
            </a>
          </li>
          <li>
            <a class="jiathis_button_googleplus l_s_google">
            </a>
          </li>
          <li>
            <a class="jiathis_button_douban l_s_dou">
            </a>
          </li>
          <li>
            <a class="jiathis_button_fb l_s_facebook">
            </a>
          </li>
          <li>
            <a class="jiathis_button_renren l_s_renren">
            </a>
          </li>
          <li>
            <a class="l_s_copy" title="复制链接" alt="复制链接" onclick="copyUrl()" href="JavaScript: copyUrl()">
            </a>
          </li>
        </ul>
        <span> </span>
      </div>
      <div class="l_toshare-bd" style="position:relative;height:50px;">
        <ul class="l_toshare24" style="position:absolute;left:50%;margin-left:-120px;">
          <li>
            <a class="jiathis_button_weixin l_s_weixin">
            </a>
          </li>
          <li>
            <a class="jiathis_button_tsina l_s_sina">
            </a>
          </li>
          <li>
            <a class="jiathis_button_cqq l_s_qq">
            </a>
          </li>
          <li>
            <a class="jiathis_button_qzone l_s_qzone"></a>
          </li>
          <li>
            <a class="jiathis_button_tqq l_s_tweibo">
            </a>
          </li>
          <li>
            <a id="tmblogbt" class="l_s_more" title="更多" alt="更多" onclick="l_share()" href="javascript:void(0)">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div style="margin:20px;float:left;width:280px;">
      <%= link_to '返回首页', root_path, class: "btn text-center bg_green white col-xs-12" %>
    </div>   
  </div>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"></script>
<script type="text/javascript">
var jiathis_config = {
  url: 'http://<%= "#{request.env["HTTP_HOST"]}/products/#{@sharing_node.product_id}?code=#{ @sharing_node.try(:code)}" %>', 
  title: "<%= @product.try(:name) %>", 
  summary:"原价：￥<%= @sharing_node.product.try(:original_price) %>,现价：￥<%= @sharing_node.product.try(:present_price) %>,快来抢购吧~"
} 
</script>
<script type="text/javascript">
function l_share() {
  $('#l_share_more').toggle();
}
function copyUrl() {
  window.clipboardData.setData("Text", Url);
  alert("复制成功！：" + Url);
}
</script>