<%= content_for :page_title do %>
  已评价
<% end %>

<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<% if @evaluation.order_item_id.present? %>
  <%= content_for :extra_meta_tags do %>
    <%= sharing_meta_tags(@product, @sharing_link_node) %>
  <% end %>
<% end %>

<br />

<div class="box bg-white">
  <div class="box-m40 text-center">
    <br />
    <div class="emoticon-box">
      <div class="emoticon active">
        <p><i class="icon <%= "#{@evaluation.status}-icon" %>"></i></p>
      </div>
    </div>
    <h3 class="gray-color"><%= @evaluation.status_i18n %></h3>
    <p>感谢你的评价!</p>
    <br />
    <% if @evaluation.order_item_id.present? %>
      <%= link_to "分享", '#', class: "btn btn-large btn-block p-sharing-btn" %>
    <% end %>
    <br />
    <%= link_to "返回首页", root_path, class: "btn btn-large btn-block btn-black-border" %>
  </div>
  <br />
</div>

<%= render partial: 'new_share' %>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript">
wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>
