<div class="container shared">
  <div class="text-center gap">
    <div class="activate-info">
      <div class="border-line">
        <h3><%= @message[:success] %></h3>
      </div>
    </div><!-- activate-info -->
  </div>
  <div class="text-center tips-text">
    在
    <%= link_to "【奖券】", lotteries_account_verify_codes_path %>
    查看我的中奖
  </div>
  <br />

	<div class="share-img-box">
			<h4 class="gap black-color">
				购买商品参与分享抽奖活动<br/>
				一大波好礼坐等领取
			</h4>
      <div class="gap">
        <%= link_to '', @store_url,
          class: "store-cover",
          style: "background-image:url('#{image_url(@store_cover_url)}')" %>
      </div>
      <div class="gap">
        <%= link_to @store_url do %>
          <%= @store_identify %>
          <span class="right-icon">→</span>
        <% end %>
      </div>
	</div>
  <br />
</div>
