    <div class="add_inout">
      <p>
        <span class="add_textd">收货人</span>
        <%= f.input_field :username, class:"add_text" %>
      </p>
      <p><span>联系电话</span><%= f.input_field :mobile, class:"add_text" %></p>
      <p><span>所在地区</span><%= f.input_field :street, class:"add_text" %></p>
      <p><span>详细地址</span><%= f.input_field :building, class:"add_text" %></p>
      <p><span>设为默认</span><%= f.input_field :default, class:"add_text" %></p>

    </div>