<%= content_for :page_title do %>
  编辑地址
<% end %>
<br />
<%= simple_form_for @user_address, url: account_user_address_path(@user_address), method: :PUT do |f| %>
<div class="address-new gap">
	<%= render 'field', f: f %>		
</div><!-- address-new -->
<br />
<div class="gap">
	<%= f.submit '保存', class:"btn btn-large btn-block" %>
	<br />
	<%= link_to("删除收货地址", account_user_address_path(@user_address), method: :delete , data: { confirm: '确定要删除么？' },class:"btn btn-large btn-black-border btn-block") %>
</div>


<% end %>