<header class="head">
  <%= link_to root_path do %>
  <div class="bottom left iconleft"></div>
  <% end %>
  <div class="log_font">管理地址</div>
</header>

<div class="container add_listall" >
  <div class="add_title">
    <span>收货地址列表</span>
    <!-- <div class="close"><a href="#"><img src="img/close.png"></a></div> -->
  </div>
  <div class="add_conts">
    <%
       default_user_addresses = []
       user_address = current_user.default_address
       default_user_addresses << user_address
        %>
    <% if user_address %>
    <dl class="add_line1 addrr bg_green">
      <%= link_to edit_account_user_address_path(user_address), class:"add_line2" do %>    
        <dd><span>收货人：<%= user_address.username %></span><strong><%= user_address.mobile %></strong></dd>
        <dd><span>收货地址：<%= excerpt( "#{user_address}", "#{user_address}".split(' ')[-1],separator: ' ', radius: 2)  %></span></dd>
        
        <%= image_tag("img/right.png" ) %>
      <% end %>
    </dl>
    <% end %>
    <%- (@user_addresses-default_user_addresses).each do |user_address| %>
    <dl class="add_line1 addrr">
      <%= link_to edit_account_user_address_path(user_address), class:"add_line2" do %>     
        <dd><span>收货人：<%= user_address.username %></span><strong><%= user_address.mobile %></strong></dd>
        <dd><span>收货地址：<%= excerpt( "#{user_address}", "#{user_address}".split(' ')[-1],separator: ' ', radius: 2)  %></span></dd>
      
        <%= image_tag("uboss_29/right.png" ) %>
      <% end %>
    </dl>
    <% end %>
    <div class="accunt_adil_box3 adbtn">
      <%= link_to("添加新地址", new_account_user_address_path , class:"accunt_adilbtn") %>
    </div> 
  </div>  
</div>
