
<%= content_for :page_title do %>
  收货地址列表
<% end %>
<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>
<br />
<%
   default_user_addresses = []
   user_address = current_user.default_address
   default_user_addresses << user_address
%>
<% if user_address %>
	<%= link_to edit_account_user_address_path(user_address), class:"add_line2" do %>
		
    <div class="address-box">
    	
    	<div class="content default">
	    	<p>
	        <span class='pull-right adr-mobile'><%= user_address.mobile %></span>
	        <span class='adr-user'><%= user_address.username %></span>
	        </p>
	      <p class='adr-detail'>【默认】<%= excerpt( "#{user_address}", "#{user_address}".split('')[-1],separator: '', radius: 12)  %></p>
      </div>
    </div>
	<% end %>
<% end %>
<br />
<div class="address-list">
<%- (@user_addresses-default_user_addresses).each do |user_address| %>
  <%= link_to edit_account_user_address_path(user_address), class:"add_line2" do %>
  	<div class="address-box">
  		<div class="content">
		    <p>
		    	<span class='pull-right'><%= user_address.mobile %></span>
		    	<span><%= user_address.username %></span>
		    </p>
		    <p><%= excerpt( "#{user_address}", "#{user_address}".split('')[-1],separator: '', radius: 12)  %></p>
	    </div>
		</div>
  <% end %>
<% end %>
</div>
    
<%= link_to  new_account_user_address_path , id:"address-more" do %>
	<b class="icon">+</b>添加新地址
<% end %><!-- address-more -->
