<%= render 'public' %>
<br />
<div class="container">
	<div class="header-tab">
		<%= link_to "收益明细", income_detail_admin_service_stores_path, class:"tab-title" %>
		<div class="tab-title active">团购统计</div>
	</div>
</div>
<br />

<div class="container">
	<table class="list-table" id="verify_codes">
    <thead>
      <tr>
        <th>团购名称</th>
        <th>现价</th>
        <th>实付款</th>
        <th>总销量</th>
        <th>累计算收益</th>
        <th>发布时间</th>
      </tr>
    </thead>
    <tbody>
      <% @service_products.each do |product| %>
        <tr>
          <td class="text-left">
            <%= link_to '#' do %>
              <%= image_tag(product.image_url(:thumb), size: "80x80", alt: "-") %>　
              <%= product.name %>
            <% end %>
          </td>
          <td><%= product.present_price %></td>
          <td></td>
          <td><%= product.total_sales_volume %></td>
          <td><%= product.total_income %></td>
          <td><%= product.created_at.to_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
