<div class="well">
  <%= f.input :enterprise_name %>
  <%= f.input :business_license_img, as:"file", hint: image_tag(@enterprise_authentication.business_license_img.url(:w640)) %>
  <%= f.input :legal_person_identity_card_front_img, as:"file", hint: image_tag(@enterprise_authentication.legal_person_identity_card_front_img.url(:w640))  %>
  <%= f.input :legal_person_identity_card_end_img, as:"file", hint: image_tag(@enterprise_authentication.legal_person_identity_card_end_img.url(:w640)) %>
  <%= f.input :address %>
  <div class="form-group string required enterprise_authentication_mobile">
    <%= f.label :mobile, class:"string required col-sm-2 control-label" %>
    <div class="col-xs-3"><%= f.input_field :mobile , as: :tel, id:"new_mobile", style:"width:100%;" %></div>
    <div class="col-xs-3"><%= link_to '发送', '###',class: "btn btn-danger btn-xs",id:"send_mobile" %></div>
  </div>
  <%= f.input :mobile_auth_code %>
</div>
