<div id="index_list">
<div class="container nogap">
	<div class="box-w25">
		<div class="admin-box main-bg-color">
	    <h4>已提交</h4>
	    <h1 class="num"><%= EnterpriseAuthentication.posted.count %></h1>
	  </div>
	</div>
	<div class="box-w25">
		<div class="admin-box yellow-bg-color">
	    <h4>审核中</h4>
	    <h1 class="num"><%= EnterpriseAuthentication.review.count %></h1>
		</div>
	</div>
	<div class="box-w25">
		<div class="admin-box blue-bg-color">
	    <h4>已通过</h4>
	    <h1 class="num"><%= EnterpriseAuthentication.pass.count %></h1>
		</div>
	</div>
  <div class="box-w25">
  	<div class="admin-box red-bg-color">
	    <h4>未通过</h4>
	    <h1 class="num"><%= EnterpriseAuthentication.no_pass.count %></h1>
	  </div>
  </div>
</div>
<br />
<div class="container">
	<table class="list-table" id="enterprise_authentications">
		<thead>
			<th>创客名称</th>
			<th>绑定手机</th>
			<th>创建时间</th>
			<th>状态</th>
			<th>操作</th>
		</thead>
		<% @enterprise_authentications.each do |obj| %>
		<tr id="enterprise_authentication_<%= obj.user_id %>">
			<td class="text-left">
				 <%= link_to url_for(controller: 'admin/enterprise_authentications', action: :show, user_id: obj.user_id) do %>
			      <%= image_tag(obj.user.avatar.url(:thumb), size: "80x80", alt: "-") %>　
			      <%= obj.user.identify %>
			    </div>
			    <% end %>
			</td>
			<td><%= obj.user.login %></td>
			<td><%= obj.created_at %></td>
			<td>
				<% case obj.status %>
			    <% when 'posted' %>
			    	<span class='label label-info'>
			    <% when 'review' %>
			    	<span class='label label-warning'>
			    <% when 'pass' %>
			    	<span class='label label-success'>
			    <% when 'no_pass' %>
			    	<span class='label label-danger'>
			    <% else %>
			    	<span class='label label-default'>
			  <% end %>
			    <%= obj.status_i18n %>
			  </span>
			</td>
			<td>
				<% case obj.status %>
			    <% when 'posted' %>
			      <%= link_to '锁定资料', '###', onclick:"change_status(#{obj.user_id},'review')", class:"btn yellow-btn" %>
			      <%= link_to '通过', '###', onclick:"change_status(#{obj.user_id},'pass')", class:'btn'  %>
			      <%= link_to '不通过', '###', onclick:"change_status(#{obj.user_id},'no_pass')", class:'btn red-btn' %>
			    <% when 'review' %>
			      <%= link_to '通过', '###', onclick:"change_status(#{obj.user_id},'pass')", class:'btn'  %>
			      <%= link_to '不通过', '###', onclick:"change_status(#{obj.user_id},'no_pass')", class:'btn red-btn' %>
			    <% when 'pass' %>
			      <%= link_to '不通过', '###', onclick:"change_status(#{obj.user_id},'no_pass')", class:'btn red-btn' %>
			    <% when 'no_pass' %>
			      <%= link_to '通过', '###', onclick:"change_status(#{obj.user_id},'pass')", class:'btn'  %>
			    <% end %>
			</td>
		</tr>
		<% end %>
	</table>
	<br />
	<%= paginate @enterprise_authentications %>

</div>
</div>
<script type="text/javascript">
function change_status(user_id,status) {
  var id = id
  console.log(id)
  $.ajax({
    url: '/admin/users/' + user_id + '/enterprise_authentication/change_status',
    dataType: 'script',
    data: {user_id: user_id, status: status},
  })
  .done(function() {
    console.log("success");
  })
  .fail(function() {
    console.log("error");
  })
  .always(function() {
    console.log("complete");
  });
}
</script>
