<div class="container  admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>编辑企业认证</li>
	</ul>
</div>
<br />
<div class="container">
	<div class="header-tab">
    <%= link_to "编辑个人认证", url_for(controller: :personal_authentications, action: :edit),
      class:"tab-title" %>
		<div class="tab-title active">编辑企业认证</div>
	</div>
	<br />
	<h3 cclass="page-title">编辑企业认证</h3>
	<%= horizon_form_for @enterprise_authentication, url: {:action=>:update}, method: 'PATCH' do |f| %>

	  <%= render 'fields', f: f %>

    <br />
	  <div class="text-center">
	    <%= link_to('返回', url_for(action: :show), :class=>"btn btn-large",:role=>"button") %>
	    <%= f.submit '提交', class: 'btn btn-large red-btn' %>
	  </div>
	<% end %>
</div>
