<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-2">
    <%= link_to "个人认证", url_for(controller: :personal_authentications, action: :new, user_id: current_user), class:"btn btn-default col-xs-12" %>
  </div>
  <div class="col-xs-2"><%= link_to "企业认证", '###', class:"btn btn-primary col-xs-12" %></div>
</div>
<h4>创建企业信息认证</h4>
<hr />
<%= horizon_form_for :enterprise_authentication,url: {:action=>:create} do |f| %>
  <%= render 'fields', f: f %>

  <div class="form-actions">
    <%= f.submit '提交', class: 'btn btn-primary' %>
  </div>
<% end %>
