<% if !super_admin? %>
<div class="container  admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>企业信息认证</li>
	</ul>
</div>
<br />
<div class="container">
	<div class="header-tab">
		<%= link_to "个人认证", url_for(controller: :personal_authentications, action: :show, user_id: current_user), class:"tab-title" %>
		<div class="tab-title active">企业认证</div>
	</div>
</div>
<br />
<% end %>
<div class="container">
		<h3 class="page-title">企业信息认证</h3>
		<div class="admin-box black-bg-color">
      <div class="form-group clear">
				<label class="string required control-label" for="product_name">
					<abbr title="必填">*</abbr>
					状态
				</label>
				<div class="control-input"><span>
          <%= @enterprise_authentication.status_i18n %></span>
				</div>
			</div>
			<div class="form-group clear">
				<label class="string required control-label" for="product_name">
					<abbr title="必填">*</abbr>
					公司名
				</label>
				<div class="control-input"><span>
					<%= @enterprise_authentication.enterprise_name %></span>
				</div>
			</div>
      <div class="form-group clear">
				<label class="string required control-label" for="product_name">
					<abbr title="必填">*</abbr>
				  营业执照
				</label>
				<div class="control-input"><span>
          <%= link_to(@enterprise_authentication.business_license_img.to_s, target:'_blank') do %>
					<%= image_tag(@enterprise_authentication.business_license_img.url(:w320), width: "60%", alt: "-", title:"点击查看原图") %>
          <% end %></span>
				</div>
			</div>
			<div class="form-group clear">
				<label class="string required control-label" for="product_name">
					<abbr title="必填">*</abbr>
				  法人身份证正面
				</label>
				<div class="control-input"><span>
          <%= link_to(@enterprise_authentication.legal_person_identity_card_front_img.to_s, target:'_blank') do %>
					<%= image_tag(@enterprise_authentication.legal_person_identity_card_front_img.url(:w320), width: "60%", alt: "-", title:"点击查看原图") %>
          <% end %></span>
				</div>
			</div>
      <div class="form-group clear">
				<label class="string required control-label" for="product_name">
					<abbr title="必填">*</abbr>
				  法人身份证反面
				</label>
				<div class="control-input"><span>
          <%= link_to(@enterprise_authentication.legal_person_identity_card_end_img.to_s, target:'_blank') do %>
					<%= image_tag(@enterprise_authentication.legal_person_identity_card_end_img.url(:w320), width: "60%", alt: "-", title:"点击查看原图") %>
          <% end %></span>
				</div>
			</div>
      <div class="form-group clear">
        <label class="string required control-label" for="product_name">
          <abbr title="必填">*</abbr>
          地址
        </label>
        <div class="control-input"><span>
          <%= @enterprise_authentication.address %></span>
        </div>
      </div>
      <div class="form-group clear">
        <label class="string required control-label" for="product_name">
          <abbr title="必填">*</abbr>
          手机号码
        </label>
        <div class="control-input"><span><%= @enterprise_authentication.mobile %></span></div>
      </div>
  <% if is_super_admin? %>
  	<p class="text-center">
    <% case @enterprise_authentication.status %>
    <% when 'posted' %>
      
        <%= link_to '锁定资料', url_for(action: :change_status, id:  @enterprise_authentication.id, status: 'review'), :class=>"btn btn-large",:role=>"button" %>
      
      
        <%= link_to '通过', url_for(action: :change_status, id:  @enterprise_authentication.id, status: 'pass'), :class=>"btn btn-large",:role=>"button" %>
     
      
        <%= link_to '不通过', url_for(action: :change_status, id:  @enterprise_authentication.id, status: 'no_pass'), :class=>"btn btn-large",:role=>"button" %>
      
    <% when 'review' %>
      
        <%= link_to '通过', url_for(action: :change_status, id:  @enterprise_authentication.id, status: 'pass'), :class=>"btn btn-large",:role=>"button" %>
      
      
        <%= link_to '不通过', url_for(action: :change_status, id:  @enterprise_authentication.id, status: 'no_pass'), :class=>"btn btn-large",:role=>"button" %>
      
    <% when 'pass' %>
      
        <%= link_to '不通过', url_for(action: :change_status, id:  @enterprise_authentication.id, status: 'no_pass'), :class=>"btn btn-large",:role=>"button" %>
      
    <% when 'no_pass' %>
      
        <%= link_to '通过', url_for(action: :change_status, id:  @enterprise_authentication.id, status: 'pass'), :class=>"btn btn-large",:role=>"button" %>
      
    <% end %>
   	</p>
  </div>
	<br />
  <p><%= link_to "返回",  url_for(controller: :enterprise_authentications, action: :index), class:"btn blue-btn btn-large",:role=>"button" %></p>
    
    
  <% elsif ['posted','no_pass'].include?(@enterprise_authentication.status) %>
	<p class="text-center"><%= link_to("编辑", url_for(:action=>:edit), :class=>"btn btn-large",:role=>"button") %></p>
	</div>
  <% end %>

</div>

