<div class="container">
	<ul class="breadcrumb">
		<li>主页</li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>创客</li>
	</ul>
</div><!-- container -->
<br />
<div class="container nogap"> 
	<div class="box-w25">
		<div class="admin-box main-bg-color">
			<h4>今日签约创客</h4>
			<h1 class="num"><%= User.agent_today_joins.count %></h1>
		</div><!-- admin-->
	</div><!-- box-w25 -->
	<div class="box-w25">
		<div class="admin-box red-bg-color">
			<h4>总签约创客</h4>
			<h1 class="num"><%= User.agent_total_joins.count %></h1>
		</div><!-- admin-->
	</div><!-- box-w25 -->
</div>
<br />
<div class="container">
	<table class="list-table">
		<thead>
			<th>创客</th>
			<th>账号</th>
			<th>今日签约商家</th>
			<th>累积签约商家</th>
			<th>收益</th>
		</thead>
		<% @agents.each do |obj| %>
			<tr>
				<td class="text-left">
					<%= link_to url_for(controller: 'admin/agents', action: :show, id: obj) do %>
						<%= image_tag(obj.avatar, size: "100x80", alt: "-") %>　<%= obj.identify %>
					<% end %>
				</td>
				<td><%= obj.login %></td>
				<td><%= obj.seller_today_joins.count %></td>
				<td><%= obj.seller_total_joins.count %></td>
				<td>(获取收益)</td>
			</tr>
		<% end %>
	</table>
	<br />
	<%= paginate @agents %>
</div>

