<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-angle-right"></i></li>
		<li><%= link_to '创客', [:admin, :agents] %></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active"><%= @agent.identify %></li>
	</ul>
</div><!-- container -->
<br />
<div class="container">
	<div class="header-tab">
		<div class="tab-title active" data-title = "#content1">创客信息</div>
		<div class="tab-title" data-title = "#content2">创客收益</div>
		<div class="seller-name">创客名：<%= @agent.identify %></div>
	</div><!-- header-tab -->
</div><!-- container -->
<br />
<div class="tab-container">
	<div id="content1" class="tab-content" style="display: block;">
		<div class="container">
			<h3 class="page-title"><span class="date">注册时间： <%= @agent.created_at.to_date %></span>基本信息</h3>
			<div class="admin-box">
				<div class="box-w50"><p>注册账号：<%= @agent.login %></p></div>
				<div class="box-w50"><p>联系人：<%= @agent.identify %></p></div>
			</div><!-- admin-box -->
		</div><!-- container -->
		<br />
		<div class="container nogap">
			<div class="box-w100"><h3 class="page-title">签约商家</h3></div>
			<div class="box-w25">
				<div class="admin-box main-bg-color">
					<h4>今日签约</h4>
					<h1 class="num"><%= @agent.seller_today_joins.count %></h1>
				</div><!-- admin-box -->
			</div><!-- box-w25 -->
			<div class="box-w25">
				<div class="admin-box red-bg-color">
					<h4>总签约</h4>
					<h1 class="num"><%= @agent.seller_total_joins.count %></h1>
				</div><!-- admin-box -->
			</div><!-- box-w25 -->
			<div class="clear"></div>
			<br />
			<div class="box-w100">
				<table class="list-table">
					<thead>
						<th>商家名</th>
						<th>绑定时间</th>
						<th>累积营业额</th>
						<th>分成比例</th>
						<th>收益</th>
					</thead>
					<% @agent.seller.each do |seller| %>
					<tr>
						<td><%= link_to seller.identify, admin_seller_path(seller) %></td>
						<td><%= seller.created_at %></td>
						<td><%= number_to_currency seller.total_sold_income %></td>
						<td><%= seller.user_info.service_rate %>%</td>
						<td><%= number_to_currency @agent.total_divide_income_from_seller(seller) %></td>
					</tr>
					<% end %>
				</table>
			</div>
		</div><!-- container -->
		<br />
	</div><!-- content1 -->
	<div id="content2" class="tab-content">
		<div class="container nogap">
			<div class="box-w100"><h3 class="page-title">创客收益</h3></div>
			<div class="box-w25">
				<div class="admin-box main-bg-color">
					<h3><%= number_to_currency @agent.today_expect_divide_income %></h3>
					<p class="text-right">今日预期收益</p>
				</div>
			</div><!-- box-w25 -->
			<div class="box-w25">
				<div class="admin-box red-bg-color">
					<h3><%= number_to_currency @agent.current_month_divide_income %></h3>
					<p class="text-right">本月收益</p>
				</div>
			</div><!-- box-w25 -->
			<div class="box-w25">
				<div class="admin-box yellow-bg-color">
					<h3><%= number_to_currency @agent.current_year_divide_income %></h3>
					<p class="text-right">本年收益</p>
				</div>
			</div><!-- box-w25 -->
			<div class="clear"></div>
			<br />
			<div class="box-w100">
        <h3 class="page-title">提现记录</h3>
				<table class="list-table">
					<thead>
						<th class="text-left">提交申请时间</th>
						<th>编号</th>
						<th>申请金额(元)</th>
						<th>收款账号</th>
						<th>收款人</th>
						<th>提现状态</th>
						<th>操作</th>
					</thead>
				<% @withdraw_records.each do |withdraw_record| %>
					<tr>
						<td><%= withdraw_record.created_at%></td>
						<td><%= link_to withdraw_record.number, [:admin, withdraw_record] %></td>
						<td><%= number_to_currency withdraw_record.amount%></td>
						<td><%= withdraw_record.bank_info.try(:[], :number) %></td>
            <td><%= withdraw_record.bank_info.try(:[], :username) %></td>
						<td><%= withdraw_record.state_i18n %></td>
            <td>
              <% if withdraw_record.unprocess? && can?(:manage, WithdrawRecord) %>
                <%= link_to withdraw_process_txt(withdraw_record),
                  processed_admin_withdraw_record_path(withdraw_record),
                  method: :PATCH, data: {confirm: '确认打款？'}, class: "btn btn-sm #{withdraw_process_class(withdraw_record)}" %>
                <%= link_to '拒绝', close_admin_withdraw_record_path(withdraw_record),
                  method: :PATCH, data: {confirm: '确认拒绝，并关闭此提现申请？'}, class: 'text-danger' %>
              <% end %>
            </td>
					</tr>
				<% end %>
				</table>
				<br />
				<%= paginate @withdraw_records %>
			</div>
		</div>
	</div><!-- content2 -->
</div><!-- tab-conatiner -->
<br />

<script>
$(document).ready(function(){
	$(".tab-title").click(function(){
		if(!$(this).hasClass("active")){
			$(".header-tab .tab-title").removeClass("active");
			$(this).addClass("active");
			$(".tab-content").hide();
			var tabid=$(this).attr("data-title");
			$(tabid).fadeIn();
		}
	})
})
</script>
