<div class="container admin-container">
  <ul class="breadcrumb">
    <li><a href="/admin">主页</a></li>
    <li class="divider"><i class="fa fa-caret-right"></i></li>
    <li class="active">绑定邮箱</li>
  </ul>
</div><!-- container -->
<br />
<div class="text-center">
  <div class="login-container">
    <h3 class="page-title">绑定邮箱</h3>
    <br />
    <%= simple_form_for(current_user, url: bind_email_admin_account_path, method: :patch) do |f| %>
      <%= f.input_field :email, class: "input-block", required: true,
        autofocus: true, placeholder: '邮箱地址' %>
      <br />
      <%= f.input_field :current_password, class: "input-block", required: true, placeholder: '当前密码' %>
      <br />
      <p class="text-center"><%= f.submit '确认', class: 'btn btn-large' %></p>
    <% end %>
    <br />
    <%= link_to "没有收到邮箱确认邮件?", new_confirmation_path(:user), class: 'btn btn-block btn-link' %><br />
  </div>
</div>
