<div class="center-form-container">
  <h4>设置</h4>
  <hr />
  当前角色：
  <% current_user.user_roles.each do |role| %>
    <span class='label label-info'><%= role.display_name %></span>
  <% end %>
  <hr/>
  <%= simple_form_for(current_user, url: admin_account_path, method: :patch) do |f| %>

    <%= f.input :login, disabled: true %>
    <%= f.input :mobile %>
    <%= f.input :store_name %>
    <%= f.input :nickname %>

    <%= f.submit class: 'btn btn-primary' %>

  <% end %>
</div>
