<div class="center-form-container">
  <h4>设置</h4>
  <hr />
  当前角色：
  <% current_user.user_roles.each do |role| %>
    <span class='label label-info'><%= role.display_name %></span>
  <% end %>
  <hr/>
  <% if user = User.find_by(id: current_user.agent_id) %>
    <hr />
    您的代理商：<%= user.identify %>
    <div class="clearfix">
      当前平台费率：<%= user.user_info.try(:service_rate) %>%
    </div>
    <hr/>

  <% end %>
  <%= simple_form_for(current_user, url: admin_account_path, method: :patch) do |f| %>

    <%= f.input :login, input_html:{readonly:''} %>
    <%= f.input :store_name %>
    <%= f.input :nickname %>
    <% if current_user.user_roles.collect(&:name).include?('agent') %>
      <%= f.input :domain_name, hint: "此域名将作为你分享商家注册链接时的链接关键字,如'123'将转换为'http://#{request.env["HTTP_HOST"]}/sellers/new?domain_name=123'" %>
    <% end %>
    <%= f.submit class: 'btn btn-primary' %>

  <% end %>
</div>
