<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="#">设置</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active">账号设置</li>
	</ul>
</div><!-- container -->
<br />

<div class="container">
	<div class="header-tab">
		<div class="tab-title active">账号设置</div>
		<%= link_to "店铺设置", edit_admin_seller_path(current_user), class:"tab-title" %>
		<%= link_to "提现设置", admin_withdraw_records_path, class:"tab-title" %>
	</div>
</div>
<br />

<div class="container nogap">

<%= horizon_form_for current_user, url: admin_account_path, method: :patch do |f| %>

	<div class="admin-box black-bg-color">
	  <%= f.input :avatar, hint: image_tag(current_user.avatar.url(:thumb))  %>
    <div class="form-group">
        <label class="control-label">账号</label>
        <div class="control-input">
          <span><%= current_user.login %></span>
        </div>
    </div>
	  <%= f.input :nickname %>
    <div class="form-group">
        <label class="control-label">密码</label>
        <div class="control-input">
          <span><%= link_to '修改密码', show_password_modal_admin_account_path, class: 'account_update_password'%></span>
        </div>
    </div>
    <%= f.input :user_role, label: '角色' do %>
        <% current_user.user_roles.each do |role| %>
          <span class='label label-info'><%= role.display_name %></span>
        <% end %>
        <span><%= link_to '添加角色', edit_admin_user_path(current_user) %></span>
    <% end %>
    <div class="box-w10 nogap-right">
      <%= link_to "登出", destroy_user_session_path, method: :delete, class: 'btn' %>
    </div>
  </div>

	<br />
	<div class="admin-box black-bg-color">
    <div class="box-w10 nogap-left">
      <%= qrcode_image_tag store_url(current_user, shared: true) %>
      <span>店铺二维码</span>
    </div>
    <%= f.input :agent, label: '绑定创客' do %>
      <% if current_user.agent.present? %>
        <%= current_user.agent.identify %>
      <% end %>
      <% if current_user.can_rebind_agent? %>
        <%= link_to "绑定创客", binding_agent_admin_account_path, class: 'btn' %>
      <% end %>
    <% end %>

    <%= f.input :seller_role, label: '商家权限' do %>
      <% if f.object.authenticated? %>
        <span class="label label-success">已开通</span>
      <% elsif f.object.is_seller? %>
        <%= link_to "我要认证", admin_user_personal_authentication_path(current_user),class: 'btn red-btn'%>
      <% else %>
        <%= link_to "我要开通", binding_agent_admin_account_path, class: 'btn red-btn' %>
      <% end %>
    <% end %>

    <%= f.input :service_rate, label: '当前平台费率' do %>
      <span><%= number_to_percentage(f.object.service_rate, precision: 0) %></span>
    <% end %>
  </div>

	<br />
	<div class="admin-box black-bg-color">
    <div class="box-w10 nogap-left">
      <%= qrcode_image_tag store_url(current_user, shared: true) %>
      <span>店铺二维码</span>
    </div>
    <% if current_user.is_agent? %>
      <div class="form-group">
          <label class="control-label">我的邀请码</label>
          <div class="control-input">
            <span><%= current_user.agent_code %></span>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label">我的商家绑定链接:</label>
          <div class="control-input">
            <span><%= new_seller_url(agent_code: current_user.agent_code) %></span>
          </div>
      </div>
    <% end %>
  </div>
<br />
<p class="text-center"><%= f.submit '提交', class: 'btn btn-large' %></p>
<% end %>
</div>

<div class='update_password_modal_wrap'>
  <%= render 'update_password_modal' %>
</div>
