<div class="center-form-container" style="margin-bottom:200px;">
  <h4>设置</h4>
  <hr />
  当前角色：
  <% current_user.user_roles.each do |role| %>
    <span class='label label-info'><%= role.display_name %></span>
  <% end %>
  <% if current_user.authenticated? %>
  <span class="label label-success">
    已认证
  </span>
  <% else %>
  <span class="label label-danger">
    未认证
  </span>
  <% end %>
  <hr/>
  <% if user = User.find_by(id: current_user.agent_id) %>
    <hr />
    您的代理商：<%= user.identify %>
    <div class="clearfix">
      当前平台费率：<%= user.user_info.try(:service_rate) %>%
    </div>
    <hr/>

  <% end %>
  <%= simple_form_for(current_user, url: admin_account_path, method: :patch) do |f| %>

    <%= f.input :login, input_html:{readonly:''} %>
    <%= f.input :store_name %>
    <%= f.input :nickname %>
    <% if current_user.user_roles.collect(&:name).include?('agent') %>
    <div class="" style="background-color:rgb(255, 232, 249);padding:10px;margin-bottom:20px;">
      <%= f.input :agent_code %>
      <div class="">
        <p>
          此域名将作为你分享商家注册链接时的链接关键字,
        </p>
        <p>
          如
          <span style="color:blue">'123'</span>

        </p>
        <p>
          将转换为:
        </p>
        <p  style="color:blue">
          <%= "'http://#{request.env["HTTP_HOST"]}/sellers/new?agent_code=123'" %>
        </p>

      </div>
    </div>

    <% end %>
    <%= f.submit class: 'btn btn-primary col-xs-12' %>

  <% end %>
</div>
