<div class="center-form-container">
  <h4>修改密码</h4>
  <hr />
  <%= simple_form_for(current_user, url: password_admin_account_path, method: :patch) do |f| %>

    <%= f.input :current_password %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.submit class: 'btn btn-primary' %>

  <% end %>
</div>
