<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active">修改密码</li>
	</ul>
</div><!-- container -->
<br />
<div class="container">
	<h3 class="page-title">修改密码</h3>
	<div class="admin-box black-bg-color">
			<br />
  		<div class="inline-form text-center">
		  <%= simple_form_for(current_user, url: password_admin_account_path, method: :patch) do |f| %>

		    <%= f.input :current_password %>
		    <%= f.input :password %>
		    <%= f.input :password_confirmation %>

		    <p class="text-center"><%= f.submit class: 'btn btn-large' %></p>

		  <% end %>
		  </div>
</div>
