<div class="container  admin-container">
  <ul class="breadcrumb">
    <li><a href="/admin">主页</a></li>
    <li class="divider"><i class="fa fa-caret-right"></i></li>
    <li>城市运营商</li>
  </ul>
</div>
<br />
<div class="container nogap">
  <div class="box-w100 nogap">
    <% cache(['city_managers/index:box', (EnterpriseAuthentication.pass.maximum(:updated_at)||Time.now).utc.to_i]) do  %>
      <% CityManagersHelper::INDEX_BOXES.each do |key, name| %>
        <%= link_to admin_city_managers_path(category: key) do %>
          <div class="box-w20">
            <div class="admin-box <%= cycle(%w(main-bg-color yellow-bg-color red-bg-color)) %>">
              <h4><%= name %>签约商家</h4>
              <h1 class="num"><%= EnterpriseAuthentication.pass.send(key).count %></h1>
            </div>
            <br />
          </div><!-- box-w25 -->
        <% end %>
      <% end %>
    <% end %>
    <br />
  </div><!-- box-w25 -->
</div> <!-- box-w80 -->

<div class="container">
  <% prefix = CityManagersHelper::INDEX_BOXES[(params[:category] || :all).to_sym] %>
  <table class="list-table">
    <thead>
      <th>城市名称</th>
      <th>城市运营商名称</th>
      <th>入驻时间</th>
      <th>联系方式</th>
      <th>当前收益率</th>
      <th><%= prefix %>签约商家</th>
      <th><%= prefix %>城市营业额</th>
    </thead>
    <% @city_managers.each do |city_manager| %>
    <tbody>
      <tr class="<%= 'red-bg' if city_manager.user_id.present? %> city-item">
        <td><%= city_manager.city_name %></td>
        <td class="text-left">
          <% if city_manager.user %>
            <%= image_tag(city_manager.user_avatar, size: "60x60", alt: "-") %>
            <%= city_manager.user_identify %>
          <% end  %>
        </td>
        <td><%= city_manager.settled_at %></td>
        <td><%= city_manager.user_mobile %></td>
        <td><%= number_to_percentage city_manager.rate %></td>
        <td><%= city_manager.enterprise_authentications.signeds(params[:category]).count %></td>
        <td><%= number_to_currency city_manager.turnovers(params[:category]) %></td>
      </tr>
    </tbody>
    <% end %>

  </table>
  <%= paginate @city_managers %>
</div>
