<!--
<div class="container  admin-container">
  <ul class="breadcrumb">
    <li><a href="/admin">主页</a></li>
    <li class="divider"><i class="fa fa-caret-right"></i></li>
    <li>企业认证</li>
  </ul>
</div>
<br /> 
-->
<div class="container">
	<div class="header-tab">
    <%#= link_to_certifications_tabs %>
	</div>
</div>
<br />

<div id="index_list">
<div class="container nogap">
	<div class="box-w25">
		<div class="admin-box main-bg-color">
	    <h4>今日销量</h4>
	    <h1 class="num"><%= @today_sales %></h1>
	  </div>
	</div>
	<div class="box-w25">
		<div class="admin-box yellow-bg-color">
	    <h4>今日营业额</h4>
	    <h1 class="num"><%= @today_turnovers %></h1>
		</div>
	</div>
	<div class="box-w25">
		<div class="admin-box blue-bg-color">
	    <h4>总销量</h4>
	    <h1 class="num"><%= @total_sales %></h1>
		</div>
	</div>
  <div class="box-w25">
  	<div class="admin-box red-bg-color">
	    <h4>总营业额</h4>
	    <h1 class="num"><%= @total_turnovers %></h1>
	  </div>
  </div>
</div>
<br />
  <%= render partial: "table", object: @certifications %>
</div>
