<!--
<div class="container  admin-container">
  <ul class="breadcrumb">
    <li><a href="/admin">主页</a></li>
    <li class="divider"><i class="fa fa-caret-right"></i></li>
    <li>企业认证</li>
  </ul>
</div>
<br />
-->
<div class="container">
	<div class="header-tab">
    <%#= link_to_certifications_tabs %>
	</div>
</div>
<br />

<div id="index_list">
<div class="container nogap">
	<div class="box-w25">
		<div class="admin-box main-bg-color">
	    <h4>今日销量</h4>
	    <h1 class="num"><%= @today_sales %></h1>
	  </div>
	</div>
	<div class="box-w25">
		<div class="admin-box yellow-bg-color">
	    <h4>今日营业额</h4>
	    <h1 class="num"><%= number_to_currency @today_turnovers %></h1>
		</div>
	</div>
	<div class="box-w25">
		<div class="admin-box blue-bg-color">
	    <h4>总销量</h4>
	    <h1 class="num"><%= @total_sales %></h1>
		</div>
	</div>
  <div class="box-w25">
  	<div class="admin-box red-bg-color">
	    <h4>总营业额</h4>
	    <h1 class="num"><%= number_to_currency @total_turnovers %></h1>
	  </div>
  </div>
</div>
<br />
  <div class="container">
    <ul class="nav nav-tabs nav-justified">
        <li class="<%= 'active' if params[:segment] == 'today' %>"><%= link_to "今日营收", {segment: 'today'} %></li>
        <li class="<%= 'active' if params[:segment] == 'all' %>"><%= link_to "累计营收", {segment: 'all'} %></li>
    </ul>
    <table class="list-table" id="personal_authentications">
      <thead>
        <% segment = params[:segment] == 'today' ? '今日' : '累计' %>
        <th>商家名称</th>
        <th>入驻时间</th>
        <th>联系方式</th>
        <th>好评率</th>
        <th><%= segment %>销量</th>
        <th><%= segment %>总营业额</th>
      </thead>
      <% @certifications.each do |obj| %>
        <tbody class="item">
          <tr id="personal_authentication_<%= obj.user_id%>">
            <td class="text-left">
              <% if can?(:manage, Certification) %>
                <%= link_to url_for(controller: 'admin/city_manager_authentications', action: :show, user_id: obj.user_id) do %>
                  <%= image_tag(obj.user_avatar.url(:thumb), size: "80x80", alt: "-") %>
                  <%= obj.user_identify %>
                <% end %>
              <% else %>
                <%= image_tag(obj.user_avatar.url(:thumb), size: "80x80", alt: "-") %>
                <%= obj.user_identify %>
              <% end %>
            </td>
            <td><%= obj.created_at %></td>
            <td><%= obj.user_mobile %></td>
            <td>好评率<%= Evaluation.sharer_good_reputation_rate(obj.user) %></td>
            <td><%= obj.user_sales(params[:segment]) %></td>
            <td><%= number_to_currency obj.user_turnovers(params[:segment]) %></td>
          </tr>
        </tbody>
        <tbody class='hidden'>
          <tr id="personal_authentication_<%= obj.user_id%>">
            <% if agent=obj.user.try(:agent) %>
            <td class="text-left">
              <%#= link_to url_for(controller: 'admin/city_manager_authentications', action: :show, user_id: obj.user_id) do %>
              绑定创客
                <%= image_tag(agent.avatar.url(:thumb), size: "80x80", alt: "-") %>
                <%= agent.identify %>
              <%# end %>
            </td>
            <td><%= agent.created_at %></td>
            <td><%= agent.mobile %></td>
            <td>好评率<%= Evaluation.sharer_good_reputation_rate(agent) %></td>
            <td></td>
            <td></td>
            <% else %>
            <td colspan="6"></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
    <br />
    <%= paginate @certifications %>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $("body").on("click", "tbody.item>tr", function(){
        var target = $(this).parent().next();
        target.toggleClass("hidden");
      })
    });
  </script>
</div>
