<% cache ['store-product', service_product], expires_in: 1.day do %>
	<div class="service-store-product">
		<div class="pull-right buy-box">
			<div class="btn btn-orange-border">立即购买</div>
		</div>
		<div class="content">
		  <%= link_to service_product_path(service_product),class:'product' do %>
		   <div class="cover" style="background-image:url('<%= service_product.image_url(:w320)%>') ;">
		      <%= image_tag(service_product.image_url(:w320)) %>
		   </div>
		   <div class="title gray-color text-cut"><%= service_product.name %></div>
		   <h2 class="main-color text-cut"><small>￥</small><b><%= service_product.present_price %></b></h2>
		  <% end %>
	  </div>
	  
	</div>
<% end %>
