<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>
<div class="store-cover m-bottom10 text-center" style="<%#= "background-image:url('#{@service_store.store_cover_url(:w640)}')" if @service_store.store_cover_identifier.present? %>">
  <div class="content">
    <h2 class="name"><%= @service_store.store_name %></h2>

    <% if @service_store.store_short_description.present?  %>
      <p class="gray-color"><%= @service_store.store_short_description %></p>
    <% end %>

    <p>
      <span class="main-color"><%= current_user.service_store.total_good_reputation %></span> 好评（<%= current_user.service_store.total_evaluat_people %>）
    </p>
  </div>
</div><!-- store-cover -->
<div class="gap bg-white border-box">店铺二维码</div>
<div class="gap text-center">
	<%= qrcode_image_tag service_store_url(@service_store, shared: true) %>
</div>
<div class="gap bg-white border-box">店铺链接</div>
<div class="gap bg-white"><%= "#{request.protocol}#{request.host_with_port}#{service_store_path(@service_store)}" %></div>

