<%= content_for :page_title do %>
  我的团购店铺
<% end %>

<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<br />
<div class='share_service_store'>
  <%= link_to share_service_store_path do %>
    <div class="content">
      <span class='pull-right share_link'>分享</span>
      <p>
        <span class='store_name'><%= @service_store.store_name %></span>
      </p>
    </div>
  <% end %>
</div><!-- address-box -->

<br />
<div class="order-list valid-order-list valid-list">
  <div class='verify_detail_link'>
    <div class='verify_detail_link_warp'>
      <%= link_to '验证明细', verify_detail_service_store_path, class: 'pull-right verify_detail' %>
    </div>
  </div>
  <div class="inline-form text-center">
    <%= simple_form_for 'verify_code', url: verify_service_store_path do |f| %>
      <%= number_field_tag 'code', '', placeholder: '请输入验证券密码', class: 'verify_code_input' %>
      <span class="text-center"><%= f.submit '验证', class: 'btn btn-large' %></span>
    <% end %>
  </div>
</div>
