<%= content_for :title do %>
  <%= @service_store.store_title || Rails.application.secrets.metas["title"] %>
<% end %>

<%= content_for :page_title do %>
  <%= @service_store.store_identify %>
<% end %>

<%= content_for :extra_meta_tags do %>
  <% if @service_store %>
    <%= service_store_sharing_meta_tags(@service_store, @sharing_link_node) %>
  <% end %>
<% end %>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>
<div class="fixed-container nogap">
<% if @advertisements.present? %>
  <%= render partial: 'banner_slider', locals: { advertisements: @advertisements } %>
<% else %>
	<div class="sstore-slider">
		<%= image_tag ('mobile/s-bg.jpg') %>
		<h3 class="store-name text-cut"><%= @service_store.store_identify %></h3>
	</div>

<% end %>
<% if @group_products.present? || @voucher_products.present? %>
  <div class="bg-white m-bottom10 border-tb gap-left">
    <div class="gap nogap-left">
      <h2 class="name text-cut"><%= @service_store.store_identify %></h2>
      <% if @service_store.store_short_description.present?  %>
        <div class="gray-color text-cut">
          <div class="pull-right">
            <span class="main-color"><%= number_to_percentage(@service_store.good_reputation_rate, precision: 0) %></span> 好评（<%= @service_store.total_reputations %>）
          </div>
          <%= @service_store.store_short_description %>
        </div>
      <% end %>
    </div><!-- gap -->
    <% if qr_sharing? %>
      <div class="gap nogap-left border-top">
        <a href="/about" class="gray-color pull-right gap nogap-right">查看说明</a>
        <% if current_user && current_user.has_seller_privilege_card?(@seller) %>
          <a class="btn btn-large p-sharing-btn">分享给朋友</a>
        <% else %>
          <%= link_to "领取友钱卡", get_seller_sharing_path,
            data: { sid: @seller.id, uid: current_user.present? },
            class: "btn btn-large show-req-snode-modal"
          %>
          <a class="btn btn-large hidden p-sharing-btn">分享给朋友</a>
        <% end %>
      </div>
    <% end %>

    <% if @sharing_node %>
      <div class="service-share-box border-top gap nogap-left">
        <% if @promotion_activity %>
          <% if @draw_record.blank? %>
            <div class="lottery-icon active hidden pull-right" id="lottery-icon">
              <%= link_to promotion_activity_path(@promotion_activity, type: 'share') do %>
                <%= image_tag ('activate_page/lottery-icon1.png'), style:'width:40px' %>
              <% end %>
            </div>
          <% else %>
            <div class="lottery-icon pull-right" id="lottery-icon">
              <%= link_to share_draw_promotion_activity_path(@promotion_activity) do %>
                <%= image_tag ('activate_page/lottery-icon1.png'), style:'width:40px' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="cover pull-left"><%= image_tag @sharing_node.user.avatar_url(:w120) %></div>
        <div class="gap name text-cut"><%= @sharing_node.user.identify %> 分享</div>
      </div>

      <% if @promotion_activity && @draw_record.blank? %>
        <div class="lottery-modal pop-bg text-center">
          <div class="close"><%= image_tag('mobile/close-icon.png')%></div>
          <div class="pop-content">
            <%= link_to promotion_activity_path(@promotion_activity, type: 'share') do %>
              <%= image_tag ('activate_page/color-gift.png'), style:'width:50%'%>
            <% end %>
          </div><!-- pop-content -->
        </div>
      <% end %>

    <% end %>
  </div><!-- bg-white -->
<% end %>


  <!-- 店铺信息-->
  <div class="bg-white border-tb gap">
    <div class="service-store-info">
      <%= image_tag('mobile/mobile.png',class:'pull-right store-tel') %>
      <div class="content">
        <div class="address text-cut m-bottom10"><%= @service_store.address %></div>
        <div class="open-time">营业时间：<%= @service_store.business_hours %></div>
      </div>
    </div>
  </div>
  <div class="pop-bg phone-list hidden ">
    <div class="pop-bottom">
      <div class="bg-white m-bottom10  border-radius">
        <% @service_store.mobile_phone.each do |phone| %>
          <%= link_to  phone ,"tel:#{phone}" %>
        <% end %>
      </div><!-- bg-white -->
      <div class="btn btn-block btn-large btn-white ">取消</div>
    </div><!-- pop-bottom -->
  </div>

  <% if DishesProduct.published.with_store(@service_store).first %>
    <div class="privilege-rate border-tb m-top10 ">
      <%= link_to "在线点单", service_store_menus_path(@service_store), class: "bg-white gap" %>
    </div>
  <% end %>

  <% if @voucher_products.present? %>
    <div class="bg-white gap-left border-tb service-product-list m-top10">
      <div class="service-title">代金券</div>
      <%= render partial: 'service_product', collection: @voucher_products %>
    </div>
  <% elsif @group_products.present? %>
    <div class="bg-white gap-left border-tb service-product-list m-top10">
      <div class="service-title">商品</div>
      <%= render partial: 'service_product', collection: @group_products %>
    </div>
  <% else %>
    <% if @sharing_node && @promotion_activity %>
      <br>
      <div class="text-center">
        <% if @draw_record.blank? %>
          <%= link_to promotion_activity_path(@promotion_activity, type: 'share') do %>
            <%= image_tag 'mobile/store/choujiang.png', style: "width:50%" %>
          <% end %>
        <% else %>
          <%= link_to share_draw_promotion_activity_path(@promotion_activity) do %>
            <%= image_tag 'mobile/store/choujiang.png', style: "width:50%" %>
          <% end %>
        <% end %>

      </div>
      <br>
    <% end %>


  <% end %>
</div><!-- fixed-container -->
</div><!-- container-->

<%= simple_form_for "product_inventory", url: new_service_order_path, method: 'GET' do |f| %>
  <div class="hidden service-store" id="inventory" data-price="0">
    <div class="tab_buy_now">
      <input type="hidden" name="product_inventory_id">
      <input type="hidden" name="product_id">
      <div class="buy_now_goods">
        <%= image_tag 'mobile/close.png', class: 'btn_cancle_buy_now close' %>
        <img class="buy_now_goods_img" alt="商品" />
        <dl class="buy_now_goods_dl">
          <dt><p class='product_name'></p></dt>
          <dd><p>¥ <span id="price_range"></span></p></dd>
        </dl>
      </div>

      <div class="options" id="product_inventory_options">
        <input type="hidden" id="sku_price" value="">
        <div class="buy_now_option"></div>
        <div class="count-box gap">
          <p>数量</p>
          <br/>
          <div class="content">
            <a class="count_min count_icon"><span>-</span></a>
            <input type="tel" class="count_num" name="amount" value="1" />
            <a class="count_plus count_icon"><span>+</span></a>
          </div>
        </div>
        <div class="done">
          <input type="submit" class="btn" value="确定" />
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  function hideBuyNow() {
    $('#inventory').addClass('hidden');
    $('body').css('-webkit-filter', 'blur(0px)');
    $('html').removeClass('lock')
  }
</script>
<%= render partial: 'new_share' %>

<div class="req-snode-modal pop-bg hidden">
  <div class="pop-content">
    <div class="alert">
      <div class="req-snode-group">
        <div class="page-title">留下手机号，现金礼品拿不停！</div>
        <p><input type="tel" name="mobile" placeholder='输入手机号，获得分享收益' class='input-block' /></p>
        <br />
        <p>
        <%= link_to "领取友钱卡", get_seller_sharing_path, data: { sid: @seller.id },
          class: "btn btn-large btn-block req-pro-snode-btn" %>
        </p>
      </div>
      <div class="hidden">
        <p>您已成功领取，赶紧分享给朋友吧</p>
        <br />
        <a class="btn btn-large btn-block pro-snode-success-btn">确定</a>
      </div>
    </div>
  </div>
</div>

<% if qr_sharing? && (current_user.blank? || (current_user && !current_user.has_seller_privilege_card?(@seller)) ) %>
  <%= render partial: 'privilege_card_pop' %>
<% end %>
<div>
<br />
<% if current_user && current_user.has_privilege_card?(@seller.service_store) && (@group_products.present? || @voucher_products.present?) %>
	<br />
  <div class="friend-box">
    <%= link_to '#', class: "#{current_user.has_recommend?(@seller.service_store) ? 'has_recommend': ''} buy-nav recommend_link", user_id: current_user.id, recommended_id: @seller.service_store.id, recommended_type: @seller.service_store.class do %>
      <div class='buy-icon buy-recommed-icon'></div>
      <div>推荐</div>
    <% end %>
    <a class="btn-block friend-btn p-sharing-btn buy-nav"><%= image_tag('mobile/share-icon.png',height:20) %> 分享给朋友 </a>
  </div>
	<br />
<% end %>
