<div id='service_stores_verify_detail'>
  <%= content_for :page_title do %>
    验证明细
  <% end %>
  <br />
  <div class="container nogap">
    <div class="box-w49">
      <div class="box grey-bg-color">
        <h4>总验证数量</h4>
        <p class="num"><%= @total %></p>
      </div>
    </div>
    <div class="box-w49">
      <div class="box grey-bg-color">
        <h4>今日验证数量</h4>
        <p class="num"><%= @today %></p>
      </div>
    </div>
  </div>
  <br />
  <p class='today_details'>今日验证明细</p>
  <div class="container">
    <table class="list-table" id="verify_codes">
      <thead>
        <tr>
          <th>团购名称</th>
          <th>验证时间</th>
          <th>验证券密码</th>
        </tr>
      </thead>
      <tbody>
      <% @verify_codes.each do |verify_code| %>
        <tr>
        <td><%= verify_code.order_item.product.name %></td>
        <td><%= verify_code.verify_time %></td>
        <td><%= verify_code.code %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>
