	<h1>重置密码</h1>
	<% if @user.present? %>
  	<%= simple_form_for(@user,url: {:action=>:update,:id=>@user.id},wrapper: :vertical_form) do |f| %>
    	<%= f.input :name ,:readonly=>true %>
      <%= f.input :email,:readonly=>true %>
    	<%= f.input :password %>
      <%= f.input :password_confirmation %>
      <div  class="button_div">
        <%= f.button :submit, "登入",class: "btn btn-large btn-primary " %>
      </div>
  	<% end %>
  <% end %>
  <p>新用户?<%= link_to "马上注册",signup_path %></p>
