<%= render 'layouts/flash_alert' %>
<div class="row text-center">
  <div class="col-xs-2"></div>
  <div class="col-xs-2">
    <div>已提交</div>
    <b style="font-size:3em;"><%= PersonalAuthentication.posted.count %></b>
  </div>
  <div class="col-xs-2">
    <div>审核中</div>
    <b style="font-size:3em;"><%= PersonalAuthentication.review.count %></b>
  </div>
  <div class="col-xs-2">
    <div>已通过</div>
    <b style="font-size:3em;"><%= PersonalAuthentication.pass.count %></b>
  </div>
  <div class="col-xs-2">
    <div>未通过</div>
    <b style="font-size:3em;"><%= PersonalAuthentication.no_pass.count %></b>
  </div>
</div>
<%= table_for(@personal_authentications) do |t| %>
  <%= t.cell :user_store_identify do |obj| %>
    <%= link_to url_for(controller: 'admin/personal_authentications', action: :show, user_id: obj.user_id) do %>
    <div class="col-sm-3">
      <%= image_tag(obj.user.avatar.url(:thumb), size: "100x80", alt: "-") %>
    </div>
    <div class="col-sm-9">
      <div class="col-sm-12">商家名称：<%= obj.user.identify %></div>
      <div class="col-sm-12">绑定手机：<%= obj.user.login %></div>
    </div>
    <% end %>
  <% end %>
  <%= t.cell :created_at %>
  <%= t.cell :status do |obj| %>
    <% case obj.status %>
    <% when 'posted' %>
    <span class='label label-info'>
    <% when 'review' %>
    <span class='label label-warning'>
    <% when 'pass' %>
    <span class='label label-success'>
    <% when 'no_pass' %>
    <span class='label label-danger'>
    <% else %>
    <span class='label label-default'>
    <% end %>
    <%= obj.status_i18n %></span>
  <% end %>
  <%= t.cell :action do |obj| %>
    <% case obj.status %>
    <% when 'posted' %>
      <%= link_to '锁定资料', '###', onclick:"change_status(#{obj.user_id},'review')", class:"label label-warning" %>
      <%= link_to '通过', '###', onclick:"change_status(#{obj.user_id},'pass')", class:'label label-success'  %>
      <%= link_to '不通过', '###', onclick:"change_status(#{obj.user_id},'no_pass')", class:'label label-danger' %>
    <% when 'review' %>
      <%= link_to '通过', '###', onclick:"change_status(#{obj.user_id},'pass')", class:'label label-success'  %>
      <%= link_to '不通过', '###', onclick:"change_status(#{obj.user_id},'no_pass')", class:'label label-danger' %>
    <% when 'pass' %>
      <%= link_to '不通过', '###', onclick:"change_status(#{obj.user_id},'no_pass')", class:'label label-danger' %>
    <% when 'no_pass' %>
      <%= link_to '通过', '###', onclick:"change_status(#{obj.user_id},'pass')", class:'label label-success'  %>
    <% end %>
  <% end %>
<%- end %>
<%= paginate @personal_authentications %>
<script type="text/javascript">
function change_status(user_id,status) {
  var id = id
  console.log(id)
  $.ajax({
    url: '/admin/users/' + user_id + '/personal_authentication/change_status',
    dataType: 'script',
    data: {user_id: user_id, status: status},
  })
  .done(function() {
    console.log("success");
  })
  .fail(function() {
    console.log("error");
  })
  .always(function() {
    console.log("complete");
  });
}
</script>
