<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-2">
    <a href='###' class="btn btn-primary col-xs-12">编辑个人认证</a>
  </div>
  <div class="col-xs-2"><%= link_to "编辑企业认证", url_for(controller: :enterprise_authentications, action: :edit, user_id: current_user), class:"btn btn-default col-xs-12" %></div>
</div>
<div class="row">
  <%= simple_form_for :personal_authentication,url: {:action=>:update}, method: 'PATCH',wrapper: :horizontal_file_input do |f| %>
    <div class="col-xs-12 border_block">
      <div class="col-xs-11  col-md-offset-1">
        <h3 class="col-md-offset-1">编辑个人信息认证</h3>
        <%= render 'fields', f: f %>
      </div>
    </div>
    <div class="button_div  col-xs-4 col-md-offset-2"  style="margin-top:30px;padding-bottom:30px;">
      <%= link_to('返回', url_for(action: :show), :class=>"btn btn-primary active  col-xs-12",:role=>"button") %>
    </div>
    <div class="button_div  col-xs-4"  style="margin-top:30px;padding-bottom:30px;">
      <%= f.submit "提交",class: "btn btn-large btn-primary col-xs-12" %>
    </div>
  <% end %>

</div>
