<div class="container  admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-angle-right"></i></li>
		<li><a href="/admin/certifications/persons">企业认证</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>个人信息认证</li>
	</ul>
</div>
<br />
<% if cannot?(:manage, @certification) %>
  <%= render "admin/certifications/tabs" %>
<br />
<% end %>
<div class="container">
<div class="admin-box black-bg-color">
	<div class="form-group clear">
		<label class="string required control-label" for="product_name"><abbr title="必填">*</abbr>状态</label>
		<div class="control-input">
		  <span><%= @certification.status_i18n %></span>
		</div>
	</div>
	<div class="form-group clear">
		<label class="string required control-label" for="product_name"><abbr title="必填">*</abbr>姓名</label>
		<div class="control-input">
		<span><%= @certification.name %></span>
		</div>
	</div>
  <div class="form-group clear">
		<label class="string required control-label" for="product_name"><abbr title="必填">*</abbr>身份证号码</label>
		<div class="control-input">
		  <span><%= @certification.identity_card_code %></span>
		</div>
  </div>
	<div class="form-group clear">
		<label class="string required control-label" for="product_name"><abbr title="必填">*</abbr>手持身份证图片</label>
		<div class="control-input">
		  <span><%= link_to(@certification.face_with_identity_card_img.to_s, target:'_blank') do %>
				<%= image_tag(@certification.face_with_identity_card_img.url(:w320), width: "200", alt: "-", title:"点击查看原图") %>
		  <% end %></span>
		</div>
	</div>
  <div class="form-group clear">
		<label class="string required control-label" for="product_name"><abbr title="必填">*</abbr>身份证正面</label>
		<div class="control-input">
		  <span><%= link_to(@certification.identity_card_front_img.to_s, target:'_blank') do %>
				<%= image_tag(@certification.identity_card_front_img.url(:w320), width: "200", alt: "-", title:"点击查看原图") %>
		  <% end %></span>
		</div>
	</div>

  <div class="form-group clear">
		<label class="string required control-label" for="product_name"><abbr title="必填">*</abbr>地址</label>
		<div class="control-input">
		  <span><%= @certification.address %></span>
		</div>
  </div>
  <div class="form-group clear">
		<label class="string required control-label" for="product_name"><abbr title="必填">*</abbr>手机号码</label>
		<div class="control-input">
		  <span><%= @certification.mobile %></span>
		</div>
  </div>

  <% if can?(:manage, @certification) %>
    <%= render partial: 'admin/certifications/actions', locals: { obj: @certification } %>
  	<br />
    <p class="text-center"><%= link_to "返回",  persons_admin_certifications_path, class:"btn btn-large blue-btn",:role=>"button" %></p>
  <% elsif ['posted','no_pass'].include?(@certification.status) %>
    <p class="text-center"><%= link_to("编辑", url_for(:action=>:edit), :class=>"btn btn-large",:role=>"button") %></p>
  <% end %>
</div>
