<%= content_for :page_title do %>
  登录UBoss
<% end %>

<div class='login-container'>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2>UBoss</h2>
    <hr />
    <div class="form-inputs">
      <%= f.input :login, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean, label_html: {class:'pull-right'}, label: '下次自动登录' if devise_mapping.rememberable? %>

    </div>
    <div class="button_div  col-xs-12 clearfix"  style="padding: 30px 0 10px 0;">
      <%= f.button :submit, "登录", class: "btn btn-large btn-primary col-xs-12" %>
    </div>
    <div class="form-actions">
      <span class="pull-right" style="margin-top:10px;">还没有帐号？点击<%= link_to '这里', '/sellers/new',style:"font-size:larger;" %>注册成为商家。</span>

    </div>
  <% end %>
</div>
