<% if params[:redirect] == 'discourse' %>
  <%= content_for :title do %>
    <%= Rails.application.secrets.metas["discourse_title"] %>
  <% end %>
<% end %>

<%= content_for :page_title do %>
  <% if params[:redirect] == 'discourse' %>
    <%= Rails.application.secrets.metas["discourse_page_title"] %>
  <% else %>
    登录UBOSS
  <% end %>
<% end %>

<div class='login-container <%= @using_captcha ? 'using-cap' : 'using-pwd' %>'>
  <% if params[:redirect] == 'discourse' %>
    <h2><%= Rails.application.secrets.metas["discourse_head"] %></h2>
  <% else %>
    <h2>UBOSS</h2>
  <% end %>

  <div class='login-type-acs clearfix'>
    <a class="lpwd-btn" href="#">密码登陆</a>
    <a class="lcap-btn" href="#">验证码登陆/注册</a>
  </div>

  <div class="cap-inputs">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name, redirect: params[:redirect])) do |f| %>
      <% if params[:redirect] == 'discourse' %>
        <%= hidden_field_tag 'redirect', params[:redirect] %>
        <%= hidden_field_tag 'redirectUrl', params[:redirectUrl] %>
      <% elsif params[:redirectUrl].present? %>
        <%= hidden_field_tag 'redirectUrl', params[:redirectUrl] %>
      <% end %>
      <div class="form-inputs">
        <%= f.input :login, required: false, label: '账号', input_html: {id: 'new_mobile', placeholder: '手机'} %>

        <%= f.input :image_captcha do %>
          <div class='simple-captcha'>
            <div class="simple-captcha-img">
              <%= mobile_login_simple_captcha_components[:image] %>
            </div>
            <div class="simple-captcha-field">
              <%= mobile_login_simple_captcha_components[:field] %>
            </div>
            <%= mobile_login_simple_captcha_components[:refresh_button] %>
          </div>
        <% end %>

        <%= f.input :mobile_auth_code do %>
          <%= f.input_field :mobile_auth_code, class: 'form-control' %>
          <a id="request_mobile_captcha" class="send_mobile" href="#">发送验证码</a>
        <% end %>

        <input type="checkbox" checked disabled name='aggress_regis' style='-webkit-appearance:checkbox;' />
        <small>同意<a href="<%= agreements_register_path %>">《UBOSS用户注册协议》</a></small>

      </div>

      <div class="button_div">
        <%= f.button :submit, "确认", class: "btn btn-large btn-block" %>
      </div>

      <% if !browser.wechat? %>
        <div class="button_div  col-xs-12"  style="margin: 10px 0 10px 0;">
          <% if params[:redirect] == 'discourse' %>
            <%= link_to "返回主页", Rails.application.secrets.discourse['url'],
              class: "action-link-btn btn btn-large btn-block btn-black-border"%>
          <% else %>
            <%= link_to "返回主页", root_path,
              class: "action-link-btn btn btn-large btn-block btn-black-border"%>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='pwd-inputs'>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name, redirect: params[:redirect])) do |f| %>
      <% if params[:redirect] == 'discourse' %>
        <%= hidden_field_tag 'redirect', params[:redirect] %>
        <%= hidden_field_tag 'redirectUrl', params[:redirectUrl] %>
      <% end %>
      <div class="form-inputs">
        <%= f.input :login_identifier, required: false, label: '账号', input_html: {id: 'new_mobile', placeholder: '手机/邮箱'} %>

        <%= f.input :password, required: false %>
        <% if devise_mapping.rememberable? %>
          <div class="remember-me-cont">
            <%= f.input_field :remember_me, as: :boolean, style: '-webkit-appearance:checkbox;' %>
            <%= f.label :remember_me, '下次自动登陆', style: 'margin-left:0px;' %>
          </div>
        <% end %>

      </div>

      <div class="button_div">
        <%= f.button :submit, "确认", class: "btn btn-large btn-block" %>
      </div>

      <% if !browser.wechat? %>
        <div class="button_div  col-xs-12"  style="margin: 10px 0 10px 0;">
          <% if params[:redirect] == 'discourse' %>
            <%= link_to "返回主页", Rails.application.secrets.discourse['url'],
              class: "action-link-btn btn btn-large btn-block btn-black-border"%>
          <% else %>
            <%= link_to "返回主页", root_path,
              class: "action-link-btn btn btn-large btn-block btn-black-border"%>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
