<%= content_for :page_title do %>
    UBOSS
<% end %>
<br />
<div class="address-new">
  <div class="box-m10">

  <% if current_user.present? and current_user.can_rebind_agent? and @agent.present? %>

    <%= horizon_form_for(:seller, url: seller_path(current_user), method: 'PUT') do |f| %>
      <%= hidden_field_tag "seller[agent_id]", @agent.try(:id) %>
      <p class='text-center' style='line-height: 40px;' >您将与<%= @agent.try(:identify) %>创客进行绑定</p>
      <table>
        <tr>
          <td>手机</td>
          <td>
            <%= f.input_field :mobile, value: current_user.login, id: 'new_mobile', disabled: 'disabled', style: 'width:85px;' %>
            <a style='color:#fff;' href='#' class="btn pull-right" id="send_mobile">发送验证码</a>
          </td>
        </tr>
        <tr>
          <td>验证码</td>
          <td>
          <%= f.input_field :mobile_auth_code, type: :tel, placeholder: '填写短信验证码', id:"mobile_auth_code", class: "add_text input-block"  %>
          </td>
        </tr>
      </table>
      <br />
      <p><%= f.submit '确认', class:"accunt_adilbtn btn btn-large btn-block" %></p>
      <br />
      <p>
        <% if params[:redirect] == 'discourse' %>
          <%= link_to "返回主页",  Rails.application.secrets.discourse['url'], class:"accunt_addbtn btn btn-large btn-black-border btn-block" %>
        <% else %>
          <%= link_to "返回主页",  root_path, class:"accunt_addbtn btn btn-large btn-black-border btn-block" %>
        <% end %>
      </p>
      <br />
    <% end %>
  <% elsif current_user.present? %>
      <% if @agent.present? %>
         <p class='text-center' style='line-height: 40px;' >您将与<%= @agent.try(:identify) %>创客进行绑定</p>
      <% end %>
      <p class='text-center' style='line-height: 40px;' >
         <% if current_user.agent.present? %>
          您已经绑定创客，不允许更换绑定。
        <% elsif current_user.authenticated? %>
          您已经通过身份验证，不允许更换绑定。
        <% end %>
      </p>

      <br />
      <p>
        <% if params[:redirect] == 'discourse' %>
          <%= link_to "返回主页",  Rails.application.secrets.discourse['url'], class:"accunt_addbtn btn btn-large btn-black-border btn-block" %>
        <% else %>
          <%= link_to "返回主页",  root_path, class:"accunt_addbtn btn btn-large btn-black-border btn-block" %>
        <% end %>
      </p>
      <br />
  <% else %>
    <%= horizon_form_for(:seller, url: url_for(controller: :sellers, action: :create), method: 'POST') do |f| %>
      <%= hidden_field_tag "seller[agent_id]", @agent.try(:id) %>
      <% if @agent.present? %>
         <p class='text-center' style='line-height: 40px;' >您将与<%= @agent.try(:identify) %>创客进行绑定</p>
      <% end %>
      <table>
        <tr>
          <td>手机</td>
          <td>
            <%= f.input_field :mobile,  id: 'new_mobile', style: 'width:85px;' %>
            <a style='color:#fff;' href='#' class="btn pull-right" id="send_mobile">发送验证码</a>
          </td>
        </tr>
        <tr>
          <td>验证码</td>
          <td>
          <%= f.input_field :mobile_auth_code, type: :tel, placeholder: '请输入4位短信验证码', id:"mobile_auth_code", class: "add_text input-block"  %>
          </td>
        </tr>
        <tr>
          <td>密码</td>
          <td><%= f.input_field  :password, placeholder: '至少六位以上的字母数字组合', class:"add_text input-block" %></td>
        </tr>
        <tr>
          <td>确认密码</td>
          <td><%= f.input_field  :password_confirmation, placeholder: '再次输入密码', class:"add_text input-block" %></td>
        </tr>
      </table>

      <hr />
      <p><%= f.submit '确认', class:"accunt_adilbtn btn btn-large btn-block" %></p>
      <br />
      <p>
        <% if params[:redirect] == 'discourse' %>
          <%= link_to "返回主页",  Rails.application.secrets.discourse['url'], class:"accunt_addbtn btn btn-large btn-black-border btn-block" %>
        <% else %>
          <%= link_to "返回主页",  root_path, class:"accunt_addbtn btn btn-large btn-black-border btn-block" %>
        <% end %>
      </p>
      <br />
    <% end %>
  <% end %>
</div>
