<% if params[:redirect] == 'discourse' %>
  <%= content_for :title do %>
    <%= Rails.application.secrets.metas["discourse_title"] %>
  <% end %>
<% end %>

<%= content_for :page_title do %>
    UBOSS
<% end %>

<div class='login-container' style="min-height:600px;">
  <h2>注册绑定UBOSS</h2>
  <% if current_user.present? and current_user.can_rebind_agent? and @agent.present? %>

    <%= horizon_form_for(:seller, url: seller_path(current_user), method: 'PUT') do |f| %>
      <div class="orm-inputs text-center" style="margin: 20px 0">
        您将与<%= @agent.try(:identify) %>创客进行绑定
      </div>

      <hr />
      <%= hidden_field_tag "seller[agent_id]", @agent.try(:id) %>
      <%= f.input :mobile do %>
        <%= f.input_field :mobile, value: current_user.login, disabled: :disabled, class: 'form-control', id: 'new_mobile' %>
        <a class="send_mobile"  id="send_mobile" href="#">发送验证码</a>
      <% end %>
      <%= f.input :mobile_auth_code, as: :tel, :input_html=>{:id=>"mobile_auth_code"}, hint:'请输入4位验证码' %>

      <div class="button_div">
        <%= f.submit "确认", class: 'btn btn-primary col-md-12' %>
      </div>
      <% if !browser.wechat? %>
        <div class="button_div  col-xs-12"  style="margin: 10px 0 10px 0;">
          <% if params[:redirect] == 'discourse' %>
            <%= link_to "返回主页", Rails.application.secrets.discourse['url'], class: "btn btn-large btn-link col-xs-12"%>
          <% else %>
            <%= link_to "返回主页", root_path, class: "btn btn-large btn-link col-xs-12"%>
          <% end %>
        </div>
       <% end %>

    <% end %>

  <% elsif current_user.present? %>
      <div class="orm-inputs text-center" style="margin: 50px 0 0 0">
        <% if @agent.present? %>
          您将与<%= @agent.try(:identify) %>创客进行绑定
        <% end %>
      </div>
      
      <div class="orm-inputs text-center" style="margin: 20px 0 180px 0">
        <% if current_user.agent.present? %>
        您已经绑定创客，不允许更换绑定。
        <% elsif current_user.authenticated? %>
        您已经通过身份验证，不允许更换绑定。
        <% end %>
      </div>
      <div class="button_div  col-xs-12"  style="margin: 10px 0 30px 0;">
        <% if params[:redirect] == 'discourse' %>
          <%= link_to "返回主页", Rails.application.secrets.discourse['url'], class: "btn btn-large btn-link col-xs-12"%>
        <% else %>
          <%= link_to "返回主页", root_path, class: "btn btn-large btn-link col-xs-12"%>
        <% end %>
      </div>

  <% else %>
    <%= horizon_form_for(:seller, url: url_for(controller: :sellers, action: :create), method: 'POST') do |f| %>
      <% if @agent.present? %>
        <div class="orm-inputs text-center" style="margin: 20px 0">
          您将与<%= @agent.try(:identify) %>创客进行绑定
        </div>
      <% end %>
      <hr />
      <%= hidden_field_tag "seller[agent_id]", @agent.try(:id) %>
      <%= f.input :mobile do %>
        <%= f.input_field :mobile, class: 'form-control', id: 'new_mobile' %>
        <a class="send_mobile"  id="send_mobile" href="#">发送验证码</a>
      <% end %>

      <%= f.input :mobile_auth_code, as: :tel, :input_html=>{:id=>"mobile_auth_code"}, hint:'请输入4位验证码' %>
      <%= f.input :password, required: true, hint: "至少六位以上的字母数字组合",:label_html=>{:class=>"text-right"}  %>
      <%= f.input :password_confirmation, required: true,:label_html=>{:class=>"text-right"}  %>


      <div class="button_div">
        <%= f.submit "确认", class: 'btn btn-primary col-md-12' %>
      </div>
       <% if !browser.wechat? %>
        <div class="button_div  col-xs-12"  style="margin: 10px 0 10px 0;">
          <% if params[:redirect] == 'discourse' %>
            <%= link_to "返回主页", Rails.application.secrets.discourse['url'], class: "btn btn-large btn-link col-xs-12"%>
          <% else %>
            <%= link_to "返回主页", root_path, class: "btn btn-large btn-link col-xs-12"%>
          <% end %>
        </div>
       <% end %>
    <% end %>
  <% end %>
</div>
