<%= content_for :page_specific_javascript do %>
  <script type="text/javascript" charset="utf-8">
    stockData = <%== get_product_seling_inventories_json @service_product %>
  </script>
  <%= javascript_include_tag 'admin/sku_app/application' %>
<% end %>

<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-angle-right"></i></li>
		<li><%= link_to '团购店铺', '#' %></li>
		<li class="divider"><i class="fa fa-angle-right"></i></li>
		<li><%= link_to '团购管理', [:admin, :service_products] %></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active">查看团购信息</li>
	</ul>
</div><!-- container -->
<br />
<div class="container nogap">
  <div class="admin-box beige-bg-color">
    <h4 class="edit-title">团购信息</h4>
    <% if current_user.is_super_admin? %>
      <div class="form-group">
        <label class="control-label">所属商家</label>
        <div class="control-input">
          <span class="text-margin"><%= link_to @service_product.user.identify, url_for(controller: 'admin/sellers', action: :show, id: @service_product.user) %></span>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <label class="control-label"> 团购名称 </label>
      <div class="control-input">
        <span class="control-txt"><%= @service_product.name %></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label"> 团购类型 </label>
      <div class="control-input">
        <span class="control-txt"><%= ServiceProduct::DataServiceType[@service_product.service_type] %></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label"> 原价 </label>
      <div class="control-input">
        <span class="control-txt"><%= @service_product.original_price %></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label"> 现价 </label>
      <div class="control-input">
        <span class="control-txt"><%= @service_product.present_price %></span>
      </div>
    </div>
    <% if (!@service_product.short_description.blank?) %>
    <div class="form-group">
      <label class="control-label"> 简介 </label>
      <div class="control-input">
        <span class="control-txt"><%= @service_product.short_description %></span>
      </div>
    </div>
    <% end %>
    <div class="form-group">
      <label class="control-label"> 团购有效期 </label>
      <div class="control-input">
        <span class="control-txt"><%= @service_product.created_at + @service_product.monthes.months %>（自发布时间后 <%= @service_product.monthes %> 个月）</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label"> 商品主图 </label>
      <div class="control-input">
        <span><%= image_tag(@service_product.image_url(:w120)) %></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label"> 购买须知 </label>
      <div class="control-input">
        <div style='width:350px;' class="control-txt"><%= raw @service_product.purchase_note %>　</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label"> 图文详情 </label>
      <div class="control-input">
        <div style='width:350px;' class="control-txt"><%= raw @service_product.content %>　</div>
      </div>
    </div>
  </div><!-- admin-box -->
  <br />
  <div class='display_none'>
    <div id="product-stock" class="admin-box beige-bg-color">
      <h4 class="edit-title">库存/规格</h4>
      <div class="form-group">
        <label class="control-label">库存</label>
        <div  class="stock-list control-input">
        </div>
      </div>
    </div>
  </div>
  <div id="sku-privelege-group" class="admin-box beige-bg-color">
    <h4 class="edit-title">返利详情</h4>
    <div class="form-group sku-privilege-list-group">
      <label class="control-label">返利金额</label>
      <div class='sku-privilege-list control-input'></div>
    </div>
  </div><!-- admin-box -->
  <br />
  <div class="admin-box beige-bg-color">
    <h4 class="edit-title">二维码</h4>
    <div class="box-w100">
      <div class="box-w70">
        <br />
        <p>复制右边专属二维码</p>
        <p>即可在各大社交平台</p>
        <p>传播你的商品</p>
      </div>
      <div class="box-w20">
        <img src="http://qr.liantu.com/api.php?&text=<%= "http://#{request.env["HTTP_HOST"]}/service_products/#{@service_product.id}?shared=true" %>"/>
      </div>
    </div>
  </div><!-- admin-box -->
  <br />
  <div class="text-center">
    <% if can? :edit, @service_product %>
      <%= link_to("编辑", url_for(:action=>:edit,:id=>@service_product.id), :class=>"btn btn-large blue-btn",:role=>"button") %>
    <% end %>　
    <%= link_to("手机效果", url_for(:action=>:pre_view,:id=>@service_product.id), :class=>"btn btn-large yellow-btn",:role=>"button",:target=>"_blank") %>　
    <% if can? :update, @service_product %>
      <% if @service_product.status == 'unpublish' %>
        <%= link_to("上架", url_for(action: :change_status, id: @service_product.id, status: :published), method: :patch, class: "btn btn-large red-btn", role: "button") %>
     <% else %>
       <%= link_to("取消上架", url_for(action: :change_status,id: @service_product.id, status: :unpublish),
                   method: :patch, class: "btn btn-large ",:role=>"button") %>
      <% end %>
    <% end %>
  </div>
</div><!-- container -->
