<br />
<div class="container nogap content">
	<div class="box-w85 nogap">
		<div class="box-w33">
      <div class="admin-box">
        <h4>1000</h4>
        <span>新增收益</span>
      </div>
		</div>
		<div class="box-w33">
      <div class="admin-box">
        <h4>1000</h4>
        <span>累计收益</span>
      </div>
		</div>
		<div class="box-w33">
      <div class="admin-box">
        <h4>1000</h4>
        <span>帐户余额</span>
      </div>
      <br />
		</div>

		<div class="box-w33">
      <div class="admin-box">
        <a href="<%= admin_store_path(current_user.ordinary_store) %>" class="btn-block">
          <img src="<%= current_user.ordinary_store.store_cover_url(:w120) %>" alt="No img" class="btn-block" style="margin:10px auto;">
        </a>
        <span class="text-center btn-block">店铺名（物流发货）</span>
        <br />
        <a href="<%= admin_store_path(current_user.ordinary_store) %>" class="btn btn-large btn-noraidus btn-block">进入店铺</a>
      </div>
		</div>
		<div class="box-w33">
      <div class="admin-box">
        <a href="<%= edit_admin_service_store_path(current_user.service_store) %>" class="btn-block">
          <img src="<%= current_user.service_store.store_cover_url(:w120) %>" alt="No img" class="btn-block" style="margin:10px auto;">
        </a>
        <span class="text-center btn-block">店铺名（本地服务）</span>
        <br />
        <a href="<%= edit_admin_service_store_path(current_user.service_store) %>" class="btn btn-large btn-noraidus btn-block">进入店铺</a>
      </div>
    </div>
		<div class="box-w33">
      <div class="admin-box">
        <a href="<%= admin_businesses_path %>" class="btn-block">
          <img src="/assets/admin/no-img.png" alt="No img" style="margin:10px auto;">
        </a>
        <br />
        <a href="<%= admin_businesses_path %>" class="btn btn-large btn-noraidus btn-block">开通业务</a>
      </div>
		</div>

	</div>

</div>
