<% seller = privilege_card.seller %>
<a href="/privilege_cards/<%= privilege_card.id %>">
  <div class="share-card gap" timestamp='<%= privilege_card.updated_at %>'>
    <div class="cover">
      <%= image_tag seller.ordinary_store.store_cover_url(:w120) %>
    </div>
    <div class="info">
      <p class="title"><%= seller.ordinary_store.store_name %></p>
      <p class="gray-color">商品共 <%= seller.ordinary_products.published.count %> 件</p>
      <div>
        <div class="hidden sharing-meta-container">
          <%= store_sharing_meta_tags(seller) %>
        </div>
        <%= link_to "分享", get_seller_sharing_path(seller_id: privilege_card.seller_id), remote: true,
          class: 'btn share-btn req-favour-p-snode' %>
        <a href="#" class="btn share-btn p-sharing-btn hidden">分享</a>
      </div>
    </div>
  </div><!-- share-card -->
</a>

<!-- 团购店铺 -->
<% if (store = seller.service_store) && store.valid? %>
  <a href="<%= service_store_path(seller.service_store) %>">
    <div class="share-card gap" timestamp='<%= privilege_card.updated_at %>'>
      <div class="cover">
        <%= image_tag store.store_cover_url(:w120) %>
      </div>
      <div class="info">
        <p class="title"><%= store.store_name %></p>
        <p class="gray-color">商品共 <%= seller.service_products.published.count %> 件</p>
        <div>
          <div class="hidden sharing-meta-container">
            <%= store_sharing_meta_tags(seller, nil, service_store_path(seller.service_store)) %>
          </div>
          <%= link_to "分享", get_seller_sharing_path(seller_id: privilege_card.seller_id), remote: true,
            class: 'btn share-btn req-favour-p-snode' %>
          <a href="#" class="btn share-btn p-sharing-btn hidden">分享</a>
        </div>
      </div>
    </div><!-- share-card -->
  </a>
<% end %>
