<%= content_for :extra_meta_tags do %>
  <%= store_sharing_meta_tags(@seller, @seller_sharing_link_node) %>
<% end %>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>

<div class="product-info-box">
  <br />
  <div class="cover">
    <%= image_tag @seller.avatar_url(:w120) %>
  </div>
  <br />
  <p class="name"><%= @seller.store_name %></p>
  <p class="gray-color"><%= @seller.store_short_description %></p>
  <p class="gray-color"><%= number_to_percentage(@seller.good_reputation_rate, precision: 0) %> 好评（<%= @seller.total_reputations %>）</p>
  <div class="text-center border-top">
    <div class="hidden sharing-meta-container">
      <%= store_sharing_meta_tags(@seller, @seller_sharing_link_node) %>
    </div>
    <a class="btn btn-large btn-longer p-sharing-btn">分享给朋友</a>
  </div>
  <br />
  <div class="read"><a href="/about"><small>查看说明</small></a></div>
</div><!-- product-info-box -->

<div class="bg-white">
	<div class="box store-like">
		<div class="box-w100">
  		<p class="page-title like-color">我喜欢的</p>
  	</div>
	  <% @favour_products.each do |product| %>
		  <div class="box-w33">
		  	<div class="product-box">
		  		<div class="cover">
	          <%= link_to '', product_path(product), style: "background-image:url(#{product.image_url(:w120)})",class:'img' %>
	          <%= image_tag("mobile/img.jpg") %>
	        </div>
	        <div class="share">
	        	<div class="hidden sharing-meta-container">
          		<%= sharing_meta_tags(product) %>
        		</div>
        		<%= link_to "分享", get_product_sharing_path(product_id: product.id), remote: true, class: 'btn btn-gray req-favour-p-snode' %>
	        	<a href="#" class="btn btn-gray p-sharing-btn hidden">分享</a>
	        </div>
		   	</div>
	  	</div>
	  <% end %>
 	</div>
</div>
<br />

<%= render partial: 'stores/banner_slider', locals: { seller: @seller } %>

<div class="bg-white">
	<div class="box store-list">
		<div class="box-w100">
			<div class="page-title like-color">
	      <%= link_to hots_store_path(@seller), class: 'more-bar' do %>
	        more <%= image_tag 'mobile/arrow-right.png' %>
	      <% end %>
	      热门商品
			</div>
		</div>
	  <% @hots.each do |product| %>
	    <div class="box-w33">
	      <div class="product-box">
	        <div class="cover">
	          <%= link_to '', product, style: "background-image:url(#{product.image_url(:w120)})",class:'img',title:"#{product.name}" %>
	          <%= image_tag("mobile/img.jpg") %>
	        </div>
	        <div class="title"><%= link_to product.name, product_path(product) %></div>
	        <div class="price"><%= number_to_currency product.present_price %> <span><%= number_to_currency product.original_price %></span></div>
	      </div>
	    </div>
	  <% end %>
	</div>
</div>

<br />

<div class="bg-white">
<div class="box store-list">
	<div class="box-w100">
    <div class="page-title">全部商品</div>
	</div>
  <%= render partial: 'stores/product', collection: @products, locals: { show_favour: true } %>
</div>
</div>
<% if @products.size > 6 %>
	<br />
  <div class="load-more" data-container='.store-list' data-ele='.p-item' data-ref='<%= store_path(@seller) %>'>加载更多</div>
<% end %>

<%= render partial: 'new_share' %>
