<div class="page-title gap">
  入驻商家
</div><!--page-title -->

<div class="bg-white">
  <div class="box nogap ucategory-list" style="max-height: 209px;">
    <% @seller.categories.in_groups_of(2, false) do |categories| %>
      <div class="box-w100 nogap border-bottom">
        <% categories.each do |category| %>
          <% cache ['umall-categories', category] do %>
            <div class="box-w50 nogap">
              <%= link_to store_category_path(store_id: @seller.id, id: category.id),
                class:'ucategory-box' do %>
                <div class="cover">
                  <div class="img" style="background-image:url('<%= category.image_url(:w120)%>')" title="<%= category.name %>"></div>
                  <%= image_tag("mobile/img.jpg") %>
                </div>
                <div class="title"><%= category.name %></div>
              <% end %>
            </div><!-- box-w50 -->
          <% end %>
        <% end %>
      </div><!-- border-bottom -->
    <% end %>
  </div><!--box -->
</div><!-- bg-white -->

<% if @seller.categories.size > 6 %>
  <div id="ucategory-more" class="gap text-center"><%= image_tag("mobile/arrow-down.png",width:'15') %></div>
<% else %>
  <br />
<% end %>

<div class="store-cover text-center" style="<%= "background-image:url('#{@seller.store_cover.url(:w640)}')" if @seller.user_info.store_cover_identifier.present? %>">
  <div class="content">
    <h3 class="name"><%= @seller.store_name %></h3>

    <% if @seller.store_short_description.present?  %>
      <p class="gray-color"><%= @seller.store_short_description %></p>
    <% end %>

    <p>
      <span class="like-color"><%= number_to_percentage(@seller.good_reputation_rate, precision: 0) %></span> 好评（<%= @seller.total_reputations %>）
    </p>

    <% if qr_sharing? %>
      <p class="text-center border-top nogap">
        <br />
        <% if current_user && current_user.has_seller_privilege_card?(@seller) %>
          <a class="btn btn-large p-sharing-btn cover-share-btn">分享给朋友</a>
        <% else %>
          <%= link_to "领取友情卡", get_seller_sharing_path,
            data: { sid: @seller.id, uid: current_user.present? },
            class: "btn btn-large show-req-snode-modal cover-share-btn"
          %>
          <a class="btn btn-large hidden p-sharing-btn cover-share-btn">分享给朋友</a>
        <% end %>
      </p>
      <div><a href="/about">查看说明</a></div>
    <% end %>

    <% if @sharing_node %>
      <div class="share-box border-top nogap">
        <br />
        <p class="cover"><%= image_tag @sharing_node.user.avatar_url(:w120) %></p>
        <p class="name"><%= @sharing_node.user.identify %> 分享</p>
      </div>
    <% end %>
  </div>
</div><!-- store-cover -->

<br />

<div class="bg-white">
  <div class="box store-list">
    <div class="box-w100">
      <% if params[:action] == 'hots' %>
        <div class="page-title like-color">热销商品</div>
      <% elsif params[:action] == 'favours' %>
        <div class="page-title like-color">我喜欢的</div>
      <% else %>
        <div class="page-title">全部商品</div>
      <% end %>
    </div>

    <% if @products.present? %>
      <%= render partial: 'product', collection: @products %>
    <% else %>
      <h2 class="page-title text-center">店家正在准备好货，敬请期待</h2>
    <% end %>

  </div>
</div>

<% if @products.size > 6 %>
  <br />
  <div class="load-more" data-container='.store-list' data-ele='.p-item' data-ref='<%= request.path %>'>加载更多</div>
<% end %>
