<div class="bg-white">
  <div class="store-like">
    <div class="box">
      <div class="box-w100">
        <div class="page-title like-color">
          <%= link_to hots_store_path(@seller), class: 'more-bar' do %>
            more <%= image_tag 'mobile/arrow-right.png' %>
        <% end %>
        入驻商家
        </div>
      </div>
      <% @seller.categories.each do |category| %>
        <div class="box-w33">
          <div class="product-box">
            <div class="cover">
              <%= link_to '', store_category_path(store_id: @seller.id, id: category.id),
                style: "background-image:url(#{category.image_url(:w120)})",
                class:'img',
                title:"#{category.name}" %>
              <%= image_tag("mobile/img.jpg") %>
            </div>
            <div class="title"><%= category.name %></div>
          </div><!-- product-box -->
        </div><!-- box-w33 -->
      <% end %>
    </div>
  </div>
</div>
<br />
