<% if store_banner_data(@seller).size > 0 %>

<% else %>
	<div class="default-banner">
		<%= image_tag('mobile/slideshow/banner.jpg') %>
	</div>
<% end %>
<div class="store-category-cover">
  <div class="cover"><img src='<%= @seller.ordinary_store.store_cover_url(:thumb) %>' /></div>
  <div class="content">
		<span class="pull-right"><%= number_to_percentage(@seller.good_reputation_rate, precision: 0) %> 好评 (<%= @seller.total_reputations %>)</span>
    <h3 class="name text-cut"><%= @seller.store_identify %></h3>

    <% if @seller.store_short_description.present?  %>
      <p class="detail gray-color text-right text-cut"><%= @seller.store_short_description %></p>
    <% end %>

  </div>
</div><!-- store-category-cover -->
<div class="bg-white m-bottom10 border-tb gap-left">
  <% if @sharing_node %>
    <div class="service-share-box border-top gap nogap-left">
      <% if @promotion_activity %>
        <% if @draw_record.blank? %>
          <div class="lottery-icon active hidden pull-right" id="lottery-icon">
            <%= link_to promotion_activity_path(@promotion_activity, type: 'share') do %>
              <%= image_tag ('activate_page/lottery-icon1.png'), style:'width:40px' %>
            <% end %>
          </div>
        <% else %>
          <div class="lottery-icon pull-right" id="lottery-icon">
            <%= link_to share_draw_promotion_activity_path(@promotion_activity) do %>
              <%= image_tag ('activate_page/lottery-icon1.png'), style:'width:40px' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class="cover pull-left"><%= image_tag @sharing_node.user.avatar_url(:w120) %></div>
      <div class="gap name text-cut"><%= @sharing_node.user.identify %> 分享</div>
    </div>

    <% if @promotion_activity && @draw_record.blank? %>
      <div class="lottery-modal pop-bg text-center">
        <div class="close"><%= image_tag('mobile/close-icon.png')%></div>
        <div class="pop-content">
          <%= link_to promotion_activity_path(@promotion_activity, type: 'share') do %>
            <%= image_tag ('activate_page/color-gift.png'), style:'width:50%'%>
          <% end %>
        </div><!-- pop-content -->
      </div>
    <% end %>

  <% end %>
</div>
<% if action_name != 'hots' %>
	<% if @categories.try(:any?) %>
		<div class="bg-white m-top10">
		  <div class="category-nav">
		    <div class="tab active" ><span>分组</span></div>
		    <a class="tab" href="#product-container"><span>全部</span></a>
		  </div>
		  <div class="tab-container">
		    <div class="tab-content category-list" id="category-container" style="display: block;">
		      <div class="box">
		        <%= render partial: 'categories', collection:  @categories, as: :category %>
		      </div>
		    </div><!-- #category-container -->


		  </div><!-- tab-container -->
		</div><!-- bg-white -->
	<% end %>
	<%= render partial: 'ad_banner_slider', locals: { seller: @seller } %>
<% end %>
<div class="page-title gap">全部商品</div>
<div class="bg-white" id="product-container" >
  <div class="store-list">
    <% if @products.present? %>
      <%= render partial: 'product', collection: @products %>
    <% else %>
      <h2 class="page-title text-center">店家正在准备好货，敬请期待</h2>
    <% end %>

  </div>
</div>
<br />

<% if @products.size > 6 %>
  <div class="load-more" data-container='.store-list' data-ele='.p-item' data-ref='<%= request.path %>'>加载更多</div>
	<br />
<% end %>

<% if qr_sharing? %>
<br />
<div class="friend-box">
	<% if current_user && current_user.has_seller_privilege_card?(@seller) %>
		<%= link_to '#', class: "#{current_user.has_recommend?(@seller.ordinary_store) ? 'has_recommend': ''} buy-nav recommend_link", user_id: current_user.id, recommended_id: @seller.ordinary_store.id, recommended_type: @seller.ordinary_store.class do %>
      <div class='buy-icon buy-recommed-icon'></div>
      <div>推荐</div>
    <% end %>
		<a class="btn-block friend-btn p-sharing-btn buy-nav"><%= image_tag('mobile/share-icon.png',height:20) %> 分享给朋友 </a>
	<% else %>
		<%= link_to(get_seller_sharing_path,
			data: { sid: @seller.id, uid: current_user.present? },
			class: "btn-block friend-btn show-req-snode-modal"
		) do %>
			 <%= image_tag('mobile/gift.png',height:26) %> 领取友钱卡
		<% end %>
		<a class="btn-block friend-btn hidden p-sharing-btn"><%= image_tag('mobile/share-icon.png',height:20) %> 分享给朋友 </a>
	<% end %>
</div>
<br />
<% else %>
	<% if current_user && current_user.has_privilege_card?(@seller.ordinary_store) %>
		<br />
	  <div class="friend-box">
	    <%= link_to '#', class: "#{current_user.has_recommend?(@seller.ordinary_store) ? 'has_recommend': ''} buy-nav recommend_link", user_id: current_user.id, recommended_id: @seller.ordinary_store.id, recommended_type: @seller.ordinary_store.class do %>
	      <div class='buy-icon buy-recommed-icon'></div>
	      <div>推荐</div>
	    <% end %>
			<a class="btn-block friend-btn p-sharing-btn buy-nav"><%= image_tag('mobile/share-icon.png',height:20) %> 分享给朋友 </a>
	  </div>
	 	<br />
	<% end %>
<% end %>
<% if @sharing_node && @sharing_node.user != current_user%>
<br />
	<div class="friend-box share-category-box text-center">
		<h3 class="text-cut">
			<%= image_tag @sharing_node.user.avatar_url(:w120) %>
			<%= @sharing_node.user.identify %> 推荐
    </h3>
  </div>
<br />
<% end %>

