<% if params[:action] == 'show' && @hots.present? %>
	<div class="page-title like-color gap">
      <%= link_to hots_store_path(@seller), class: 'more-bar' do %>
        more
    	<% end %>
    	热销商品
    </div>
  </div>
  <div class="bg-white">
    <div class="box">
      <div class="box-w100">          
      <%= render partial: 'hot_product', collection: @hots, as: :product %>
      </div><!-- box-w100 -->
    </div><!-- box -->
  </div><!-- bg-white -->
<% end %>

<div class="bg-white gap  m-top10 m-bottom10">
	<div class="store-category-cover">
	  <div class="cover"><img src='<%= @seller.avatar_url(:w120) %>' /></div>   
	  <div class="content">
	
	    <h3 class="name"><%= @seller.store_name %></h3>
	
	    <p>
	      <small>
	        <span class="main-color"><%= number_to_percentage(@seller.good_reputation_rate, precision: 0) %></span> 好评（<%= @seller.total_reputations %>）
	      </small>
	    </p>    
	
	    <% if @seller.store_short_description.present?  %>
	      <p class="gray-color text-cut"><%= @seller.store_short_description %></p>
	    <% end %>       
	    
	  </div>
	</div><!-- store-category-cover -->
	<% if qr_sharing? %>
	 	<div class="border-top text-center m-top10">
	    <p>
				<% if current_user && current_user.has_seller_privilege_card?(@seller) %>
					<a class="btn btn-large p-sharing-btn">分享给朋友</a>
				<% else %>
					<%= link_to "领取友钱卡", get_seller_sharing_path,
						data: { sid: @seller.id, uid: current_user.present? },
						class: "btn btn-large show-req-snode-modal"
					%>
					<a class="btn btn-large hidden p-sharing-btn">分享给朋友</a>
				<% end %>
			</p>
			<div><small><a class="gray-color" href="/about">查看说明</a></small></div>
		</div>
	<% end %>
	<% if @sharing_node %>
		<div class="share-category-box border-top text-center m-top10">
			<h3 class="text-cut">
				<%= image_tag @sharing_node.user.avatar_url(:w120) %>
				<%= @sharing_node.user.identify %> 推荐
	    </h3>
	  </div>
	<% end %>
</div>



<div class="bg-white m-bottom10">
  <% unless action_name == 'hots' %>
  <div class="category-nav">
    <div class="tab active" ><span>分组</span></div>
    <a class="tab" href="#product-container"><span>全部商品</span></a>
  </div>
  <% end %>
  <div class="tab-container">
    <div class="tab-content category-list" id="category-container" style="display: block;">
      <div class="box">
        <%= render partial: 'categories', collection:  @categories, as: :category %>
      </div>
    </div><!-- #category-container -->

      
  </div><!-- tab-container -->  
</div><!-- bg-white -->
<% unless action_name == 'hots' %>
<div class="gap-lr m-bottom10"> 
  <%= render partial: 'ad_banner_slider', locals: { seller: @seller } %>
</div>
<% end %>

<div class="bg-white" id="product-container" >
  <div class="box store-list">
    <div class="box-w100">
        <div class="page-title">全部商品</div>
    </div>

    <% if @products.present? %>
      <%= render partial: 'product', collection: @products %>
    <% else %>
      <h2 class="page-title text-center">店家正在准备好货，敬请期待</h2>
    <% end %>

  </div>
</div>

<% if @products.size > 6 %>
  <br />
  <div class="load-more" data-container='.store-list' data-ele='.p-item' data-ref='<%= request.path %>'>加载更多</div>
<% end %>

