<%= content_for :page_title do %>
  <div class="log_font"> UBOSS </div>
<% end %>

<%= render partial: 'stores/banner_slider', locals: { seller: @uboss_seller } %>

<br />

<div>
  请创业 & 入驻UBOSS
</div>

<br />

推荐店铺

<% @stores.each do |store| %>
  <div class="bg-white gap">
  	<div class="product-store-box">
	    <div class="cover">
	      <%= image_tag store.avatar_url(:w120) %>
	    </div>
			<div class="content">
				<%= link_to  store_path(store),class:'btn btn-main-border pull-right' do%>
	       	进店逛逛
	      <%end%>
		    <h4 class="name text-cut"><%= store.store_name || 'UBOSS商家' %></h4>
		    <p class="gray-color"><%= number_to_percentage(store.good_reputation_rate, precision: 0) %> 好评（<%= store.total_reputations %>）</p>
	      <p class="gray-color desc text-cut"><%= store.store_short_description || "UBOSS 推荐店铺" %></p>
	 		</div><!-- content -->
    </div><!-- product-store-box -->
  </div><!-- bg-white gap -->
  <div class="bg-white">
    <div class="store-like">
      <div class="box">
        <% 3.times do %>
          <div class="box-w33">
            <div class="product-box">
              <div class="cover">
                <%= link_to '', @product,
                  style: "background-image:url(#{@product.image_url(:w320)})",
                  class: 'img',
                  title: "#{@product.name}" %>
                <%= image_tag("mobile/img.jpg") %>
              </div>
            </div><!-- product-box -->
          </div><!-- box-w33 -->
        <% end %>
      </div>
    </div>
  </div>
  <br />
<% end %>
