<%= content_for :page_title do %>
  <div class="log_font"> UBOSS </div>
<% end %>

<div class="banner-slider">
  <div id='slider' class='swipe'>
    <div class='swipe-wrap'>
        <div>
          <a href="http://uboss.me/pages/bonus_invite"><%= image_tag 'mobile/slideshow/4.jpg' %></a>
        </div>
        <div>
          <a href="http://uboss.me/products/632"><%= image_tag 'mobile/slideshow/5.jpg' %></a>
        </div>
    </div>
  </div>
  <div id='slider-points'>
    <span class="active">*</span>
    <span>*</span>
  </div>
</div>

<br />

<div class="bg-white text-center">
  <a class="box-w50 nogap index-icon-box border-right" href="/stores/550">
  	<div class="index-icon icon1"></div>
  	<div><b>丽江生活馆</b></div>
  </a>
  <a class="box-w50 nogap index-icon-box" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.ulaiber.ubossmerchant&g_f=1104978924" target="_blank">
	  <div class="index-icon icon2"></div>
	  <div><b>入驻UBOSS</b></div>
	</a>
</div>
<div class="gap page-title black-color">
	推荐店铺
</div>
<% stores_id=[504,49,496,197,315,9,233,278,134,326,117,338,246,255,310,214,229,194,213,329,8,183,725] %>
<% @stores.each do |store| %>
  <div class="bg-white gap border-box">
  	<div class="product-store-box">
	    <div class="cover">
	      <%= image_tag store.avatar_url(:w120) %>
	    </div>
			<div class="content">
				<%= link_to  store_path(store),class:'btn btn-main-border pull-right' do%>
	       	进店逛逛
	      <%end%>
		    <h4 class="name text-cut"><%= store.store_name || 'UBOSS商家' %></h4>
		    <p class="gray-color"><%= number_to_percentage(store.good_reputation_rate, precision: 0) %> 好评（<%= store.total_reputations %>）</p>
	      <p class="gray-color desc text-cut"><%= store.store_short_description || "UBOSS 推荐店铺" %></p>
	 		</div><!-- content -->
    </div><!-- product-store-box -->
  </div><!-- bg-white gap -->
  <div class="bg-white index-product-list">
    <div class="box">
      <% store.products.hot_ordering.limit(3).each do |product| %>
        <div class="box-w33">
          <div class="product-box">
            <div class="cover">
              <%= link_to '', product,
                style: "background-image:url(#{product.image_url(:w320)})",
                class: 'img',
                title: "#{product.name}" %>
              <%= image_tag("mobile/img.jpg") %>
            </div>
          </div><!-- product-box -->
        </div><!-- box-w33 -->
      <% end %>
    </div>
  </div>
  <br />
<% end %>

<% if browser.wechat? %>
  <div class="pop-bg hidden">
		<div class="pop-content text-center">
			<h2 class="white-color">
				请点击右上角<%= image_tag 'mobile/friend/arrow-up.png',height:'25' %>
				<br/>
				用Safari浏览器打开
			</h2>
		</div><!-- pop-content -->
	</div><!-- pop-bg -->
<% end %>

<script>
	$(document).ready(function(){
		function isFrom( platform ){
			var ua = navigator.userAgent.toLowerCase();
			return ua.indexOf( platform ) != -1 ? 1 : 0;
		}
		var isAndroid = isFrom('android');
		var isIOS = isFrom('iphone') || isFrom('ipad') || isFrom('ipod');
		if ( isAndroid ){
			$('.index-icon.icon2').closest('.index-icon-box').attr("href","http://a.app.qq.com/o/simple.jsp?pkgname=com.ulaiber.ubossmerchant&g_f=1104978924");
			return
		}
		if ( isIOS ){
			$('.index-icon.icon2').closest('.index-icon-box').attr("href","https://appsto.re/cn/kAMA_.i");
			<% if browser.wechat? %>
				$('.index-icon.icon2').closest('.index-icon-box').click(function(){
					$('.pop-bg').show()
				})
			<% end %>
			return
		}
		
	})
</script>
