<%= content_for :page_title do %>
  <%= @seller.store_identify %>
<% end %>

<%= content_for :extra_meta_tags do %>
  <% if @seller %>
    <%= store_sharing_meta_tags(@seller, @sharing_link_node) %>
  <% end %>
<% end %>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>
<br />
<div class="product-info-box">
  <br />
  <div class="cover">
    <%= image_tag @seller.avatar_url(:w120) %>
  </div>
  <br />
  <p class="name"><%= @seller.store_name %></p>
  <p class="gray-color"><%= @seller.store_short_description %></p>
  <p class="gray-color"><%= number_to_percentage(@seller.good_reputation_rate, precision: 0) %> 好评（<%= @seller.total_reputations %>）</p>
  <% if qr_sharing? %>
    <div class="text-center border-top">
      <% if current_user && current_user.has_seller_privilege_card?(@seller) %>
        <a class="btn btn-large btn-longer p-sharing-btn">分享给朋友</a>
      <% else %>
        <%= link_to "领取友情卡", get_seller_sharing_path, data: { sid: @seller.id, uid: current_user.present? },
          class: "btn btn-large btn-longer show-req-snode-modal"
        %>
        <a class="btn btn-large btn-longer hidden p-sharing-btn">分享给朋友</a>
      <% end %>
    </div>
    <br />
    <div class="read"><a href="/about"><small>查看说明</small></a></div>
  <% end %>
</div><!-- product-info-box -->

<% if @sharing_node %>
  <div class="product-info-box">
    <br />
    <div class="friend-card">
      <p class="cover"><%= image_tag @sharing_node.user.avatar_url(:w120) %></p>
      <p class="name"><%= @sharing_node.user.identify %> 分享</p>
      <p class="border-top title">关于分享者</p>
      <p class="gray-color">共 <%= @sharing_node.user.total_reputations %> 分享</p>
      <div class="gray-color"><span class="like-color"><%= @sharing_node.user.good_reputation_rate %>%</span> 靠谱</div>
    </div>  <!-- friend-card -->
    <br />
  </div><!-- product-info-box -->
<% end %>

<% if store_banner_data(@seller).size > 0 %>
  <div class="banner-slider">
    <div id='slider' class='swipe'>
      <div class='swipe-wrap'>
        <% store_banner_data(@seller).each do |image, product| %>
          <div>
            <% if product.present? %>
              <%= link_to product do %>
                <%= image_tag image.url(:'640x320') %>
              <% end %>
            <% else %>
              <%= image_tag image.url(:'640x320') %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div id='slider-points'>
      <% store_banner_data(@seller).size.times do |index| %>
        <span class="<%= 'active' if index == 0 %>">*</span>
      <% end %>
    </div>
  </div>
<% end %>

<% if !@hide_hot_box && @hots.present? %>
  <div class="store-like">
    <div class="box border-box">
      <div class="box-w100">
        <div class="page-title like-color">热销商品</div>
      </div>

      <%= render partial: 'hot_product', collection: @hots, as: :product %>

      <div class="box-w10">
        <%= link_to hots_store_path(@seller) do %>
          <%= image_tag 'mobile/arrow-right.png',class:'like-more' %>
        <% end %>
        <!-- 设置链接 -->
      </div>
    </div>
  </div>
<% end %>

<div class="box store-list">
	<div class="box-w100">
    <% if @hide_hot_box %>
      <div class="page-title like-color">热销商品</div>
    <% else %>
      <div class="page-title">全部商品</div>
    <% end %>
	</div>

  <% if @products.present? %>
    <%= render partial: 'product', collection: @products %>
  <% else %>
    <h3 class="page-title text-center">店家正在准备好货，敬请期待</h3>
  <% end %>

</div>

<% if @products.size > 6 %>
  <div class="load-more" data-container='.store-list' data-ele='.p-item' data-ref='<%= request.path %>'>加载更多</div>
<% end %>

<%= render partial: 'new_share' %>

<div class="req-snode-modal pop-bg hidden">
  <div class="pop-content">
    <div class="alert">
      <div class="req-snode-group">
        <div class="page-title">留下手机号，现金礼品拿不停！</div>
        <p><input type="tel" name="mobile" placeholder='输入手机号，获得分享收益' class='input-block' /></p>
        <br />
        <p>
        <%= link_to "领取友情卡", get_seller_sharing_path, data: { sid: @seller.id },
          class: "btn btn-large btn-block req-pro-snode-btn" %>
        </p>
      </div>
      <div class="hidden">
        <p>您已成功领取，赶紧分享给朋友吧</p>
        <br />
        <a class="btn btn-large btn-block pro-snode-success-btn">确定</a>
      </div>
    </div>
  </div>
</div>
