<%= content_for :title do %>
  <%= @seller.store_title || Rails.application.secrets.metas["title"] %>
<% end %>

<%= content_for :page_title do %>
  <%= @seller.store_identify %>
<% end %>

<%= content_for :extra_meta_tags do %>
  <% if @seller %>
    <%= store_sharing_meta_tags(@seller, @sharing_link_node) %>
  <% end %>
<% end %>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>

<%= render partial: 'banner_slider', locals: { seller: @seller } %>

<% if uboss_mall?(@seller) %>
  <%= render partial: 'umall' %>
<% else %>
  <%= render partial: 'ushop' %>
<% end %>

<%= render partial: 'new_share' %>

<div class="req-snode-modal pop-bg hidden">
  <div class="pop-content">
    <div class="alert">
      <div class="req-snode-group">
        <div class="page-title">留下手机号，现金礼品拿不停！</div>
        <p><input type="tel" name="mobile" placeholder='输入手机号，获得分享收益' class='input-block' /></p>
        <br />
        <p>
        <%= link_to "领取友情卡", get_seller_sharing_path, data: { sid: @seller.id },
          class: "btn btn-large btn-block req-pro-snode-btn" %>
        </p>
      </div>
      <div class="hidden">
        <p>您已成功领取，赶紧分享给朋友吧</p>
        <br />
        <a class="btn btn-large btn-block pro-snode-success-btn">确定</a>
      </div>
    </div>
  </div>
</div>

<% if qr_sharing? && (current_user.blank? || (current_user && !current_user.has_seller_privilege_card?(@seller)) ) %>
  <%= render partial: 'privilege_card_pop' %>
<% end %>
