<%= content_for :page_title do %>
  <%= @seller.store_identify %>
<% end %>

<%= content_for :extra_meta_tags do %>
  <% if @seller %>
    <%= store_sharing_meta_tags(@seller, @sharing_link_node) %>
  <% end %>
<% end %>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>

<%= render partial: 'banner_slider', locals: { seller: @seller } %>

<% if params[:action] == 'show' && @hots.present? %>
  <div class="bg-white">
    <div class="store-like">
      <div class="box">
        <div class="box-w100">
          <div class="page-title like-color">
            <%= link_to hots_store_path(@seller), class: 'more-bar' do %>
              more <%= image_tag 'mobile/arrow-right.png' %>
          <% end %>
          热销商品
          </div>
        </div>
        <%= render partial: 'hot_product', collection: @hots, as: :product %>
      </div>
    </div>
  </div>
  <br />
<% end %>

<div class="store-cover text-center" style="<%= "background-image:url('#{@seller.store_cover.url(:w640)}')" if @seller.user_info.store_cover_identifier.present? %>">
  <div class="content">
    <h2 class="name"><%= @seller.store_name %></h2>

    <% if @seller.store_short_description.present?  %>
      <p class="gray-color"><%= @seller.store_short_description %></p>
    <% end %>

    <p>
      <span class="like-color"><%= number_to_percentage(@seller.good_reputation_rate, precision: 0) %></span> 好评（<%= @seller.total_reputations %>）
    </p>

    <% if qr_sharing? %>
      <p class="text-center border-top nogap">
        <br />
        <% if current_user && current_user.has_seller_privilege_card?(@seller) %>
          <a class="btn btn-large p-sharing-btn cover-share-btn">分享给朋友</a>
        <% else %>
          <%= link_to "领取友情卡", get_seller_sharing_path,
            data: { sid: @seller.id, uid: current_user.present? },
            class: "btn btn-large show-req-snode-modal cover-share-btn"
          %>
          <a class="btn btn-large hidden p-sharing-btn cover-share-btn">分享给朋友</a>
          <div class="pop-friend hidden">
            <div class="close pop-friend-close">跳过</div>
            <div id="page1">
              <%= image_tag("mobile/friend/bg.png",class:'sun-bg') %>
              <div class="t1 text-icon"><%= image_tag("mobile/friend/t1.png") %></div>
              <div class="t2 text-icon"><%= image_tag("mobile/friend/t2.png") %></div>
              <div class="t3 text-icon"><%= image_tag("mobile/friend/t3.png") %></div>
              <div class="t4 text-icon"><%= image_tag("mobile/friend/box.png") %></div>
              <div class="input-box">
                <% if !current_user.try(:mobile).present? %>
                <p><input type="tel"  class="input-block input-radius input-large input-tel-value" placeholder="请输入手机号码"/></p>
                <% end %>
                <p><input type="submit" class="btn btn-block btn-large" value="领取友情卡" /></p>
                <p class="white-color">友情卡可以帮好友省钱，帮自己赚钱</p>
              </div>

              <div class="show-share-btn">
                <% if !current_user.try(:mobile).present? %>
                <p class="white-color">友情卡已放入 <span id="user-tel" class="red-color"></span></p>
                <% end %>
                <p><span class="btn btn-block btn-large" id="show-next-page">分享友情卡</span></p>
                <p class="white-color">友情卡可以帮好友省钱，帮自己赚钱</p>
              </div>
            </div><!-- page1 -->
            <div id="page2" style="display:none">
              <div class="share-guide">
                <h4 class="white-color">点击右上角，分享给好友 <%= image_tag("mobile/friend/arrow-up.png",width:'20') %></h4>
                <br />
                <p><a href="/sign_in" class="btn btn-block btn-large">验证手机　到账提现</a></p>
                <p class="text-center white-color"><span class="close">去逛逛</span></p>
              </div>
            </div>
          </div><!-- pop-friend -->
          <script>
            $('.t1,.t2,.t3,.t4,.input-box,.sun-bg,.show-share-btn,.pop-friend-close').hide();
            $('.pop-friend').removeClass('hidden');
            $('html,body').addClass('lock');
            window.onload = function(){
              $('.t4').show().addClass('zoomIn').css('transform-origin','');
              setTimeout(function(){
                $('.sun-bg').show().addClass('zoomIn').css('transform-origin','');
              },600)
              setTimeout(function(){
                $('.t3').show().addClass('scalebottomIn').css('transform-origin','');
              },800)
              setTimeout(function(){
                $('.t2').show().addClass('scalebottomIn').css('transform-origin','');
              },1100)
              setTimeout(function(){
                $('.t1').show().addClass('scalebottomIn').css('transform-origin','');
              },1400)
              setTimeout(function(){
                $('.input-box').show().css('transform-origin','');
              },1600)
              setTimeout(function(){
                $('.pop-friend-close').show();
              },1800)
              //动画结束
              <% if !current_user.try(:mobile).present? %>
              $('.pop-friend input[type="submit"]').on('click',function(){
                var user_tel= $('.input-tel-value').val();
                var telReg = !!user_tel.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/);
                if(!telReg){
                  alert("请输入正确的手机号码")
                }else{
                  $('#user-tel').text(user_tel)
                  $('.input-box').hide()
                  $('.show-share-btn').show()
                  $.ajax({
                    url: '<%= get_seller_sharing_path %>',
                    type: 'GET',
                    data: {
                      seller_id: '<%= @seller.id %>',
                      mobile: user_tel
                    },
                  })
                  .done(function(data) {
                    console.log("success");
                    $('.show-req-snode-modal').addClass('hidden');
                    $('.p-sharing-btn').removeClass('hidden');
                    $('meta[name=sharing_link]').attr('content', data.sharing_link)
                    UBoss.luffy.resetInvokeSharing()
                  })
                  .fail(function(xhr, textStatus) {
                    alert('发送失败');
                  })
                }
              })
              <% else %>
              $('.pop-friend input[type="submit"]').on('click',function(){
                $('.input-box').hide()
                $('.show-share-btn').show()
                $.ajax({
                  url: '<%= get_seller_sharing_path %>',
                  type: 'GET',
                  data: {
                    seller_id: '<%= @seller.id %>'
                  },
                })
                .done(function() {
                  console.log("success");
                })
                .fail(function(xhr, textStatus) {
                  alert('发送失败');
                })

              })
              <% end %>

              $('#show-next-page').on('click',function(){
                $('#page1').hide()
                $('#page2').show()
              })
              $('.pop-friend .close').on('click',function(){
                $('.pop-friend').hide();
                $('html,body').removeClass('lock');
              })
            }
          </script>
        <% end %>
      </p>
      <div><a href="/about">查看说明</a></div>
    <% end %>

    <% if @sharing_node %>
      <div class="share-box border-top nogap">
        <br />
        <p class="cover"><%= image_tag @sharing_node.user.avatar_url(:w120) %></p>
        <p class="name"><%= @sharing_node.user.identify %> 分享</p>
      </div>
    <% end %>
  </div>
</div><!-- store-cover -->

<br />

<div class="bg-white">
  <div class="box store-list">
    <div class="box-w100">
      <% if params[:action] == 'hots' %>
        <div class="page-title like-color">热销商品</div>
      <% elsif params[:action] == 'favours' %>
        <div class="page-title like-color">我喜欢的</div>
      <% else %>
        <div class="page-title">全部商品</div>
      <% end %>
    </div>

    <% if @products.present? %>
      <%= render partial: 'product', collection: @products %>
    <% else %>
      <h2 class="page-title text-center">店家正在准备好货，敬请期待</h2>
    <% end %>

  </div>
</div>

<% if @products.size > 6 %>
  <br />
  <div class="load-more" data-container='.store-list' data-ele='.p-item' data-ref='<%= request.path %>'>加载更多</div>
<% end %>

<%= render partial: 'new_share' %>

<div class="req-snode-modal pop-bg hidden">
  <div class="pop-content">
    <div class="alert">
      <div class="req-snode-group">
        <div class="page-title">留下手机号，现金礼品拿不停！</div>
        <p><input type="tel" name="mobile" placeholder='输入手机号，获得分享收益' class='input-block' /></p>
        <br />
        <p>
        <%= link_to "领取友情卡", get_seller_sharing_path, data: { sid: @seller.id },
          class: "btn btn-large btn-block req-pro-snode-btn" %>
        </p>
      </div>
      <div class="hidden">
        <p>您已成功领取，赶紧分享给朋友吧</p>
        <br />
        <a class="btn btn-large btn-block pro-snode-success-btn">确定</a>
      </div>
    </div>
  </div>
</div>
