<table class="list-table">
  <thead>
    <th class="text-left">默认地址</th>
    <th>联系人</th>
    <th>联系电话</th>
    <th>联系地址</th>
    <th>邮政编码</th>
    <th>备注</th>
    <th>操作</th>
  </thead>
  <% user_addresses.each do |obj| %>
    <tr>
      <td class="text-left">
        <% if obj.default_post_address == 'true' %>
          <span class='btn red-btn'>发货</span>
        <% end %>
        <% if obj.default_get_address == 'true' %>
          <span class='btn'>退货</span>
        <% end %>
      </td>
      <td><%= obj.username %></td>
      <td><%= obj.mobile %></td>
      <td><%= obj.to_s %></td>
      <td><%= obj.post_code %></td>
      <td><%= obj.note %></td>
      <td>
        <%= link_to '编辑', url_for(controller: 'admin/user_addresses', action: :edit, id: obj.id) %>
        <% if obj.usage['default_get_address'] == 'false' && obj.default_post_address == 'false' %>
          <%= link_to '删除', url_for(controller: 'admin/user_addresses', action: :destroy, id: obj.id), method: :delete, data: {confirm: '确认删除么？'} %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<br />
<%= paginate user_addresses %>
