
<div class="content">
	<div class="close"><i class="fa fa-times"></i></div>
	<p class="title">
		<span class="name"></span>
		<span><%= link_to '地址管理', url_for(controller: 'admin/user_addresses', action: :index), target: '_blank' %></span>
	</p>
	<table class="address-table">
    <% user_addresses.each do |user_address_item| %>
  		<tr class="check_default_address" id="<%= user_address_item.id %>">
  			<td><%= user_address_item.username %></td>
  			<td><%= user_address_item.mobile %></td>
  			<td><%= user_address_item.to_s %></td>
  			<td><%= user_address_item.post_code %></td>
  			<td>
  				<%= user_address_item.note %>
  				&nbsp;
  			</td>
  		</tr>
    <% end %>
	</table>
</div><!-- content -->
