<div class="container verify_codes_wrapper">
	<table class="list-table" id="verify_codes">
    <thead>
      <tr>
        <th>商品名称</th>
        <th>验证时间</th>
        <th>验证券密码</th>
      </tr>
    </thead>
    <tbody>
      <% @verify_codes.each do |verify_code| %>
        <tr>
          <td class="text-left">
            <% if verify_code.target_type == 'DishesOrder' %>
              菜品验证
              <%= link_to '详情', '#', class: 'btn' %>
            <% else %>
              <%= link_to admin_service_product_path(get_product(verify_code)) do %>
                <%= image_tag(verify_code.order_item.product.image_url(:thumb), size: "80x80", alt: "-") %>　
                <%= verify_code.order_item.product.name %>
              <% end %>
            <% end %>
          </td>
          <td><%= verify_code.updated_at %></td>
          <td><%= verify_code.code %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
