<div class="container verify_codes_wrapper">
	<table class="list-table" id="verify_codes">
    <thead>
      <tr>
        <th>商品名称</th>
        <th>验证时间</th>
        <th>验证券密码</th>
      </tr>
    </thead>
    <tbody>
      <% @verify_codes.each do |verify_code| %>
        <tr>
          <td class="text-left">
            <%= link_to verify_code_target_url(verify_code) do %>
              <%= image_tag(get_product(verify_code).image_url(:thumb), size: "80x80", alt: "-") %>　
              <%= get_product(verify_code).name %>
            <% end %>
          </td>
          <td><%= verify_code.updated_at %></td>
          <td><%= verify_code.code %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
