<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
    <li><%= link_to '我的供货商', my_suppliers_admin_sellers_path %></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
    <li>供货店铺：<%= @supplier_store.store_identify %></li>
	</ul>
</div>
<br />
<div class="container">
  <div class="info-bar">
    <div class="store-info">
      <%= image_tag(@supplier_store.store_cover.url(:thumb)) %>
      <div class="main-info">
        <div class="store-name"><%= @supplier_store.store_identify %></div>
        <div class="short-description"><%= @supplier_store.store_short_description %></div>
      </div>
      <div class="count-info">
        <div class="agencies-count">
          <div class="count-value"><%= @statistics[:agencies_count] %></div>
          <div class="count-name">代销商</div>
        </div>
        <div class="products-count">
          <div class="count-value"><%= @statistics[:products_count] %></div>
          <div class="count-name">商品</div>
        </div>
      </div>
    </div>
    <div class="contacts">
      <div class="phone">手机：<%= @supplier_store.phone_number %></div>
      <div class="wechat">微信：<%= @supplier_store.wechat_id %></div>
    </div>
  </div>
</div>
<div class="container mod-inner">
  <div class="box-list store-list">
    <%= render partial: 'admin/agency_products/product', collection: @supplier_products %>
  </div>
</div>

<%= paginate @supplier_products %>
