<%= content_for :page_title do %>
  <% if params[:redirect] == 'discourse' %>
    登录优创客
  <% else %>
    登录UBOSS
  <% end %>
<% end %>

<div class='login-container <%= @using_password ? 'using-pwd' : 'using-cap' %>'>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name, redirect: params[:redirect])) do |f| %>
    <% if params[:redirect] == 'discourse' %>
      <h2>优创客联盟</h2>
    <% else %>
      <h2>UBOSS</h2>
    <% end %>
    <hr />

    <div class='login-type-acs row'>
      <a class="lpwd-btn col-md-6" href="#">已有账户</a>
      <a class="lcap-btn col-md-6" href="#">验证码登陆/注册</a>
    </div>
    <div class="form-inputs">
      <%= f.input :login, required: false, autofocus: true, input_html: {id: 'new_mobile'} %>


      <div class="cap-inputs">
        <%= f.input :image_captcha do %>
          <div class='clearfix'>
            <div class='simple_captcha_image pull-left'>
              <%= login_simple_captcha_components[:image] %>
            </div>

            <div class='simple_captcha_field'>
              <%= login_simple_captcha_components[:field] %>
            </div>
          </div>
        <% end %>

        <%= login_simple_captcha_components[:refresh_button] %>

        <a id="request_mobile_captcha" class="btn btn-primary" href="#">发送短信验证码</a>

        <%= f.input :mobile_auth_code %>

      </div>

      <div class="cap-inputs form-group">
        <small>未开通UBOSS账号的用户，点击确认表明您已同意<a href="<%= agreements_register_path %>" target='_blank'>《UBOSS用户注册协议》</a>，自动为您开通UBOSS账号</small>
      </div>

      <div class='pwd-inputs'>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean, label: '下次自动登录' if devise_mapping.rememberable? %>
      </div>

    </div>

    <div class="button_div">
      <%= f.submit "确认", class: 'btn btn-primary col-md-12' %>
    </div>

    <% if !browser.wechat? %>
      <div class="button_div  col-xs-12"  style="margin: 10px 0 10px 0;">
        <% if params[:redirect] == 'discourse' %>
          <%= link_to "返回主页", ENV['DISCOURSE_URL'], class: "btn btn-large btn-link col-xs-12"%>
        <% else %>
          <%= link_to "返回主页", root_path, class: "btn btn-large btn-link col-xs-12"%>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
