<div class="container evaluations_wrapper">
	<table class="list-table" id="verify_codes">
    <thead>
      <tr>
        <th></th>
        <th>团购名称</th>
        <th>消费时间</th>
        <th>评价时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |item| %>
        <tr>
          <td class='none-border-bottom'>
					  <%= link_to admin_service_product_path(item.product) do %>
              <%= image_tag(item.product.image_url(:thumb), size: "80x80", alt: "-") %>
            <% end %>
          </td>
          <td class="text-left none-border-bottom">
            <%= link_to '#' do %>
              <%= item.product.name %>
            <% end %>
          </td>
          <td class='none-border-bottom'><%= item.verified_time %></td>
          <td class='none-border-bottom'><%= item.evaluations.try(:first).try(:created_at) %></td>
          <td class='none-border-bottom'></td>
        </tr>
        <% if item.evaluations.size == 0 %>
          <tr>
            <td>
              <p><%= item.user.mobile %></p>
              <p>5 分</p>
            </td>
            <td colspan='2' class="text-left">消费者未填写内容评价</td>
            <td colspan='2'></td>
          </tr>
        <% else %>
          <% size = item.evaluations.size %>
          <% item.evaluations.each_with_index do |evaluat, index| %>
            <tr>
              <% if index == 0 %>
                <td rowspan=<%= size %>>
                  <p><%= evaluat.user.mobile %></p>
                  <p><%= Evaluation.statuses[evaluat.status] %>分</p>
                </td>
              <% end %>
              <td colspan='2' class="text-left <%= ((size != 1) && (index != size-1))? 'none-border-bottom':''%>">
                <%= evaluat.content %>
              </td>
              <td colspan='2' class="text-left <%= ((size != 1) && (index != size-1) )? 'none-border-bottom':''%>"></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
