<%= render 'public' %>

<br />
<div class="container">
	<div class="header-tab">
		<%= link_to "评价详情", admin_evaluations_path, class:"tab-title" %>
		<%= link_to "商品统计", statistics_admin_evaluations_path, class:"tab-title" %>
		<div class="tab-title active">菜品统计</div>
	</div>
</div>
<br />

<div class="container">
	<table class="list-table" id="verify_codes">
    <thead>
      <tr>
        <th>商品名称</th>
        <th>力荐数量</th>
        <th>发布时间</th>
      </tr>
    </thead>
    <tbody>
      <% @dishes.each do |product| %>
        <tr>
          <td class="text-left">
					  <%= link_to admin_dishes_product_path(product) do %>
              <%= image_tag(product.image_url(:thumb), size: "80x80", alt: "-") %>　
              <%= product.name %>
            <% end %>
          </td>
          <td></td>
          <td><%= product.created_at.to_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
