<%= render 'public' %>
<br />
<div class="container">
	<div class="header-tab">
		<div class="tab-title active">评价详情</div>
		<%= link_to "团购统计", statistics_admin_evaluations_path, class:"tab-title" %>
	</div>
</div>
<br />

<div class="container">
	<table class="list-table" id="verify_codes">
    <thead>
      <tr>
        <th></th>
        <th>团购名称</th>
        <th>消费时间</th>
        <th>评价时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |item| %>
        <tr>
          <td>
					  <%= link_to admin_service_product_path(item.product) do %>
              <%= image_tag(item.product.image_url(:thumb), size: "80x80", alt: "-") %>
            <% end %>
          </td>
          <td class="text-left">
            <%= link_to '#' do %>
              <%= item.product.name %>
            <% end %>
          </td>
          <td><%= item.verified_time %></td>
          <td><%= item.evaluations.try(:first).try(:created_at) %></td>
          <td></td>
        </tr>
        <% if item.evaluations.size == 0 %>
          <tr>
            <td>
              <p><%= item.user.mobile %></p>
              <p>5 分</p>
            </td>
            <td colspan='2' class="text-left">消费者未填写内容评价</td>
            <td colspan='2'></td>
          </tr>
        <% else %>
          <% item.evaluations.each do |evaluat| %>
            <tr>
              <td>
                <p><%= evaluat.user.mobile %></p>
                <p><%= Evaluation.statuses[evaluat.status] %>分</p>
              </td>
              <td colspan='2' class="text-left">
                <%= evaluat.content %>
              </td>
              <td colspan='2' class="text-left"></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
