<div class='order_tables_wrapper'>
  <%= render partial: 'order_tab', locals: { obj: @type, orders: @orders } %>
  <%= simple_form_for Order.new, url: select_orders_admin_orders_path, remote: true do |f| %>
    <table class="list-table">
      <thead>
        <tr>
          <td class='text-left'>
            <label class='select_all_orders'>
              <%= check_box_tag 'select_all', 'select_all'%>
              <span>全选</span>
            </label>
            <!--%= f.submit '批量发货', class: 'btn' %--!>
          </td>
          <td>商品</td>
          <td>单价/数量</td>
          <td>售后</td>
          <td>买家</td>
          <td>交易状态</td>
          <td>实付款</td>
        </tr>
      </thead>
      <% @orders.each do |order| %>
        <tr class='line'></tr>
        <tr class='table-content'>
          <td colspan='7' class='greyish_white_back_color text-left'>
            <label>
              <%= check_box_tag 'ids[]', order.id, false, disabled: !order.may_ship?, class: "check_box_tag" %>
              <span>订单编号: <%= order.number %></span>
              <%= order_tag(order) %>
            </label>
            <span class='order_created_at'>创建时间: <%= order.created_at %></span>
          </td>
        </tr>
        <% size = order.order_items.size %>
        <% order.order_items.each_with_index do |item, index| %>
          <tr class='table-content'>
            <td colspan='2' class='text-left none-border-right'>
              <%= image_tag(item.product_inventory.product.avatar.url(:thumb), size: "40x40", alt: "-") %>
              <div>
                <%= link_to admin_product_path(item.product_inventory.product), class: 'main-link-color' do %>
                  <%= item.product_inventory.product.name %>
                <% end %>
                <% item.product_inventory.properties.each do |property| %>
                  <span class='color'><%= property.key %> : <%= property.value %></span>
                <% end %>
              <div>
            </td>
            <td class='none-border-left'><%= item.present_price %>(<%= item.amount %>件)</td>
            <td>
              <% if (refund = item.last_refund) && refund.present? && can?(:manage, order) && !order.is_a?(AgencyOrder) %>
                <%= link_to admin_refund_state(refund), [:admin, item, :order_item_refunds],
                  class: "main-link-color #{refund_text_color(refund)}" %>
              <% end %>
            </td>
            <% if index == 0 %>
              <td rowspan=<%= size %>>
                <%= link_to order.buyer_identify, nil, class: 'main-link-color' %>
                <p>联系买家
                  <%= link_to admin_product_path(item.product_inventory.product), class: 'buyer_phone' do %>
                    <i class="fa fa-phone"></i>
                  <% end %>
                </p>
                <p>买家留言:<%= order.to_seller %></p>
              </td>
              <td rowspan=<%= size %>>
                <%= order.state_i18n %>
                <%= link_to '详情', admin_order_path(order), class: 'main-link-color' %>
                <% if order.payed? && can?(:manage, order) %>
 <%= link_to '发货', set_express_admin_order_path(order), 'data-buyer-info': "#{order.username}, #{order.mobile}, #{order.address}", 'data-message': order.to_seller, class: 'btn express-order-btn' if can?(:delivery, order) && !order.is_a?(AgencyOrder) %>
                <% end %>
              </td>
              <td rowspan=<%= size %>>
                <%= order.pay_amount %>
                <p>(含快递:<%= order.ship_price %>)</p>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
  <br />
  <%= paginate @orders %>
</div>
