<ul class="nav nav-tabs nav-justified">
  <li class="<%= active_for(:all, obj) %>"><%= link_to '全部', admin_orders_path(type: 'all'), remote: true %></li>
  <li class="<%= active_for(:unpay, obj) %>"><%= link_to "待付款(#{Order.unpay.size})", admin_orders_path(type: 'unpay'), remote: true %></li>
  <li class="<%= active_for(:payed, obj) %>"><%= link_to "待发货(#{Order.payed.size})", admin_orders_path(type: 'payed'), remote: true %></li>
  <li class="<%= active_for(:shiped, obj) %>"><%= link_to "物流中(#{Order.shiped.size})", admin_orders_path(type: 'shiped'), remote: true %></li>
  <li class="<%= active_for(:completed, obj) %>"><%= link_to "已完成(#{Order.completed.size})", admin_orders_path(type: 'completed'), remote: true %></li>
</ul>
