<%= render 'layouts/flash_alert' if request.xhr? %>
<div class="box-w70">
  <div class="admin-border admin-border-order-info">
    <p class='number'><span class='btn red-btn' style="margin-right:10px;">第一步</span>订单编号 : <%= order.number %>
    	<!--
    		<small class="pull-right"><%= order.username %> 促成的 二级订单</small>
    	-->

    </p>
    <div class="index_list">
      <table class="list-table order_info_tables">
        <thead>
          <tr>
            <th>商品</th>
            <th>商品属性</th>
            <th>状态</th>
            <th>单价(元)</th>
            <th>数量</th>
            <th>优惠</th>
            <th>商品总价</th>
          </tr>
        </thead>
        <tbody>
          <% order.order_items.each_with_index do |item, index| %>
            <tr class='table-content'>
              <td class='text-left'>
                <%= link_to [:admin, item.product], class: 'main-link-color' do %>
                  <%= image_tag(item.product.avatar.url(:thumb), size: "40x40", alt: "-") %>
                  <%= item.product.name %>
                <% end %>
              </td>
              <td>
                <% item.product_inventory.properties.each do |property| %>
                  <p class='attribute'><%= property.key %> : <%= property.value %></p>
                <% end %>
              </td>
              <td><%= order.state_i18n %></td>
              <td><%= item.present_price %></td>
              <td><%= item.amount %></td>
              <td><%= item.privilege_amount * item.amount %></td>
              <td>
                <%=item.pay_amount%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <p class="date_time"> <span class="pull-right">快递：<%= order.ship_price %></span> </p>
    <p class='date_time'>下单时间 : <%= order.created_at %><span class="pull-right">实收款： <span class='main-color font-size-max'><%= order.pay_amount %></span>元</span></p>
  </div>
  <div class="admin-border admin-border-order-info">
    <p class='logistics_info'>收货及物流信息</p>
    <p>收货地址 : <%= order.username %>, <%= order.mobile %>, <%= order.address %></p>
    <p>运送方式 : 快递</p>
    <p>买家留言 : <%= order.to_seller %></p>
  </div>

  <div class="admin-border admin-border-order-info address-list-box">

    <div class='bottom_line'>
      <p class='logistics_info'><span class='btn red-btn' style="margin-right:10px;">第二步</span>确认发货/退货信息</p>
      <p>我的发货信息 : <%= current_user.default_post_address %> <span class="pull-right address-alert" title="发货地址">修改发货地址</span></p>
      <p>我的退货信息 : <%= current_user.default_get_address %> <span class="pull-right address-alert" title="退货地址">修改退货地址</span></p>
      <%= hidden_field_tag 'order_id',  order.id, id:'order_id' %>
    </div>
    <div id="address-list-box" class="hidden">
    	<div class="content">
    		<div class="close"><i class="fa fa-times"></i></div>
	    	<div class="title">
	    		<span class="name"></span>
	    		<span><%= link_to '地址管理', url_for(controller: 'admin/user_addresses', action: :index), target: '_blank' %></span>
	    	</div>
	    	<table>
          <% (@user_addresses || []).each do |obj| %>
  	    		<tr>
  	    			<td><input type="checkbox" class="check_default_address" id="<%= obj.id %>"/></td>
  	    			<td><%= obj.username %></td>
  	    			<td><%= obj.mobile %></td>
  	    			<td><%= obj.to_s %></td>
  	    			<td><%= obj.post_code %></td>
  	    			<td>
  	    				<%= obj.note %>
  	    				&nbsp;
  	    			</td>
  	    		</tr>
          <% end %>
	    	</table>
    	</div><!-- content -->
    </div><!-- title -->
    <div class='evaluate'>
      <p>发货时间 : <%= order.shiped_at || '未发货' %></p>
      <p>快递公司 : <%= order.express.try(:name) %></p>
      <p>快递单号 : <%= order.ship_number %></p>
      <!-- <p class='float&#45;left'>物流跟踪 : </p> -->
      <!-- <div class='logistics_tracking'> -->
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="box-w30">
  <div class="admin-border admin-border-order-info">
    <p class='pay_number'>支付流水号 : <%= order.order_charge.pay_serial_number%></p>
    <p>付款方式 : <%= order.order_charge.payment_i18n %></p>
    <p>付款时间 : <%= order.order_charge.paid_at %></p>
    <p>付款金额 : <%= order.paid_amount %></p>
  </div>
  <div class="admin-border admin-border-order-info">
    <p class='complete_and_evaluate'>完成交易</p>
    <p>确认收货时间 : <%= order.completed_at %></p>
  </div>
  <div class="admin-border admin-border-order-info">
    <p class='after_sale'>售后</p>
  </div>
</div>
