<div class='row text-center orders-heading-info'>
  <div class='col-md-4'>
    <p>等待发货</p>
    <b><%= @unship_amount %></b>
  </div>
  <div class='col-md-4'>
    <p>今日销量</p>
    <b><%= @today_selled_amount %></b>
  </div>
  <div class='col-md-4'>
    <p>售后处理</p>
    <b><%= @shiped_amount %></b>
  </div>
</div>

<hr>

<%= table_for(@orders) do |t| %>
  <%= t.cell :created_at %>
  <%= t.cell :number do |order| %>
    <%= link_to order.number, [:admin, order] %>
  <% end %>
  <%= t.cell :buyer_identify %>
  <%= t.cell(:state) do |order| %>
    <span class='label state-<%= order.state %>'><%= order.state_i18n %></span>
  <% end %>
  <%= t.cell :action do |order| %>
    <% if order.payed? %>
      <%= link_to '发货', [:ship, :admin, order],
        class: 'btn btn-primary btn-xs', method: :PATCH, data: { confirm: '确认发货?' } %>
    <%- end%>
  <%- end%>
<%- end %>

<%= paginate @orders %>
