<div class="container  admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>订单</li>
	</ul>
</div><!-- container -->
<br />
<div class="container nogap admin-order-index-wrapper">
	<div class="box-w25">
		<div class="admin-box red-bg-color">
			<h4>等待发货</h4>
			<h1 class="num"><%= @unship_amount %></h1>
		</div>
	</div>
	<div class="box-w25">
		<div class="admin-box main-bg-color">
			<h4>今日订单数</h4>
			<h1 class="num"><%= @today_selled_amount %></h1>
		</div>
	</div>
	<div class="clear"></div>
	<br />
	<div class="box-w100">
		<table class="list-table">
			<thead>
        <tr>
          <td class='text-left'>全选</td>
          <td>商品</td>
          <td>单价/数量</td>
          <td>买家</td>
          <td>交易状态</td>
          <td>实付款</td>
        </tr>
			</thead>
			<% @orders.each do |order| %>
        <tr class='line'></tr>
        <tr class='table-content'>
          <td colspan='6' class='greyish_white_back_color text-left'>
            <span>订单编号: <%= order.number %></span>
            <span class='order_created_at'>创建时间: <%= order.created_at %></span>
          </td>
        </tr>
        <% size = order.order_items.size %>
        <% order.order_items.each_with_index do |item, index| %>
          <tr class='table-content'>
            <td colspan='2' class='text-left none-border-right'>
              <%= image_tag(item.product.avatar.url(:thumb), size: "40x40", alt: "-") %>
              <div>
                <%= link_to [:admin, item.product], class: 'main-link-color' do %>
                  <%= item.product.name %>
                <% end %>
                <span class='size'>尺寸:</span>
                <span class='color'>颜色分类:</span>
              <div>
            </td>
            <td class='none-border-left'><%= item.product.present_price %>(1件)</td>
            <% if index == 0 %>
              <td rowspan=<%= size %>>
                <%= link_to order.buyer_identify, nil, class: 'main-link-color' %>
                <p>联系买家
                  <%= link_to [:admin, item.product], class: 'buyer_phone' do %>
                    <i class="fa fa-phone"></i>
                  <% end %>
                </p>
                <p>买家留言:<%= order.to_seller %></p>
              </td>
              <td rowspan=<%= size %>>
                <%= order.state_i18n %>
                <%= link_to '详情', [:admin, order], class: 'main-link-color' %>
                <% if order.payed? && can?(:manage, order) %>
                  <%= link_to '发货', [:ship, :admin, order],
                    class: 'btn', method: :PATCH, data: { confirm: '确认发货?' } %>
                <% end %>
              </td>
              <td rowspan=<%= size %>>
                <%=order.pay_amount%>
                <p>(含快递:<%= order.ship_price %>)</p>
              </td>
            <% end %>
          </tr>
        <% end %>
			<% end %>
		</table>
		<br />
		<%= paginate @orders %>
	</div>
</div><!-- container-->
<br />
