<div class='row text-center orders-heading-info'>
  <div class='col-md-4'>
    <p>等待发货</p>
    <b><%= @unship_amount %></b>
  </div>
  <div class='col-md-4'>
    <p>今日销量</p>
    <b><%= @today_selled_amount %></b>
  </div>
  <div class='col-md-4'>
    <p>售后处理</p>
    <b><%= @shiped_amount %></b>
  </div>
</div>

<%= table_for(@orders) do |t| %>
  <%= t.cell :created_at %>
  <%= t.cell :number %>
  <%= t.cell :buyer_regist_mobile %>
  <%= t.cell(:state) { |order| order.state_i18n } %>
  <%= t.cell :action do |order| %>
    <%= link_to 'Show', [:admin, order] %>
  <%- end%>
<%- end %>

<%= paginate @orders %>
