<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-angle-right"></i></li>
		<li><%= link_to '订单', admin_orders_path %></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active">订单详情</li>
	</ul>
</div><!-- container -->
<br />
<div class="container admin_orders_show_order_wrapper">
	<div class="admin-border no-border">
		<div class="box-w100">
      <span class="order-info-state label label-default"><%= @order.state_i18n %></span>
      <% if @order.may_close? && can?(:close, @order) %>
        <a class="btn btn-sm" href="#" data-toggle="modal" data-target="#close_admin_order_modal">关闭交易</a>
      <% end %>
      <div class='buyer-info'>
        <span>买家 : <%= @order.buyer_identify %><span>
        <%= link_to '联系买家', nil, class: 'contact-buyer' %>
      </div>
		</div>
  </div>
	<div id="order_info_partial">
		<%= render partial: 'order_info', locals: { obj: @type, order: @order } %>
	</div>


</div>

<div class="modal fade" id="close_admin_order_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p class="text-center close_title" id="myModalLabel">你确认关闭交易么</p>
      <p class='text-center close_info'>请您在与买家达成一致的前提下, 使用关闭交易这个功能哟!</p>
      <div class="text-center close_btn">
        <button type="button" class="btn btn-default" data-dismiss="modal">点错了</button>
        <%= link_to '关闭交易', close_admin_order_path(@order), class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
