<div class="container admin-container">
  <ul class="breadcrumb">
    <li><a href="/admin">主页</a></li>
    <li class="divider"><i class="fa fa-caret-right"></i></li>
    <li>店铺设置</li>
  </ul>
</div>
<br />
<div class="container">
  <h3 cclass="page-title">店铺设置</h3>

  <%= horizon_form_for @seller, url: {:action=>:update}, method: 'PATCH' do |f| %>
    <div class="admin-box black-bg-color">
    	<div class="box-w85 nogap-left">
	      <%= f.input :store_name %>
	      <%= f.input :store_short_description, hint: '请控制在20字以内，以保证显示效果' %>
      </div>
      <div class="box-w15 nogap-right">
        <div class="gap white-bg-color">
        	<%= qrcode_image_tag store_url(shared: true) %>
        </div>
      </div>
    </div>
    <br />
    <div class="admin-box black-bg-color">
      <%= f.input :store_cover, hint:"(点击图片进行替换)"  do %>
        <%= f.input_field :store_cover, type: :hidden, as: :file %>
        <p><span class="text-margin">建议上传比例为1:1的图片，最佳尺寸为<b style="color: red;">600x600</b>像素</span></p>
        <p class="fileinput-button">
          <% if @seller.user_info.store_cover_identifier.blank? %>
            <%= image_tag("admin/no-img.png") %>
          <% else %>
            <%= image_tag(@seller.store_cover.url(:w320))%>
          <% end %>
          <%= upyun_meta_tags prefix: "user_info/store_cover" %>
          <%= file_field_tag "st_c_image", class: "upyun_file_closest" %>
          <b class="loading"><i class="fa fa-spinner"></i></b>
        </p>
      <% end %>
    </div>
    <br />
    <div class="admin-box black-bg-color">
      <h4>店铺轮播图片</h4>
      <p>请上传规格为640x320px规格像素的图片，以保证显示效果</p>
      <p>不设置热销商品的图片，能正常显示，无点击效果</p>
      <% store_banner_sets.each do |image, source| %>
        <div class="box-w30">

          <%= f.input image, label: false do %>
            <%= f.input_field image, type: :hidden, as: :file %>
            <span class="fileinput-button">
              <% if f.object.__send__("#{image}_identifier").blank? %>
                <%= image_tag("admin/no-img.png") %>
              <% else %>
                <%= image_tag(f.object.__send__("#{image}_url", :w320)) %>
              <% end %>
              <%= upyun_meta_tags prefix: "user_info/#{image}" %>
              <%= file_field_tag "business_license_img", class: "upyun_file_closest" %>
              <b class="loading"><i class="fa fa-spinner"></i></b>
            </span>
          <% end %>

          <%= f.input_field source, as: :select, collection: @seller.ordinary_products.published.hots, prompt: '请选择一个热销商品' %>
        </div>
      <% end %>
    </div>
    <br />
    <div class="text-center">
      <%= f.submit '提交', class: 'btn btn-large red-btn' %>
    </div>
  <% end %>
</div>
