<div class="row text-center">
  <div class="col-xs-3"></div>
  <div class="col-xs-2">
    <div>今日入住商家</div>
    <b style="font-size:3em;"><%= current_user.seller_today_joins.count %></b>
  </div>
  <div class="col-xs-2">
    <div>待审核商家</div>
    <b style="font-size:3em;"><%= current_user.seller_total_joins.where(authenticated: 0).count %></b>
  </div>
  <div class="col-xs-2">
    <div>总签约商家</div>
    <b style="font-size:3em;"><%= current_user.seller_total_joins.count %></b>
  </div>
</div>
<hr/>
<div class="row text-center">
  <% if current_user.domain_name.present? %>
    我的商家绑定链接:<%= "http://#{request.env["HTTP_HOST"]}/sellers/new?domain_name=#{current_user.domain_name}" %>
  <% else %>
    您的域名还未设置,请点击<%= link_to '这里', edit_admin_account_path %>设置域名
  <% end %>
</div>
<hr/>
<div id="index_list">
  <%= table_for(@sellers) do |t| %>
    <%= t.cell :seller_name do |obj| %>
      <%= link_to url_for(controller: 'admin/sellers', action: :show, id: obj) do %>
      <div class="col-sm-3">
        <%= image_tag(obj.avatar, size: "100x80", alt: "-") %>
      </div>
      <div class="col-sm-9">
        <div class="col-sm-12">商家名称：<%= obj.identify %></div>
      </div>
      <% end %>
    <% end %>
    <%= t.cell :sharer_good_reputation_rate do |obj| %>
      <%= Evaluation.sharer_good_reputation_rate(obj) %>
    <% end %>
    <%= t.cell :created_at %>
    <%= t.cell :login %>
    <%= t.cell :authenticated do |obj| %>
      <%= User::DATA_AUTHENTICATED[obj.authenticated] %>
    <% end %>
  <%- end %>
  <%= paginate @sellers %>
</div
