<div class="container nogap">
  <div class="box-w20">
  	<div class="admin-box main-bg-color">
			<h4>今日入住商家</h4>
			<h1 class="num"><%= current_user.seller_today_joins.count %></h1>
		</div>
		<br />
  </div>
  <div class="box-w20">
  	<div class="admin-box yellow-bg-color">
			<h4>待审核商家</h4>
			<h1 class="num"><%= current_user.seller_total_joins.group(:authenticated).count[0] || 0 %></h1>
		</div>
		<br />    
  </div>
  <div class="box-w20">
  	<div class="admin-box red-bg-color">
			<h4>总签约商家</h4>
			<h1 class="num"><%= current_user.seller_total_joins.count %></h1>
		</div>
		<br />    
  </div>
</div>
<hr/>
<div class="container">    
	<div class="col-xs-3">
		我的商家绑定链接:
	</div>
	<div class="col-xs-9">
	  <%= new_seller_url(agent_code: current_user.agent_code) %>
	</div>
	<div class="col-xs-3">
		我的创客邀请码:
	</div>
	<div class="col-xs-9">
	  <%= current_user.find_or_create_agent_code %>
	</div>      
</div>
<hr/>
<div id="index_list" class="container">
  <%= table_for(@sellers) do |t| %>
    <%= t.cell :seller_name do |obj| %>
      <%= link_to url_for(controller: 'admin/sellers', action: :show, id: obj) do %>
      <div class="" style="width:370px;float:left;">
        <div class="col-sm-3">
          <%= image_tag(obj.avatar, size: "100x80", alt: "-") %>
        </div>
        <div class="col-sm-9"  style="padding-top:15px;">
          <div class="col-sm-12">商家名称：<%= obj.identify %></div>
          <div class="col-sm-12">绑定手机：<%= obj.login %></div>
        </div>
      </div>
      <% end %>
    <% end %>
    <%= t.cell :sharer_good_reputation_rate do |obj| %>
      <%= Evaluation.sharer_good_reputation_rate(obj) %>
    <% end %>
    <%= t.cell :created_at %>
    <%= t.cell :service_rate do |obj| %>
      <%= obj.user_info.try(:service_rate) %>%
    <% end %>
    <% if current_user.super_admin? %>
      <%= t.cell :agent do |obj| %>
        <% if obj.agent.present? %>
          <%= link_to obj.agent.identify, url_for(controller: :agents, action: :show, id: obj.agent_id) %>
        <% end %>
      <% end %>
    <% end %>
    <%= t.cell :authenticated do |obj| %>
      <% if obj.authenticated == 'no' %>
        <span class='label label-danger'><%=  User::DATA_AUTHENTICATED[obj.authenticated] %></span>
      <% else %>
        <span class='label label-success'><%=  User::DATA_AUTHENTICATED[obj.authenticated] %></span>
      <% end %>

    <% end %>
  <%- end %>
  <%= paginate @sellers %>
</div>
