<div class="container  admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>商家</li>
	</ul>
</div>
<br />
<div class="container nogap">
	<div class="box-w80 nogap">
	  <div class="box-w25">
	  	<div class="admin-box main-bg-color">
				<h4>今日入住商家</h4>
				<h1 class="num"><%= current_user.seller_today_joins.count %></h1>
			</div>
			<br />
	  </div><!-- box-w25 -->
	  <div class="box-w25">
	  	<div class="admin-box yellow-bg-color">
				<h4>待审核商家</h4>
				<h1 class="num"><%= current_user.seller_total_joins.unauthenticated_seller_identify.count %></h1>
			</div>
			<br />
	  </div><!-- box-w25 -->
	  <div class="box-w25">
	  	<div class="admin-box red-bg-color">
				<h4>总签约商家</h4>
				<h1 class="num"><%= current_user.seller_total_joins.count %></h1>
			</div>
			<br />
	  </div><!-- box-w25 -->
	  <div class="box-w25">
			<div class="admin-box blue-bg-color">
				<h4>我的创客邀请码</h4>
				<h1 class="num"><%= current_user.find_or_create_agent_code %></h1>
			</div>
			<br />
		</div><!-- box-w25 -->
		<div class="box-w100">
			<div class="admin-box">
				<h4>我的商家绑定链接:</h4>
			  <div class="text"><%= new_seller_url(agent_code: current_user.agent_code) %></div>
			</div>
			<br />
		</div><!-- box-w100 -->
	</div> <!-- box-w80 -->
	<div class="box-w20">
		<div class="qrcode-box text-center">
			<h4>商家绑定二维码</h4>
      <%= qrcode_image_tag(new_seller_url(agent_code: current_user.agent_code)) %>
		</div>
	</div>
</div>

<div class="container">
	<table class="list-table">
		<thead>
			<th>商家</th>
			<th>好评率</th>
			<th>提成比例</th>
			<th>入驻时间</th>
			<th>账号</th>
			<% if current_user.is_super_admin? %>
			<th>创客</th>
			<% end %>
			<th>状态</th>
		</thead>
		<% @sellers.each do |seller| %>
		<tr class="
			<% if seller.authenticated == 'no' %>
				red-bg
			<% end %>
		">
			<td class="text-left">
				<%= link_to url_for(controller: 'admin/sellers', action: :show, id: seller) do %>
					<%= image_tag(seller.avatar, size: "60x60", alt: "-") %>　
					<%= seller.identify %>
				<% end %>
			</td>
			<td>
				<%= Evaluation.sharer_good_reputation_rate(seller) %>
			</td>
      <td>
        <% if can?(:update_service_rate, :uboss_seller) %>
          <%= link_to update_service_rate_admin_seller_path(seller.id), class: "edit-rate-btn" do %>
            <%= hidden_field_tag :platform_service_rate, seller.user_info.try(:platform_service_rate) %>
            <%= hidden_field_tag :agent_service_rate, seller.user_info.try(:agent_service_rate) %>
            <span class="rate-info-<%= seller.id %>">
              <%= seller.user_info.try(:platform_service_rate) %> | <%= seller.user_info.try(:agent_service_rate) %>
            </span>‰
          <% end %>
        <% else %>
          <%= seller.user_info.try(:platform_service_rate) %> | <%= seller.user_info.try(:agent_service_rate) %>
        <% end %>
      </td>
			<td><%= seller.created_at %></td>
			<td><%= seller.login %></td>
			<% if current_user.is_super_admin? %>
        <td>
          &nbsp;
          <% if seller.agent.present? %>
            <%= link_to seller.agent.identify, url_for(controller: :agents, action: :show, id: seller.agent_id) %>
          <% end %>
          &nbsp;
        </td>
		    <% end %>
			<td><%= User::DATA_AUTHENTICATED[seller.authenticated] %></td>
		</tr>
		<% end %>

	</table>
  <%= paginate @sellers %>
</div>

<div class="modal fade" id="service-rate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class='close' aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">服务费率</h3>
      </div>

      <%= horizon_form_for :user_info, method: :patch, remote: true do |f| %>
        <div class="modal-body">
          <%= f.input :platform_service_rate, label: '平台费率', input_html: { class: 'platform-rate' } %>
          <%= f.input :agent_service_rate, label: '创客费率', input_html: { class: 'agent-rate' } %>
        </div>

        <div class="modal-footer">
          <%= f.submit '确定', class: 'btn btn-large', data: { disable_with: '提交中...' } %>
          <button type="button" class="btn btn-large gray-btn"data-dismiss="modal">
            取消
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
