<div class="col-xs-12 bg-warning"  style="font-size:larger;">
  <div class="col-xs-2">
    <%= link_to '商家信息', '###', class:"text-muted" %>
  </div>
  <div class="col-xs-2">
    <%= link_to '提现', url_for(action: :withdraw_records, id: params[:id]) %>
  </div>
  <div class="col-xs-3 pull-right">
    <%= link_to "商家名：#{@seller.identify}", '###' %>
  </div>
</div>
<div class="row">
	<div class="col-xs-12 border_block">
		<h3 class="col-md-offset-1">基本信息</h3>
		<div class="col-xs-11 col-md-offset-1">
			<div class="form-group clearfix">
				<label class="string required text-right col-sm-3 control-label" for="product_name">
					<abbr title="必填">*</abbr>
					注册帐号
				</label>
				<div class="col-sm-9">
					<%= @seller.login %>
				</div>
			</div>
      <div class="form-group clearfix">
				<label class="string required text-right col-sm-3 control-label" for="product_name">
					<abbr title="必填">*</abbr>
					注册时间
				</label>
				<div class="col-sm-9">
					<%= @seller.created_at.to_date %>
				</div>
			</div>
      <div class="form-group clearfix">
				<label class="string required text-right col-sm-3 control-label" for="product_name">
					<abbr title="必填">*</abbr>
					关联创客
				</label>
				<div class="col-sm-9">
					<%= link_to User.find_by(id: @seller.agent_id).try(:identify), url_for(controller: :agents, action: :show, id: @seller.agent_id) %>
				</div>
			</div>
      <div class="form-group clearfix">
				<label class="string required text-right col-sm-3 control-label" for="product_name">
					<abbr title="必填">*</abbr>
					店铺链接
				</label>
				<div class="col-sm-9">
					<%= "http://#{request.env["HTTP_HOST"]}/stores/#{@seller.id}" %>
          <div class="clearfix"></div>
          <img src="http://qr.liantu.com/api.php?&text=<%= "http://#{request.env["HTTP_HOST"]}/stores/#{@seller.id}" %>" style="width:30%"/>
				</div>
			</div>
		</div>
	</div>
  <div class="col-xs-12 border_block">
    <div class="col-xs-12" style="border-bottom:2px solid grey;margin-top:10px;">
       认证状态：<%= {'yes'=>'已认证','no'=>'未认证'}[@seller.authenticated] %>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="clearfix">企业营业执照副本：</div>
        <%= image_tag(@enterprise_authentication.try(:business_license_img), class:"col-xs-12", alt: "-") %>
      </div>
      <div class="col-xs-3 ">
        <div class="clearfix">法人身份证正面：</div>
        <%= image_tag(@enterprise_authentication.try(:legal_person_identity_card_front_img), class:"col-xs-12", alt: "-") %>
      </div>
      <div class="col-xs-3">
        <div class="clearfix">法人身份证反面：</div>
        <%= image_tag(@enterprise_authentication.try(:legal_person_identity_card_end_img), class:"col-xs-12", alt: "-") %>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-xs-3 col-md-offset-3">
        <div class="clearfix">手持身份证图片：</div>
        <%= image_tag(@personal_authentication.try(:face_with_identity_card_img), class:"col-xs-12", alt: "-") %>
      </div>
      <div class="col-xs-3">
        <div class="clearfix">身份证正面：</div>
        <%= image_tag(@personal_authentication.try(:identity_card_front_img), class:"col-xs-12", alt: "-") %>
      </div>
    </div>

	</div>
  <div class="col-xs-12 border_block">
    <div class="col-xs-12" style="border-bottom:2px solid grey;padding:10px 0;">
      <%= form_for 'seller', url: url_for(controller: :sellers, action: :update_service_rate), method: :post do |f| %>
        <%= hidden_field_tag 'seller[id]', @seller.id %>
        当前平台费率：
        <%= text_field_tag 'seller[service_rate]', @seller.try(:user_info).try(:service_rate), type: :tel %>%
        <%= submit_tag '调整', class:"btn btn-info btn-xs" %>
      <% end %>
    </div>
    <table class="table table-hover">
      <tr>
        <th colspan='1'>调整时间</th>
        <th>调整前费率</th>
        <th>调整后费率</th>
      </tr>
      <% (@seller.try(:user_info).try(:service_rate_histroy) || {}).each do |k,v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v['from_service_rate'] %>%</td>
        <td><%= v['to_service_rate'] %>%</td>
      </tr>
      <% end %>
    </table>
	</div>
</div>
