<div class="col-xs-12 bg-warning">
  <div class="col-xs-2">
    <%= link_to '商家信息', url_for(action: :show, id: @seller) %>
  </div>
  <div class="col-xs-2">
    <%= link_to '提现', '###', class:"text-muted"  %>
  </div>
  <div class="col-xs-3 pull-right">
    <%= link_to "商家名：#{@seller.identify}", '###' %>
  </div>
</div>
<div class="row">
	<div class="col-xs-12 border_block">
		<h3 class="col-md-offset-1">提现历史</h3>
    <%= table_for(@withdraw_records) do |t| %>
      <%= t.cell :created_at %>
      <%= t.cell :amount %>
      <%= t.cell :number %>
      <%= t.cell :user_name do |obj| %>
        <%= obj.bank_info[:user_name] rescue nil %>
      <% end %>
      <%= t.cell :done_at %>
      <%= t.cell :state do |obj| %>
        <span class='label state-<%= obj.state %>'><%= obj.state_i18n %></span>
      <% end %>
    <%- end %>
    <%= paginate @withdraw_records %>
	</div>
</div>
