<h3>商家：<small><%= @seller.store_identify %></small></h3>
<br />

<h3>日营业额</h3>
<hr />
<%= table_for @daily_reports do |t| %>
  <%= t.cell :day %>
  <%= t.cell :amount %>
<% end %>

<%= paginate @daily_reports, param_name: :dpage %>

<br />

<h3>创客收益</h3>
<hr />
<%= table_for @agent_daily_reports do |t| %>
  <%= t.cell :day %>
  <%= t.cell :amount %>
<% end %>

<%= paginate @agent_daily_reports, param_name: :adpage  %>
