<div class='row text-center orders-heading-info'>
  <div class='col-md-6'>
    <p>今日收益</p>
    <b><%= number_to_human @today_divide_income %></b>
  </div>
  <div class='col-md-6'>
    <p>累计收益</p>
    <b><%= number_to_human @total_divide_income %></b>
  </div>
</div>

<hr />

<%= table_for @daily_reports do |t| %>
  <%= t.cell :user_store_identify do |report| %>
    <%= link_to report.user_store_identify, admin_seller_income_reports_path(report.user) %>
  <% end %>
  <%= t.cell :day %>
  <%= t.cell :amount %>
  <%= t.cell :user_service_rate do |report| %>
    <%= "#{report.user_service_rate}%" %>
  <% end %>
  <%= t.cell :pre_divide_income %>
<% end %>

<%= paginate @daily_reports %>
