<%= content_for :page_title do %>
  验证券
<% end %>

<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<% @service_orders.each do |order| %>
	
  <div class="service-order-list m-bottom10"  timestamp='<%= order.created_at %>'>
		<div class="text-cut page-title gray-color gap">商家：<%= order.seller.identify %></div>
    <% order.order_items.each do |order_item| %>
      <%= link_to account_verify_code_path(id: order_item.id) do %>
        <div class="service-order-box bg-white">
        	<div class="cover" style="background:url('<%= order_item.item_product.image_url('w120') %>');">
            <%= image_tag order_item.item_product.image_url('w120') %>
          </div>
          <div class="content line-gap">
            <p class="gray-color text-cut"><%= order_item.product_name %></p>
            <p class="main-color">有效期至：<%= strftime(order_item.product.deadline) %></p>
            <p class="gray-color">数量：<%= order_item.amount %></h4>
          </div>
        </div><!-- service-order-box -->
      <% end %>
    <% end %>
  </div>
<% end %>
