<%= content_for :page_title do %>
  验证券
<% end %>

<%= content_for :header_left do %>
  <a class="back" href="/account"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<div class="tab-nav m-top10">
	<a class="tab border-right" href="/account/verify_codes">验证券</a>
	<a class="tab active" href="/account/verify_codes/lotteries">奖券</a>
</div>
<% @activity_prizes.each do |activity_prize| %>
  <div class="lottery-list m-top10 black-color">
    <div class="title text-cut">
      <% seller = activity_prize.promotion_activity.user %>
      <% if activity_prize.promotion_activity.store_type == 'service' %>
        <%= link_to truncate(seller.service_store.store_identify, length: 16), service_store_path(seller.service_store.id), class: 'black-color' %>
      <% else %>
        <%= link_to truncate(seller.ordinary_store.store_identify, length: 16), store_path(seller.id), class: 'black-color' %>
      <% end %>
      <% if activity_prize.verify_code.verified %>
        <span class="pull-right gray-color">
          已消费
        </span>
      <% elsif activity_prize.verify_code.expired %>
        <span class="pull-right gray-color">
          已过期
        </span>
      <% else %>
        <span class="pull-right like-color">
          未使用
        </span>
      <% end %>
    </div><!-- title -->
    <%= link_to lottery_detail_account_verify_codes_path(id: activity_prize.id) do %>
      <div class="lottery-message gap black-color">
        <h4 class="text-cut">
          <%= activity_prize.activity_info.name %>
        </h4>
        <p>
        <small>
          有效期到:<%= activity_prize.expire_at.to_date %>
      </small>
      </p>
    </div><!-- lottery-message -->
    <div class="lottery-from text-cut black-color">
      <% if activity_prize.activity_type == 'share' && activity_prize.relate_winner_id %>
        <%= activity_prize.relate_winner.try(:identify) %>通过我分享的二维码获奖后我同样获取一份
      <% elsif activity_prize.activity_type == 'share' && activity_prize.sharer_id %>
        识别<%= activity_prize.sharer.try(:identify) %>分享的二维码抽奖获得
      <% elsif activity_prize.activity_type == 'live' %>
        关注公众号抽奖获得
      <% end %>
    </div><!-- lottery-from -->
  <% end %>
</div><!-- lottery-list -->
<% end %>

