<%= content_for :page_title do %>
  验证券
<% end %>

<%= content_for :header_left do %>
  <a class="back" href="/account"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<!--
<% @verify_codes.each do |verify_code| %>
  <div class="order-list">
    <span class="pl10 page-title">验证券密码：</span>
    <span class="pl10 page-title"><%= verify_code.code %></span>
    <span class="pull-right pr10"><%= verify_code.verified ? '已消费' : '未使用' %></span>
  </div>
<% end %>
-->

<div class="m-top10">
  <% @verify_codes.each_with_index do |verify_code, index| %>
    <div class="service-code bg-white gap m-bottom10">
    	<span class="pull-left gray-color">验证券密码 ：</span> 
    	<span class="main-color"><%= verify_code.code %></span> 
    	<span class="status-icon"><%= verify_code.verified ? '已消费' : '未使用' %></span>
    </div>          
  <% end %>
</div>
<br />
