<%= content_for :extra_meta_tags do %>
  <% if Rails.env.production? %>
    <%= seo_meta_tag %>
  <% end %>
<% end %>
<div class="banner text-center">
	<div class="content">
		<div class="top">
			<h1 class="main-color"><b>UBOSS</b></h1>
			<h3 class="main-color">基于人，超乎想象</h3>
			<h4><b>零成本建立线上分销移动商城</b></h4>
			<br />
		</div><!-- top -->
		<br />
		<div class="middle">
			<h4>
				<span>
					<i class="fa-circle main-color flashed1"></i> 免费建立
				</span>　
				<span>
					<i class="fa-circle main-color flashed2"></i> 裂变销售
				</span>　
				<span>
					<i class="fa-circle main-color flashed3"></i> 数据支持
				</span>
			</h4>
			<br />
		</div><!-- middle -->		
	</div><!-- content -->
</div><!-- banner -->
<div class="bg-white">
	<br/>
	<div class="page1">
		<div class="box-w100">
			<div class="title-bar">
				<div class="circle-icon">
					<i class="fa-circle fa-sm"></i>
					<i class="fa-circle fa-md"></i>
					<i class="fa-circle fa-lg"></i>
				</div>
				<div class="content">
					<h1>EFFECT</h1>
					<div><b>商家优势</b></div>
				</div>
				<div class="circle-icon">
					<i class="fa-circle fa-lg"></i>
					<i class="fa-circle fa-md"></i>
					<i class="fa-circle fa-sm"></i>
				</div>					
			</div><!-- title-bar -->
		</div>
		<br />
		<div class="box-w100">
			<p class="text-center"><%= image_tag "mobile/new_index/effect.png", alt:"商家优势",width:'70%' %>		</p>
			<br />
		</div>
		<div class="box-w50">	
			<h3 class="main-color gap"><i class="fa-circle"></i>　线下引流</h3>
			<div class="content gap">
				<p>成为UBOSS进驻商户消费者随时随地将商品分享到线上</p>
			</div><!-- content -->
			<br />
		</div>	
		<div class="box-w50">	
			<h3 class="main-color gap"><i class="fa-circle"></i>　线上传播</h3>
			<div class="content gap">
				<p>消费者帮朋友打折，给自己返现口碑分享引爆好商品销量</p>
			</div><!-- content -->
		</div>			
	</div><!-- page1 -->
	<br />
	<div class="page2 text-center">
		<br />
		<div class="box-w100">
			<div class="title-bar">
				<div class="circle-icon">
					<i class="fa-circle fa-sm"></i>
					<i class="fa-circle fa-md"></i>
					<i class="fa-circle fa-lg"></i>
				</div>
				<div class="content">
					<h1>WAY</h1>
					<div><b>商家流程</b></div>
				</div>
				<div class="circle-icon">
					<i class="fa-circle fa-lg"></i>
					<i class="fa-circle fa-md"></i>
					<i class="fa-circle fa-sm"></i>
				</div>					
			</div><!-- title-bar -->
			<p class="text-center">进行注册与认证<br/>请用电脑登录UBOSS.ME</p>
			<br />
		</div><!-- box-w100 -->
		<div class="box-w50">
			<h1>01</h1>
			<p><%= image_tag "mobile/new_index/way1.png", alt:"注册开店",width:'70%' %></p>
			<br />
			<h3>注册开店</h3>
			<p>开店完全免费</p>
			<br />
		</div>
		<div class="box-w50">			
			<h1>02</h1>
			<p><%= image_tag "mobile/new_index/way2.png", alt:"认证店铺",width:'70%' %></p>
			<br />
			<h3>认证店铺</h3>
			<p>提款需要认证</p>
			<br />
		</div>
	</div><!-- page2 -->
	<br />
	<div class="page3 text-center">
		<br />
		<div class="box-w100">
			<div class="title-bar ">
				<div class="circle-icon">
					<i class="fa-circle fa-sm"></i>
					<i class="fa-circle fa-md"></i>
					<i class="fa-circle fa-lg"></i>
				</div>
				<div class="content">
					<h1>PROFIT</h1>
					<div><b>创客收益</b></div>
				</div>
				<div class="circle-icon">
					<i class="fa-circle fa-lg"></i>
					<i class="fa-circle fa-md"></i>
					<i class="fa-circle fa-sm"></i>
				</div>					
			</div><!-- title-bar -->
			<p> 
				用一个简单的算法<br/>来说明成为UBOSS创客的强大收益
			</p>
			<br />
		</div><!-- box-w100 -->
		<div class="box-w50">
			<br />
			<p class="profit-icon profit1"></p>
			<br />
			<h4>2.5%提成</h4>
			<br />
		</div><!-- box-w50 -->
		<div class="box-w50">
			<br />
			<p class="profit-icon profit2"></p>
			<br />
			<h4>每天签订10家</h4>
			<br />
		</div><!-- box-w50 -->
		<div class="box-w50">
			<br />
			<p class="profit-icon profit3"></p>
			<br />
			<h4>每家每天50元</h4>
			<br />
		</div><!-- box-w50 -->
		<div class="box-w50">
			<br />
			<p class="profit-icon profit4"></p>
			<br />
			<h4>一年365天</h4>
			<br />
		</div><!-- box-w50 -->
		<div class="box-w100">
			<br />
			<h3>10×50×2.5％（1＋2＋…＋365）</h3>
			<h1 class="main-color" id="number" >＝8,349,375</h1>
		</div>
		<br />
	</div><!-- page3 -->
	<br />
	<div class="box-w100 nogap page4">
		<div class="box-w100">
			<br />
			<div class="title-bar ">
				<div class="circle-icon">
					<i class="fa-circle fa-sm"></i>
					<i class="fa-circle fa-md"></i>
					<i class="fa-circle fa-lg"></i>
				</div>
				<div class="content">
					<h1>WAY</h1>
					<div><b>马上体验</b></div>
				</div>
				<div class="circle-icon">
					<i class="fa-circle fa-lg"></i>
					<i class="fa-circle fa-md"></i>
					<i class="fa-circle fa-sm"></i>
				</div>					
			</div><!-- title-bar -->
			<br />		
		</div>
		<div class="box-w50"><br/><p><a href="/stores" class="btn btn-index"><%= image_tag "mobile/new_index/icon1.png"%> 店铺示例</a></p><br/></div>
		<div class="box-w50"><br/><p><a href="/sign_in" class="btn btn-index"><%= image_tag "mobile/new_index/icon2.png"%> 马上注册</a></p><br/></div>
	</div><!-- page4 -->
</div><!-- bg-white -->
<script>
	$('.container').addClass('new-index');
</script>