<%= horizon_form_for @order_item_refund, url: approved_return_admin_order_item_order_item_refund_path(@order_item, @order_item_refund), method: 'POST' do |f| %>
  <div class="modal-body">
    <p >退货地址</p>
    <table class="address-table">
      <% current_user.seller_addresses.each do |address| %>
        <tr>
        	<td><input name="return_address" type="radio" checked="<%= 'true' if address.usage['default_post_address'] == true %>" value="<%= address.id %>" /></td> 
        	<td><%= address.username %></td> 
        	<td><%= address.mobile %></td> 
        	<td><%= address.to_s %></td> 
        	<td><%= address.post_code %> <%= address.note %></td>
        </tr>
      <% end %>
    </table>
    <br />
    <p>退货说明</p>
    <textarea class="input-block" cols="60" rows="6" name="return_explain" id="return_explain" ></textarea>
    <br />
  </div>

  <div class="modal-footer">
    <%= f.submit '发送退货地址', class: "btn btn-large btn-info" %>
    <button type="button" class="btn btn-large gray-btn" data-dismiss="modal">取消</button>
  </div>
<% end %>
