<%= horizon_form_for @order_item_refund, url: approved_return_admin_order_item_order_item_refund_path(@order_item, @order_item_refund), method: 'POST' do |f| %>
  <div class="modal-body">
    <div class='form-group'>
      <label class="control-label">退货地址：</label>
      <div class="control-input">
        <ul>
          <% current_user.seller_addresses.each do |address| %>
            <li><input name="return_address" type="radio" checked="<%= 'true' if address.usage['default_post_address'] == true %>" value="<%= address.id %>" /> <%= address.username %> <%= address.mobile %> <%= address.to_s %> <%= address.post_code %> <%= address.note %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">退货说明：</label>
      <textarea class="control-input" cols="60" rows="4" name="return_explain" id="return_explain" ></textarea>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.submit '发送退货地址', class: "btn btn-info" %>
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
  </div>
<% end %>
