<% case @order_item_refund.aasm_state %>
<% when 'pending' %>
  <% type =  @order_item_refund.refund_type %>
  <% if type == 'refund' %><!-- 退款 -->
    <div class="bottom_line">
      <h3 class='refund_info_title'>请处理退款申请</h3>
      <div class="countdown-box"><p id="clock_refund" data-endtime="<%= @order_item_refund.deal_at + refund_timeout(@order_item_refund).days %>"></span></p>
      <p>* 如果未发货，请点击同意退款给买家</p>
      <p>* 如果实际已发货，请主动与买家联系</p>
      <p>* 如果您逾期未响应，视作同意买家申请，系统将自动退款给买家</p>
    </div>
    <br />
    <div class='evaluate'>
      <%= link_to '同意退款申请', 'javascripts:;', class: 'btn btn-large btn-noraidus', onclick: '$("#refund_approve_refund").modal("show")' %>
      <span>您还可以：<%= link_to '发货', [:set_express, :admin, @order_item.order], class: 'btn-link express-order-btn', onclick: '$("#ship-express-modal").modal("show")' %></span>
    </div>
    <%= render 'refund_modal', page: 'approve_refund', title: '同意退款申请' %>
    <%= render 'admin/orders/ship_express' %>

  <% elsif type == 'receipted_refund' %><!-- 已收到货 仅退款 -->
    <div class="bottom_line">
      <h3 class='refund_info_title'>请处理退款申请（已收到货 仅退款）</h3>
      <div class="countdown-box"><p id="clock_refund" data-endtime=<%= @order_item_refund.deal_at + refund_timeout(@order_item_refund).days %>></p></div><br/>
      <p>* 如果您同意，将直接退款给买家</p>
      <p>* 如果您拒绝，买家可以要求UBOSS平台介入处理</p>
      <p>* 如果您逾期未响应，视作同意买家申请，系统将自动退款给买家</p>
    </div>
    <br />
    <div class='evaluate'>
      <%= link_to '同意退款申请', 'javascripts:;', class: 'btn btn-large btn-noraidus', onclick: '$("#refund_approve_refund").modal("show")' %>
      <span>您还可以：<%= link_to '拒绝退款申请', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_decline_refund").modal("show")' %></span>
    </div>
    <%= render 'refund_modal', page: 'approve_refund', title: '同意退款申请' %>
    <%= render 'refund_modal', page: 'decline_refund', title: '拒绝退款申请' %>

  <% elsif type == 'unreceipt_refund' %><!-- 未收到货 仅退款 -->
    <div class="bottom_line">
      <h3 class='refund_info_title'>请处理退款申请（未收到货 仅退款）</h3>
      <div class="countdown-box"><p id="clock_refund" data-endtime=<%= @order_item_refund.deal_at + refund_timeout(@order_item_refund).days %>></p></div><br/>
      <p>* 如果您同意，将直接退款给买家</p>
      <p>* 如果您拒绝，买家可以要求UBOSS平台介入处理</p>
      <p>* 如果您逾期未响应，视作同意买家申请，系统将自动退款给买家</p>
    </div>
    <br />
    <div class='evaluate'>
      <%= link_to '同意退款申请', 'javascripts:;', class: 'btn btn-large btn-noraidus', onclick: '$("#refund_approve_refund").modal("show")' %>
      <span>您还可以：<%= link_to '拒绝退款申请', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_decline_refund").modal("show")' %>
    </div>
    <%= render 'refund_modal', page: 'approve_refund', title: '同意退款申请' %>
    <%= render 'refund_modal', page: 'decline_refund', title: '拒绝退款申请' %>

  <% elsif type == 'return_goods_and_refund' %><!-- 退款退货 -->
    <div class="bottom_line">
      <h3 class='refund_info_title'>请处理退货申请（已收到货--退货）</h3>
      <div class="countdown-box"><p id="clock_refund" data-endtime=<%= @order_item_refund.deal_at + refund_timeout(@order_item_refund).days %>></p></div><br/>
      <p>* 如果同意申请，请发送正确退货地址给买家</p>
      <p>* 如果您拒绝，买家可以要求UBOSS平台介入处理</p>
      <p>* 如果您逾期未响应，视作同意买家申请，系统将自动发送您的默认退货地址给买家</p>
    </div>
    <br />
    <div class='evaluate'>
      <%= link_to '同意退货申请', 'javascripts:;', class: 'btn btn-large btn-noraidus', onclick: '$("#refund_approve_return").modal("show")' %>
      <span>您还可以：<%= link_to '拒绝退货申请', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_decline_return").modal("show")' %>
    </div>
    <%= render 'refund_modal', page: 'approve_return', title: '同意退货申请' %>
    <%= render 'refund_modal', page: 'decline_return', title: '拒绝退货申请' %>

  <% elsif type == 'after_sale_only_refund' %><!-- 售后 仅退款 -->
    <div class="bottom_line">
      <h3 class='refund_info_title'>请处理退款申请（售后--仅退款）</h3>
      <div class="countdown-box"><p id="clock_refund" data-endtime=<%= @order_item_refund.deal_at + refund_timeout(@order_item_refund).days %>></p></div><br/>
      <p>* 如果您同意，将直接退款给买家</p>
      <p>* 如果您拒绝，买家可以要求UBOSS平台介入处理</p>
      <p>* 如果您逾期未响应，视作同意买家申请，系统将自动退款给买家</p>
    </div>
    <br />
    <div class='evaluate'>
      <%= link_to '同意退款申请', 'javascripts:;', class: 'btn btn-large btn-noraidus', onclick: '$("#refund_approve_refund").modal("show")' %>
      <span>您还可以：<%= link_to '拒绝退款申请', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_decline_refund").modal("show")' %>
    </div>
    <%= render 'refund_modal', page: 'approve_refund', title: '同意退款申请' %>
    <%= render 'refund_modal', page: 'decline_refund', title: '拒绝退款申请' %>

  <% elsif type == 'after_sale_return_goods_and_refund' %><!-- 售后 退货 -->
    <div class="bottom_line">
      <h3 class='refund_info_title'>请处理退货申请（售后--退货）</h3>
      <div class="countdown-box"><p id="clock_refund" data-endtime=<%= @order_item_refund.deal_at + refund_timeout(@order_item_refund).days %>></p></div><br/>
      <p>* 如果同意申请，请发送正确退货地址给买家</p>
      <p>* 如果您拒绝，买家可以要求UBOSS平台介入处理</p>
      <p>* 如果您逾期未响应，视作同意买家申请，系统将自动发送您的默认退货地址给买家</p>
    </div>
    <br />
    <div class='evaluate'>
      <%= link_to '同意退货申请', 'javascripts:;', class: 'btn btn-large btn-noraidus', onclick: '$("#refund_approve_return").modal("show")' %>
      <span>您还可以：<%= link_to '拒绝退货申请', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_decline_return").modal("show")' %></span>
    </div>
    <%= render 'refund_modal', page: 'approve_return', title: '同意退货申请' %>
    <%= render 'refund_modal', page: 'decline_return', title: '拒绝退货申请' %>
  <% end %>

<% when 'approved' %> <!-- 同意退款/退货 -->
  <% if @order_item_refund.refund_type_include_goods? %>
    <div>
      <h3 class='refund_info_title'>请等待买家退货</h3>
      <div class="countdown-box"><p id="clock_refund" data-endtime=<%= @order_item_refund.deal_at + refund_timeout(@order_item_refund).days %>></p></div><br/>
      <p>* 收到买家退货，请及时验货</p>
      <p>* 如果买家超时未退货，退货申请将自动关闭</p>
    </div>
  <% else %>
    <div>
      <h3 class='refund_info_title'>您已同意退款</h3>
      <p>* 退款金额：<%= @order_item_refund.money %>元</p>
      <p>* 同意申请时间：<%= @order_item_refund.state_at_attributes['同意时间'] %></p>
      <p>* 退款金额将会在5个工作日内退回给买家</p>
    </div>
  <% end %>

<% when 'declined' %>
  <% if @order_item_refund.refund_type_include_goods? %>
    <div class="bottom_line">
      <h3 class='refund_info_title'>请等待买家回应</h3>
      <div class="countdown-box"><p id="clock_refund" data-endtime=<%= @order_item_refund.deal_at + refund_timeout(@order_item_refund).days %>></p></div><br/>
      <p>* 买家修改退货申请后，需要您重新处理</p>
      <p>* 买家超时未处理，退货申请将自动关闭</p>
    </div>
    <br />
    <div class='evaluate'>
      您还可以：<%= link_to '同意退货申请', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_approve_return").modal("show")' %> |
      <%= link_to '要求UBOSS介入', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_applied_uboss").modal("show")' %>
    </div>
    <%= render 'refund_modal', page: 'approve_return', title: '同意退货申请' %>
    <%= render 'refund_modal', page: 'applied_uboss',  title: '申请UBOSS介入' %>
  <% else %>
    <div class="bottom_line">
      <h3 class='refund_info_title'>请等待买家回应</h3>
      <div class="countdown-box"><p id="clock_refund" data-endtime=<%= @order_item_refund.deal_at + refund_timeout(@order_item_refund).days %>></p></div><br/>
      <p>* 买家修改退款申请后，需要您重新处理</p>
      <p>* 买家超时未处理，退款申请将自动关闭</p>
    </div>
    <br />
    <div class='evaluate'>
    	您还可以：<%= link_to '同意退款申请', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_approve_refund").modal("show")' %>
    </div>
    <%= render 'refund_modal', page: 'approve_refund', title: '同意退款申请' %>
  <% end %>

<% when 'confirm_received' %>
  <div>
    <h3 class='refund_info_title'>已确认收货</h3>
    <p>* 退款给买家<%= @order_item_refund.money %>元</p>
    <p>* 将在三个工作日内退款回买家支付的账号或银行卡！</p>
  </div>

<% when 'decline_received' %>
  <div class="bottom_line">
    <h3 class='refund_info_title'>请等待买家回应</h3>
    <div class="countdown-box"><p id="clock_refund" data-endtime="<%= @order_item_refund.deal_at + refund_timeout(@order_item_refund).days %>"></span></p>
    <p>* 买家修改退货申请后，需要您重新处理</p>
    <p>* 买家超时未处理，退货申请将自动关闭</p>
  </div>
  <br />
  <div class='evaluate'>
    您还可以：<%= link_to '确认收货并打款', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_confirm_receive").modal("show")' %> |
    <%= link_to '要求UBOSS介入', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_applied_uboss").modal("show")' %>
  </div>
  <%= render 'refund_modal', page: 'confirm_receive', title: '退款给买家' %>
  <%= render 'refund_modal', page: 'applied_uboss',   title: '申请UBOSS介入' %>

<% when 'applied_uboss' %>
  <% if current_user.is_super_admin? %>
    <div class="bottom_line">
      <h3 class='refund_info_title'>请处理介入申请（<%= @order_item_refund.refund_type_text %>）</h3>
      <p>* 申请介入时间：<%= countdown_time(@order_item_refund.deal_at) %></p>
      <p>* 退款金额：<%= @order_item_refund.money %>元</p>
      <p>* 退款原因：<%= @order_item_refund.refund_reason.reason %></p>
      <p>* 退款说明：<%= @order_item_refund.return_explain %></p>
      </br>
      <p style="display:inline-block;background-color:#C31D1D;">* 注意事项：可以在留言板要求买家/卖家提供更多凭证信息，或者给出支持买家/卖家的裁定理由！</p> </br>
      <p style="display:inline-block;background-color:#C31D1D;">* 暂时人工进行介入，请分别联系买家和商家，处理此退款申请！！</p>
    </div>
    <div class='evaluate'>
      <%= link_to '支持买家', 'javascripts:;', class: 'btn btn-large gray-btn', onclick: "alert('支持买家，请联系商家进行操作（同意退款申请/同意退货申请/确认收货并打款）')" %>
      <%= link_to '支持商家', 'javascripts:;', class: 'btn btn-large gray-btn', onclick: "alert('支持商家，可以直接撤销申请')" %>
      您还可以：<%= link_to '撤销申请', [:uboss_cancel, :admin, @order_item, @order_item_refund], class: 'btn-link', data: { confirm: '您确定要支持卖家，撤销此申请?' } %>
    </div>
  <% else %>
    <div class="bottom_line">
      <h3 class='refund_info_title'>已申请UOSS介入，请等待UBOSS处理</h3>
      <p>* 收到买家退货，请及时验货</p>
      <p>* 如果拒绝退款，买家可以要求UBOSS介入处理</p>
      <p>* 如果拒绝确认收货，买家可以要求UBOSS介入处理</p>
      <p>* 请及时在留言板上传凭证，将有利于UBOSS介入处理</p>
    </div>
    <br />
    <div class='evaluate'>
      <% if @order_item_refund.sales_return.present? %>
        您还可以：<%= link_to '确认收货并打款', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_confirm_receive").modal("show")' %>
        <%= render 'refund_modal', page: 'confirm_receive', title: '退款给买家' %>
      <% elsif @order_item_refund.refund_type_include_goods? %>
        您还可以：<%= link_to '同意退货申请', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_approve_return").modal("show")' %>
        <%= render 'refund_modal', page: 'approve_return', title: '同意退货申请' %>
      <% else  %>
        您还可以：<%= link_to '同意退款申请', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_approve_refund").modal("show")' %>
        <%= render 'refund_modal', page: 'approve_refund', title: '同意退款申请' %>
      <% end %>
    </div>
  <% end %>

<% when 'completed_express_number' %>
  <div class="bottom_line">
    <h3 class='refund_info_title'>请收货并退款</h3>
    <div class="countdown-box"><p id="clock_refund" data-endtime=<%= @order_item_refund.deal_at + refund_timeout(@order_item_refund).days %>></p></div><br/>
    <p>* 买家已退货</p>
    <p>* 收到买家退货，请及时验货</p>
    <p>* 如果拒绝退款，买家可以要求UBOSS介入处理</p>
    <p>* 如果您超时未处理，将自动退款给买家</p>
  </div>
  <br />
  <div class='evaluate'>
    <%= link_to '确认收货并打款', 'javascripts:;', class: 'btn btn-large btn-noraidus', onclick: '$("#refund_confirm_receive").modal("show")' %>
    <span>您还可以：<%= link_to '拒绝确认收货', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_decline_receive").modal("show")' %> |
    <%= link_to '要求UBOSS介入', 'javascripts:;', class: 'btn-link', onclick: '$("#refund_applied_uboss").modal("show")' %>
  </div>
  <br />
  <div class="bottom_line">
    <p>* 物流公司：<%= @order_item_refund.logistics_company %></p>
    <p>* 运单号：<%= @order_item_refund.ship_number %></p>
    <p>* 退货时间：<%= @order_item_refund.state_at_attributes['退货时间'] %></p>
  </div>
  <%= render 'refund_modal', page: 'confirm_receive', title: '退款给买家' %>
  <%= render 'refund_modal', page: 'decline_receive', title: '拒绝确认收货' %>
  <%= render 'refund_modal', page: 'applied_uboss',   title: '申请UBOSS介入' %>

<% when 'finished' %>
  <% if @order_item_refund.refund_type_include_goods? %>
    <div>
      <h3 class='refund_info_title'>退货成功</h3>
      <p>* 已确认收货</p>
      <p>* 退款金额：<%= @order_item_refund.money %>元</p>
    </div>
  <% else %>
    <div>
      <p class='refund_info_title'>退款成功</p>
      <p>* 退款金额：<%= @order_item_refund.money %>元</p>
    </div>
  <% end %>

<% when 'cancelled' %>
  <% if @order_item_refund.refund_type_include_goods? %>
    <div>
      <h3 class='refund_info_title'>退货关闭</h3>
      <p>* 买家已撤销此次退货申请</p>
      <p>* 撤销时间：<%= @order_item_refund.state_at_attributes['关闭时间'] %></p>
    </div>
  <% else %>
    <div>
      <h3 class='refund_info_title'>退款关闭</h3>
      <p>* 买家已撤销此次退款申请</p>
      <p>* 撤销时间：<%= @order_item_refund.state_at_attributes['关闭时间'] %></p>
    </div>
  <% end %>

<% when 'closed' %>
  <div>
    <h3 class='refund_info_title'>退款关闭</h3>
    <p>* 您选择发货，退款申请关闭</p>
  </div>
<% end %>
