<% case @order_item_refund.aasm_state %>
<% when 'pending' %>
  <% type =  @order_item_refund.refund_type %>
  <% if type == 'refund' %><!-- 退款 -->
    <div class="bottom_line">
      <p class='refund_info_title'>请处理退款申请</p>
      <p><span id="clock_refund" data-endtime="<%= @order_item_refund.created_at + refund_timeout(@order_item_refund).days %>"></span></p>
      <p>* 如果未发货，请点击同意退款给买家</p>
      <p>* 如果实际已发货，请主动与买家联系</p>
      <p>* 如果您逾期未响应，视作同意买家申请，系统将自动退款给买家</p>
    </div>
    <div class='evaluate' style='display:inline-flex;'>
      <%= link_to '同意退款申请', 'javascripts:;', class: 'btn btn-sm', onclick: '$("#refund_approve_refund").modal("show")' %>
      您还可以：<%= link_to '发货', 'javascripts:;', class: 'main-link-color', onclick: '$("#refund_ship_express").modal("show")' %>
    </div>
    <%= render 'refund_modal', page: 'approve_refund', title: '同意退款申请' %>
    <%= render 'refund_modal', page: 'ship_express', title: '快递信息' %>

  <% elsif type == 'receipted_refund' %><!-- 已收到货 仅退款 -->
    <div class="bottom_line">
      <p class='refund_info_title'>请处理退款申请（已收到货 仅退款）</p>
      <p><span id="clock_refund" data-endtime=<%= @order_item_refund.created_at + refund_timeout(@order_item_refund).days %>></span></p>
      <p>* 如果您同意，将直接退款给买家</p>
      <p>* 如果您拒绝，买家可以要求UBOSS平台介入处理</p>
      <p>* 如果您逾期未响应，视作同意买家申请，系统将自动退款给买家</p>
    </div>
    <div class='evaluate' style='display:inline-flex;'>
      <%= link_to '同意退款申请', 'javascripts:;', class: 'btn btn-sm', onclick: '$("#refund_approve_refund").modal("show")' %>
      您还可以：<%= link_to '拒绝退款申请', 'javascripts:;', class: 'main-link-color', onclick: '$("#refund_decline_refund").modal("show")' %>
    </div>
    <%= render 'refund_modal', page: 'approve_refund', title: '同意退款申请' %>
    <%= render 'refund_modal', page: 'decline_refund', title: '拒绝退款申请' %>

  <% elsif type == 'unreceipt_refund' %><!-- 未收到货 仅退款 -->
    <div class="bottom_line">
      <p class='refund_info_title'>请处理退款申请（未收到货 仅退款）</p>
      <p><span id="clock_refund" data-endtime=<%= @order_item_refund.created_at + refund_timeout(@order_item_refund).days %>></span></p>
      <p>* 如果您同意，将直接退款给买家</p>
      <p>* 如果您拒绝，买家可以要求UBOSS平台介入处理</p>
      <p>* 如果您逾期未响应，视作同意买家申请，系统将自动退款给买家</p>
    </div>
    <div class='evaluate' style='display:inline-flex;'>
      <%= link_to '同意退款申请', 'javascripts:;', class: 'btn btn-sm', onclick: '$("#refund_approve_refund").modal("show")' %>
      您还可以：<%= link_to '拒绝退款申请', 'javascripts:;', class: 'main-link-color', onclick: '$("#refund_decline_refund").modal("show")' %>
    </div>
    <%= render 'refund_modal', page: 'approve_refund', title: '同意退款申请' %>
    <%= render 'refund_modal', page: 'decline_refund', title: '拒绝退款申请' %>

  <% elsif type == 'return_goods_and_refund' %><!-- 退款退货 -->
    <div class="bottom_line">
      <p class='refund_info_title'>请处理退货申请（已收到货--退货）</p>
      <p><span id="clock_refund" data-endtime=<%= @order_item_refund.created_at + refund_timeout(@order_item_refund).days %>></span></p>
      <p>* 如果同意申请，请发送正确退货地址给买家</p>
      <p>* 如果您拒绝，买家可以要求UBOSS平台介入处理</p>
      <p>* 如果您逾期未响应，视作同意买家申请，系统将自动发送您的默认退货地址给买家</p>
    </div>
    <div class='evaluate' style='display:inline-flex;'>
      <%= link_to '同意退货申请', 'javascripts:;', class: 'btn btn-sm', onclick: '$("#refund_approve_return").modal("show")' %>
      您还可以：<%= link_to '拒绝退货申请', 'javascripts:;', class: 'main-link-color', onclick: '$("#refund_decline_return").modal("show")' %>
    </div>
    <%= render 'refund_modal', page: 'approve_return', title: '同意退货申请' %>
    <%= render 'refund_modal', page: 'decline_return', title: '拒绝退货申请' %>

  <% elsif type == 'after_sale_only_refund' %><!-- 售后 仅退款 -->
    <p class='refund_info_title'></p>
    <div class="bottom_line">
      <p class='refund_info_title'>请处理退款申请（售后--仅退款）</p>
      <p><span id="clock_refund" data-endtime=<%= @order_item_refund.created_at + refund_timeout(@order_item_refund).days %>></span></p>
      <p>* 如果您同意，将直接退款给买家</p>
      <p>* 如果您拒绝，买家可以要求UBOSS平台介入处理</p>
      <p>* 如果您逾期未响应，视作同意买家申请，系统将自动退款给买家</p>
    </div>
    <div class='evaluate' style='display:inline-flex;'>
      <%= link_to '同意退款申请', 'javascripts:;', class: 'btn btn-sm', onclick: '$("#refund_approve_refund").modal("show")' %>
      您还可以：<%= link_to '拒绝退款申请', 'javascripts:;', class: 'main-link-color', onclick: '$("#refund_decline_refund").modal("show")' %>
    </div>
    <%= render 'refund_modal', page: 'approve_refund', title: '同意退款申请' %>
    <%= render 'refund_modal', page: 'decline_refund', title: '拒绝退款申请' %>

  <% elsif type == 'after_sale_return_goods_and_refund' %><!-- 售后 退货 -->
    <div class="bottom_line">
      <p class='refund_info_title'>请处理退货申请（售后--退货）</p>
      <p><span id="clock_refund" data-endtime=<%= @order_item_refund.created_at + refund_timeout(@order_item_refund).days %>></span></p>
      <p>* 如果同意申请，请发送正确退货地址给买家</p>
      <p>* 如果您拒绝，买家可以要求UBOSS平台介入处理</p>
      <p>* 如果您逾期未响应，视作同意买家申请，系统将自动发送您的默认退货地址给买家</p>
    </div>
    <div class='evaluate' style='display:inline-flex;'>
      <%= link_to '同意退货申请', 'javascripts:;', class: 'btn btn-sm', onclick: '$("#refund_approve_return").modal("show")' %>
      您还可以：<%= link_to '拒绝退货申请', 'javascripts:;', class: 'main-link-color', onclick: '$("#refund_decline_return").modal("show")' %>
    </div>
    <%= render 'refund_modal', page: 'approve_return', title: '同意退货申请' %>
    <%= render 'refund_modal', page: 'decline_return', title: '拒绝退货申请' %>
  <% end %>

<% when 'approved' %> <!-- 同意退款/退货 -->
  <% if @order_item_refund.refund_type_include_goods? %>
    <div class="bottom_line">
      <p class='refund_info_title'>请等待买家退货</p>
      <p><span id="clock_refund" data-endtime=<%= @order_item_refund.created_at + refund_timeout(@order_item_refund).days %>></span></p>
      <p>* 收到买家退货，请及时验货</p>
      <p>* 如果买家超时未退货，退货申请将自动关闭</p>
    </div>
  <% else %>
    <div class="bottom_line">
      <p class='refund_info_title'>您已同意退款</p>
      <p>* 退款金额：<%= @order_item_refund.money %>元</p>
      <p>* 同意申请时间：<%= @order_item_refund.state_at_attributes['同意时间'] %></p>
    </div>
  <% end %>

<% when 'declined' %>
  <% if @order_item_refund.refund_type_include_goods? %>
    <div class="bottom_line">
      <p class='refund_info_title'>请等待买家回应</p>
      <p><span id="clock_refund" data-endtime=<%= @order_item_refund.created_at + refund_timeout(@order_item_refund).days %>></span></p>
      <p>* 买家修改退货申请后，需要您重新处理</p>
      <p>* 买家超时未处理，退货申请将自动关闭</p>
    </div>
    <div class='evaluate' style='display:inline-flex;'>
      您还可以：<%= link_to '同意退货申请', 'javascripts:;', class: 'main-link-color', onclick: '$("#refund_decline_return").modal("show")' %> | <a class="main-link-color" href="">要求UBOSS介入</a><!-- TODO 出现“要求UBOSS介入”的条件：1.等待卖家处理,2.拒绝过买家后买家修改申请并提交后 -->
    </div>
    <%= render 'refund_modal', page: 'approve_return', title: '同意退货申请' %>
  <% else %>
    <div class="bottom_line">
      <p class='refund_info_title'>请等待买家回应</p>
      <p><span id="clock_refund" data-endtime=<%= @order_item_refund.created_at + refund_timeout(@order_item_refund).days %>></span></p>
      <p>* 买家修改退款申请后，需要您重新处理</p>
      <p>* 买家超时未处理，退款申请将自动关闭</p>
    </div>
    <div class='evaluate' style='display:inline-flex;'>
      您还可以：<%= link_to '同意退款申请', 'javascripts:;', class: 'main-link-color', onclick: '$("#refund_approve_refund").modal("show")' %>
    </div>
    <%= render 'refund_modal', page: 'approve_refund', title: '同意退款申请' %>
  <% end %>

<% when 'confirm_received' %>

<% when 'decline_received' %>
  <div class="bottom_line">
    <p class='refund_info_title'>请等待买家回应</p>
    <p><span id="clock_refund" data-endtime="<%= @order_item_refund.created_at + refund_timeout(@order_item_refund).days %>"></span></p>
    <p>* 买家修改退货申请后，需要您重新处理</p>
    <p>* 买家超时未处理，退货申请将自动关闭</p>
  </div>
  <div class='evaluate' style='display:inline-flex;'>
    您还可以：<%= link_to '确认收货并打款', 'javascripts:;', class: 'main-link-color', onclick: '$("#refund_confirm_receive").modal("show")' %> | <a class="main-link-color" href="">要求UBOSS介入</a><!-- TODO 出现“要求UBOSS介入”的条件：1.等待卖家处理,2.拒绝过买家后买家修改申请并提交后 -->
  </div>
  <%= render 'refund_modal', page: 'confirm_receive', title: '退款给买家' %>

<% when 'applied_uboos' %>
  <%#TODO%>

<% when 'completed_express_number' %>
  <div class="bottom_line">
    <p class='refund_info_title'>请收货并退款</p>
    <p><span id="clock_refund" data-endtime=<%= @order_item_refund.created_at + refund_timeout(@order_item_refund).days %>></span></p>
    <p>* 买家已退货</p>
    <p>* 收到买家退货，请及时验货</p>
    <p>* 如果拒绝退款，买家可以要求UBOSS介入处理</p>
    <p>* 如果您超时未处理，将自动退款给买家</p>
  </div>
  <div class='evaluate' style='display:inline-flex;'>
    <%= link_to '确认收货并打款', 'javascripts:;', class: 'btn btn-sm', onclick: '$("#refund_confirm_receive").modal("show")' %>
    您还可以：<%= link_to '拒绝确认收货', 'javascripts:;', class: 'main-link-color', onclick: '$("#refund_confirm_receive").modal("show")' %> | <a class="main-link-color" href="">要求UBOSS介入</a><!-- TODO 出现“要求UBOSS介入”的条件：1.等待卖家处理,2.拒绝过买家后买家修改申请并提交后 -->
  </div>
  <div class="bottom_line">
    <p>* 物流公司：XXX</p>     <%#TODO%>
    <p>* 运单号：XXXXXXX</p>   <%#TODO%>
    <p>* 退货时间：<%= @order_item_refund.state_at_attributes['退货时间'] %></p>
  </div>
  <%= render 'refund_modal', page: 'confirm_receive', title: '退款给买家' %>
  <%= render 'refund_modal', page: 'decline_receive', title: '拒绝确认收货' %>

<% when 'finished' %>
  <% if @order_item_refund.refund_type_include_goods? %>
    <div class="bottom_line">
      <p class='refund_info_title'>退货成功</p>
      <p>* 已确认收货</p>
      <p>* 退款金额：<%= @order_item_refund.money %>元</p>
    </div>
  <% else %>
    <div class="bottom_line">
      <p class='refund_info_title'>退款成功</p>
      <p>* 退款金额：<%= @order_item_refund.money %>元</p>
    </div>
  <% end %>

<% when 'cancelled' %>
  <% if @order_item_refund.refund_type_include_goods? %>
    <div class="bottom_line">
      <p class='refund_info_title'>退货关闭</p>
      <p>* 买家已撤销此次退货申请</p>
      <p>* 撤销时间：<%= @order_item_refund.state_at_attributes['关闭时间'] %></p>
    </div>
  <% else %>
    <div class="bottom_line">
      <p class='refund_info_title'>退款关闭</p>
      <p>* 买家已撤销此次退款申请</p>
      <p>* 撤销时间：<%= @order_item_refund.state_at_attributes['关闭时间'] %></p>
    </div>
  <% end %>

<% when 'closed' %>
  <div class="bottom_line">
    <p class='refund_info_title'>退款关闭</p>
    <p>* 您选择发货，退款申请关闭</p>
  </div>
<% end %>
