<div class="container admin-container">
  <ul class="breadcrumb">
    <li><a href="/admin">主页</a></li>
    <li class="divider"><i class="fa fa-angle-right"></i></li>
    <li><%= link_to '订单', [:admin, :orders] %></li>
    <li class="divider"><i class="fa fa-caret-right"></i></li>
    <li><%= link_to '订单详情', [:admin, @order_item.order] %></li>
    <li class="divider"><i class="fa fa-caret-right"></i></li>
    <li class="active">退款详情</li>
  </ul>
</div><!-- container -->
<br />
<div class="container admin_orders_show_order_wrapper">
  <div class="container admin_order_item_refunds_wrapper">
    <div class="box-w70">

      <div class="admin-border admin-border-order-info">
        <%= render "refund_info_status" %>
      </div>

      <div class="admin-border admin-border-order-info">
        <p class='number'>退款编号 : <%= 'order.number' %></p>
        <div class="index_list">
          <table class="list-table order_info_tables">
            <thead>
              <tr>
                <th>商品</th>
                <th>商品属性</th>
                <th>申请时间</th>
                <th>退款金额</th>
              </tr>
            </thead>
            <tbody>
              <tr class='table-content'>
                <td class='text-left'>
                  <%= link_to [:admin, @order_item.product], class: 'main-link-color' do %>
                    <%= image_tag(@order_item.product.avatar.url(:thumb), size: "40x40", alt: "-") %>
                    <%= @order_item.product.name %>
                  <% end %>
                </td>
                <td>
                  <% @order_item.product_inventory.properties.each do |property| %>
                    <p class='attribute'><%= property.key %> : <%= property.value %></p>
                  <% end %>
                </td>
                <td><%= Time.now  %></td>
                <td><%= @order_item.present_price %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="admin-border admin-border-order-info">
        <p class='number'>留言板<%= 'order.number' %></p>

        <div id="order_item_refund_message">
          <%= horizon_form_for @refund_message, url: [:refund_message, :admin, @order_item, @order_item_refund] do |f| %>
            <%= upyun_meta_tags prefix: 'asset_img/avatar' %>
            <%= f.text_area :message, class: 'required control-input', cols: 105, rows: 4 %>
            <%= f.input :asset_imgs, label: false, hint:"上传凭证(最多三张)" do %>
              <%= f.input_field :avatar, type: :hidden, as: :file, class: 'refund_avatar' %>
              <p class="fileinput-button">
                <%= image_tag("admin/no-img.png") %>
                <%= file_field_tag "image", class: "multi_upyun_file" %>
                <b class="loading"><i class="fa fa-spinner"></i></b>
              </p>
            <% end %>
            <%= f.submit "发表留言", class: "btn btn-large btn-block" %>
          <% end %>
        </div>

        <div id="order_item_refund_messages_list">
          <% @order_item_refund.refund_messages.each do |message| %>
            <div style="margin-top:30px;border-top:1px outset buttonface;">
              <div style="float:left;width:40px;">
                <img src="<%= message.user.avatar_url(:thumb) %>" alt="" />
              </div>
              <div>
                <p><span><%= message.user_type %></span> <%= message.user.identify %></p>
                <p><%= message.created_at %></p>
                <p><%= message.action %></p>
                <% if !message.money.blank? %>
                  <p>金额：<%= message.money %>元</p>
                <% end %>
                <% if !message.refund_reason_id.blank? %>
                  <p>退款原因：TODO 卖家缺货</p>
                <% end %>
                <% if !message.explain.blank? %>
                  <p>说明：<%= message.explain %></p>
                <% end %>
                <% if !message.message.blank? %>
                  <p><%= raw message.message %></p>
                <% end %>
                <p>
                <% message.asset_imgs.each do |img| %>
                  <img src="<%= img.avatar_url(:thumb) %>" alt="" />
                <% end %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
