<%= content_for :page_title do %>
  申请提现
<% end %>
<div class="wd_box">
  <%= simple_form_for @withdraw_record, url: withdraw_records_path,method: :POST do |f| %>
  <div class="bg-white gap m-top10">
  	<table>
  		<tr>
  			<td> 目前可提现金额 </td>
  			<td class="text-right"> <%= number_to_currency current_user.income %> 元 </td>
  		</tr>
  		<tr>
  			<td class="gray-color"> 最低提现金额 </td>
  			<td class="gray-color text-right"> ￥1 元 </td>
  		</tr>
  		<tr>
  			<td> 提现方式 </td>
        <td class="text-right">
          <%= f.input_field :bank_card_id, as: :select, label_method: :identify, value_method: :id, dir: 'rtl',
            collection: current_user.bank_cards,
            prompt: "#{@withdraw_record.wechat_available? ? '微信打款' : '请选择银行卡'}" %>
        </td>
  		</tr>
  	</table>
  	<hr />
  	<br />
  	<div><%= f.input_field :amount, placeholder: '请在此输入提现金额', type: :tel, class:'wd_input wd_phone input-block input-large' %> </div>
  	<br />
  	<div class="oder_anniu">
	    <a href="#" id="oder_over" class="btn btn-block btn-large">提现</a>
	  </div>
	  <br />
  </div>

  <% end %>
</div>
<script type="text/javascript">
$('#oder_over').on('click', function(event) {
  var amount = $('#withdraw_record_amount').val()
  console.log(amount)
  if (<%= current_user.income %> > amount && amount >= 1) {
    $('#new_withdraw_record').submit();
  }else{
    alert('最低金额1元,最高金额<%= current_user.income %>元。');
  };
});
</script>
