<%= content_for :page_title do %>
  <%= link_to :back do %>
    <div>
      <i class="fa fa-chevron-left"></i>
        <%= @refund.refund_type_text == '退款' ? '退款详情':@refund.refund_type_text %>
    </div>
  <% end %>
<% end %>
<br />
<div id="order_item_refund_show">
  <div class='refund-box'>
    <%= render partial: 'refund_info_status', locals: { refund: @refund } %>
    <%= link_to '查看协商详情', new_order_item_order_item_refund_refund_message_path(order_item_id: @order_item.id, order_item_refund_id: @refund.id) %>
  </div>

  <br />
  <div class="order-list">
    <div class="seller-box">
      <div class="content">
        商家:
        <div class="text-cut"><%= @order_item.order.seller.store_identify %></div>
      </div>
    </div>
    <div class="order-box">
      <div class="cover">
        <%= link_to product_path(@order_item.item_product) do %>
          <%= image_tag @order_item.image_url(:w120) %>
        <% end %>
      </div><!-- cover -->

      <div class="content">
        <div class="price">
          <p>￥<%= @order_item.present_price %></p>
          <p class="gray-color num">x <%= @order_item.amount %></p>
        </div>
        <p class="name">
          <%= @order_item.product_name %>
        </p>
        <p class="info">
          <% @order_item.product_inventory.properties.each do |property| %>
            <span><%= "#{property.key}：#{property.value}" %></span>
          <% end %>
        </p>
      </div><!-- content -->
    </div><!-- order-box -->
    <table>
      <tr class='order-box'>
        <th>退款类型</th>
        <td>仅退款</td>
      </tr>
      <tr class='order-box'>
        <th>退款金额</th>
        <td><%= @refund.money %>元</td>
      </tr>
      <tr class='order-box'>
        <th>退款原因</th>
        <td><%= @refund.refund_reason.try(:reason) %>/<%= @refund.description %></td>
      </tr>
      <tr class='order-box'>
        <th>退款说明 </th>
        <td>———</td>
      </tr>
    </table>
    <% @refund.asset_imgs.each do |img| %>
      <div class="box-w33">
        <%= image_tag img.image_url(:thumb), class: 'order-box-img'%>
      </div>
    <% end %>
  </div><!-- order-list -->

  <br />
  <div class='refund-box'>
    <%= render partial: 'refund_basic_info', locals: { refund: @refund } %>
  </div>
</div>

