<%= content_for :page_title do %>
  提交订单
<% end %>

<%= simple_form_for @order_form, url: orders_path, method: 'POST',wrapper: :default do |f| %>
	<br />
  <div id="address">
    <div class='address-box <%= displayable_class(@order_form.user_address.username.present?) %>'>
        <%= f.hidden_field :user_address_id %>
        <div class="content">
          <p>
          	<span class='pull-right adr-mobile'><%= @order_form.user_address.mobile %></span>
          	<span class='adr-user'><%= @order_form.user_address.username %></span>
          </p>
          <p class='adr-detail'><%= @order_form.user_address %></p>
        </div>
    </div><!-- address-box -->
    <% if !@order_form.user_address.username.present? %>
    	<div class="none-address-box"><span class="icon">+</span>收货地址</div>
    <% else %>
    <% end %>
  </div><!-- address -->
	<br />

  <div class="cart-list">
    <%= f.hidden_field :cart_id %>
    <%= f.hidden_field :amount %>
    <%= f.hidden_field :product_id %>
    <%= f.hidden_field :product_inventory_id %>
    <% @products_group_by_seller.each do |seller, cart_items| %>
      <div class="order-list valid-order-list">
        <div class="seller-box"><div class="text-cut">商家：<%= seller.identify %></div></div>

        <% cart_items.each do |cart_item| %>
          <div class="order-box">
            <div class="cover"><%= image_tag(url_for(cart_item.image_url),  alt: "-") %></div>
            <div class="content">
              <div class="price">
                <p>￥<span class="product-price"><%= cart_item.price %></span></p>
                <p class="gray-color num" data-num="<%= cart_item.count %>">x <%= cart_item.count %></p>
              </div>
              <p class="name"><%= cart_item.product_name %></p>
              <p class="info">
              <% cart_item.product_inventory.sku_attributes.each do |property, value| %>
                <span><%= "#{property} : #{value}" %></span>
              <% end %>
              </p>
            </div><!-- content -->
          </div><!-- order-box -->
        <% end %>

        <% sharing_user = cart_items.first.sharing_user %>
        <% if sharing_user.present? %>
          <div class="friend-info">
            <div class="cover">
              <%= image_tag sharing_user.avatar_url(:thumb) %>
            </div>
            <div class="content">
              <span class="pull-right red-color"><%= cart_items.sum(&:privilege_amount) %></span><span class="main-color"><%= sharing_user.identify %></span> 帮你优惠
            </div>
          </div><!-- friend-info -->
        <% end %>

        <div class="freight-box">
          运费
          <% ship_price = order_ship_price(cart_items, @order_form.user_address) %>
          <span class="pull-right ship_price_<%= seller.id.to_s %>" data-ship-price="<%= ship_price %>"><strong></strong>￥ <%= ship_price %></span>
        </div><!-- freight-box -->
        <div class="price-box">
          合计
          <span class="total_price_<%= seller.id.to_s %>" data-total-price="0.0">￥ 0.0</span>
        </div><!-- price-box -->
        <div class="message-box">
          <input placeholder="给卖家留言" type="text" name="order[to_seller][<%= seller.id %>]" class="input-block"/>
        </div><!-- message-box -->
      </div><!-- order-list -->
    <% end %>

    <% if current_user.blank? || (current_user && current_user.need_set_login?) %>
      <div class="no-login">
        <div class="mobile">
          <a href='#' class="btn pull-right" id="send_mobile"><small>发送验证码</small></a>
          <div class="content"><%= f.input_field :mobile, type: :tel, placeholder: '输入手机号', class:"input-block",id:'new_mobile' %></div>
        </div>
        <div class="gap">
          <%= f.input_field :captcha, type: :tel, placeholder: '填写短信验证码', class: "input-block"  %>
        </div>
      </div><!-- no-login -->
    <% end %>
  </div><!--cart-list -->

  <div class="order-price">
    <% if @order_form.user_address.username.present?  %>
      <%= submit_tag '提交订单', class: "accunt_adilbtn cart-btn btn" %>
    <% else %>
      <%= submit_tag '提交订单', class: "accunt_adilbtn cart-btn btn" %>
    <% end %>
    <div class="content">
      <p>应付款：<span id="total_price">0.0</span></p>
      <p class="gray-color"><small>共优惠0.0元</small></p>
    </div>
  </div><!-- order-price -->

  <!--弹出层开始-->
  <div id="address-list-box" class="hidden">
    <div class="address-title">
      <span>收货地址列表</span>
      <div class="close"></div>
    </div>
    <div class="address-list">
      <% if @order_form.buyer %>
        <% @order_form.buyer.user_addresses.each do |user_address| %>
          <div class="address-box add_line1" data-id='<%= user_address.id %>'>
            <p>
            <span class='pull-right adr-mobile'><%= user_address.try(:mobile) %></span>
            <span class='adr-user'><%= user_address.try(:username) %></span>
            </p>
            <p class='adr-detail'><%= user_address %></p>
          </div>
        <% end %>
      <% end %>
    </div><!-- .address-list -->
    <div id="address-more"><b class="icon">+</b>添加新地址</div><!-- address-more -->
  </div><!-- address-list-box -->
  <div id="address-new" class="address-new hidden">
    <div class="address-title">
      <span>填写新地址</span>
      <div class="close"></div>
    </div>
    <table>
      <tr>
        <td>收货人</td>
        <td><%= f.input_field :deliver_username, placeholder: '名字', class: 'input-block' %></td>
      </tr>
      <tr>
        <td>联系电话</td>
        <td><%= f.input_field :deliver_mobile, placeholder: '手机或固话', type: :tel, class: 'input-block' %></td>
      </tr>
      <tr>
        <%= render 'user_addresses/user_address', f: f  %>
      </tr>
      <tr>
        <td>详细地址</td>
        <td><%= f.input_field :building, placeholder: '街道门牌信息', class: 'input-block' %></td>
      </tr>
    </table>
    <br />
    <div class="btn btn-block btn-large use-new-addr-btn">
      使用新地址
    </div>
  </div><!-- address-new -->
  <!--弹出层结束-->

<% end %>


<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){
        wx.hideOptionMenu();
      });
    </script>
  <% end %>
<% end %>

