<%= content_for :page_title do %>
  提交订单
<% end %>

<style type="text/css">
  .stable-dlg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    display: none;
  }
  .content {
    transition: all 1s;
    position: absolute;
    width: 100%;
    top: 45px;
    background-color: rgba(255, 255, 255, 1);
  }
  .content.active {
    -webkit-animation: fadeInUp .7s ease 0s 1 backwards;
    animation: fadeInUp .7s ease 0s 1 backwards;
  }
</style>

<%= simple_form_for @order_form, url: orders_path, method: 'POST',wrapper: :default do |f| %>
  <%= f.hidden_field :product_id %>
  <%= f.hidden_field :real_price %>
  <%= f.hidden_field :product_traffic_expense %>
  <div id="addr">
    <div class='addr_boxs new-order-addr-info  <%= displayable_class(@order_form.user_address.username.present?) %>'>
        <%= f.hidden_field :user_address_id %>
        <dl class="add_line1">
          <dd>
          <span>收货人：<b class='adr-user'><%= @order_form.user_address.username %></b></span>
          <strong class='adr-mobile'><%= @order_form.user_address.mobile %></strong></dd>
          <dd>
          <span>收货地址：<b class='adr-detail'><%= @order_form.user_address %></b></span></dd>
        </dl>
    </div>
    <% if !@order_form.user_address.username.present? %>
    <a href="#" class="addr addr_boxs">收货地址</a>
    <% end %>
  </div>


  <div class="container">
    <div class="subOrd_box1 clearfix">
      <dl>
        <dt> <%= image_tag(url_for(@order_form.product.image_url),  alt: "-",:style=>"width:100%;") %></dt>
        <dd>
        <strong><%= @product.name %><span>￥<%= @order_form.real_price %></span></strong>
        <p><%= @product.user.store_name %></p>
        </dd>
      </dl>
    </div>

    <div class="subOrd_box2">
      <div class="subOrd_boxcont">
        <p class="sub_p1">
        <span class="sub_left">数量</span>
        <span class="sub_right">
          <span class="sub_right">
            <a href="#" class="jia"><span>+</span></a>
            <%= f.input_field :amount,value: 1, type: 'tel', class:"tow",id: "amount" %>
            <a href="#" class="jian"><span>-</span></a>
          </span>
        </span>
        </p>
        <p class="sub_p1 sub_p2">
        <span class="sub_leftl">合计（含运费￥<%= @product.traffic_expense %>）</span>
        <span class="sub_left">
          <strong>￥</strong><b id="total_price"><%= @order_form.real_price + @product.traffic_expense %></b>
        </span>
        </p>
      </div>

      <div class="sub_p3">个人信息确认</div>

      <% if current_user.blank? || (current_user && current_user.need_set_login?) %>
        <div class="subOrd_boxcont subOrd_boxbtn">
          <p class="sub_p">
            <span>
              <%= f.input_field :mobile, type: :tel, placeholder: '输入手机号', class:"sub_btphon",id:'new_mobile' %>
            </span>
            <span>
              <a style='color:#fff;' href='#' class="sub_yanzhen" id="send_mobile">发送验证码</a>
            </span>
            <div class="clear"></div>
          </p>
          <p class="sub_w">
          <span>
            <%= f.input_field :captcha, type: :tel, placeholder: '填写短信验证码', class: "sub_yanzhcont"  %>
          </span>
          </p>
        </div>
      <% end %>

    </div>

  </div>

  <div class="accunt_adil_box3">
    <% if @order_form.user_address.username.present?  %>
    <%= submit_tag '提交订单',class:"accunt_adilbtn", data: { disable_with: '提交订单中...' } %>
    <% else %>
    <%= submit_tag '提交订单',class:"accunt_adilbtn", data: { disable_with: '提交订单中...' }, disabled: :disabled %>
    <% end %>
  </div>
  <!--弹出层开始-->
  <div class="stable-dlg order-address-dlg" id="dlg" status="0">
    <div class="content" id="content">
      <div class="add_listall" id="add_listall">
        <div class="add_title">
          <span>收货地址列表</span>
          <div class="close" id="closeModal"><a href="#"><%= image_tag 'img/close.png' %></a></div>
        </div>
        <dl class="add_conts">
          <% if @order_form.buyer %>
            <% @order_form.buyer.user_addresses.each do |user_address| %>
              <dl class="add_line1" data-id='<%= user_address.id %>'>
                <dd>
                <span>收货人：<b class='adr-user'><%= user_address.try(:username) %></b></span>
                <strong class='adr-mobile'><%= user_address.try(:mobile) %></strong></dd>
                <dd>
                <span>收货地址：<b class='adr-detail'><%= user_address %></b></span></dd>
              </dl>
            <% end %>
          <% end %>

          <div class="add_more"><a href="#">使用新地址</a></div>

          <div class="add_inout">
            <form id="add_inout_form">
              <p>
                <span class="add_textd">收货人</span>
                <%= f.input_field :deliver_username, placeholder: '名字', class: 'add_text' %>
              </p>
              <p>
                <span>联系电话</span>
                <%= f.input_field :deliver_mobile, placeholder: '手机或固话', type: :tel, class: 'add_text' %>
              </p>
              <%= render 'user_addresses/user_address', f: f  %>
              <p>
                <span>详细地址</span>
                <%= f.input_field :building, placeholder: '街道门牌信息', class: 'add_text' %>
              </p>
            </form>
          </div>
          <div class="accunt_adil_box3 adbtn">
            <a href="#" class="accunt_adilbtn use-new-addr-btn">使用新地址</a>
          </div>
      </div>
    </div>
  </div>
  <!--弹出层结束-->

<% end %>


<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">

wx.ready(function(){
  wx.hideOptionMenu();
});

    </script>
  <% end %>
<% end %>

<script>
var addr = document.getElementById("addr");
addr.addEventListener("click", function() {
  var dlg = document.getElementById("dlg");
  if (dlg.getAttribute("status") == 0) {
    dlg.setAttribute("status", "1");
    dlg.style.display = "block";
    document.getElementById("content").setAttribute("class", "content active");
  }
})
var closeModal = document.getElementById("closeModal");
closeModal.addEventListener("click", function() {
  if (dlg.getAttribute("status") == 1) {
    dlg.setAttribute("status", "0");
    dlg.style.display = "none";
    document.getElementById("content").setAttribute("class", "content");
  }
})
</script>
