<header class="head">
  <%= link_to account_path(@order) do %>
  <div class="bottom left iconleft"></div>
  <% end %>
  <div class="log_font"><%= @order.state_i18n %></div>
</header>

<div class="container">
  <div class="subOrd_box1">
    <dl>
      <dt>
        <%= image_tag @product.image_url(:thumb) %>
      </dt>
      <dd>
        <strong><%= @product.name %><span>￥<%= @order_item.present_price %></span></strong>
        <p><%= @product.user.store_name %></p>
      </dd>
    </dl>
  </div>
  <div class="subOrd_box2">
    <div class="subOrd_boxcont">
      <p class="sub_p1">
        <span class="sub_left">数量</span>
        <span class="sub_right sub_num">
          <a href="#"><%= @order_item.amount %></a>
        </span>
      </p>
      <p class="sub_p sub_p2">
        <span class="sub_leftl">合计（含运费）</span>
        <span class="sub_left"><strong>￥</strong><%=  @order.pay_amount %></span>
        <div class="clear"></div>
      </p>
    </div>
    <% if @order.state == 'unpay' %>
    <div class="sub_p3">订单确认</div>
    <% end %>
  </div>
</div>
<div class="sub_box3">
  <div class="sub_box3_cont">
    <div class="sub_box3_cont1">
      <table width="100%" border="1" class="table1">
        <tr>
          <td><span>收件人：</span></td>
          <td><span>电话：</span></td>
        </tr>
        <tr>
          <td class="hidd"><%= @order.username %></td>
          <td class="hidd"><%= @order.mobile %></td>
        </tr>
        <tr>
          <td colspan="3"><span>收件地址：</span></td>
        </tr>
        <tr>
          <td colspan="3" class="hidd"><%= @order.address %></td>
        </tr>
      </table>
      <% if @order.state == 'unpay' %>
      <div class="xiugai"><span>修改订单</span></div>
      <% end %>
    </div>
  </div>
</div>

<br />

<% if @order.state == 'unpay' %>
  <div class="weixin">
    <%= link_to order_charge_path(@order), id: 'wx-pay-btn' do %>
      <%= image_tag "uboss_29/weixin.png" %>
    <% end %>
  </div>
<% end %>

<% if @order.state == 'unpay' %>
  <%= content_for :extra_javascript do %>
    <%= render "weixin_js" %>
    <script type="text/javascript" charset="utf-8">
  wx.ready(function(){

    $('#wx-pay-btn').on('click', function(event){
      event.preventDefault();
      wx.chooseWXPay({
        "timestamp": "<%= @pay_p[:timeStamp] %>",
        "nonceStr": "<%= @pay_p[:nonceStr] %>",
        "package": "<%= @pay_p[:package] %>",
        "signType": "<%= @pay_p[:signType] %>",
        "paySign": "<%= @pay_sign %>", // 支付签名
        "success": function (res) {
          window.location.href = "/orders/" + "<%= @order.id %>" + "/pay_complete";
        }
      });

    });

    wx.hideOptionMenu();

  })
      </script>
  <% end %>
<% end %>
