<%= content_for :page_title do %>
  <%= @order_title || @order.state_i18n %>
<% end %>

<%= content_for :extra_meta_tags do %>
  <%= sharing_meta_tags(@product, @sharing_link_node) %>
<% end %>

<div class="order-status-bar">
  <%= I18n.t("order_status_bar.#{@order.state}") %>
</div>

<p><%= "商家： #{@product.user.store_identify}" %></p>
<div class="container">
  <% @order_items.each do |order_item| %>
    <div class="subOrd_box1 clearfix">
      <dl>
        <dt>
        <%= link_to product_path(order_item.item_product) do %>
          <%= image_tag order_item.image_url(:thumb) %>
        <% end %>
        </dt>
        <dd>
        <strong><%= order_item.product_name %><span>￥<%= order_item.present_price %></span></strong>
        <p><%= "颜色：红色   尺寸：2.5m" %></p>
        </dd>
      </dl>
      <p class="sub_p1" style="display:block;float:right;">
      <span class="sub_right sub_num">x <%= order_item.amount %></span>
      </p>
    </div>
  <% end %>

  <div class="subOrd_box2">
    <div class="subOrd_boxcont">
      <p class="sub_p1 sub_p2">
      <span class="sub_leftl">合计（含运费￥<%= @order.ship_price %>）</span>
      <span class="sub_left">
        <strong>￥</strong><b id="total_price"><%= @order.pay_amount %></b>
      </span>
      </p>
    </div>

    <div class="sub_p3">个人信息</div>

  </div>
</div>

<div class="sub_box3">
  <div class="sub_box3_cont">
    <div class="sub_box3_cont1">
      <table width="100%" border="1" class="table1">
        <tr>
          <td><span>收件人：</span></td>
          <td><span>电话：</span></td>
        </tr>
        <tr>
          <td class="hidd"><%= @order.username %></td>
          <td class="hidd"><%= @order.mobile %></td>
        </tr>
        <tr>
          <td colspan="3"><span>收件地址：</span></td>
        </tr>
        <tr>
          <td colspan="3" class="hidd"><%= @order.address %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<% if @privilege_card.present? %>
  <br />
  <%= render partial: 'privilege_card', locals: { privilege_card: @privilege_card, product: @product } %>
<% end %>

<br/>

<div class="pay-comment order-store-info">
  <div class='store-title'>
    <%= link_to store_path(@product.user) do%>
      <%= "#{@product.user.store_identify}" %> <%= image_tag("uboss_29/right.png" ) %>
    <% end %>
  </div>
  <div>
    <p> <small>订单编号:<%= @order.number %></small> </p>
    <p> <small>创建时间:<%= @order.created_at %></small> </p>
    <% if @order.paid_at %>
      <p> <small>付款时间:<%= @order.paid_at %></small> </p>
    <% end %>
    <% if @order.shiped_at %>
      <p> <small>发货时间:<%= @order.shiped_at %></small> </p>
    <% end %>
    <% if @order.signed_at %>
      <p> <small>成交时间:<%= @order.signed_at %></small> </p>
    <% end %>
  </div>
</div>


<% if @order.payed? && @product.is_official_agent? %>
  <br />
  <div class="pay-comment order-store-info">
    <div class="store-title">
      创客权订单信息
    </div>
    <p>恭喜您成功购买UBOSS创客权，订单已提交后台自动处理。</p>
    <p>订单处理完成后，您将成为UBOSS创客，请到<%= link_to "个人设置", settings_account_path %>设置您的密码(如果您还没有设置过密码)。</p>
  </div>
<% end %>

<% if @order.completed? && @product.is_official_agent? %>
  <div class="pay-comment order-store-info">
    <div class="store-title">
      创客权订单信息
    </div>
    <p>恭喜您的UBOSS创客权订单已处理完毕。</p>
    <p>您已成为UBOSS创客，请到<%= link_to "个人设置", settings_account_path %>设置您的密码(如果您还没有设置过密码)。</p>
    <p>电脑端打开UBOSS官网 <a ref="http://uboss.me">http://uboss.me</a> 登陆您的后台，登陆账号为您初次在UBOSS购买登记的手机号。</p>
  </div>
<% end %>

<br />

<% if available_pay?(@order, @product) %>
  <div class="accunt_adil_box3">
    <%= link_to "支付", '#', id: 'wx-pay-btn', class: 'accunt_adilbtn' %>
  </div>
<% elsif @order.unpay? && @product.is_official_agent? && current_user.is_agent? %>
  <div class="pay-comment order-store-info">
    <div class="store-title">
      创客权订单信息
    </div>
    <p>恭喜，您已经成为UBOSS创客，此订单已失效，请勿重复购买。</p>
    <p>请到<%= link_to "个人设置", settings_account_path %>设置您的密码(如果您还没有设置过密码)。</p>
    <p>电脑端打开UBOSS官网 <a ref="http://uboss.me">http://uboss.me</a> 登陆您的后台，登陆账号为您初次在UBOSS购买登记的手机号。</p>
  </div>
  <br />
  <div class="accunt_adil_box3">
    <a ref="none" class='accunt_adilbtn disabled'>支付</a>
  </div>
<% elsif @order.shiped? %>
  <div class="accunt_adil_box3">
    <%= link_to "确认收货", received_order_path(@order), class:"accunt_adilbtn", data: { confirm: '确认收货？' } %>
  </div>
<% end %>

<% if @order.may_close? %>
  <div class="close_order">
    <%= link_to "取消订单", cancel_order_path(@order), data: { confirm: '确认取消订单？' }, id: 'close-order-btn', class: 'close_order_btn' %>
  </div>
<% end %>

<% if @order.signed? || @order.completed? %>
  <% if @order_item.evaluation_id.blank? %>
    <div class="accunt_adil_box3">
      <%= link_to "评价", new_evaluation_path(id: @order_item.id), class: 'accunt_adilbtn' %>
    </div>
  <% end %>
  <div class="fenxinrated">
    <%= render partial: 'application/share_buttoms', locals: { product: @product, node: @sharing_link_node } %>
  </div>
<% end %>

<% if browser.wechat? %>
  <% if @order.unpay? && @pay_p.present? %>
    <%= content_for :extra_javascript do %>
      <script type="text/javascript" charset="utf-8">
         wx.ready(function(){
           UBoss.nami.setPayenv("<%= $wechat_env %>");
           $('#wx-pay-btn').on('click', function(event){
             event.preventDefault();
             UBoss.nami.chooseWXPay({
               "timestamp": "<%= @pay_p[:timeStamp] %>",
               "nonceStr": "<%= @pay_p[:nonceStr] %>",
               "package": "<%= @pay_p[:package] %>",
               "signType": "<%= @pay_p[:signType] %>",
               "paySign": "<%= @pay_sign %>", // 支付签名
               "success": function (res) {
                 window.location.href = "/orders/" + "<%= @order.id %>" + "/pay_complete";
               }
             });
           });
           wx.hideOptionMenu();
         })
      </script>
    <% end %>
  <% end %>
  <% if @order.signed? || @order.completed? %>
    <%= content_for :extra_javascript do %>
      <script type="text/javascript" charset="utf-8">
        wx.ready(function(){ UBoss.luffy.invokeSharing(); });
      </script>
    <% end %>
  <% end %>
<% end %>
