<%= content_for :page_title do %>
  <%= @order_title || @order.state_i18n %>
<% end %>

<div class="order-status-bar">
  <%= I18n.t("order_status_bar.#{@order.state}") %>
</div>

<div class="container">
  <div class="subOrd_box1">
    <dl>
      <dt>
        <%= image_tag @product.image_url(:thumb) %>
      </dt>
      <dd>
        <strong><%= @product.name %><span>￥<%= @order_item.present_price %></span></strong>
        <p><%= @product.short_description %></p>
        <p><%= @product.user.store_identify %></p>
      </dd>
    </dl>
  </div>
  <div class="subOrd_box2">
    <div class="subOrd_boxcont">
      <p class="sub_p1">
        <span class="sub_left">数量</span>
        <span class="sub_right sub_num">
          <a href="#"><%= @order_item.amount %></a>
        </span>
      </p>
      <p class="sub_p1 sub_p2">
        <span class="sub_leftl">合计（含运费￥<%= @product.traffic_expense %>）</span>
        <span class="sub_left">
          <strong>￥</strong><b id="total_price"><%= @order.pay_amount %></b>
        </span>
      </p>
    </div>

    <div class="sub_p3">个人信息</div>

  </div>
</div>

<div class="sub_box3">
  <div class="sub_box3_cont">
    <div class="sub_box3_cont1">
      <table width="100%" border="1" class="table1">
        <tr>
          <td><span>收件人：</span></td>
          <td><span>电话：</span></td>
        </tr>
        <tr>
          <td class="hidd"><%= @order.username %></td>
          <td class="hidd"><%= @order.mobile %></td>
        </tr>
        <tr>
          <td colspan="3"><span>收件地址：</span></td>
        </tr>
        <tr>
          <td colspan="3" class="hidd"><%= @order.address %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<br/>

<div class="pay-comment order-store-info">
  <div class='store-title'>
    <%= link_to store_path(@product.user) do%>
      <%= "#{@product.user.store_identify}" %> <%= image_tag("uboss_29/right.png" ) %>
    <% end %>
  </div>
  <div>
    <p> <small>订单编号:<%= @order.number %></small> </p>
    <p> <small>创建时间:<%= @order.created_at %></small> </p>
    <% if @order.paid_at %>
      <p> <small>付款时间:<%= @order.paid_at %></small> </p>
    <% end %>
    <% if @order.shiped_at %>
      <p> <small>发货时间:<%= @order.shiped_at %></small> </p>
    <% end %>
    <% if @order.signed_at %>
      <p> <small>成交时间:<%= @order.signed_at %></small> </p>
    <% end %>
  </div>
</div>

<br />

<% if @order.state == 'unpay' && browser.wechat? %>
  <div class="accunt_adil_box3">
    <%= link_to "支付", '#', id: 'wx-pay-btn', class: 'accunt_adilbtn' %>
  </div>
<% end %>

<% if browser.wechat? %>
  <% if @order.unpay? %>
    <%= content_for :extra_javascript do %>
      <script type="text/javascript" charset="utf-8">
wx.ready(function(){

  UBoss.nami.setPayenv("<%= $wechat_env %>");
  $('#wx-pay-btn').on('click', function(event){
    event.preventDefault();
    UBoss.nami.chooseWXPay({
      "timestamp": "<%= @pay_p[:timeStamp] %>",
      "nonceStr": "<%= @pay_p[:nonceStr] %>",
      "package": "<%= @pay_p[:package] %>",
      "signType": "<%= @pay_p[:signType] %>",
      "paySign": "<%= @pay_sign %>", // 支付签名
      "success": function (res) {
        window.location.href = "/orders/" + "<%= @order.id %>" + "/pay_complete";
      }
    });
  });

  wx.hideOptionMenu();

})
      </script>
    <% end %>
  <% end %>
  <% if @order.signed? %>
    <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">

wx.ready(function(){
  UBoss.luffy.resetInvokeSharing({
    title: "<%= @product.name %>", // 分享标题
    link: "<%= product_sharing_link(@product, @sharing_link_node) %>",
    imgurl: '<%= @product.image_url %>', // 分享图标
    desc: 'UBOSS'
  });
})

    </script>
    <% end %>
  <% end %>
<% end %>
