<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>领取红包</title>
    <link href="<%= image_url("favicon-lg.png") %>" type="image/x-icon" rel="shortcut icon">
    <link rel="apple-touch-icon" href="<%= image_url("favicon-lg.png") %>">
    <%= csrf_meta_tags %>
		<%= javascript_include_tag 'pages/bonus_invite' %>
		<%= stylesheet_link_tag 'pages/bonus_invite' %>
  </head>
  <body>

    <h1>捡到<%= session[:rand_bonus_benefit] %></h1>

    <%= hidden_field_tag :inviter_uid, params[:inviter] %>
    <input type="text" name="u_mobile" id="u_mobile" value="" placeholder='请输入手机号' />
    <a class="receive-bonus-btn" href="#">领取</a>


<% if browser.wechat? %>
  <%= render "weixin_js" %>
  <script type="text/javascript" charset="utf-8">
wxSharingOpts = {
  title: '注册领红包',
  desc: '领利是',
  link: '<%= bonus_invite_pages_url %>',
  imgurl: '<%= asset_url("game/p1.png") %>',
};
wx.ready(function(){
  UBoss.luffy.resetInvokeSharing(wxSharingOpts);
});
  </script>
<% end %>

  </body>
</html>
