<div class="container nogap admin-container">
  <div class="box-w25">
    <a href="<%= admin_service_products_path(type: 'published') %>" data-remote="true">
      <div class="admin-box red-bg-color">
        <h4>上架菜品</h4>
        <h1 class="num"><%= @statistics[:published] %></h1>
      </div>
    </a>
  </div>
  <div class="box-w25">
    <a href="<%= admin_service_products_path(type: 'unpublish') %>" data-remote="true">
      <div class="admin-box blue-bg-color">
        <h4>下架菜品</h4>
        <h1 class="num"><%= @statistics[:unpublish] %></h1>
      </div>
    </a>
	</div>
</div>
<br />

<br />
<div class="container  mod-inner">
  <div class="list-search-bar">
    <%= link_to("+ 发布菜品", (current_user.is_seller? ? url_for(action: :new) : merchant_confirm_account_path), class: "btn btn-large", role: "button") %>
  </div>
  <br />
  <%= render partial: 'products', locals: { dishes: @dishes } %>
  <%= paginate @dishes %>
</div>
