<div class='login-container'>
  <%= simple_form_for(current_user, url: set_password_path, method: :PATCH) do |f| %>

    <h4>您还未设置密码，请设置密码</h4>
		<br />
    <p>
    	<%= f.input_field :password ,class:'input-block',placeholder:'请输入密码'%>
    </p>
    <div class="text-left"><small>至少六位以上的字母数字组合</small></div>
    <br />
    <p>
    	<%= f.input_field :password_confirmation,class:'input-block',placeholder:'请再次输入密码' %>
		</p>
		<br />
    <p>
      <%= f.submit "确认", class: "btn btn-large btn-block" %>      
    </p>
    <p>
    	<%= link_to "以后设置", after_sign_in_path_for(current_user, need_new_passowrd: false),
        class: 'action-link-btn btn btn-link' %>
    </p>

  <% end %>
</div>
