<div class="user-box agency">
  <div class="name">
    <%= agency.nickname %>
  </div>
	<%= image_tag(current_user.avatar.url(:thumb)) %>
  <div class="cooperation_form" id="cooperation_form_<%=agency.id%>">
    <% if current_user.has_cooperation_with_agency?(agency) %>
      <%= render 'end_cooperation', agency: agency %>
    <% else %>
      <%= render 'build_cooperation', agency: agency %>
    <% end %>
  </div>
</div>
