<% user = agency_in_table.agency %>
<tr>
  <td>
	  <%= image_tag(user.avatar.url(:thumb), size: "40x40", alt: "-") %>
  </td>
  <td><%= user.nickname %></td>
  <td><%= agency_in_table.yday_performance %></td>
  <td><%= agency_in_table.total_performance %></td>
  <td><%= user.supplier_products.where(supplier_id: current_user.id).count %></td>
  <td><%= Evaluation.sharer_good_reputation_rate(user) %></td>
  <td><%= user.mobile %></td>
  <td>
    <div class="cooperation_form" id="cooperation_form_<%=agency_in_table.id%>">
      <% if current_user.has_cooperation_with_agency?(user) %>
        <%= render 'end_cooperation', agency: user %>
      <% else %>
        <%= render 'build_cooperation', agency: user %>
      <% end %>
    </div>
  </td>
</tr>
