<div class="box-w50">
	<div class="admin-box beige-bg-color">
	<h4 class="edit-title">分组信息</h4>
	<%= f.input :advertisement_url %>
	<%= f.input :asset_img, hint:"(点击图片进行替换)"  do %>
	<%= f.input_field :avatar, type: :hidden, as: :file %>
	<p><span>建议上传比例为1:1的图片，最佳尺寸为<b style="color: red;">600x600</b>像素</span></p>
	<p class="fileinput-button">
	<% if @platform_advertisement.image_url.blank? %>
		<%= image_tag("admin/no-img.png") %>
	<% else %>
		<%= image_tag(@platform_advertisement.image_url(:thumb))%>
	<% end %>
	<%= file_field_tag "image", class: "upyun_file" %>
	<b class="loading"><i class="fa fa-spinner"></i></b>
	</p>
	<% end %>
	<%= upyun_meta_tags prefix: 'asset_img/avatar' %>
	</div>
</div>
