<%= content_for :title do %>
  呼叫服务
<% end %>
<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>
<p>
  <a href="<%= table_numbers_seller_calling_services_path(seller_id: @seller.id) %>"><%= cookies[:table_nu] %>号桌</a>
  <a href="<%= notifies_seller_calling_services_path(seller_id: @seller.id) %>">呼叫详情</a>
</p>

<div style="width:50%;margin:50% auto;">
  <br />
  <% @calling_services.each do |calling_service| %>
    <% if calling_service.name != "结帐" %>
      <p>
      <span><%= calling_service.name %></span>
      <button type="button" class="btn calling-service-btn"
        data-url=<%= calling_seller_calling_services_path(seller_id: @seller.id, service_id: calling_service.id) %>>呼叫</button>
      </p>
      <br />
    <% end %>
  <% end %>

  <p>
  <span>结帐</span>
  <button type="button" class="btn calling-service-btn"
    data-url=<%= calling_seller_calling_services_path(seller_id: @seller.id, type: 'checkout') %>>呼叫</button>
  </p>
</div>

<button type="button" class="btn btn-large btn-block btn-orange calling-service-btn" style="position:fixed;bottom:0;"
  data-url=<%= calling_seller_calling_services_path(seller_id: @seller.id, type: 'checkout') %>>其它服务</button>
