<%= content_for :title do %>
  呼叫服务
<% end %>
<%= content_for :page_title do %>
  <div class="text-center" style="margin-right: 40px;">呼叫详情</div>
<% end %>
<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>
<%= content_for :header_right do %>
  <div class="header-calling-btn calling-pop-qr pull-right"><%= image_tag 'mobile/calling-service/qr.png' %></div>
<% end %>


<div style="margin-top: 5px;">
<% @calling_notifies.each do |calling_notify| %>
  <div class="calling-notify-box">
    <span class="status-icon 
     <% if (calling_notify.unservice?) %>
      calling
     <% end %>
    ">
      <%= calling_notify.unservice?? "已呼叫" : "已接服务" %>
    </span>
    <span class="pull-right gray-color"><%= notify_time calling_notify.called_at %></span>
    <div class="text-cut title"><%= calling_notify.service_name %></div>
  </div>
<% end %>
</div>
<br />
<div style="width: 50%;margin: 0 auto;">
 <a class="btn btn-block btn-large calling-pop-qr">接收服务通知</a>
</div>
<br />
<%= render partial: 'pop_qr' %>