<%= content_for :page_title do %>
  <%= @order_title || @order.state_i18n %>
<% end %>

<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<%= content_for :extra_meta_tags do %>
  <%= store_sharing_meta_tags(@seller, @sharing_link_node) %>
<% end %>

<%= content_for :extra_javascript do %>
  <% if browser.wechat? %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>

<br />

<div class="order-list">
	<div class="seller-box">
	  <div class="cover"><%= image_tag @service_store.store_cover.url(:w640) %></div>
		<div class="content">
			<div class="text-cut"><%= @service_store.store_name %></div>
		</div>
	</div>

  <div class="order-box">
    <div class="cover">
      <%= link_to service_product_path(@order_item.item_product) do %>
        <%= image_tag @order_item.image_url(:w120) %>
      <% end %>
    </div><!-- cover -->
    <div class="content">
      <div class="price">
        <p>￥<%= @order_item.present_price %></p>
        <p class="gray-color num">x <%= @order_item.amount %></p>
      </div>
      <p class="name"><%= @order_item.product_name %></p>
    </div><!-- content -->
  </div><!-- order-box -->

  <% if @order.sharing_user.present? %>
    <div class="friend-info">
      <div class="cover">
        <%= image_tag @order.sharing_user.avatar_url(:thumb) %>
      </div>
      <div class="content">
        <span class="pull-right red-color"><%= total_privilege_amount(@order.order_items) %></span>
        <span class="main-color"><%= @order.sharing_user.identify %></span> 帮你优惠
      </div>
    </div><!-- friend-info -->
  <% end %>

	<div class="price-box">
	  合计￥<%= @order.pay_amount %>
	</div><!-- price-box -->

</div><!-- order-list -->
<br/>

<% if @order.available_pay? %>
  <div class="bg-white gap text-right">
    <%= link_to "立即付款", payments_charges_path(order_ids: @order.id, showwxpaytitle: 1), id: 'wx-pay-btn', class: 'btn', style: 'width:90%;text-align:center;margin:auto 5%;font-size:20px;line-height:25px;background:#f9ba10;' %>
  </div><!-- bg-white -->
  <br/>

<% else %>

  <div class="order-list">
    <div class="seller-box">
      <div class="pull-right">有效期至：<%= strftime(@order_item.product.deadline) %></div>
      <div class="content"><div class="text-cut">验证券</div></div>
    </div>
    <table>
      <% @order_item.verify_codes.each do |verify_code| %>
        <tr>
          <td class="pl10 f14 mint-color"><%= verify_code.code %></td>
          <% if verify_code.verified %>
            <td class="pull-right pr10">已消费</td>
          <% else %>
            <td class="pull-right pr10" style="color:#ff0000;">待消费</td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <br/>

<% end %>

<!-- 店铺信息-->
<div class="bg-white gap">
  <div class="product-store-box">
    <div class="content">
      <%= link_to  "tel:#{@service_store.mobile_phone}", class:'store-mobile pull-right' do %>
        <i class="store-mobile-img"></i>
      <%end%>
      <p class="store-address-img gray-color text-cut"><%= @service_store.address %></p>
      <h4 class="store-clock-img name text-cut">营业时间：<%= @service_store.business_hours %></h4>
    </div>
  </div>
</div>

<br />

<div class="bg-white gap gray-color line-gap">
  <p>订单编号：<%= @order.number %> </p>
  <p>下单时间：<%= @order.created_at %></p>
  <% if @order.paid_at %>
    <p>支付时间：<%= @order.paid_at %> </p>
  <% end %>
</div>

<br />
