<div class="admin-box beige-bg-color">
  <h4 class="edit-title">商家信息</h4>
  <div class="form-group">
    <label class="control-label"><abbr title="必填">*</abbr> 商家名称</label>
    <div class="control-input half-width">
      <div class="f15 lh36">
        <input type="text" value="" />
        <input type="hidden" name="promotion_activity[user_id]" value="3" />
        <input type="button" class="btn btn-large black-btn" value="搜索" style="width:80px;" />
      </div>
    </div>
  </div>
</div>
<br />

<%= f.simple_fields_for "activity_infos_attributes[]", @live_activity_info do |info| %>
  <%= info.hidden_field :id %>
  <div class="admin-box beige-bg-color">
    <h4 class="edit-title">现场活动</h4>
    <%= info.hidden_field :activity_type %>
    <%= info.input :name %>
    <%= info.input :price %>
    <div class="form-group">
      <label class="control-label"><abbr title="必填">*</abbr> 使用有效期</label>
      <div class="control-input half-width">
        <div class="f15 lh36">
          <%= info.text_field :expiry_days %> 天
          <span class="fs ml20">（自领取当天开始计算）</span>
        </div>
      </div>
    </div>
    <%= info.input :description %>
    <div class="form-group">
      <label class="control-label"><abbr title="必填">*</abbr> 中奖数量</label>
      <div class="control-input half-width">
        <div class="f15 lh36"><%= info.text_field :win_count %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label"><abbr title="必填">*</abbr> 中奖概率</label>
      <div class="control-input half-width">
        <div class="f15 lh36"><%= info.text_field :win_rate %> %</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">已中奖数量</label>
      <div class="control-input half-width"><span class="db pt10">0</span></div>
    </div>
    <div class="form-group">
      <label class="control-label">已验证数量</label>
      <div class="control-input half-width"><span class="db pt10">0</span></div>
    </div>
  </div>
  <br />
<% end %>

<%= f.simple_fields_for "activity_infos_attributes[]", @share_activity_info do |info| %>
  <%= info.hidden_field :id %>
  <div class="admin-box beige-bg-color">
    <h4 class="edit-title">分享活动</h4>
    <%= info.hidden_field :activity_type %>
    <%= info.input :name %>
    <%= info.input :price %>
    <div class="form-group">
      <label class="control-label"><abbr title="必填">*</abbr> 使用有效期</label>
      <div class="control-input half-width">
        <div class="f15 lh36">
          <%= info.text_field :expiry_days %> 天
          <span class="fs ml20">（自领取当天开始计算）</span>
        </div>
      </div>
    </div>
    <%= info.input :description %>
    <div class="form-group">
      <label class="control-label"><abbr title="必填">*</abbr> 中奖数量</label>
      <div class="control-input half-width">
        <div class="f15 lh36"><%= info.text_field :win_count %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label"><abbr title="必填">*</abbr> 中奖概率</label>
      <div class="control-input half-width">
        <div class="f15 lh36"><%= info.text_field :win_rate %> %</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">已中奖数量</label>
      <div class="control-input half-width"><span class="db pt10">0</span></div>
    </div>
    <div class="form-group">
      <label class="control-label">已验证数量</label>
      <div class="control-input half-width"><span class="db pt10">0</span></div>
    </div>
  </div>
  <br />
<% end %>


<div class="form-actions text-center">
  <%= f.submit "保存", class: "btn btn-large" %>
</div>
