<div class="products_wrapper">
  <%= render 'layouts/flash_alert' if request.xhr? %>
  <div class="index_list">
    <table class="list-table" id="promotion_activities">
      <thead>
        <th colspan="2">
          <% if current_user.has_role?(:super_admin) %>
            商家帐号
          <% else %>
            店铺名称
          <% end %>
        </th>
        <th>活动类型</th>
        <th>活动名称</th>
        <th>中奖数量</th>
        <th>已中奖数量</th>
        <th>已验证数量</th>
        <th>参与时间</th>
        <th>操作</th>
      </thead>
      <% promotion_activities.each do |promotion_activity| %>

        <% live_activity_info = promotion_activity.live_activity_info %>
        <% share_activity_info = promotion_activity.share_activity_info %>
        <tr class="promotion_activity">
          <td rowspan="2">
            <%= link_to admin_promotion_activity_path(promotion_activity) do %>
              <% if promotion_activity.store_type == 'service' %>
                <% if promotion_activity.user.service_store.store_cover_identifier.blank? %>
                  <%= image_tag(promotion_activity.user.image_url(:thumb), size: "80x80", alt: "-") %>
                <% else %>
                  <%= image_tag(promotion_activity.user.service_store.store_cover.url(:w320), size: "80x80", alt: "-") %>
                <% end %>
              <% else %>
                <% if promotion_activity.user.ordinary_store.store_cover_identifier.blank? %>
                  <%= image_tag(promotion_activity.user.image_url(:thumb), size: "80x80", alt: "-") %>
                <% else %>
                  <%= image_tag(promotion_activity.user.ordinary_store.store_cover.url(:w320), size: "80x80", alt: "-") %>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td rowspan="2" class="text-left" style="max-width: 400px;">
            <%= link_to admin_promotion_activity_path(promotion_activity) do %>
              <p>
              <% if current_user.has_role?(:super_admin) %>
                <%= promotion_activity.seller_name %>
              <% elsif promotion_activity.store_type == 'service' %>
                <%= promotion_activity.user.service_store.store_identify %>
              <% else %>
                <%= promotion_activity.user.ordinary_store.store_identify %>
              <% end %>
              </p>
              <p><%= PromotionActivity::DATA_STORE_TYPE.stringify_keys[promotion_activity.store_type] %></p>
            <% end %>
          </td>
          <td><%= translate_activity_type live_activity_info.activity_type %></td>
          <td><%= live_activity_info.name %></td>
          <td><%= live_activity_info.win_count %></td>
          <td><%= live_activity_info.live_prizes.count %></td>
          <td><%= live_activity_info.verified_verify_codes.count %></td>
          <td rowspan="2"><%= promotion_activity.created_at %></td>
          <td rowspan="2">
            <% if promotion_activity.status == 'published' %>
              <p>
              <%= link_to("下架", change_status_admin_promotion_activity_path(promotion_activity, status: 'unpublish'),
                          remote: true, method: :patch, data: { disable_with: '<i class="fa fa-spinner"></i>' },
                          class: "btn btn-mid btn-block change-status-btn") %>
                        </p>
                        <p>
                        <%= link_to url_for(action: :edit, id: promotion_activity.id), class:'edit-icon', title: '编辑' do %>
                          <i class="fa fa-pencil-square-o"></i>
                        <% end %>
                        </p>
                      <% else %>
                        <p><%= link_to "查看详情", admin_promotion_activity_path(promotion_activity), style: "font-size:12px;" %></p>
                      <% end %>
                    </td>
                  </tr>

                  <tr class="promotion_activity">
                    <td><%= translate_activity_type share_activity_info.activity_type %></td>
                    <td><%= share_activity_info.name %></td>
                    <td><%= share_activity_info.win_count %></td>
                    <td><%= share_activity_info.share_prizes.count %></td>
                    <td><%= share_activity_info.verified_verify_codes.count %></td>
                  </tr>

                <% end %>
              </table>
            </div>
          </div>
