<br />
<div class="container nogap ">
  <% if params[:type] == "published" %>
    <div class="box-w25">
      <a href="<%= admin_promotion_activities_path(type: 'published') %>" data-remote="true">
        <div class="admin-box red-bg-color">
          <h4>参与中商家</h4>
          <h1 class="num"><%= @promotion_activities.count %></h1>
        </div>
      </a>
    </div>
  <% end %>
  <% if params[:type] == "unpublish" %>
    <div class="box-w25">
      <a href="<%= admin_promotion_activities_path(type: 'unpublish') %>" data-remote="true">
        <div class="admin-box red-bg-color">
          <h4>已下架商家</h4>
          <h1 class="num"><%= @promotion_activities.count %></h1>
        </div>
      </a>
    </div>
  <% end %>
</div>
<br />

<div class="container  mod-inner">
  <div class="list-search-bar">
    <%= link_to("+ 绑定商家", url_for(action: :new), class: "btn btn-large", role: "button") %>
  </div>
  <br />
  <%= render partial: 'promotion_activities', locals: { promotion_activities: @promotion_activities } %>
  <%= paginate @promotion_activities %>
</div>
