<%= upyun_meta_tags prefix: "asset_img/avatar" %>
<div class="index_list">
  <table class="list-table">
    <thead>
<!--       <th><input id="category-checkbox" type="checkbox"></th> -->
      <th>分组名</th>
      <th>分组图片</th>
      <th>分享二维码</th>
      <th>修改时间</th>
      <th>操作</th>
    </thead>
    <% categories.each_with_index do |category,i| %>
      <tr>
        <%= hidden_field_tag "categories[#{i}][id]", category.id %>
        <%= hidden_field_tag "categories[#{i}][check]", 'false', class:"form-item-check" %>

<!--         <td>
          <input class="checkbox " name="check_item" type="checkbox" data-member="#{i}">
        </td> -->
        <td><%= text_field_tag "categories[#{i}][name]", category.name, class:"update_item", data: { url:  "/admin/categories/#{category.id}/update_category_name"}  %></td>
        <td>
          <p class="fileinput-button">
            <% if category.image_url.blank? %>
              <%= image_tag("admin/no-img.png", class:"clean",style:"height: 80px;") %>
            <% else %>
              <%= image_tag(category.image_url(:thumb), class:"clean", style:"height: 80px;")%>
            <% end %>
            <%= file_field_tag "image", class: "upyun_file_json" ,  data: {to: "/admin/categories/update_category_img?resource_id=#{category.id}"} %>
            <b class="loading"><i class="fa fa-spinner"></i></b>
          </p>
          <div style="font-size:10px;">(点击图片进行替换)</div>
        </td>
        <td><%= qrcode_image_tag(store_category_url(category.user_id, category.id, shared: true), html: { width: 100 }) %></td>
        <td><%= category.updated_at %></td>
        <td>
          <% if can? :update, category %>
            <%= link_to url_for(action: :edit, id: category.id), class:'edit-icon', title: '编辑' do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
            <%= link_to admin_category_path(category),
              method: :delete, class:'change-status-btn edit-icon', data: { confirm: '确认删除？' } do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
