<%= content_for :page_specific_javascript do %>
  <script type="text/javascript" charset="utf-8">
    stockData = <%== get_product_seling_inventories_json @product, (current_user.is_supplier? and can? :manage, @product) %>
  </script>
  <%= javascript_include_tag 'admin/sku_app/application' %>
<% end %>

<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-angle-right"></i></li>
		<li><%= link_to '商品管理', [:admin, :products] %></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active">查看商品信息</li>
	</ul>
</div><!-- container -->
<br />
<div class="container nogap">
  <div class="admin-box beige-bg-color">
    <h4 class="edit-title">基本信息</h4>

    <div class="form-group">
      <label class="control-label">商品分组</label>
      <div class="control-input">
        <span class="control-input" style="padding:8px">
          <% @product.categories.each do |category| %>
            <span class='label label-info'><%= category.name %></span>
          <% end %>
        </span>
      </div>
    </div>
  </div><!-- admin-box -->
  <br />



  <div class="admin-box beige-bg-color">
    <h4 class="edit-title">商品信息</h4>
    <% if current_user.is_super_admin? %>
      <div class="form-group">
        <label class="control-label">所属商家</label>
        <div class="control-input">
          <span class="text-margin"><%= link_to @product.user.identify, url_for(controller: 'admin/sellers', action: :show, id: @product.user) %></span>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <label class="control-label">产品名</label>
      <div class="control-input">
        <span class="control-txt"><%= @product.name %></span>
      </div>
    </div>
    <% if current_user.is_supplier? and can? :manage, @product %>
      <div class="form-group">
        <label class="control-label">成本价</label>
        <div class="control-input">
          <span class="control-txt"><%= @product.cost_price %></span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">建议价</label>
        <div class="control-input">
          <span class="control-txt"><%= @product.suggest_price_lower %>至<%= @product.suggest_price_upper %></span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">代销说明</label>
        <div class="control-input">
          <span class="control-txt"><%= raw @product.supply_content %></span>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <label class="control-label"> 描述 </label>
      <div class="control-input">
        <span class="control-txt"><%= @product.short_description %></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label"> 商品主图 </label>
      <div class="control-input">
        <span><%= image_tag(@product.image_url(:w120)) %></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label"> 图文详情 </label>
      <div class="control-input">
        <div style='width:350px;' class="control-txt"><%= raw @product.content %>　</div>
      </div>
    </div>
  </div><!-- admin-box -->
  <br />
  <div id="product-stock" class="admin-box beige-bg-color">
    <h4 class="edit-title">库存/规格</h4>
    <div class="form-group">
      <label class="control-label">库存</label>
      <div  class="stock-list control-input">
      </div>
    </div>
  </div>
  <br />
  <div id="sku-privelege-group" class="admin-box beige-bg-color">
    <h4 class="edit-title">返利详情</h4>
    <div class="form-group sku-privilege-list-group">
      <label class="control-label">返利金额</label>
      <div class='sku-privilege-list control-input'></div>
    </div>
  </div><!-- admin-box -->
  <br />
  <div class="admin-box beige-bg-color">
    <h4 class="edit-title">物流及其他</h4>
    <div class="form-group">
        <label class="control-label">付款方式</label>
        <div class="control-input">
          <span class="text-margin"><%= Product::DataBuyerPay[@product.transportation_way] %></span>
        </div>
    </div>
    <% if Product::DataBuyerPay[@product.transportation_way] == '统一邮费' %>
      <div class="form-group">
          <label class="control-label">运费</label>
          <div class="control-input">
            <div class="control-txt"><%= @product.traffic_expense %></div>
          </div>
      </div>
    <% end %>
  </div>
  <br />
  <div class="admin-box beige-bg-color">
    <h4 class="edit-title">二维码</h4>
    <div class="box-w100">
      <div class="box-w70">
        <br />
        <p>复制右边专属二维码</p>
        <p>即可在各大社交平台</p>
        <p>传播你的商品</p>
      </div>
      <div class="box-w20">
        <img src="http://qr.liantu.com/api.php?&text=<%= "http://#{request.env["HTTP_HOST"]}/products/#{@product.id}?shared=true" %>"/>
      </div>
    </div>
  </div><!-- admin-box -->
  <br />
  <div class="text-center">
    <% if can_manage_supplier_product(@product) %>
      <%= link_to("编辑", url_for(controller: 'admin/supplier_products', :action=>:edit, :id=>@product.id), :class=>"btn btn-large blue-btn",:role=>"button") %>
      <% supplier_product_info = @product.supplier_product_info %>
      <% if supplier_product_info.stored? %>
        <%= link_to("上架", url_for(controller: 'admin/supplier_products', action: :toggle_supply_status, id: @product.id, status: :supply), method: :patch, class: "btn btn-large red-btn", role: "button") %>
      <% elsif supplier_product_info.supplied? %>
        <%= link_to("下架", url_for(controller: 'admin/supplier_products', action: :toggle_supply_status, id: @product.id, status: :store), method: :patch, class: "btn btn-large red-btn", role: "button") %>
      <% end %>
    <% end %>
    <% if can_manage_seller_product(@product) %>
      <%= link_to("编辑", url_for(controller: 'admin/products', :action=>:edit,:id=>@product.id), :class=>"btn btn-large blue-btn",:role=>"button") %>
      <%= link_to("手机效果", url_for(controller: 'admin/products', :action=>:pre_view,:id=>@product.id), :class=>"btn btn-large yellow-btn",:role=>"button",:target=>"_blank") %>
      <% if @product.status == "unpublish" %>
        <%= link_to("上架", url_for(controller: 'admin/products', action: :change_status, id: @product.id, status: :published), method: :patch, class: "btn btn-large red-btn", role: "button") %>
      <% else %>
        <%= link_to("取消上架", url_for(controller: 'admin/products', action: :change_status,id: @product.id, status: :unpublish),
                   method: :patch, class: "btn btn-large ",:role=>"button") %>
      <% end %>
    <% end %>
    <% if can_agent_product(@product) %>
      <div class="agency-product-actions">
        <% if @product.has_been_agented_by?(current_user) %>
          <button class="btn btn-large" disabled><%= @product.published? ? '已添加到店铺' : '已添加到仓库' %></button>
        <% else %>
          <%= link_to("+立即上架", admin_list_supplier_product_path(@product),
            remote: true, method: :post, data: { disable_with: '<i class="fa fa-spinner"></i>' },
            class: "btn btn-large list-supplier-product") %>
          <%= link_to("+添加到仓库", admin_store_supplier_product_path(@product),
            remote: true, method: :post, data: { disable_with: '<i class="fa fa-spinner"></i>' },
            class: "btn btn-large store-supplier-product") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div><!-- container -->
