<%= upyun_meta_tags prefix: 'asset_img/avatar' %>
<div class="box-w50">
	<div class="admin-box beige-bg-color">
	  <h4 class="edit-title">商品信息</h4>
	  <%= f.input :name %>
	  <%= f.input :original_price %>
	  <%= f.input :present_price %>
	  <%= f.input :count %>
		<%= f.input :attribute_name %>
		<%= f.input :attribute_value %>
	  <%= f.input :short_description %>
	  <%= f.input :asset_img, hint:"(点击图片进行替换)"  do %>
	    <%= f.input_field :avatar, type: :hidden, as: :file %>


		<p><span>建议上传比例为1:1的图片，最佳尺寸为<b style="color: red;">600x600</b>像素</span></p>
	    <p class="fileinput-button">
	      	<% if @product.new_record? %>
	      		<%= image_tag("admin/no-img.png") %>
	      	<% else %>
	      		<%= image_tag(@product.image_url(:thumb))%>
	      	<% end %>
	      <%= file_field_tag "image", class: "upyun_file" %>
	      <b class="loading"><i class="fa fa-spinner"></i></b>
	    </p>
	  <% end %>
		<div class="form-group ">
		  <label class="control-label">图文详情</label>
		  <div class="control-input">
		  	<%= f.input_field :content, as: :text, class: "redactor" %>
		  </div>
	 	</div>
	</div>
</div>
<div class="box-w50">
	<div class="admin-box beige-bg-color">
	  <h4 class="edit-title">分成设置</h4>
	  <div class='form-group'>
	  	<label class='control-label'>
	  		分成比例
	  	</label>
	   	<label class='control-label pull-right'>
	   		%　
	  		<% if @product.present? and @product.calculate_way == 1 %>
	        <%= radio_button_tag('product[calculate_way]',1,:html=>{:checked=>'checked'}) %>
	      <% else %>
	        <%= radio_button_tag('product[calculate_way]',1) %>
	      <% end %>
	   	</label>
	    <div class='control-input'>
	      <%= f.input_field :share_rate_total, class: 'form-control' %>
	    </div>
	  </div>
	  <div class='form-group'>
	  	<label class='control-label'>现金分成</label>
	    <label class='control-label pull-right'>
	    	元　
	      <% if @product.present? and @product.calculate_way == 0 %>
	        <%= radio_button_tag 'product[calculate_way]',0,:html=>{:checked=>'checked'} %>
	      <% else %>
	        <%= radio_button_tag 'product[calculate_way]',0 %>
	      <% end %>
	    </label>
	    <div class='control-input'>
	      <%= f.input_field :share_amount_total, class: 'form-control' %>
	    </div>
	  </div>
	  <%= f.input :has_share_lv, as: :radio_buttons,
	    collection: {'不分成'=>0,'1'=>1,'2'=>2,'3'=>3},
	    item_wrapper_class: "radio-inline"
	  %>

	</div><!-- admin-box -->
	<br  />
	<div class="admin-box beige-bg-color">
	  <h4 class="edit-title">物流及其他</h4>
	  <%= f.input :buyer_pay,as: :radio_buttons ,:collection=>Product::DataBuyerPay.invert,:item_wrapper_class => "radio-inline",:label_html=>{:class=>"text-right"} %>
	  <%= f.input :traffic_expense, :as=>:float,:include_blank => false ,:label_html=>{:class=>"text-right"} %>
	</div><!-- admin-box -->
