
  <div class="column small-6">
    <h3>商品信息</h3>
      <div class="small-4 column">
        <%= f.input :name,:as=>:string,:label_html=>{:class=>"left small-4"} %>
        <%= f.input :original_price,:as=>:float,:label_html=>{:class=>"left small-4"} %>
        <%= f.input :present_price,:as=>:float,:label_html=>{:class=>"left small-4"} %>
        <%= f.input :count,:as=>:integer,:label_html=>{:class=>"left small-4"} %>
        <%= f.label :asset_img %>
        <%= f.file_field :asset_img ,:name=>"asset_img" %>
      </div>
      <div class="column">
        <%= f.input :content,:as=>:text %>
      </div>
    
  </div>
  <div class="column">
    <h3>分成设置</h3>
    <div  class="small-4 column">
      <table>
        <thead>
          <tr>
            <th width=100>分成方式：</th>
            <th width=180>购买分成：</th>
            <th width=180>分享分成：</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>一级分成：</td>
            <td><%= f.input_field :buyer_lv_1,:style=>"width:60px" %>%</td>
            <td><%= f.input_field :sharer_lv_1,:style=>"width:60px" %>%</td>
          </tr>
          <tr>
            <td>二级分成：</td>
            <td><%= f.input_field :buyer_lv_2,:style=>"width:60px" %>%</td>
            <td></td>
          </tr>
          <tr>
            <td>三级分成：</td>
            <td><%= f.input_field :buyer_lv_3,:style=>"width:60px" %>%</td>
            <td></td>
          </tr>
          <tr>
            <td>提现方式：</td>
            <td><%= f.input :buyer_present_way,:as=>:select,:collection=>Product::DataPresentWay.invert, :label=>false, :include_blank => false ,:input_html=>{:style=>"width:80px"} %></td>
            <td>
              <%= f.input :sharer_present_way,:as=>:select,:collection=>Product::DataPresentWay.invert, :label=>false,:include_blank => false ,:input_html=>{:style=>"width:80px"} %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




