<%= content_for :page_specific_javascript do %>
  <script type="text/javascript" charset="utf-8">
    propertyData = <%== ProductProperty.includes(:product_property_values).all.to_json(only: [:name], include: {product_property_values: {only: [:value]}}) %>;
    stockData = <%== get_product_seling_inventories_json f.object %>;
    App.controller = "<%= params[:controller] %>";
    App.productType = "<%= @product.type %>";
  </script>
  <%= javascript_include_tag 'admin/sku_app/application' %>
<% end %>

<%= upyun_meta_tags prefix: 'asset_img/avatar' %>
<div class="admin-box beige-bg-color">
  <h4 class="edit-title">基本信息</h4>
  <%= hidden_field_tag :pre_load_tages, @product.categories.collect(&:name).join(',') %>
  <%= hidden_field_tag :tages, current_user.categories.collect(&:name).join(',') %>
  <div id="category">

  </div>
</div>
<br />
<div class="admin-box beige-bg-color">
  <h4 class="edit-title">商品信息</h4>
  <%= f.input :name %>
  <%= render partial: "admin/products/form/supplier_product", locals: { f: f, product: @product } if @product.is_a?(SupplierProduct) %>
  <% if can_manage_agency_product(@product) %>
    <%= render 'agency_show_fields', product: @product %>
  <% end %>
  <% unless can_manage_supplier_product(@product) %>
    <%= f.input :original_price, hint: '仅作页面显示参考' %>
    <%= f.input :present_price, hint: '仅作显示参考，真实价格请在库存/规格中设置' %>
  <% end %>
  <%= f.input :count %>
  <%= f.input :short_description %>
  <%= f.input :asset_img, hint:"(点击图片进行替换)"  do %>
    <%= f.input_field :avatar, type: :hidden, as: :file %>
    <p><span class="text-margin">建议上传比例为1:1的图片，最佳尺寸为<b style="color: red;">600x600</b>像素</span></p>
    <p class="fileinput-button">
        <% if @product.image_url.blank? %>
          <%= image_tag("admin/no-img.png") %>
        <% else %>
          <%= image_tag(@product.image_url(:thumb))%>
        <% end %>
      <%= file_field_tag "image", class: "upyun_file" %>
      <b class="loading"><i class="fa fa-spinner"></i></b>
    </p>
  <% end %>
  <div class="form-group ">
    <label class="control-label">图文详情<abbr title="必填">*</abbr></label>
    <div class="control-input" style='width: 430px;'>
      <% if @product.is_a?(SupplierProduct) %>
        <% if current_user.is_supplier? and can? :manage, @product %>
          <%= f.input_field :supply_content, as: :text, class: "redactor", placeholder: '在此添加代销说明' %>
        <% elsif current_user.is_agency? and can? :manage, @product %>
          代销说明：<%= raw @product.parent.supply_content %>
        <% end %>
      <% end %>
      <%= f.input_field :content, as: :text, class: "redactor", placeholder: '在此添加商品详情' %>
    </div>
  </div>
</div>
<br />
<div class="admin-box beige-bg-color">
  <h4 class="edit-title">库存/规格</h4>
  <div class="form-group product-sku-box box-w100">
    <label class="control-label box-w20">规格<abbr title="必填">*</abbr></label>
    <div id='product-sku' class='control-input box-w80'>
      <% unless can_manage_agency_product(@product) %>
        <div class="property-list">
        </div>
        <a class="btn add-property" href="#">添加规格</a>
      <% end %>
    </div>
  </div>
  <div id="product-stock" class="form-group ">
    <label class="control-label">库存<abbr title="必填">*</abbr></label>
    <div  class="stock-list control-input">
      <p><span class="text-margin">请添加产品规格属性</span></p>
    </div>
  </div>
</div>
<br />
<%= render "admin/products/form/rebate" if @product.is_a?(OrdinaryProduct) && can?(:manage, @product) %>

<% if can_manage_agency_product(@product) %>
  <%= render 'admin/products/transportation_show', product: @product %>
<% else %>
  <%= render partial: "admin/products/form/shipping", locals: { f: f, product: @product } %>
<% end %>

<div class="form-actions text-center">
  <%= f.submit "保存", class: "btn btn-large" %>
</div>
