<%= render 'layouts/flash_alert' if request.xhr? %>
<div class="index_list">
<table class="list-table" id="products">
		<thead>			
			<th colspan="2">商品</th>
			<th>价格</th>
			<% if current_user.is_super_admin? %>
				<th>商家</th>
			<% end %>
			<th>好评率</th>
			<th>总销量</th>
			<th>发布时间</th>
			<th>操作</th>
		</thead>
		<% products.each do |product| %>
			<tr class="product" id='product_<%= product.id %>'>
				<td>
          <%= link_to the_product_path(product) do %>
						<%= image_tag(product.image_url(:thumb), size: "80x80", alt: "-") %>　
					<% end %>
				</td>
				<td class="text-left" style="max-width: 400px;">
					<%= link_to the_product_path(product) do %>
						<%= product.name %>
					<% end %>
          <% if product.type == "AgencyProduct" %>
            (<%= t(product.type) %>)
          <% end %>
				</td>
				<td>
					<%= number_to_currency product.present_price %>
				</td>
				<% if current_user.is_super_admin? %>
				<td><%= link_to product.user.identify, url_for(controller: 'admin/sellers', action: :show, id: product.user) %></td>
				<% end %>
				<td><%= Evaluation.product_good_reputation_rate(product.id) %></td>
				<td><%= product.total_sells %></td>
				<td><%= product.created_at %></td>
				<td>
          <% if can_manage_seller_product(product) %>
            <% if product.status == 'unpublish' %>
              <p>
              <%= link_to("上架", change_status_admin_product_path(product, status: 'published'),
              remote: true, method: :patch, data: { disable_with: '<i class="fa fa-spinner"></i>' },
              class: "btn btn-mid btn-block yellow-btn change-status-btn") %>
              </p>
            <% else %>
              <p>
              <%= link_to("下架", change_status_admin_product_path(product, status: 'unpublish'),
              remote: true, method: :patch, data: { disable_with: '<i class="fa fa-spinner"></i>' },
              class: "btn btn-mid btn-block change-status-btn") %>
              </p>
            <% end %>

            <%= link_to switch_hot_flag_admin_product_path(product),
              remote: true, method: :patch,
              class:" edit-icon switch-p-hot-btn " ,title:'是否为热销商品' do %>
              <i class="fa fachange <%=product.hot? ? 'fa-heart red-color' : 'fa-heart-o'%>">  </i>
            <% end %>

            <%= link_to url_for(action: :edit, id: product.id), class:'edit-icon', title: '编辑' do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>

            <%= link_to change_status_admin_product_path(product, status: 'closed'),
              remote: true, method: :patch, class:'change-status-btn edit-icon',
              data: { disable_with: '<i class="fa fa-trash-o"></i>' } do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          <% end %>
          <% if can_agent_product(product) %>
            <div class="agency-product-actions agency-product-action-<%= product.id %>">
              <% if product.has_been_agented_by?(current_user) %>
                <button class="btn btn-mid btn-block" disabled><%= product.published? ? '已添加到店铺' : '已添加到仓库' %></button>
              <% else %>
                <%= link_to("+立即上架", admin_list_supplier_product_path(product),
                  remote: true, method: :post, data: { disable_with: '<i class="fa fa-spinner"></i>' },
                  class: "btn btn-mid btn-block list-supplier-product") %>
                <%= link_to("+添加到仓库", admin_store_supplier_product_path(product),
                  remote: true, method: :post, data: { disable_with: '<i class="fa fa-spinner"></i>' },
                  class: "btn btn-mid btn-block store-supplier-product") %>
              <% end %>
            </div>
          <% end %>
				</td>
			</tr>
		<% end %>
</table>
</div>
