
<div class="row text-center col-md-offset-4">
    <div class="col-xs-2">
      <div>今日发布</div>
      <b style="font-size:3em;"><%= @statistics[:create_today] %></b>
    </div>
    <div class="col-xs-2">
      <div>总商品</div>
      <b style="font-size:3em;"><%= @statistics[:count] %></b>
    </div>
    <div class="col-xs-2">
      <div>库存紧张</div>
      <b style="font-size:3em;"><%= @statistics[:not_enough] %></b>
    </div>
</div>
<div class="row"><%= link_to("发布商品", url_for(:action=>:new), :class=>"btn btn-primary active",:role=>"button") %></div>
<div class="row">
  <table  class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">商品</th>
        <th>好评率</th>
        <th>库存</th>
        <th>总销量</th>
        <th>发布时间</th>
        <th width=50></th>
      </tr>
    </thead>
    <tbody>
      <% (@products || []).each do |obj| %>
        <tr>
          <td>
            <%= link_to url_for(:action=>:show,:id=>obj.id) do %>
            <div class="col-xs-4"><%= image_tag(obj.asset_img.try(:avatar).try(:url), size: "100x80", alt: "-") %></div>
            <div  class="col-xs-8"><%= obj.name %></div>
            <% end %>
          </td>
          <td>-</td>
          <td><%= obj.count %></td>
          <td>-</td>
          <td><%= obj.created_at.try(:strftime,'%Y-%m-%d') %></td>
          <td>
            <div><%= link_to("编辑", url_for(:action=>:edit,:id=>obj.id)) %></div>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @products %>
</div>