<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>商品</li>
	</ul>
</div>
<br />
<div class="container nogap ">
	<div class="box-w25">
		<div class="admin-box main-bg-color">
			<h4>今日发布</h4>
    	<h1 class="num"><%= @statistics[:create_today] %></h1>
		</div>
	</div>
	<div class="box-w25">
		<div class="admin-box blue-bg-color">
			<h4>总发布商品</h4>
    	<h1 class="num"><%= @statistics[:count] %></h1>
		</div>
	</div>
	<div class="box-w25">
		<div class="admin-box red-bg-color">
			<h4>库存紧张</h4>
    	<h1 class="num"><%= @statistics[:not_enough] %></h1>
		</div>
	</div>
</div>
<br />
<div class="container  mod-inner">
	<div class="list-search-bar">
		<%= link_to("+ 发布商品", url_for(:action=>:new), :class=>"btn btn-large",:role=>"button") %>
	</div>
	<br />
	
		<%= render partial: 'products', locals: { products: @products } %>
</div>


<%= paginate @products %>

<script type="text/javascript">
function delete_this(id) {
  var id = id
  console.log(id)
  var r=confirm("确定要删除么？")
  if (r==true) {
    $.ajax({
      url: '/admin/products/'+id+'/change_status',
      dataType: 'script',
      data: {id: id, status: 'closed'},
    });
  };
}
</script>
