
<div class="row text-center">
  <div class="col-xs-3"></div>
  <div class="col-xs-2">
    <div>今日发布</div>
    <b style="font-size:3em;"><%= @statistics[:create_today] %></b>
  </div>
  <div class="col-xs-2">
    <div>总商品</div>
    <b style="font-size:3em;"><%= @statistics[:count] %></b>
  </div>
  <div class="col-xs-2">
    <div>库存紧张</div>
    <b style="font-size:3em;"><%= @statistics[:not_enough] %></b>
  </div>
</div>
<div class="row"><%= link_to("发布商品", url_for(:action=>:new), :class=>"btn btn-primary active",:role=>"button") %></div>
<hr>
<div id="index_list">
  <%= render 'index_list' %>
</div>
