<div class="col-md-offset-4" style="width:400px;">
  <div class="row">
    <div class="col-xs-12 text-center" style="padding:10px; 0">
      <%= link_to '###' do %>
      <div class="col-xs-2" style="font-size:1.5em;">
        <%= link_to("<", '###') %>
      </div>
      <% end %>
      <div class="col-xs-8" style="font-size:2em;">
        <h1>商品详情</h1>
      </div>
    </div>
  </div>
  <div class="row"  style="font-size:2em">
    <div class="col-xs-12">
      <%= image_tag(@product.asset_img.avatar.url,  alt: "-",:style=>"width:100%;") %>
    </div>
    
    <div class="col-xs-12" style="padding:10px 3%;">
      <div class="col-xs-12 font_h3" style="border-bottom:1px solid gray;padding:2%;">
        <%= @product.name %>
      </div>
      <span class="font_h2">
       ￥<%= @product.present_price %>
      </span>
      <span  class="font_h4" style="text-decoration:line-through;color:gray;">
        ￥<%= @product.original_price %>
      </span>
    
      <div class=" font_h4" style="color:gray;">
        <%= Product::DataBuyerPay[@product.buyer_pay] %>
        <% if @product.buyer_pay %>
        <%= ":￥#{@product.traffic_expense}" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center font_h3" style="margin:0; border:1px solid;">
      图文详情
    </div>
    
    <div class="col-xs-12 font_h3 content">
      <%= raw @product.content %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="padding:1%">
      
    </div>
  </div>

  <div class="row">
    <%= link_to '###' do %>
    <div class="btn active col-xs-12 btn-lg btn-default font_h3" style="">
      立即购买
    </div>
    <% end %>
  </div>

</div>
<div class="button_div col-xs-2 col-md-offset-8"  style="margin-top:30px;padding-bottom:30px;"><%= link_to("返回", url_for(:action=>:edit,:id=>@product.id), :class=>"btn btn-primary active  col-xs-12",:role=>"button") %></div>