<%= content_for :page_title do %>
  商品详情
<% end %>
<%= content_for :extra_meta_tags do %>
  <%= sharing_meta_tags(
    sharing_title: @product.name,
    sharing_imgurl: @product.image_url(:thumb),
    sharing_link: '###') %>
<% end %>

<div class="container">
  <div class="prdv_img">
    <%= image_tag(@product.image_url(:w640),  alt: "#{@product.name}") %>
  </div>
  <div class="dail_box">
    <div class="dail_contitl">
      <p class="dail_title"><%= @product.name %></p>
      <p class="dail_prics">
      <span class="pricc">价格：</span>
      <span class="pric1v">￥<%= @product.present_price %></span>
      <span class="pric3 prvd_colors"><%= @product.original_price %></span>
      </p>
      <p class="dail_pric3">
      <span class="pricc_v1">快递：<%= product_traffic(@product) %></span>
      <span class="pricc_v2">
        好评率：
        <span class="pricc"><%= Evaluation.product_good_reputation_rate(@product.id) %> </span>
        （<%= Evaluation.product_good_reputation(@product.id) %>人）</span>
      </p>
    </div>
  </div>
  <div class="comming">
    <p class="comming_cont">
    <span class="comming_v1">
      <% if @product.user.avatar.present? %>
        <%= image_tag @seller.avatar_url(:h50) %>
      <% else %>
        <%= @seller.store_name %>
      <% end %>
    </span>
    <span class="comming_v2"><%= link_to "进入商铺", '###' %></span>
    </p>
  </div>
</div>

<div class="prvid_content">
  <p class="prvid_content_tit">图文详情</p>
  <%= raw @product.description %>
</div>
<div class="buy">
  <%= link_to '返回',  url_for(:action=>:show,:id=>@product.id), class: 'buy_btn' %>
</div>
<script type="text/javascript">
  $('body').attr('style','width:400px;margin-left:40%;')
  $(".buy").attr('style','width:400px;')
</script>
