<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-angle-right"></i></li>
		<li><%= link_to '商品管理', [:admin, :products] %></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active">查看商品信息</li>
	</ul>
</div><!-- container -->
<br />
<div class="container nogap">
	<div class="box-w50">
		<div class="admin-box beige-bg-color">
			<h4 class="edit-title">商品信息</h4>
			<% if current_user.is_super_admin? %>
	    	<div class="form-group">
	    		<label class="control-label">所属商家</label>
	    		<div class="control-input">
	    			<span><%= link_to @product.user.identify, url_for(controller: 'admin/sellers', action: :show, id: @product.user) %></span>
	    		</div>
	    	</div>
	    	<% end %>
	    	<div class="form-group">
	    		<label class="control-label">产品名</label>
	    		<div class="control-input">
	    			<span class="control-txt"><%= @product.name %></span>
	    		</div>
	    	</div>
	    	<div class="form-group">
	    		<label class="control-label">原价</label>
	    		<div class="control-input">
	    			<span class="control-txt"><%= number_to_currency @product.original_price %></span>
	    		</div>
	    	</div>
	    	<div class="form-group">
	    		<label class="control-label">现价</label>
	    		<div class="control-input">
	    			<span class="control-txt"><%= number_to_currency @product.present_price %></span>
	    		</div>
	    	</div>
				<% (@product.product_inventories || {}).each do |obj| %>
				<div class="">
					<span>
						<% (obj.sku_attributes || {}).each do |k,v| %>
						<%= "#{k}:#{v[0]}" %>
						<% end %>
					</span>
					<span>数量：<%= obj.count %></span>
				</div>
				<% end %>
	    	<div class="form-group">
	    		<label class="control-label">库存</label>
	    		<div class="control-input">
	    			<span class="control-txt"><%= @product.count %></span>
	    		</div>
	    	</div>
	      <div class="form-group">
	        <label class="control-label">
						描述
	        </label>
	        <div class="control-input">
	          <span class="control-txt"><%= @product.short_description %></span>
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="control-label">
						商品主图
	        </label>
	        <div class="control-input">
	          <span><%= image_tag(@product.image_url) %></span>
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="control-label">
						图文详情
	        </label>
	        <div class="control-input">
	          <div class="control-txt"><%= raw @product.content %>　</div>
	        </div>
	      </div>
	  	</div><!-- admin-box -->
	</div><!-- box-w50 -->
	<div class="box-w50">
		<div class="admin-box beige-bg-color">
			<h4 class="edit-title">分成设置</h4>
			<% if @product.calculate_way == 1 %>
				<div class="form-group">
			  	<label class="control-label">
			  		分成比例
			  	</label>
			   	<label class="control-label pull-right">
			   		%　
			   	</label>
			    <div class="control-input">
			      <div class="control-txt"><%= @product.share_rate_total %></div>
			    </div>
			  </div>
			<% elsif @product.calculate_way == 0 %>
					 <div class="form-group">
				  	<label class="control-label">
				  		现金分成
				  	</label>
				   	<label class="control-label pull-right">
				   		元　
				   	</label>
				    <div class="control-input">
				      <div class="control-txt"><%= @product.share_amount_total %></div>
				    </div>
				  </div>
		  <% end %>
		  <div class="form-group">
		  	<label class="control-label">
		  		一级分成
		  	</label>
		  	<div class="control-input">
		  		<span><%= @product.share_rate_lv_1*100 %>%　-　<%= @product.share_amount_lv_1 %>元</span>
		  	</div>
		  </div>
		  <div class="form-group">
		  	<label class="control-label">二级分成</label>
		  	<div class="control-input">
		  		<span><%= @product.share_rate_lv_2*100 %>%　-　<%= @product.share_amount_lv_2 %>元</span>
		  	</div>
		  </div>
		  <div class="form-group">
		  	<label class="control-label">三级分成</label>
		  	<div class="control-input">
		  		<span><%= @product.share_rate_lv_3*100 %>%　-　<%= @product.share_amount_lv_3 %>元</span>
		  	</div>
		  </div>
		  <div class="form-group">
		  	<label class="control-label">分享优惠</label>
		  	<div class="control-input">
		  		<span><%= @product.privilege_amount %>元</span>
		  	</div>
		  </div>
	 	</div>
	 	<br />
	 	<div class="admin-box beige-bg-color">
	 		<h4 class="edit-title">物流及其他</h4>
	 		<div class="form-group">
			  	<label class="control-label">付款方式</label>
			  	<div class="control-input">
			  		<span><%= Product::DataBuyerPay[@product.buyer_pay] %></span>
			  	</div>
			</div>
			<div class="form-group">
			  	<label class="control-label">运费</label>
			  	<div class="control-input">
			  		<div class="control-txt"><%= @product.traffic_expense %></div>
			  	</div>
			</div>
	 	</div>
	 	<br />
	 	<div class="admin-box beige-bg-color">
	 		<h4 class="edit-title">二维码</h4>
	 		<div class="box-w100">
	 			<div class="box-w70">
	 				<br />
	 				<p>复制右边专属二维码</p>
	 				<p>即可在各大社交平台</p>
	 				<p>传播你的商品</p>
	 			</div>
	 			<div class="box-w30">
	 				<img src="http://qr.liantu.com/api.php?&text=<%= "http://#{request.env["HTTP_HOST"]}/products/#{@product.id}?shared=true" %>"/>
	 			</div>
	 		</div>
	 	</div><!-- admin-box -->
    <br />
    <div class="text-center">
      <% if can? :edit, @product %>
        <%= link_to("编辑", url_for(:action=>:edit,:id=>@product.id), :class=>"btn btn-large blue-btn",:role=>"button") %>
      <% end %>　
      <%= link_to("预览", url_for(:action=>:pre_view,:id=>@product.id), :class=>"btn btn-large yellow-btn",:role=>"button",:target=>"_blank") %>　
      <% if can? :update, @product %>
        <% if @product.status == 'unpublish' %>
          <%= link_to("上架", url_for(action: :change_status, id: @product.id, status: :published),
                      method: :patch, class: "btn btn-large red-btn",:role=>"button") %>
       <% else %>
         <%= link_to("取消上架", url_for(action: :change_status,id: @product.id, status: :unpublish),
                     method: :patch, class: "btn btn-large ",:role=>"button") %>
        <% end %>
      <% end %>
    </div>
	</div><!-- box-w50 -->
</div><!-- container -->
