<ol class="breadcrumb">
  <li><%= link_to '商品管理', [:admin, :products] %></li>
  <li class="active">查看商品信息</li>
</ol>

<div class="row">
	<div class="col-xs-12 border_block">
		<h3 class="col-md-offset-1">商品信息</h3>
		<div class="col-xs-11 col-md-offset-1">
			<div class="form-group clear">
				<label class="string required text-right col-sm-3 control-label" for="product_name">
					<abbr title="必填">*</abbr>
					产品名
				</label>
				<div class="col-sm-9">
					<%= @product.name %>
				</div>
			</div>
      <div class="form-group clear">
        <label class="string required text-right col-sm-3 control-label" for="product_name">
          <abbr title="必填">*</abbr>
          产品编号
        </label>
        <div class="col-sm-9">
          <%= @product.code %>
        </div>
      </div>
      <div class="form-group clear">
        <label class="string required text-right col-sm-3 control-label" for="product_name">
          分享二维码
        </label>
        <div class="col-sm-9">

          <%= "http://#{request.env["HTTP_HOST"]}/products/#{@product.id}?shared=true" %>
          <div class="clear"></div>
          <img src="http://qr.liantu.com/api.php?&text=<%= "http://#{request.env["HTTP_HOST"]}/products/#{@product.id}?shared=true" %>" style="width:60%"/>

        </div>
      </div>
      
			<div class="form-group clear">
				<label class="string required text-right col-sm-3 control-label" for="product_name">
					<abbr title="必填">*</abbr>
				  原价
				</label>
				<div class="col-sm-9">
					<%= '%.2f' % @product.original_price %>￥
				</div>
			</div>
			<div class="form-group clear">
				<label class="string required text-right col-sm-3 control-label" for="product_name">
					<abbr title="必填">*</abbr>
				  现价
				</label>
				<div class="col-sm-9">
					<%= '%.2f' % @product.present_price %>￥
				</div>
			</div>
			<div class="form-group clear">
				<label class="string required text-right col-sm-3 control-label" for="product_name">
					<abbr title="必填">*</abbr>
				  数量
				</label>
				<div class="col-sm-9">
					<%= @product.count %>
				</div>
			</div>
			<div class="form-group clear">
				<label class="string required text-right col-sm-3 control-label" for="product_name">
					<abbr title="必填">*</abbr>
				  产品展示图
				</label>
				<div class="col-sm-9">
					<%= image_tag(@product.image_url, width: "60%", alt: "-") %>
				</div>
			</div>

		</div>
    <div class="text-center col-xs-12" style="border-bottom:3px solid grey;color:grey;margin-bottom:30px;margin-top:30px;">更多信息</div>
    <div class="row col-xs-10 col-md-offset-1">
      <div style="border-bottom:2px solid grey;margin:10px;">图文详情</div>
      <%= raw @product.content %>
    </div>

	</div>
	<div class="col-xs-12 border_block">
		<h3 class="col-md-offset-1">分成设置</h3>
    <% if @product.calculate_way == 1 %>
      <div class="col-xs-5 col-md-offset-1">
        <div class="form-group clear">
          <label class="string required text-right col-sm-5 control-label" for="product_name">
            <abbr title="必填">*</abbr>
            分成比例
          </label>
          <div class="col-sm-4">
            <%= @product.share_rate_total %>%
          </div>
        </div>
      </div>
    <% elsif @product.calculate_way == 0 %>
      <div  class="col-xs-5 col-md-offset-1">
        <div class="form-group clear">
          <label class="string required text-right col-sm-5 control-label" for="product_name">
            <abbr title="必填">*</abbr>
            现金分成
          </label>
          <div class="col-sm-4">
            <%= @product.share_amount_total %>元
          </div>
        </div>
      </div>
    <% end %>
      <div class="col-xs-6">
        <table>
          <tbody>
            <tr>
              <td>一级分成：</td>
              <td>
                <span><%= @product.share_rate_lv_1*100 %>%</span>
                -
                <span><%= @product.share_amount_lv_1 %>元</span>
              </td>
            </tr>
            <tr>
              <td>二级分成：</td>
              <td>
                <span><%= @product.share_rate_lv_2*100 %>%</span>
                -
                <span><%= @product.share_amount_lv_2 %>元</span>
                
              </td>
            </tr>
            <tr>
              <td>三级分成：</td>
              <td>
                <span><%= @product.share_rate_lv_3*100 %>%</span>
                -
                <span><%= @product.share_amount_lv_3 %>元</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
		
	</div>
	<div class="col-xs-12 border_block">
		<h3 class="col-md-offset-1">物流及其他</h3>
		<div class="col-xs-11 col-md-offset-1">
      <div class="form-group clear">
        <label class="string required text-right col-sm-3 control-label" for="product_name">
          <abbr title="必填">*</abbr>
          付款方式
        </label>
        <div class="col-sm-9">
          <%= Product::DataBuyerPay[@product.buyer_pay] %>
        </div>
      </div>
			<div class="form-group clear">
        <label class="string required text-right col-sm-3 control-label" for="product_name">
          <abbr title="必填">*</abbr>
          运费
        </label>
        <div class="col-sm-9">
          <%= @product.traffic_expense %>
        </div>
      </div>
		</div>
	</div>
  <div class="button_div  col-xs-4"  style="margin-top:30px;padding-bottom:30px;"><%= link_to("预览", url_for(:action=>:pre_view,:id=>@product.id), :class=>"btn btn-primary active col-xs-12",:role=>"button",:target=>"_blank") %></div>
  <div class="button_div  col-xs-4"  style="margin-top:30px;padding-bottom:30px;">
    <% if @product.status == 0 %>
    <%= link_to("上架", url_for(:action=>:change_status,:id=>@product.id), :class=>"btn btn-primary active  col-xs-12",:role=>"button") %>
    <% else %>
    <%= link_to("取消上架", url_for(:action=>:change_status,:id=>@product.id), :class=>"btn btn-primary active  col-xs-12",:role=>"button") %>
    <% end %>
  </div>
  <div class="button_div  col-xs-4"  style="margin-top:30px;padding-bottom:30px;"><%= link_to("编辑", url_for(:action=>:edit,:id=>@product.id), :class=>"btn btn-primary active  col-xs-12",:role=>"button") %></div>

</div>

