<div class='login-container'>

  <h3>设置密码</h3>

  <%= simple_form_for(resource, as: resource_name, url: user_password_path, html: { method: :put }) do |f| %>

    <%= f.input :reset_password_token, as: :hidden %>

    <%= f.input :password, label: false, required: true, autofocus: true,
      input_html: { placeholder: '密码' },
      hint: ("至少#{@minimum_password_length}位数字或字母组合" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: false, required: true,
      input_html: { placeholder: '确认密码' } %>

    <%= f.button :submit, "修改密码", class: 'btn btn-block btn-large' %>
  <% end %>
  <br />
  <%= link_to "登录", new_session_path(resource_name), class: 'btn btn-block btn-link' %>
  <br />
  <%= link_to "没有收到邮箱确认邮件?", new_password_path(resource_name), class: 'btn btn-block btn-link' %><br />

</div>
