<div class="inline-form text-center">
  <%= render partial: 'shared/form_error_message', locals: { obj: @carriage } %>
  <%= nested_form_for [:admin, @carriage] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control no-border'%>
    <%= f.fields_for :different_areas do |p| %>
      <%= p.select :region_ids, Region.provinces.collect { |p| [ p.name, p.id ] }, {include_blank: true}, class: 'form-control input-lg js-select2-privacy-tags', multiple: 'multiple' %>
      <br>
      <%= p.label :first_item %>
      <%= p.number_field :first_item %>
      <%= p.label :carriage %>
      <%= p.number_field :carriage %>
      <%= p.label :extend_item %>
      <%= p.number_field :extend_item %>
      <%= p.label :extend_carriage %>
      <%= p.number_field :extend_carriage %>
      <%= p.link_to_remove '', class: 'remove pull-right fa fa-times-circle', tabIndex: '-1' %>
    <% end %>
    <br>
    <%= f.link_to_add "添加配送区域", :different_areas, class: 'fa fa-plus text-center add-chapter'%>
    <%= f.submit '提交', class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>
