<div class="inline-form text-center">
  <%= render partial: 'shared/form_error_message', locals: { obj: @carriage } %>
  <%= nested_form_for [:admin, @carriage] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control no-border'%>
    <%= f.fields_for :different_areas do |p| %>
      <%= p.select :state_id, State.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
      <%= p.label :first_item %>
      <div class='list-group'>
        <div class='list-group-item'>
          <%= p.text_field :first_item %>
        </div>
      </div>
      <%= p.label :carriage %>
      <%= p.text_field :carriage %>
      <%= p.label :extend_item %>
      <%= p.text_field :extend_item %>
      <%= p.label :extend_carriage %>
      <%= p.text_field :extend_carriage %>
      <%= p.link_to_remove '', class: 'remove pull-right fa fa-times-circle', tabIndex: '-1' %>
    <% end %>
    <br>
    <%= f.link_to_add "添加配送区域", :different_areas, class: 'fa fa-plus text-center add-chapter'%>
    <%= f.submit '提交', class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>
