<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-angle-right"></i></li>
		<li><%= link_to '提现列表', [:admin, :withdraw_records] %></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active">提现详情</li>
	</ul>
</div><!-- container -->
<br />
<div class="container">
	<h3 class="page-title">提现信息 <small class="pull-right"><span class='label state-<%= @withdraw_record.state %>'><%= @withdraw_record.state_i18n %></span></small></h3>
	<div class="admin-box">
			<p><%= WithdrawRecord.human_attribute_name(:number) %> : <%= @withdraw_record.number %></p>
			<p><%= WithdrawRecord.human_attribute_name(:user_identify) %> : <%= @withdraw_record.user_identify %></p>
			<p><%= WithdrawRecord.human_attribute_name(:user_total_income) %> : <%= @withdraw_record.user_total_income %></p>
			<p><%= WithdrawRecord.human_attribute_name(:created_at ) %> : <%= @withdraw_record.created_at %></p>
			<p><%= WithdrawRecord.human_attribute_name(:amount) %> : <%= @withdraw_record.amount %></p>
	</div>
	<br />
	<% if @withdraw_record.bank_info.present? %>
	<h3 class="page-title">银行卡信息 </h3>
	<div class="admin-box">
			<p><%= BankCard.human_attribute_name(:bankname) %> : <%= @withdraw_record.card_bankname %></p>
			<p><%= BankCard.human_attribute_name(:username) %> : <%= @withdraw_record.card_username %></p>
			<p><%= BankCard.human_attribute_name(:number) %> : <%= @withdraw_record.card_number %></p>
			<p><%= BankCard.human_attribute_name(:remark) %> : <%= @withdraw_record.card_remark %></p>
	</div>
	<% elsif @withdraw_record.user.weixin_openid.present? %>
	  <p class="alert alert-info">已绑定微信，通过微信打款。</p>
	<% end %>
	<br />
	<h3 class="page-title">处理信息 </h3>
	<div class="admin-box">
			<p><%= WithdrawRecord.human_attribute_name(:process_at) %> : <%= @withdraw_record.process_at %></p>
			<% if can?(:manage, WithdrawRecord) %>
				<p><%= User.human_attribute_name(:weixin_openid) %> : <%= @withdraw_record.user.weixin_openid %></p>
      <% end %>
			<p><%= WithdrawRecord.human_attribute_name(:wx_payment_no) %> : <%= @withdraw_record.wx_payment_no %></p>
			<p><%= WithdrawRecord.human_attribute_name(:wx_payment_time) %> : <%= @withdraw_record.wx_payment_time %></p>
			<p><%= WithdrawRecord.human_attribute_name(:done_at) %> : <%= @withdraw_record.done_at %></p>
			<% if @withdraw_record.error_info.present? && can?(:manage, WithdrawRecord) %>
				<p>后台处理信息 : </p>
        <table class="border-table">
          <tbody>
            <% @withdraw_record.error_info.each do |key, value| %>
              <tr>
                <td><%= key %></td>
                <td><%= value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
			<% end %>
	</div>
	<br />
  <% if can?(:manage, WithdrawRecord) %>
    <p class="text-center">
    <% if @withdraw_record.unprocess? || @withdraw_record.failure? %>
      <%= link_to withdraw_process_txt(@withdraw_record),
        processed_admin_withdraw_record_path(@withdraw_record),
        method: :PATCH, data: {confirm: '确认打款？'},
        class: "btn btn-large orange-btn #{withdraw_process_class(@withdraw_record)}" %>
    <% end %>
    <% if @withdraw_record.failure? && @withdraw_record.wechat_available? %>
      <%= link_to '重新查询微信企业付款',
        query_wx_admin_withdraw_record_path(@withdraw_record),
        method: :PATCH, class: "btn btn-large btn-primary" %>
    <% end %>
    <% if @withdraw_record.processed? && @withdraw_record.bank_processing? %>
      <%= link_to '交易完成',
        finish_admin_withdraw_record_path(@withdraw_record),
        data: { confirm: '确认完成' },
        method: :PATCH, class: "btn btn-large btn-dange" %>
    <% end %>
    <% if @withdraw_record.unprocess? %>
      <%= link_to '拒绝', close_admin_withdraw_record_path(@withdraw_record),
        method: :PATCH, data: {confirm: '确认拒绝，并关闭此提现申请？'},
        class: 'btn btn-large red-btn' %>
    <% end %>
    </p>
  <% end %>
</div>
