<%= content_for :page_title do %>
  <% if @category %>
    <%= @category.name %>
  <% else %>
    <div class="log_font"> UBOSS </div>
  <% end %>
<% end %>
<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<div class="container">
	<h3 class="main-color gap"><%= @category.name %></h3>
	<div class="bg-white m-bottom10">
	  <div class="box store-list">
	    <% if @products.present? %>
	      <%= render partial: 'stores/product', collection: @products %>
	    <% end %>
	  </div><!-- box -->
 </div><!-- bg-white -->
</div>

<div class="load-more" data-container='.store-list' data-ele='.p-item' data-ref='/products'>加载更多</div>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>
