<br />
<div class="inline-form text-center">
<%= simple_form_for [:admin, @user] do |f| %>
  <%= f.input :login, disabled: !@user.new_record? %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :nickname %>
  <%= f.association :user_roles, label_method: :display_name, value_method: :id, include_blank: false %>

  <p class="text-center"><%= f.submit class: 'btn btn-large' %></p>
<% end %>
</div>
<script>
$(document).ready(function(){
	$("select").chosen();	
})
	
</script>
