<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>后台账户</li>
	</ul>
</div><!-- container -->
<br />
<div class="container">
	<h3 class="page-title">后台账户 <small><%= link_to '新增', new_admin_user_path, class: 'btn pull-right' %></small></h3>
	<table class="list-table">
		<thead>
			<th>账号</th>
			<th>手机</th>
			<th>昵称</th>
			<th>角色</th>
			<th>操作</th>
		</thead>
		<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.login || user.email, [:admin, user] %></td>
			<td><%= user.mobile %></td>
			<td><%= user.nickname %></td>
			<td>

					<% user.user_roles.each do |role| %>
			      <span class='label label-info'><%= role.display_name %></span>
			    <% end %>
			</td>
			<td>
				<%= link_to '编辑', edit_admin_user_path(user),class:'btn' %>
			</td>
		</tr>
		<% end %>
	</table>

  <br />
  <%= paginate @users %>
</div>

