<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-angle-right"></i></li>
		<li><a href="/admin/users">后台账户</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active">账户详情</li>
	</ul>
</div><!-- container -->
<br />
<div class="container">
	<h3 class="page-title">账户详情<small class="pull-right">用户名：<%= @user.identify %></small></h3>
	<div class="admin-box black-bg-color">
		<p><%= User.human_attribute_name(:login) %>：<%= @user.login %></p>
		<p><%= User.human_attribute_name(:mobile) %>：<%= @user.mobile %></p>
		<p><%= User.human_attribute_name(:nickname) %>：<%= @user.nickname %></p>
		<p>
			<%= User.human_attribute_name(:role_display_name) %>：
			<% @user.user_roles.each do |role| %>
	      <span class='label label-info'><%= role.display_name %></span>
	    <% end %>
	  </p>
	</div>
	<br />
  <% if can?(:manage, User) %>
	  <p class="text-center"><%= link_to '编辑', edit_admin_user_path(@user), class: 'btn btn-large' %></p>
  <% end %>
</div>

