<div class="container  admin-container">
	<ul class="breadcrumb">
		<li>主页</li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>分成</li>
	</ul>
</div><!-- container -->
<br />
<div class="container">
	<h3 class="page-title">分成列表</h3>
	<table class="list-table">
		<thead>
			<th class="text-left">编号</th>
			<th>分成类型</th>
			<th>产品名称</th>
			<th>用户</th>
			<th>收益</th>
			<th>创建时间</th>
		</thead>
		<% @sharing_incomes.each do |income| %>
			<tr>
				<td class="text-left"><%= link_to income.number, [:admin, income] %></td>
				<td><%= I18n.t("l#{income.level}", scope: 'enums.sharing_income.level')%></td>
				<td> <%= link_to income.product_name, [:admin, income.product] %></td>
				<td><%= income.user_identify %></td>
				<td><%= number_to_currency income.amount %></td>
				<td><%= income.created_at %></td>
			</tr>
		<% end %>
	</table>
	<br />
	<%= paginate @sharing_incomes %>
</div>
<!--
<%= table_for(@sharing_incomes) do |table| %>
  <%= table.cell :number do |income| %>
    <%= link_to income.number, [:admin, income] %>
  <% end %>
  <%= table.cell(:level) do |income| %>
    <%= I18n.t("l#{income.level}", scope: 'enums.sharing_income.level')%>
  <% end %>
  <%= table.cell :product_name do |income| %>
    <%= link_to income.product_name, [:admin, income.product] %>
  <% end %>
  <%= table.cell :user_identify %>
  <%= table.cell :amount %>
  <%= table.cell :created_at %>
<%- end %>

<%= paginate @sharing_incomes %>
-->
