<%= content_for :page_title do %>
  <%= @order_title || @order.state_i18n %>
<% end %>

<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<%= content_for :extra_meta_tags do %>
  <%= service_store_sharing_meta_tags(@service_store, @sharing_link_node) %>
<% end %>

<%= content_for :extra_javascript do %>
  <% if browser.wechat? %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>

<!--
<br />
<div class="bg-main gap line-gap">
  <p><%= I18n.t("service_order_status_bar.#{@order.state}") %></p>
</div>
<br />
-->

<div class="order-list m-top10">
	<div class="seller-box">
	  <div class="cover"><%= image_tag @service_store.store_cover.url(:w640) %></div>
		<div class="content">
			<div class="text-cut"><%= @service_store.store_name %></div>
		</div>
	</div>

  <div class="order-box">
    <div class="cover">
      <%= link_to service_product_path(@order_item.item_product) do %>
        <%= image_tag @order_item.image_url(:w120) %>
      <% end %>
    </div><!-- cover -->
    <div class="content">
      <div class="price">
        <p>￥<%= @order_item.present_price %></p>
        <p class="gray-color num">x <%= @order_item.amount %></p>
      </div>
      <p class="name"><%= @order_item.product_name %></p>
    </div><!-- content -->
  </div><!-- order-box -->

</div><!-- order-list -->

<% if @order.available_pay? %>

  <div class="bg-white gap m-bottom10">
    <%= link_to "立即付款", payments_charges_path(order_ids: @order.id, showwxpaytitle: 1), id: 'wx-pay-btn', class: 'btn btn-block btn-lagre' %>
  </div><!-- bg-white -->

<% elsif !@order.closed? %>

  <div class="bg-white m-bottom10">
    <div class="gap border-box">
      <% if @order.paid_and_expensed? %>
        <% if @order_item.evaluations.size > 0 %>
          <%= link_to "追评", append_evaluation_path(id: @order_item.id), class: 'btn btn-small btn-orange pull-right', style: "margin-left:15px;" %>
        <% else %>
          <%= link_to "评价", new_evaluation_path(id: @order_item.id), class: 'btn btn-small btn-orange pull-right', style: "margin-left:15px;" %>
        <% end %>
        <% if !@order.completed? %>
          <div class="pull-right">有效期至：<%= strftime(@order_item.product.deadline) %></div>
        <% end %>
      <% end %>
      <div class="text-cut">验证券</div>
    </div>
    <% @order_item.verify_codes.each do |verify_code| %>
    	<div class="service-code gap border-box">
    		<div class="pull-right">
    		<% if verify_code.verified %>
      		<span class="red-color">已消费</span>
      	<% else %>
      		<span class="like-color">待消费</span>
      	<% end %>
      	</div>
      	<span class="main-color"><%= verify_code.code %></span>
    	</div>
    <% end %>
	</div>
<% end %>

<!-- 店铺信息-->
<div class="bg-white gap">
  <div class="service-store-info">
    <%= image_tag('mobile/mobile.png', class:'pull-right store-tel') %>
    <div class="content">
      <div class="address text-cut m-bottom10"><%= @service_store.address %></div>
      <div class="open-time">营业时间：<%= @service_store.business_hours %></div>
    </div>
  </div>
</div>
<div class="pop-bg phone-list hidden ">
	<div class="pop-bottom">
		<div class="bg-white m-bottom10  border-radius">
			<% @service_store.mobile_phone.each do |phone| %>
			  <%= link_to  phone ,"tel:#{phone}" %>
			<% end %>
		</div><!-- bg-white -->
		<div class="btn btn-block btn-large btn-white ">取消</div>
	</div><!-- pop-bottom -->
</div>

<br />

<div class="bg-white gap gray-color line-gap">
  <p>订单编号：<%= @order.number %> </p>
  <p>下单时间：<%= @order.created_at %></p>
  <% if @order.paid_at %>
    <p>支付时间：<%= @order.paid_at %> </p>
  <% end %>
  <p>商品总价：<%= @order_item.total_price %> </p>
  <p>数量：<%= @order_item.amount %> </p>
  <% if @order.total_privilege_amount != 0 %>
    <p>友钱卡优惠：<%= @order.total_privilege_amount %> </p>
  <% end %>
  <% if @order.seller_bonus != 0 %>
    <p>红包优惠：<%= @order.seller_bonus %> </p>
  <% end %>
  <% if @order.paid_at %>
    <p>实付金额：<%= @order.paid_amount %> </p>
  <% end %>
</div>

<br />
