<div class="share-container hidden">
  <div id="close-area"></div>
  <div class="share-content" id="share_buttons">
    <div class='share-btns-group'>
      <p>分享到</p>
      <div id="share_buttoms">
        <a class='sharing-button-wx'><%= image_tag("img/01.png") %></a>
        <a class="sharing-button-tsina"><%= image_tag("img/02.png") %></a>
        <a class="sharing-button-tqq"><%= image_tag("img/03.png") %></a>
        <a class="sharing-copycardid"><%= image_tag("img/04.png") %></a>
      </div>

      <div class="font-h4 hidden bg_white text-center sharing-link" style="padding:20px 10px 0;word-wrap: break-word;">
        <% if @product.present? %>
          <%= product_sharing_link(@product, @sharing_link_node) %>
        <% elsif @seller.present? %>
          <%= store_sharing_link(@seller, @sharing_link_node) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
