<div class="fenxinag fenxinrated">
	<p>分享到</p>
	<ul>
		<li><a><%= image_tag("img/01.png") %></a></li>
		<li><a class="jiathis_button_tsina"><%= image_tag("img/02.png") %></a></li>
		<li><a class="jiathis_button_tqq"><%= image_tag("img/03.png") %></a></li>
		<li>
      <button id="copycardid" style="border:0;background-color: white;padding:0;"><%= image_tag("img/04.png") %></button>
		</li>
	</ul>
  <div class="clear"></div>
  <div class="font-h4 undis bg_white" id="share_link" style="padding:20px 10px;width:300px;word-wrap: break-word;float:left;">
    <%= product_sharing_link((@product || @evaluation.try(:product)), @sharing_node) %>
  </div>
</div>

<script type="text/javascript">
function l_share() {
  $('#l_share_more').toggle();
}

$('#copycardid').on('click', this,function(event) {
  $('#share_link').toggle();
});
</script>

