<% @products.each_with_index do |obj, index| %>
    <%= link_to url_for(:action=>:show,:id=>obj.id) do %>
    <li class="list_li">
      <div class="li_image">
        <%= image_tag(obj.image_url(:thumb),  alt: "-") %>
        </div>
        <div class="li_content">
          <div class="li_contentinteo">
            <div class="con_title"><%= obj.name %></div>
            <div class="intrdu"></div>
            <div class="baoyou"><%= Product::DataBuyerPay[obj.buyer_pay] %></div>
            <div class="pric"><strong>￥<%= obj.present_price %></strong><span><%= obj.total_sells %>人付款</span></div>
          </div>
          <% if index < 5 %>
          <div class="posi_left">
            <ul>
              <li class="col_on">荐</li>
              <li class="col_one">TOP</li>
            </ul>
          </div>
          <% end %>
       </div>
    </li>
    <% end %>
  <% end %>