<div class="menb">
  <a onclick="close_window()">
    <div style="width:100%;height:100%;float:left"></div>
  </a>
  <div class="fenxinag fenxinagtow">
    <div class="fenxinag_line1">留下手机号，现金礼品拿不停！</div>
    <div class="fenxinag_line2">
      <span class="fenxinag_box1">手机号码</span>
      <%= simple_form_for(:save_mobile,url:{controller: :products, action: :save_mobile,:id=>@product.id},wrapper: :inline_form,remote: true )do |f| %>
      <span class="fenxinag_box2">
        <%= f.input :mobile,placeholder:"手机号",label: false,input_html:{class:"fenxinag_text"} %>
      </span>
      <% end %>
      <input id="sharing_code" style="display: none;">
    </div>
    <div id="share_buttons">
      <p>分享到</p>
      <ul>
        <li><a><%= image_tag("img/01.png") %></a></li>
        <li><a id="pre_jiathis_button_tsina"><%= image_tag("img/02.png") %></a></li>
        <li><a id="pre_jiathis_button_tqq"><%= image_tag("img/03.png") %></a></li>
        <li>
          <button id="copycardid" style="border:0;background-color: white;padding:0;"><%= image_tag("img/04.png") %></button>
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">

$('#pre_jiathis_button_tsina').on('click', function(event) {
  sendMobie('sina')
});

$('#pre_jiathis_button_tqq').on('click', function(event) {
  sendMobie('tqq')
});

function sendMobie(job) {
  var mobile = $("#save_mobile_mobile").val()
  var checkNum = /^(\+\d+-)?[1-9]{1}[0-9]{10}$/;
  if (checkNum.test(mobile)) {
    $.ajax({
      url: '/products/save_mobile?id=<%= @product.id %>',
      type: 'POST',
      dataType: 'script',
      data: {
        job: job,
        mobile: mobile
      },
    })
  };
  if (!checkNum.test(mobile)) {
    alert("手机格式不正确")
  };
}

$('#copycardid').on('click', this,function(event) {
  sendMobie('copy')
});
</script>