<div class="row text-center bg_green font_h1 white heading">
    <div class="col-xs-2">搜索</div>
    <div class="col-xs-8"><b>UBOSS</b></div>
    <div class="col-xs-2">我</div>
</div>
<div class="row bg_grey green">
  <div class="col-xs-12 classify text-center font_h4">
    <div class="active">每日精选</div>
    <div class="">人气最高</div>
    <div class="">最新上架</div>
    <div class="">专题活动</div>
  </div>
  <% (@products||[]).each do |obj| %>
    <%= link_to url_for(:action=>:show,:id=>obj.id) do %>
  	<div class="col-xs-6">
      <div class="margin">
        <div class="product_list col-xs-12">
          <div class='img'>
            <%= image_tag(url_for(obj.asset_img.try(:avatar).try(:url) || '/t/noimage.gif'),  alt: "-") %>
          </div>
          <div class="col-xs-12 bg_green white">
            <div  style="padding:5px 10px;">
              <div class="font_h3"><%= obj.name %></div>
              <div class="font_h6"><%= Product::DataBuyerPay[obj.buyer_pay] %></div>
              <div>
                <span class="font_h2 yellow">￥<%= obj.present_price %></span>
                <span  class="font_h6">255人付款</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
<div class='clear'></div>