<%= content_for :page_title do %>
  <% if @seller %>
    <%= @seller.store_identify %>
  <% else %>
    <div class="log_font"> UBOSS </div>
  <% end %>
<% end %>

<%= content_for :extra_meta_tags do %>
  <% if @seller %>
    <%= store_sharing_meta_tags(@seller) %>
  <% end %>
<% end %>

<div class="container">
  <div class="list">
    <ul class="list_ul clearfix">
      <% if @products.present? %>
        <%= render partial: 'products/product', collection: @products %>
      <% end %>
    </ul>
  </div>
</div>

<div id="load-more" data-container='.list_ul' data-ele='.p-item' data-ref='/products'>加载更多</div>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>
