
<header class="head">
  <div class="bottom left search"></div>
  <div class="bottom right"></div>
  <div class="logo"></div>
</header>
<div class="container">
  <div class="menu">
    <ul>
      <li class="active"><a href="#">每日精选</a></li>
      <li><a href="#">人气最高</a></li>
      <li><a href="#">最新上架</a></li>
      <li><a href="#">专题活动</a></li>
    </ul>
  </div>
  <div class="list">
    <ul class="list_ul">
      <% (@products||[]).each do |obj| %>
        <%= link_to url_for(:action=>:show,:id=>obj.id) do %>
        <li class="list_li">
          <div class="li_image">
            <%= image_tag(("http://#{obj.asset_img.try(:avatar).try(:url)}" || '/t/noimage.gif'),  alt: "-") %>
            </div>
            <div class="li_content">
              <div class="li_contentinteo">
                <div class="con_title"><%= obj.name %></div>
                <div class="intrdu">补血补气最佳选择</div>
                <div class="baoyou"><%= Product::DataBuyerPay[obj.buyer_pay] %></div>
                <div class="pric"><strong>￥<%= obj.present_price %></strong><span><%= Product.total_sells(obj) %>人付款</span></div>
              </div>
              <div class="posi_left">
                <ul>
                  <li class="col_on">荐</li>
                  <li class="col_one">TOP</li>
                </ul>
              </div>
           </div>
        </li>
        <% end %>
      <% end %>
        
    </ul>
  </div>
</div>
