<%= content_for :page_title do %>
  商品详情
<% end %>

<%= content_for :extra_meta_tags do %>
  <%= sharing_meta_tags(@product, @sharing_link_node) %>
<% end %>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>

<div class="fixed-container">
  <div class="product-box product-page">
    <div class="cover">
      <div class="img" style="background-image:url('<%=@product.image_url()%>')"></div>
      <%= image_tag("mobile/img.jpg") %>
    </div>
  </div><!-- product-box -->

  <div class="product-info-box">
    <p class="title"><%=@product.name%></p>
    <p class="price">
      <small>￥</small>
        <% if @product_inventories.present? %>
          <%
            from_price = @product_inventories.order("price").first.price
            to_price = @product_inventories.order("price").last.price
            %>
          <% if from_price == to_price %>
            <%= from_price %>
          <% else %>
            <%= "#{@product_inventories.order("price").first.price}-#{@product_inventories.order("price").last.price}" %>
          <% end %>
        <% else %>
        <%=@product.present_price%>
        <% end %>
    </p>
    <p class="gray-color">
    <% if @product.buyer_pay? %>
      快递：<%= product_traffic(@product) %>
    <%else%>
      包邮
    <% end %>
    </p>
    <p class="product-rate"><%= Evaluation.product_good_reputation_rate(@product.id) %> 好评 (<%= Evaluation.product_good_reputation(@product.id) %>人)</p>
  </div><!-- product-info-box -->

  <% if @privilege_card %>
    <div class="product-info-box">
      <br />
      <div class="friend-card">
        <p class="cover"><%= image_tag @privilege_card.user.avatar_url(:h50) %></p>
        <p class="name"><%= @privilege_card.user.identify %> 分享</p>
        <div class="gray-color">每件为你多省<span class="like-color"><%= @privilege_card.privilege_amount %></span></div>
        <br />
        <div class="border-box">
          <p class="name">友情价</p>
          <div class="price"><%= @product.present_price - @privilege_card.privilege_amount %></div>
        </div>
        <br />
        <p class="name">关于分享者</p>
        <div class="gray-color">共 <%= @sharing_node.user.total_reputations %> 分享 <span class="like-color"><%= @sharing_node.user.good_reputation_rate %>度靠谱</span></div>
      </div>  <!-- friend-card -->
      <br />
    </div><!-- product-info-box -->
  <% end %>

  <div class="product-info-box">
    <br />
    <div class="cover">
      <% if @product.user.avatar.present? %>
        <%= image_tag @seller.avatar_url(:h50) %>
      <% end %>
    </div>
    <p class="name"><%= @seller.store_name %></p>
    <p class="gray-color"><%= @seller.store_short_description %></p>
    <p class="gray-color border-top"><%= store_good_rate @seller %> 好评（<%= store_total_rate(@seller) %>）</p>
    <div class="into">
      <%= link_to  store_path(@seller) do%>
        <%= image_tag("mobile/into.png") %> 进店逛逛
      <%end%>
    </div>
    <br />
  </div><!-- product-info-box -->

  <div class="product-info-box">
    <%= raw @product.content %>
  </div>

  <% if @sharing_node.blank? %>
    <div class="sharer-info">
      <%#= link_to '立即购买', new_order_path(product_id: @product.id), class: 'btn btn-block' %>
      <%= link_to '立即购买', '###', class: 'btn btn-block', id:"show_inventory" %>
    </div>
  <% else %>
    <div class="sharer-info">
      <div class="cover">
        <%= image_tag @sharing_node.user.avatar_url(:thumb), class: 'prvd_header' %>
      </div>
      <%#= link_to '立即购买', new_order_path(product_id: @product.id), class: 'btn pull-right'%>
      <%= link_to '立即购买', '###', class: 'btn btn-block', id:"show_inventory" %>
      <div class="content">
        <p>分享者：<%= truncate (@sharing_node.user.identify),:length=>10,:omission=>'...' %></p>
        <p>好评率：<%= Evaluation.sharer_good_reputation_rate(@sharing_node.user) %></p>
      </div>
    </div>
  <% end %>

  <% if params['shared'] == 'true' %>
    <%= render partial: 'new_share' %>
  <% end %>

</div>

<div class="hidden" id="inventory">
  <img src="img/portrait.jpg" alt="handsome" class="blur" onclick="hideBuyNow()" />
  <div class="share_buy">
    <div class="half_left">
      <img class="share_portrait" src="img/portrait.jpg" alt="头像"></img>
      <dl class="share_content">
        <dt><p>分享者</p></dt>
        <dd>100%好评率</dd>
      </dl>
    </div>
    <div class="half_right">
      <button class="btn_add_to_cart">加入购物车</button>
      <button class="btn_buy_now" onclick="buynow()">立即购买</button>
    </div>
  </div>
  <div class="tab_buy_now">
    <div class="buy_now_goods">
      <img class="btn_cancle_buy_now close" src="img/cancel.jpg" alt="退出" onclick="hideBuyNow()"></img>
      <img class="buy_now_goods_img" src="<%= @product.image_url() %>" alt="商品" />
      <dl class="buy_now_goods_dl">
        <dt><p><%=@product.name%></p></dt>
        <dd>
          <p>¥

            <span id="price_range">
              <% if @product_inventories.present? %>
                <%
                  from_price = @product_inventories.order("price").first.price
                  to_price = @product_inventories.order("price").last.price
                  %>
                <% if from_price == to_price %>
                  <%= from_price %>
                <% else %>
                  <%= "#{@product_inventories.order("price").first.price}-#{@product_inventories.order("price").last.price}" %>
                <% end %>
              <% else %>
                <%= @product.present_price %>
              <% end %>
            </span>
            <% (@product_inventories || {}).each do |obj| %>
            <span id="price_<%= obj.id %>" class="real_price hidden"><%= obj.price %></span>
            <% end %>
          </p>
        </dd>
      </dl>
    </div>
    <div class="options">
      <div class="buy_now_option">
        <p class="buy_now_option_title"></p>
        <ul>
          <% (@product.product_inventories || {}).each do |obj| %>
            <% if obj.count > 0 %>
            <li class="item sku" id="<%= obj.id %>">
              <p>
                <% obj.sku_attributes.each do |k,v| %>
                <%= obj.sku_attributes.map{|k,v| "#{k}:#{v}"}.join("-") %>
                <% end %>
              </p>
            </li>
            <% else %>
            <li class="item disabled" id="<%= obj.id %>">
              <p>
                <%= obj.sku_attributes.map{|k,v| "#{k}:#{v}"}.join("-") %>
              </p>
            </li>
            <% end %>
          <% end %>
        </ul>
        <hr />
      </div>
    </div>

    <div class="done">
      <a class="btn" id="make_order">确定</a>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>
<%= simple_form_for "product_inventory", url: new_order_path(product_id: @product.id), method: 'GET' do |f| %>
  <%= hidden_field_tag "product_inventory_id", '', id:"product_inventory_id" %>
  <%= hidden_field_tag "product_id", @product.id, id:"product_inventory_id" %>
<% end %>




<script type="text/javascript">
  function buynow() {
    //alert('buynow()');
    $('img.blur').css('-webkit-filter', 'blur(3px)');
    $(".tab_buy_now").css('display', 'block');
  }

  function hideBuyNow() {
    $('#inventory').addClass('hidden');
    $('.fixed-container').css('-webkit-filter', 'blur(0px)');
  }

</script>
