<%= content_for :page_title do %>
  商品详情
<% end %>

<%= content_for :extra_meta_tags do %>
  <%= sharing_meta_tags(@product, @sharing_link_node) %>
<% end %>

<div class="container">
  <div class="prdv_img">
    <%= image_tag(@product.image_url(:w640),  alt: "#{@product.name}") %>
  </div>
  <div class="dail_box">
    <div class="dail_contitl">
      <p class="dail_title"><%= @product.name %></p>
      <p class="dail_prics">
      <span class="pricc">价格：</span>
      <span class="pric1v">￥<%= @product.present_price %></span>
      <span class="pric3 prvd_colors"><%= @product.original_price %></span>
      </p>
      <p class="dail_pric3">
      <span class="pricc_v1">快递：<%= product_traffic(@product) %></span>
      <span class="pricc_v2">
        好评率：
        <span class="pricc"><%= Evaluation.product_good_reputation_rate(@product.id) %> </span>
        （<%= Evaluation.product_good_reputation(@product.id) %>人）</span>
      </p>
    </div>
  </div>
  <div class="comming">
    <p class="comming_cont">
    <span class="comming_v1">
      <% if @product.user.avatar.present? %>
        <%= image_tag @seller.avatar_url(:h50) %>
      <% else %>
        <%= @seller.store_name %>
      <% end %>
    </span>
    <span class="comming_v2"><%= link_to "进入商铺", store_path(@seller) %></span>
    </p>
  </div>
</div>

<% if @privilege_card %>
  <div class="appr_box2">
    <div class="appr_box2_cont">
      <div class="appr_header">
        <span class="appr_header_img">
          <%= image_tag @privilege_card.user.avatar_url(:h50) %>
        </span>
        <span class="normal_appr_header_tit"><%= @privilege_card.user.identify %>的友情卡</span>
      </div>
      <div class="appr_header_content">
        <p class="appr_line1">
        <strong><%= number_with_precision(@privilege_card.discount, precision: 2) %></strong><span>折</span>
        </p>
        <p class="appr_line2">购买本商品每件省</p>
        <p class="appr_line3">省<strong><%= @privilege_card.privilege_amount %></strong>元/件</p>
      </div>
    </div>
  </div>
<% end %>

<div class="prvid_content">
  <p class="prvid_content_tit">图文详情</p>
  <%= raw @product.content %>
</div>

<% if @sharing_node.blank? %>
<div class="buy">
  <%= link_to '立即购买', new_order_path(product_id: @product.id), class: 'buy_btn' %>
</div>
<% else %>
  <div class="buy_short">
    <div class="buy_shortcont">
      <%= image_tag @sharing_node.user.avatar_url(:thumb), class: 'prvd_header' %>
      <div class="prvd_buycont">
        <p>分享者：<%= truncate (@sharing_node.user.identify),:length=>10,:omission=>'...' %></p>
        <p>好评率：<%= Evaluation.sharer_good_reputation_rate(@sharing_node.user) %></p>
      </div>
      <%= link_to '立即购买', new_order_path(product_id: @product.id), class: 'prvd_buyrigt buy_btnshort'%>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
<% if params['shared'] == 'true' %>
  $('#window').html('<%= escape_javascript render :partial =>'/products/share_page.html' %>');
<% end %>

$('#copycardid').on('click', this,function(event) {
  $('#share_link').toggle();
});
</script>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>
