<%= content_for :page_title do %>
  商品详情
<% end %>

<%= content_for :extra_meta_tags do %>
  <%= sharing_meta_tags(
    sharing_title: @product.name,
    sharing_imgurl: @product.image_url(:thumb),
    sharing_link: product_sharing_link(@product, @sharing_link_node)) %>
<% end %>

<div class="container">
  <div class="prdv_img">
    <%= image_tag(@product.image_url,  alt: "#{@product.name}") %>
  </div>
  <div class="prdv_cont">
    <p><strong><%= @product.name %></strong></p>
    <div class="contpric">
      <span class="pric">价格：</span>
      <span class="pric1">￥<span class="pric2 prvd_color"><%= @product.present_price %></span></span>
      <span class="pric3 prvd_colors line-through">
        ￥<%= @product.original_price %>
      </span>
    </p>
    <div class="contpric2">
      <div class="contpric_left">
        <span class="prvd_colors">
          <%= Product::DataBuyerPay[@product.buyer_pay] %>
          <% if @product.buyer_pay %>
          <%= "：￥#{@product.traffic_expense}" %>
          <% end %>
        </span>
      </div>
      <div  class="contpric_right">
        <span class="prvd_colors">好评率：</span>
        <span class="pric1"><%= Evaluation.product_good_reputation_rate(@product.id) %></span>
        <span class="prvd_colors">（<%= Evaluation.product_good_reputation(@product.id) %>人）</span>
      </div>
    </div>
  </div>
</div>
<div class="product-info-title">
  图文详情
</div>
<div class="prvid_content">
    <%== @product.content %>
</div>
<% if @sharing_node.blank? %>
<div class="buy">
  <%= link_to '立即购买', new_order_path(product_id: @product.id), class: 'buy_btn' %>
</div>
<% else %>
  <div class="buy_short">
    <div class="buy_shortcont">
      <%= image_tag @sharing_node.user.avatar_url(:thumb), class: 'prvd_header' %>
      <div class="prvd_buycont">
        <p>分享者：<%= truncate (@sharing_node.user.identify),:length=>10,:omission=>'...' %></p>
        <p>好评率：<%= Evaluation.sharer_good_reputation_rate(@sharing_node.user) %></p>
      </div>
      <%= link_to '立即购买', new_order_path(product_id: @product.id), class: 'prvd_buyrigt buy_btnshort'%>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
<% if params['shared'] == 'true' %>
  render_share_page()
<% end %>
function render_share_page() {
  $('#window').html('<%= escape_javascript render :partial =>'/products/share_page.html' %>');
}

$('#copycardid').on('click', this,function(event) {
  $('#share_link').toggle();
});
</script>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
wx.ready(function(){
  UBoss.luffy.invokeSharing();
});
    </script>
  <% end %>
<% end %>
