
<header class="head">
  <%= link_to url_for(controller: :products,action: :index) do %>
  <div class="bottom left iconleft"></div>
  <% end %>
  <div class="log_font">商品详情</div>
  <div class="shar">分享</div>
</header>
<div class="container">
  <div class="prdv_img">
    <%= image_tag(@product.image_url,  alt: "-",:style=>"width:100%;") %>
  </div>
  <div class="prdv_cont">
    <p><strong><%= @product.name %></strong></p>
    <div class="contpric">
      <span class="pric">价格：</span>
      <span class="pric1">￥<span class="pric2 prvd_color"><%= @product.present_price %></span></span>
      <span class="pric3 prvd_colors line-through">
        ￥<%= @product.original_price %>
      </span>
    </p>
    <div class="contpric2">
      <div class="contpric_left">
        <span class="prvd_colors">
          <%= Product::DataBuyerPay[@product.buyer_pay] %>
          <% if @product.buyer_pay %>
          <%= ":￥#{@product.traffic_expense}" %>
          <% end %>
        </span>
      </div>
      <div  class="contpric_right">
        <span class="prvd_colors">好评率：</span>
        <span class="pric1"><%= Evaluation.product_good_reputation_rate(@product.id) %></span>
        <span class="prvd_colors">（<%= Evaluation.product_good_reputation(@product.id) %>人）</span>
      </div>
    </div>
  </div>
</div>
<div class="prvid_content">
    <%= raw @product.content %>
</div>
<% if @sharing_node.blank? %>
<div class="buy">
  <%= link_to  new_order_path(product_id: @product.id) do %>
    <div class="buy"><input type="submit" value="立即购买" class="buy_btn"></div>
  <% end %>
</div>
<% else %>
  <div class="buy_short">
    <div class="buy_shortcont">
      <div class="prvd_header"></div>
      <div class="prvd_buycont">
        <p>分享者：<%= truncate (@sharing_node.user.identify),:length=>10,:omission=>'...' %></p>
        <p>好评率：<%= Evaluation.sharer_good_reputation_rate(@sharing_node.user) %></p>
      </div>
      <div class="prvd_buyrigt"><input type="submit" value="立即购买" class="buy_btnshort ">
      <%= link_to  new_order_path(product_id: @product.id, sharing_code: @sharing_node.code) do %>
        <div class="prvd_buyrigt"><input type="submit" value="立即购买" class="buy_btnshort "></div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
<% if params.present? and params['shared'] == 'true' %>
render_share_page()
<% end %>
function render_share_page() {
  $('#window').html('<%= escape_javascript render :partial =>'/products/share_page.html' %>');

  var mobile = ''
  $("#save_mobile_mobile").on('keyup', this, function(event) {
    mobile = event.target.value
    var checkNum = /^(\+\d+-)?[1-9]{1}[0-9]{10}$/;
    if (checkNum.test(mobile)) {$("#save_mobile_submit").removeAttr('disabled');};
    if (!checkNum.test(mobile)) {$("#save_mobile_submit").attr('disabled','disabled');};
  });
}

</script>

