<%= content_for :page_title do %>
  商品详情
<% end %>

<%= content_for :extra_meta_tags do %>
  <%= sharing_meta_tags(@product, @sharing_link_node) %>
<% end %>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>

<div class="fixed-container">
  <div class="product-box product-page">
    <div class="cover">
      <div class="img" style="background-image:url('<%=@product.image_url()%>')"></div>
      <%= image_tag("mobile/img.jpg") %>
    </div>
  </div><!-- product-box -->

  <div class="product-info-box">
    <p class="title"><%=@product.name%></p>
    <p class="price"><small>￥</small><%=@product.present_price%></p>
    <p class="gray-color">
    <% if @product.buyer_pay? %>
      快递：<%= product_traffic(@product) %>
    <%else%>
      包邮
    <% end %>
    </p>
    <p class="product-rate"><%= Evaluation.product_good_reputation_rate(@product.id) %> 好评 (<%= Evaluation.product_good_reputation(@product.id) %>人)</p>
  </div><!-- product-info-box -->

  <% if @privilege_card %>
    <div class="product-info-box">
      <br />
      <div class="friend-card">
        <p class="cover"><%= image_tag @privilege_card.user.avatar_url(:w120) %></p>
        <p class="name"><%= @privilege_card.user.identify %> 分享</p>
        <div class="gray-color">每件为你多省<span class="like-color"><%= @privilege_card.privilege_amount(@product) %></span></div>
        <br />
        <div class="border-box">
          <p class="name">友情价</p>
          <div class="price"><%= @product.present_price - @privilege_card.privilege_amount(@product) %></div>
        </div>
        <br />
        <p class="name">关于分享者</p>
        <div class="gray-color">共 <%= @sharing_node.user.total_reputations %> 分享 <span class="like-color"><%= @sharing_node.user.good_reputation_rate %>% 靠谱</span></div>
      </div>  <!-- friend-card -->
      <br />
    </div><!-- product-info-box -->
  <% end %>

  <div class="product-info-box">
    <br />
    <div class="cover">
      <%= image_tag @seller.avatar_url(:w120) %>
    </div>
    <br />
    <p class="name"><%= @seller.store_name %></p>
    <p class="gray-color"><%= @seller.store_short_description %></p>
    <p class="gray-color border-top"><%= number_to_percentage(@seller.good_reputation_rate, precision: 0) %> 好评（<%= @seller.total_reputations %>）</p>
    <div class="into">
      <%= link_to  store_path(@seller) do%>
        <%= image_tag("mobile/into.png") %> 进店逛逛
      <%end%>
    </div>
    <br />
  </div><!-- product-info-box -->

  <div class="product-info-box">
    <%= raw @product.content %>
  </div>

  <% if @sharing_node.blank? %>
    <div class="sharer-info">
      <%= link_to '立即购买', new_order_path(product_id: @product.id), class: 'btn btn-block' %>
    </div>
  <% else %>
    <div class="sharer-info">
      <div class="cover">
        <%= image_tag @sharing_node.user.avatar_url(:thumb), class: 'prvd_header' %>
      </div>
      <%= link_to '立即购买', new_order_path(product_id: @product.id), class: 'btn pull-right'%>
      <div class="content">
        <p>分享者：<%= @sharing_node.user.identify %></p>
        <p>好评率：<%= Evaluation.sharer_good_reputation_rate(@sharing_node.user) %></p>
      </div>
    </div>
  <% end %>

  <% if params['shared'] == 'true' %>
    <%= render partial: 'new_share' %>
  <% end %>

</div>
