<%= content_for :extra_meta_tags do %>
  <%= sharing_meta_tags(@product, @sharing_link_node) %>
<% end %>

<%= content_for :extra_javascript do %>
  <% if browser.wechat? %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
  <%= javascript_include_tag "mobile_page/jsmvc_app/application" %>
<% end %>

<div class="fixed-container">
  <div class="product-box product-page">
    <div class="cover">
      <div class="img" style="background-image:url('<%=@product.image_url(:w640)%>')"></div>
      <%= image_tag("mobile/img.jpg") %>
      <% if current_user && current_user.has_seller_privilege_card?(@seller) %>
        <div class="like-box">
	        <%= link_to "喜欢", switch_favour_product_path(@product),
	          method: 'PATCH', class: "#{user_favour_product_class(@product)} btn btn-like like-product-btn", remote: true %>
        </div>
      <% end %>
    </div>
  </div><!-- product-box -->

  <div class="product-info-box nogap">
    <p class="title"><%=@product.name%></p>
    <p class="price">
      ￥
      <%= product_price(@product).join(' - ') %>
    		<small class="original-price"><%= @product.original_price %></small>
    </p>
    <div class="gray-color">
		    <% if @product.transportation_way != 0 %>
		     	 快递：<%= product_traffic(@product) %>
		    <%else%>
		     	 包邮
		    <% end %>　
		    <%= Evaluation.product_good_reputation_rate(@product.id) %> 好评 (<%= Evaluation.product_good_reputation(@product.id) %>人)
	  	</div><!-- border-top -->
	  	<br />
	  	<div class="border-top detail text-left">
	  		<%= @product.short_description %>
	  	</div><!-- detail -->
  		<br />
  </div><!-- product-info-box -->

  <!-- 分享者的友情卡  -->
  <% if other_users_privilege_card?(@privilege_card) && @sharing_node %>
    <div class="bg-white gap m-bottom10">
      <div class="friend-card-user m-bottom10">
      		<%= image_tag @privilege_card.user.avatar_url(:w120) %>
      		<%= @privilege_card.user.identify %> <span class="like-color">分享</span>
      </div>
      <% amounts = product_privilege(@product, @privilege_card, :amount) %>
      <% if amounts[0] != 0 || (amounts[1].present? && amounts[1] != 0) %>
        <div class="friend-card text-center m-bottom10">
          <div class="title">优<br/>惠<br/>劵</div>
          <div class="content">
            <div class="text-cut m-bottom10">￥ <%= amounts.join(' - ') %></div>
            <div class="detail">通过此页下单，自动抵扣</div>
          </div><!-- content -->
        </div>  <!-- friend-card -->
      <% end %>
    </div><!-- bg-white -->

  <!-- 自己的友钱卡  -->
  <% elsif self_privilege_card?(@privilege_card) || qr_sharing? %>
    <div class="bg-white gap m-bottom10">
      <% amounts = product_privilege(@product, @privilege_card, :amount) %>
      <% if amounts[0] != 0 || (amounts[1].present? && amounts[1] != 0) %>
        <div class="friend-card text-center m-bottom10">
          <div class="title">优<br/>惠<br/>劵</div>
          <div class="content">
            <div class="text-cut m-bottom10">￥ <%= amounts.join(' - ') %></div>
            <div class="detail">通过此页下单，自动抵扣</div>
          </div><!-- content -->
        </div>  <!-- friend-card -->
      <% end %>
      <div class="text-center">
      		<% if @privilege_card.present? %>
        		<a class="btn btn-large btn-orange-border btn-w30 p-sharing-btn">分享给朋友</a>
      		<% else %>
          <%= link_to "领取友钱卡", get_product_sharing_path, data: { pid: @product.id, uid: current_user.present? },
            class: "btn btn-large btn-orange-border btn-w30 show-req-snode-modal"
          %>
          <a class="btn btn-large btn-orange-border btn-w30 hidden p-sharing-btn">分享给朋友</a>
      		<% end %>　　
      		<a class="btn btn-large btn-orange-border  btn-w30"  href="/about">查看说明</a>
      </div>
    </div><!-- bg-white -->
  <% end %>
  <!-- end 自己的友钱卡 -->

  <div class="bg-white gap">
  	<div class="product-store-box">
	    <div class="cover">
	      <%= image_tag @seller.avatar_url(:w120) %>
	    </div>
			<div class="content">
				<%= link_to  store_path(@seller),class:'btn btn-main-border pull-right' do%>
	       	进店逛逛
	      <%end%>
		    <h4 class="name text-cut"><%= @seller.store_name %></h4>
		    <p class="gray-color"><%= number_to_percentage(@seller.good_reputation_rate, precision: 0) %> 好评（<%= @seller.total_reputations %>）</p>
	      <p class="gray-color desc text-cut"><%= @seller.store_short_description %></p>

	 		</div><!-- content -->
    </div><!-- product-store-box -->
  </div><!-- bg-white gap -->
  <div class="bg-white gap text-center enter-content  m-top10">
    <%== @product.content %>
  </div>

  <% if @sharing_node.blank? %>
    <div class="share_buy">
      <% if current_user && current_user.has_privilege_card?(@product) %>
        <%= link_to '#', class: "#{current_user.has_recommend?(@product) ? 'has_recommend': ''} buy-nav recommend_link", user_id: current_user.id, recommended_id: @product.id, recommended_type: @product.class do %>
          <div class='buy-icon buy-recommed-icon'></div>
          <div>推荐</div>
        <% end %>        
      <% end %>
      <%= link_to conversation_chat_path(conversation_id: @seller.id), class: 'buy-nav chat-btn' do%>
	    		<div class="buy-icon buy-chat-icon"></div>
	    		<div>客服</div>
	    	<% end %>
      <% if current_user %>
        <%= link_to  'javascript:;', class: 'buy-nav btn_add_to_cart', id: 'show_inventory_cart' do%>
	    		<div class="buy-icon buy-cart-icon"></div>
	    		<div>添加</div>
	    	<% end %>
      <% else %>
        <%= link_to cart_items_path(product_id: @product.id), class: 'buy-nav btn_add_to_cart' do%>
	    		<div class="buy-icon buy-cart-icon"></div>
	    		<div>添加</div>
	    	<% end %>
      <% end %>
      <%= link_to '购买', 'javascript:;', class: 'btn_buy_now', id:"show_inventory" %>

      <input type="hidden" name="product[id]" value="<%= @product.id %>" />
      <input type="hidden" name="product[count]" value="<%= 1 %>" />
    </div>
  <% else %>
    <div class="share_buy">
    	<div class="half_left">
    		<%= image_tag @sharing_node.user.avatar_url(:thumb), class: 'share_portrait' %>
		    <div class="share_content">
		      <div class="text-cut"><%= @sharing_node.user.identify %></div>
		      <div><small><%= Evaluation.sharer_good_reputation_rate(@sharing_node.user) %>好评率</small></div>
		    </div>
		  </div>
		  <div class="half_right">
	      <% if current_user %>
	        <%= link_to  'javascript:;', class: 'buy-nav btn_add_to_cart', id: 'show_inventory_cart' do%>
		    		<div class="buy-icon buy-cart-icon"></div>
		    		<div>添加</div>
		    	<% end %>
	      <% else %>
	        <%= link_to '/cart_items', class:'buy-nav btn_add_to_cart', method: 'post' do%>
		    		<div class="buy-icon buy-cart-icon"></div>
		    		<div>添加</div>
		    	<% end %>
	      <% end %>
	      <%= link_to conversation_chat_path(conversation_id: @seller.id), class: 'buy-nav chat-btn' do%>
	    		<div class="buy-icon buy-chat-icon"></div>
	    		<div>客服</div>
	    	<% end %>
	      <%= link_to '购买', 'javascript:;', class: 'btn_buy_now', id:"show_inventory" %>
		  </div>
    </div>
  <% end %>

  <%= render partial: 'new_share' %>

</div>

<div class="req-snode-modal pop-bg hidden">
  <div class="pop-content">
    <div class="alert">
      <div class="req-snode-group">
        <div class="page-title">留下手机号，现金礼品拿不停！</div>
        <p><input type="tel" name="mobile" placeholder='输入手机号，获得分享收益' class='input-block' /></p>
        <br />
        <p>
        <%= link_to "领取友钱卡", get_product_sharing_path, data: { pid: @product.id },
          class: "btn btn-large btn-block req-pro-snode-btn" %>
        </p>
      </div>
      <div class="hidden">
        <p>您已成功领取，赶紧分享给朋友吧</p>
        <br />
        <a class="btn btn-large btn-block pro-snode-success-btn">确定</a>
      </div>
    </div>
  </div>
</div>

<%= simple_form_for "product_inventory", url: new_order_path(product_id: @product.id), method: 'GET' do |f| %>
  <%= hidden_field_tag "product_inventory_id" %>
  <%= hidden_field_tag "product_id", @product.id %>
  <%= hidden_field_tag "amount", 1, id:'count_amount' %>
  <div class="hidden" id="inventory">
    <div class="tab_buy_now">
      <div class="buy_now_goods">
      	<%= image_tag 'mobile/close.png',class:'btn_cancle_buy_now close',onclick:'hideBuyNow()' %>
        <img class="buy_now_goods_img" src="<%= @product.image_url() %>" alt="商品" />
        <dl class="buy_now_goods_dl">
          <dt><p><%=@product.name%></p></dt>
          <dd>
            <p>¥
              <span id="price_range"> <%= product_price(@product).join(' - ') %> </span>
            </p>
          </dd>
        </dl>
      </div>

      <div class="options" id="product_inventory_options">

      </div>
    </div>
  </div>
<% end %>

<%= hidden_field_tag "submit_way" %>

<% if @privilege_card.blank? && qr_sharing? %>
  <%= render partial: 'privilege_card_pop' %>
<% end %>

<script type="text/javascript">
  function hideBuyNow() {
    $('#inventory').addClass('hidden');
    $('.fixed-container').css('-webkit-filter', 'blur(0px)');
    $('html').removeClass('lock')
  }
</script>
