<style type="text/css">
a {color:white;}
a:hover {color: yellow;}
</style>
<div class="row text-center bg_green font_h1 white heading">
  <%= link_to url_for(:action=>:index) do %>
    <div class="col-xs-2"><<</div>
  <% end %>
    <div class="col-xs-8"><b>UBOSS</b></div>
    <!-- <a class="col-xs-2" onclick="">分享</a> -->
</div>
<div class="row">
  <div class="col-xs-12">
    <%= image_tag(url_for(@product.asset_img.try(:avatar).try(:url)),  alt: "-",:style=>"width:100%;") %>
  </div>
  <div class="col-xs-12 bg_grey">
    <div style="padding:10px 3%;">
      <div class="col-xs-12 font_h3" style="border-bottom:1px solid gray;padding:2%;">
        <%= @product.name %>
      </div>
      <div>
        <span class="font_h3">价格:</span>
        <span class="green">
          <span>￥</span><span class="font_h1"><%= @product.present_price %></span>
        </span>
        <span  class="font_h4 line-through grey">
        ￥<%= @product.original_price %>
        </span>
      </div>
      <div class=" font_h4" style="color:gray;">
        <%= Product::DataBuyerPay[@product.buyer_pay] %>
        <% if @product.buyer_pay %>
        <%= ":￥#{@product.traffic_expense}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h2 class="text-center bg_green white">图文详情</h2>
  <div class="col-xs-12 content">
    <%= raw @product.content %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to '立即购买',
      new_order_path(product_id: @product.id), class: "btn text-center bg_green white col-xs-12" %>
  </div>
</div>
<script type="text/javascript">
<% if params.present? and params['shared'] == 'true' %>
render_share_page()
<% end %>
function render_share_page() {
  $('#window').html('<%= escape_javascript render :partial =>'/products/share_page.html' %>');

  var mobile = ''
  $("#save_mobile_mobile").on('keyup', this, function(event) {
    mobile = event.target.value
    var checkNum = /^(\+\d+-)?[1-9]{1}[0-9]{10}$/;
    if (checkNum.test(mobile)) {$("#save_mobile_submit").removeAttr('disabled');};
    if (!checkNum.test(mobile)) {$("#save_mobile_submit").attr('disabled','disabled');};
  });
}
function close_window() {
  $('#window').html('');
}
</script>

<script type="text/javascript">
// $(document).on('ready page:load', function() {
//   var mobile = ''
//   $("#save_mobile_mobile").on('keyup', this, function(event) {
//     mobile = event.target.value
//     console.log('5565')
//     console.log(mobile)
//     var checkNum = /^(\+\d+-)?[1-9]{1}[0-9]{10}$/;
//     if (checkNum.test(mobile)) {$("#save_mobile_submit").removeAttr('disabled');};
//     if (!checkNum.test(mobile)) {$("#save_mobile_submit").attr('disabled','disabled');};
//   });
// })
</script>

