


<div class="service_centre_title">UBOSS服务中心</div>
<div class="service_centre_nav">
	<div>
		<nav>
			<a class="service_nav_a" style="background:#66CDAA;" href="#">我是消费者</a>
			<a class="service_nav_a" href="#">我是商家</a>
			<a class="service_nav_a" href="#">我是代理商</a>
		</nav>
	</div>
</div>
<div class="consumer_container">
	<div class="consumer_nav">
		<nav>
			<a class="service_nav_a" style="background: 	#66CDAA;" href="#">入门教程</a>
			<a class="service_nav_a" href="#">常见问题</a>
		</nav>
		<div><hr /></div>
	</div>
	<div id="page1">
		<div class="page1_cont"><div class="page1_title"><span class="page1_titles">消费者入门教程</span></div></div>
		<div class="page1_tab">

      <%= image_tag "desktop_image/merchant_tutorial1.png", class:"tabs", alt:"merchant_tutorial1" %>
      <%= image_tag "desktop_image/merchant_tutorial2.png", class:"tabs", alt:"merchant_tutorial2" %>
      <%= image_tag "desktop_image/merchant_tutorial3.png", class:"tabs", alt:"merchant_tutorial3" %>
      <%= image_tag "desktop_image/merchant_tutorial4.png", class:"tabs", alt:"merchant_tutorial4" %>
      <%= image_tag "desktop_image/merchant_tutorial5.png", class:"tabs", alt:"merchant_tutorial5" %>
		</div>
		<div class="content1"></div>
	</div>
	<div id="page2">
		<div class="page1_cont"><div class="page1_title"><span class="page1_titles">消费者常见问题</span></div></div>
		<div class="page1_tab">
      <%= image_tag "desktop_image/merchant_issues1.png", class:"tabs", alt:"merchant_issues1" %>
      <%= image_tag "desktop_image/merchant_issues2.png", class:"tabs", alt:"merchant_issues2" %>
      <%= image_tag "desktop_image/merchant_issues3.png", class:"tabs", alt:"merchant_issues3" %>
      <%= image_tag "desktop_image/merchant_issues4.png", class:"tabs", alt:"merchant_issues4" %>
      <%= image_tag "desktop_image/merchant_issues5.png", class:"tabs", alt:"merchant_issues5" %>
      <%= image_tag "desktop_image/merchant_issues6.png", class:"tabs", alt:"merchant_issues6" %>
		</div>
		<div class="content2"></div>
	</div>

</div>
