<%= content_for :extra_meta_tags do %>
  <% if Rails.env.production? %>
    <%= seo_meta_tag %>
  <% end %>
<% end %>
<div id="pagepiling">
<div class="banner text-center section">
	<div class="content">
		<div class="top">
			<h1 class="main-color"><b>UBOSS</b></h1>
			<h2 class="main-color">基于人，超乎想象</h2>
			<h3><b>零成本建立线上分销移动商城</b></h3>
			<br />
		</div><!-- top -->
		<br />
		<div class="middle">
			<h3>
				<span>
					<i class="fa fa-circle main-color"></i> 免费建立
				</span>　
				<span>
					<i class="fa fa-circle main-color"></i> 裂变销售
				</span>　
				<span>
					<i class="fa fa-circle main-color"></i> 数据支持
				</span>
			</h3>
			<br />
		</div><!-- middle -->
		<br />
		<div class="bottom">
			<div class="btn-bar"><a href="/sign_in" class="btn btn-bold btn-shadow">立即建立</a></div>
			<br />
			<p>这就是通往成功的桥</p>
		</div>	
		<div id="arrow-down">
			<%= image_tag "new_desktop/arrow-down.png", alt:"请向下滑" %>
		</div>
	</div><!-- content -->
</div><!-- banner -->
<!--
<br/>
<div class="text-center">
	<div class="qrcode-box wow zoomInDown" >
		<%= image_tag "new_desktop/qr.png", alt:"快扫一下我吧",width:'156',height:'156' %>
		<div class="content">
			扫码进入<br/>
			UBOSS官方旗舰商城		
		</div>		
	</div><!-- qrcod-box 
</div><!-- text-center 
<br />
-->
	<div class="page1 section">
		<div class="container nogap" >
			<div class="box-w100">
				<div class="title-bar wow bounceInDown" data-wow-duration="2s">
					<h1>VEDIO</h1>
					<div><b>宣传视频</b></div>
				</div>
			</div><!-- box-w100 -->
			<div class="box-w50 text-left">
				<div class="video-list w80 wow slideInLeft">
					<div class="video-banner" data-src="http://player.youku.com/player.php/sid/XMTI5ODg1NTM2MA==/v.swf">
						<div class="play-icon"><i class="fa fa-play"></i></div><!-- play-icon -->
					</div><!-- video-banner -->
					<div class="title"><b>什么是UBOSS</b></div>
				</div><!-- video -->
			</div><!-- box-w50 -->
			<div class="box-w50 text-right">
				<div class="video-list w80 wow slideInRight">
					<div class="video-banner" data-src="http://player.youku.com/player.php/sid/XMTMxNTI0NTE0NA==/v.swf">
						<div class="play-icon"><i class="fa fa-play"></i></div><!-- play-icon -->
					</div><!-- vido-banner -->
					<div class="title text-center"><b>UBOSS商家版</b></div>
				</div><!-- video -->
			</div><!-- box-w50 -->
		</div><!-- container -->
		<div class="video-bg" style="display: none;">
			<div class="video-content">
				<div class="video-box">
				</div><!--video-box -->
			</div><!-- video-content -->
		</div><!-- video-bg -->
	</div><!-- page1 -->

	<div class="page2 section">
		<div class="container nogap">
			<div class="box-w100">
				<div class="title-bar wow bounceInDown" data-wow-duration="1s">
					<h1>EFFECT</h1>
					<div><b>商家优势</b></div>
				</div><!-- title-bar -->
			</div><!-- box-w100 -->
			<div class="box-w50 text-left wow fadeIn" data-wow-delay='1s'>
				<%= image_tag "new_desktop/effect.png", alt:"商家优势",width:'500',height:'500' %>
			</div><!-- box-w50-->
			<div class="box-w50 text-right">
				<div class="w80 text text-left wow slideInDown" data-wow-duration='1.5s'>					
					<br />
					<h3 class="main-color"><i class="fa fa-circle"></i>　线下引流</h3>
					<div class="content">
						<p>成为UBOSS进驻商户</p>
						<p>消费者随时随地将商品分享到线上</p>
						<br />
					</div><!-- content -->
					<br />
					<h3 class="main-color"><i class="fa fa-circle"></i>　线上传播</h3>
					<div class="content">
						<p>成为UBOSS进驻商户</p>
						<p>消费者随时随地将商品分享到线上</p>
					</div><!-- content -->
					<br />
				</div>
			</div><!-- box-w50-->
		</div><!-- container -->
		<br />
	</div><!-- page2 -->
	
	<div class="page3 section">
		<div class="container nogap text-center">
			<div class="box-w100">
				<div class="title-bar wow bounceInDown" data-wow-duration="1s">
					<h1>WAY</h1>
					<div><b>商家流程</b></div>
				</div><!-- title-bar -->
			</div><!-- box-w100 -->
			<div class="box-w50 wow zoomInLeft" data-wow-duration="1.5s">
				<p><%= image_tag "new_desktop/way1.png", alt:"注册开店" %></p>
				<br />
				<h3>注册开店</h3>
				<p>开店完全免费</p>
				<p>注册立即开店</p>
				<br />
				<p>
					<%= link_to new_user_session_path, class:'btn'  do %>
						注册开店
					<% end %>
				</p>
			</div>
			<div class="box-w50 wow zoomInRight" data-wow-duration="2.5s">
				<p><%= image_tag "new_desktop/way2.png", alt:"认证店铺" %></p>
				<br />
				<h3>认证店铺</h3>
				<p>为保证结算打款顺利，商家需要</p>
				<p>对店铺进行认证，否则无法提现</p>
				<br />
				<p>
					<%= link_to "/admin/users/#{current_user.try(:id) || 1}/personal_authentication/new", class:'btn' do %>
						我要认证
					<% end %>
				</p>
			</div>
		</div><!-- container -->
	</div><!-- page3 -->
	
	<div class="page4 section">
		<div class="container nogap text-center">
			<div class="box-w100">
				<div class="title-bar wow bounceInDown" data-wow-duration="1s">
					<h1>PROFIT</h1>
					<div><b>创客收益</b></div>
				</div><!-- title-bar -->
				<p>
					With a simple algorithm, to illustrate the strong benefits of UBoss
					<br/>
					用一个简单的算法，来说明成为UBOSS创客的强大收益。
				</p>
				<br />
			</div><!-- box-w100 -->
			<div class="box-w25 wow flipInX" data-wow-delay="1s">
				<br />
				<p class="profit-icon profit1"></p>
				<br />
				<h4>2.5%提成</h4>
				<br />
			</div><!-- box-w25 -->
			<div class="box-w25 wow flipInX" data-wow-delay="1.5s">
				<br />
				<p class="profit-icon profit2"></p>
				<br />
				<h4>每天签订10家</h4>
				<br />
			</div><!-- box-w25 -->
			<div class="box-w25 wow flipInX" data-wow-delay="2s">
				<br />
				<p class="profit-icon profit3"></p>
				<br />
				<h4>每家每天50元</h4>
				<br />
			</div><!-- box-w25 -->
			<div class="box-w25 wow flipInX" data-wow-delay="2.5s">
				<br />
				<p class="profit-icon profit4"></p>
				<br />
				<h4>一年365天</h4>
				<br />
			</div><!-- box-w25 -->
			<div class="box-w100">
				<br />
				<h3 class="wow fadeInRight"  data-wow-delay="2.5s">10×50×2.5％（1＋2＋…＋365）</h3>
				<h1 class="main-color wow fadeIn" id="number"  data-wow-delay="3s">＝<span>8349375</span></h1>
			</div>
		</div><!-- container -->
		<br />
	</div><!-- page4 -->

	<div class="page5 section">
		<div class="container text-center">
			<div class="title-bar wow bounceInDown" data-wow-duration="1s">
				<h1>WAY</h1>
				<div><b>成为创客</b></div>
			</div><!-- title-bar -->
			<div class="pirce-icon wow bounce" data-wow-delay="1s">
				<br />
				<div class="price-box">
					<div class="content">
						<div class="price">10</div>
						<br />
						<div class="unit">RMB</div>
					</div>
				</div>
			</div><!-- price-icon -->
			<p class="footer-qrcode wow slideInDown" data-wow-delay="1.5s">
				<span >
					<%= image_tag "new_desktop/qr1.png", alt:"成为创客",width:'210',height:'210' %>
				</span>
			</p>
			<br />
			<h1 class="main-color wow slideInDown" data-wow-delay="2s">码上加入</h1>
			<h3 class="main-color wow slideInDown" data-wow-delay="2.5s">即刻开启轻创业！</h3>
		</div><!-- container -->
	</div><!-- page5 -->
	
  <div class="page6 text-center section">
  	<br/>
		<div class="text-center">
			<div class="qrcode-box wow zoomInDown" >
				<%= image_tag "new_desktop/qr.png", alt:"快扫一下我吧",width:'156',height:'156' %>
				<div class="content">
					扫码进入<br/>
					UBOSS官方旗舰商城		
				</div>		
			</div><!-- qrcod-box 
		</div><!-- text-center -->
		<br />
		<h2>FIND US</h2>
		<p>
			<%= image_tag "new_desktop/call.png", alt:"call",width:'63',height:'66' %>
		</p>
		<br />
		<h2>0755-66691053</h2>
		<div class="copyright">
			<p><%= image_tag "new_desktop/footer-logo.png", alt:"UBoss",width:'28',height:'54' %></p>
			<br />
			<p>Copyright 2015 www.uboss.me.</p> 
			<div>All Rights Reserved 粤ICP备15032292号-1 </div>
		</div>
  </div><!-- page6 -->
</div><!-- pagepiling -->
