<%= content_for :extra_meta_tags do %>
  <% if Rails.env.production? %>
    <%= seo_meta_tag %>
  <% end %>
<% end %>
<div class="section" id="section1">
	<div class="slider">
		<div class="slides-container">
			<div>
		    <div class="slider-container slideshow1" data-color="rw">
		    	<div class="slides-middle"><%= image_tag("new_desktop/1-wz.png" ,class: "preserve to-top") %></div>
		    </div>
			</div>
			<div>
				<%= image_tag("new_desktop/2-bg.jpg") %>
		    <div class="slider-container slideshow2" data-color="rb">
		    	<div class="slides-middle">
		    		<p><%= image_tag("new_desktop/2-wz.png" ,class: "preserve") %></p>
		    		<p><a href="#section3" class="btn">免费驻入</a></p>
		    	</div>
		    </div>
			</div>
			<div>
				<%= image_tag("new_desktop/3-bg.jpg") %>
		    <div class="slider-container slideshow3" data-color="ww">
		    	<div class="slides-middle">
		    		<p><%= image_tag("new_desktop/3-wz.png" ,class: "preserve") %></p>
		    		<p><a href="#section5" class="btn">10元创业</a></p>
		    	</div>
		   	</div>
			</div>
		</div><!-- slides-container -->
	</div><!--slider -->
</div><!-- section -->
<div class="section" id="section2">
	<div id="video">
			<h1 class="section-title text-center">
				视频<br/>
				VIDEO
			</h1>
			<div class="video-banner banner-1">
				<h4>关于UBOSS宣传片</h4>
				<p>【创客】 【商家】 【分享客】</p>
				<p>　让你的商品，引爆社交圈</p>
				<div class="play-icon" data-src="http://player.youku.com/player.php/sid/XMTI5ODg1NTM2MA==/v.swf"><i class="fa fa-play"></i> 点击播放</div><!-- play-icon -->
			</div><!-- video-banner -->
			<div class="video-banner banner-2">
				<h4>什么是UBOSS产品？</h4>
				<p>　　　　【全国首创】</p>
				<p>　　以人为本的社群微电商</p>
				<div class="play-icon" data-src="http://player.youku.com/player.php/sid/XMTMxNTI0NTE0NA==/v.swf"><i class="fa fa-play"></i> 点击播放</div><!-- play-icon -->
			</div><!-- vido-banner -->
			<div class="video-bg" style="display: none;">
				<div class="video-content">
					<div class="video-box">
					</div><!--video-box -->
				</div><!-- video-content -->
			</div><!-- video-bg -->
	</div><!-- video -->
</div><!-- section -->
<div class="section" id="section3">
	<div class="container">
		<h1 class="section-title">
			成为UBOSS商户
		</h1>
		<br />
		<div class="text-center">
			<div class="img-box">
				<%= image_tag("new_desktop/2.png") %>
			</div>
			<div class="img-box">
				<%= image_tag("new_desktop/2-1.png") %>
			</div>
		</div>
		<br />
	</div><!-- container -->
</div><!-- section -->
<div class="section" id="section4">
	<div class="container">
		<h1 class="section-title text-right">
			简单两步拥有UBOSS商城
		</h1>
		<br />
		<div class="text-center">
			<div class="img-box">
				<div><%= image_tag("new_desktop/3.png") %></div>
				<br />
				<h3>注册开店</h3>
				<p class="text">开店完全免费，注册即可开店</p>
				<br />
				<div><a href="<%= admin_root_path %>" class="btn">立即注册</a></div>
			</div>
			<div class="img-box">
				<div><%= image_tag("new_desktop/3-1.png") %></div>
				<br />
				<h3>认证店铺</h3>
				<p class="text">为保证结算打款顺利，商家需要<br/>对店铺进行认证，否则无法提现</p>
				<br />
				<div><a href="/admin/users/58/personal_authentication/new" class="btn">立即认证</a></div>
			</div>
		</div>
		<br />
	</div><!-- container -->
</div><!-- section -->
<div class="section" id="section5">
	<div class="container">
		<h1 class="section-title">
			成为UBOSS创客
		</h1>
		<br />
		<div class="text-center">
			<div class="img-box">
				<%= image_tag("new_desktop/4.png") %>
			</div>
			<div class="img-box">
				<%= image_tag("new_desktop/4-1.png") %>
			</div>
		</div>
		<br />
	</div><!-- container -->
</div><!-- section -->
<div class="section" id="section6">
<div class="container">
	<br />
		<h1 class="section-title text-right">
			成为UBOSS创客零风险创业
		</h1>
		<br />
		<div class="text-center">
			<div class="img-box">
				<p><%= image_tag("new_desktop/5.png") %></p>
				<h3 class="text">现仅需<b class="main-color">10</b>元<br/>即可购买创客权</h3>
			</div>
			<div class="img-box">
				<p><%= image_tag("new_desktop/5-1.jpg") %></p>
				<h3 class="text">签约商家录入后台</h3>
			</div>
		</div>
		<br />
	</div><!-- container -->
</div>
<br />
<footer class="text-center">
	<h3 class="footer-name">UBOSS</h3>
	<p class="footer_tel">联系我们：0755-66691053</p>
	<p class="copyright">Copyright    2015 www.uboss.me. All Rights Reserved 粤ICP备15032292号-1 </p>
	<br />
</footer>
<script type="text/javascript">

  $(document).ready(function (){
  	$("header").css({
				"position":"absolute",
				"top":"0",
				"left":"0",
				"z-index":"100"
    });

    $(".play-icon").click(function (){
    	var isrc=$(this).attr('data-src');
    	$(".video-bg").fadeIn();
    	$(".video-box").prepend('<embed class="player" src="'+isrc+'" allowFullScreen="true" quality="high" width="600" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed><div class="close"><i class="fa fa-times"></i></div>')
    });
    $(".video-box").on("click",".close",function(){
    	$(".video-bg").fadeOut();
    	$(".video-box").empty();
    });
  })
</script>
<script type="text/javascript">
$(document).ready(function() {
	$('.slider').superslides({
		play:6000
	});
});

</script>
