<%= content_for :page_title do %>
  支付结果
<% end %>

<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<div class="box m-top10">
  <% if @order_charge.unpay? %>
    <div class="bg-white">
      <div class="box-m40 text-center">
        <br />
        <h2>暂未收到订单支付结果</h2>
        <br />
        <div class="gray-color">支付结果可能会有几分钟延迟，您可以刷新结果或稍晚查看我的订单。</div>
        <br />
      </div>
    </div><!-- bg-white -->

  <% else %>
    <div class="bg-white">
      <div class="box-m40 text-center">
        <br />
        <h1>支付成功</h1>
        <br />
        <br />
        <div class="gray-color">金额：<%= @order_charge.paid_amount %></div>
        <br />
        <% @order_charge.bill_orders.each do |bill_order|%>
          <div class="gray-color">收款方：<%= bill_order.seller.service_store.store_name %></div>
          <br />
          <div class="gray-color">交易单号：<%= bill_order.number %></div>
          <br />
        <% end %>
        <div class="gray-color">付款时间：<%= @order_charge.paid_at %></div>
        <br />
        <div class="gray-color">付款单号：<%= @order_charge.pay_serial_number %></div>
      </div>
      <% if @seller.has_promotion_activity? %>
        <%= link_to "去抽奖", store_qrcode_img_path(sid: @seller.id, type: 'service'), class: 'btn btn-large btn-block' %>
      <% else %>
        <%= link_to "去分享", store_qrcode_img_path(sid: @seller.id, type: 'service'), class: 'btn btn-large btn-block' %>
      <% end %>
      <br />
    </div><!-- bg-white -->
  <% end %>
</div><!-- box -->
