<%= content_for :title do %>
  <%= @seller.service_store.store_identify %>
<% end %>

<%= content_for :page_title do %>
  支付结果
<% end %>

<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<%= content_for :extra_meta_tags do %>
  <% if @service_store_valid %>
    <%= service_store_sharing_meta_tags(@seller.service_store, @sharing_link_node) %>
  <% else %>
    <%= store_sharing_meta_tags(@seller, @sharing_link_node) %>
  <% end %>
<% end %>

<% if browser.wechat? %>
  <%= content_for :extra_javascript do %>
    <script type="text/javascript" charset="utf-8">
      wx.ready(function(){ UBoss.luffy.invokeSharing(); });
    </script>
  <% end %>
<% end %>

<div class="box m-top10">
  <% if @order_charge.unpay? %>
    <div class="bg-white">
      <div class="box-m40 text-center">
        <br />
        <h2>暂未收到订单支付结果</h2>
        <br />
        <div class="gray-color">支付结果可能会有几分钟延迟，您可以刷新结果。</div>
        <br />
      </div>
    </div><!-- bg-white -->

  <% else %>
     <h2 class="gap m-bottom10"><i class="right-icon"></i>支付成功</h2>
     <div class="bill-info m-bottom10">
       <% @order_charge.bill_orders.each do |bill_order|%>
         <div class="text-cut m-bottom10"><%= bill_order.seller.service_store.store_name %></div>
         <div class="gray-color border-top text-right">
           <span class="pull-left">价格：</span>￥<%= @order_charge.paid_amount %>
         </div>
         <div class="gray-color text-right"><span class="pull-left">订单号：</span> <%= bill_order.number %></div>
         <div class="gray-color text-right"><span class="pull-left">支付时间：</span> <%= @order_charge.paid_at %></div>
       <% end %>
      </div><!-- bg-wihte -->
      <br />
      <% if (@service_store_valid || @ordinary_store_valid) && @promotion_activity.present? %>
        <% if current_user.blank? %>
          <div class="bill-sharing-cont">
            <div class="login-cont">
              <small class="gray-color">请输入手机号，以便给你发放奖品</small>
              <p class="mobile-cont">
                <%= text_field_tag :mobile, '',
                  class: 'input-block input-radius input-large',
                  style: 'text-align:left',
                  type: 'tel', id: "new_mobile", placeholder:"请输入手机号码" %>
                <a id="send_mobile" class="send_mobile" href="javascript:;">发送验证码</a>
              </p>
              <br />
              <p>
                <%= text_field_tag :mobile_auth_code, '',
                  class: "input-block input-radius input-large text-right",
                  style: 'text-align:left',
                  type: "tel", placeholder:"请输入验证码" %>
              </p>
            </div>
            <div class="prize-cont hidden">
              <h4 class="draw-result-cont"></h4>
              <small>您的奖品已放入 <%= link_to "【奖券】", lotteries_account_verify_codes_path %></small>
            </div>
            <br />
            <p>
              <%= link_to "抽奖", live_draw_promotion_activity_path(@promotion_activity, format: :json),
                class: "btn btn-block btn-large bill-draw-btn login-require" %>
              <%= link_to "找好友一起中奖", get_seller_sharing_path,
                class: "btn btn-block btn-large get-p-card-btn hidden",
                data: { sid: @seller.id,
                        uid: true,
                        path: service_store_path(@seller.service_store.id) } %>
            </p>
          </div>
        <% else %>
          <div class="bill-sharing-cont hidden">
            <div class="prize-cont hidden">
              <h4 class="draw-result-cont"></h4>
              <small> 您的奖品已放入 <%= link_to "【奖券】", lotteries_account_verify_codes_path %> </small>
            </div>
            <br />
            <p>
              <%= link_to "找好友一起中奖", get_seller_sharing_path,
                class: "btn btn-block btn-large get-p-card-btn done",
                data: { sid: @seller.id,
                        uid: current_user.present?,
                        path: service_store_path(@seller.service_store.id) } %>
            </p>
          </div>
          <div class="bill-draw-cont text-center">
            <%= link_to live_draw_promotion_activity_path(@promotion_activity, format: :json), class: 'bill-draw-btn' do %>
              <%= image_tag 'activate_page/color-gift.png' %>
            <% end %>
          </div>
        <% end %>
      <% elsif @service_store_valid || @ordinary_store_valid %>
        <div class="bill-sharing-cont">
          <h3 class="text-center" style="font-weight:normal">给好友优惠，赢现金红包</h3>
          <br/>
          <% if current_user.blank? %>
            <p><input type="tel"  class="input-block input-radius input-large input-tel-value" placeholder="请输入手机号码"/></p>
            <br />
          <% end %>
          <p>
          <% if @service_store_valid %>
            <%= link_to "分享赢红包", get_seller_sharing_path,
              class: "btn btn-block btn-large get-p-card-btn #{'done' if current_user.present?}",
              data: { sid: @seller.id, uid: current_user.present?, path: service_store_path(@seller.service_store.id) } %>
          <% else %>
            <%= link_to "分享赢红包", get_seller_sharing_path,
              class: "btn btn-block btn-large get-p-card-btn #{'done' if current_user.present?}",
              data: { sid: @seller.id, uid: current_user.present? } %>
          <% end %>
          </p>
        </div>
      <% end %>

  <% end %>
</div><!-- box -->
