<%= content_for :page_title do %>
  支付订单
<% end %>

<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<br />
<div class="payment-box wx-pay">
	<span>微信支付</span>
	<input type="radio" name="payment_item" value="微信支付" class="pay-checkbox pay-checked" checked="checked" />
</div>

<% if !browser.wechat? && @order_charge.wx_code_url.present? %>
  <div class="text-center">
    <strong>请使用微信扫码支付</strong>
    <hr />
    <%= qrcode_image_tag(@order_charge.wx_code_url) %>
    <br/> <br/> <br/> <br/> <br/>
  </div>
<% end %>

<div class="order-price">
  <% if browser.wechat? %>
    <%= link_to '去付款', "javascript:;", class: 'cart-btn btn', id: 'wx-pay-btn' %>
  <% else %>
    <%= link_to "付款完成", pay_complete_charge_path(@order_charge), class: 'cart-btn btn' %>
  <% end %>
  <div class="content">
    <p>应付款：￥<span id="payment_total_price"><%= @order_charge.pay_amount %></span></p>
  </div>
</div><!-- order-price -->


<% if browser.wechat? %>
  <% if @order_charge.unpay? && @pay_p.present? %>
    <%= content_for :extra_javascript do %>
      <script type="text/javascript" charset="utf-8">
         wx.ready(function(){
           UBoss.nami.setPayenv("<%= $wechat_env %>");
           $('#wx-pay-btn').on('click', function(event){
             event.preventDefault();
             UBoss.nami.chooseWXPay({
               "timestamp": "<%= @pay_p[:timeStamp] %>",
               "nonceStr": "<%= @pay_p[:nonceStr] %>",
               "package": "<%= @pay_p[:package] %>",
               "signType": "<%= @pay_p[:signType] %>",
               "paySign": "<%= @pay_sign %>", // 支付签名
               "success": function (res) {
                 window.location.href = "/charges/" + "<%= @order_charge.id %>" + "/bill_complete";
               }
             });
           });
           wx.hideOptionMenu();
         })
      </script>
    <% end %>
  <% end %>
<% end %>
