<%= content_for :page_title do %>
  支付结果
<% end %>

<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<div class="box m-top10">
  <% if @order_charge.unpay? %>
    <div class="bg-white">
      <div class="box-m40 text-center">
        <br />
        <h2>暂未收到订单支付结果</h2>
        <br />
        <div class="gray-color">支付结果可能会有几分钟延迟，您可以刷新结果或稍晚查看我的订单。</div>
        <br />
      </div>
    </div><!-- bg-white -->

  <% else %>
    <div class="bg-white">
      <div class="box-m40 text-center">
        <br />
        <h1>支付成功</h1>
        <br />
        <div class="gray-color">恭喜你，获得 <span class="like-color"><%= @privilege_cards.count %></span> 家店铺友钱卡</div>
        <br />
      </div>
    </div><!-- bg-white -->
    <% if @product.is_official_agent? %>
      <div class="bg-white">
        <div class="box-m40 text-center">
          <br />
          <h1>支付成功</h1>
          <br />
          <div class="gray-color">恭喜你，获得 <span class="like-color">创客权</span> 的友钱卡</div>
          <br />
        </div>
      </div><!-- bg-white -->
    <% end %>
    <div class="pay-bg text-center m-top10">
      <div class="pay-info-bg">
        <div class="gray-color m-bottom10">好友使用你的友钱卡，你获得现金红包<a href="/about" class="red-color">详情</a></div>
        <p><a href="/account" class="btn btn-longer">查看我的友钱卡</a></p>
      </div>
    </div><!-- pay-bg -->
    <% if @product.is_official_agent? %>
      <div class="bg-white m-top10">
        <div class="box-m40 text-center">
          <br />
          <p>恭喜你成为UBOSS的第 <span class="like-color"><%= UserRole.agent.users.count %></span> 位创客</p>
          <br />
          <a href="/about" class="btn btn-block btn-large">查看创客教程</a>
          <br />
        </div>
      </div><!-- bg-white -->
    <% end %>

    <% if @product.type == 'ServiceProduct' %>
      <% order_item = @order_charge.orders.first.order_item %>
      <div class="bg-white gap-left m-top10 m-bottom10">
        <%= link_to service_product_path(order_item.product) do%>
          <div class="service-order-box">
            <div class="cover" style="background-image:url('<%= order_item.product.image_url(:w120) %>');">
              <%= image_tag order_item.product.image_url(:w120) %>
            </div>
            <div class="content line-gap">
              <p class="gray-color text-cut"><%= order_item.product.name %></p>
              <p class="main-color">有效期至：<%= strftime(order_item.product.deadline) %></p>
              <p class="gray-color">数量：<%= order_item.amount %></h4>
            </div>
          </div>
        <%end%>
      </div>
      <% size = order_item.verify_codes.size %>
      <% order_item.verify_codes.each_with_index do |verify_code, index| %>
        <div class="service-code bg-white gap m-bottom10">
        	<span class="pull-left gray-color">验证券密码 ：</span>
        	<span class="main-color"><%= verify_code.code %></span>
        	<span class="status-icon"><%= verify_code.verified ? '已消费' : '未使用' %></span>
        </div> 
      <% end %>
      <div class="gap">
        <p><a href="<%= service_store_path(@product.service_store) %>" class="btn btn-block btn-large btn-black-border">返回店铺首页</a></p>
      </div>
      <br />
    <% else %>
      <br />
      <div class="gap">
        <p><a href="/account/orders" class="btn btn-block btn-large btn-black-border">查看订单</a></p>
        <br />
        <p><a href="/" class="btn btn-block btn-large btn-black-border">返回首页</a></p>
      </div>
      <br />
    <% end %>

  <% end %>
</div><!-- box -->
