<h3><%= @service_store.store_name %> 线上支付</h3>


<%= hidden_field_tag :service_store_id, @service_store.id %>
<%= text_field_tag :pay_amount, '', type: :tel %>
<%= link_to "付款", bill_orders_path, class: 'req-bill-btn' %>

<% if browser.wechat? %>
<script type="text/javascript" charset="utf-8">
$(function(){ UBoss.nami.setPayenv("<%= $wechat_env %>"); })
</script>
<% end %>
