<header>
  <div class="container">

  	<%= link_to admin_root_path,class:'logo' do %>
    	<%=image_tag "admin/logo.png",alt:"Uboss"%>
		<% end %>
		<div id="config">
	    <%= link_to edit_admin_account_path do %>
				<%= image_tag(current_user.avatar.url(:thumb)) %>
			<% end %>
			<ul class="dropdown-menu">
				<li><%= link_to "修改密码", password_admin_account_path %></li>
				<li>
          <% if can?(:manage,PersonalAuthentication) %>
          <%= link_to "商家认证", admin_user_personal_authentication_path(user_id: current_user.id) %>
          <% elsif can?(:manage,EnterpriseAuthentication) %>
          <%= link_to "商家认证", admin_user_enterprise_authentication_path(user_id: current_user.id) %>
          <% end %>
        </li>
        <% if current_user.is_seller? %>
          <li><%= link_to "店铺设置", admin_store_path(current_user) %></li>
        <% end %>
				<li><%= link_to '退出', destroy_user_session_path, method: :delete %></li>
			</ul>
		</div>
    <div id='setting'>
      <%= link_to edit_admin_account_path do %>
        <i class="fa fa-cog"></i>
      <% end %>
    </div>

    <nav>
      <ul>
        <%= li_link(:dashboard, admin_root_path, action_check: false) %>
        <%= can_li_link(:read, :sellers, admin_sellers_path) %>
        <%= can_li_link(:manage, :agents, admin_agents_path) %>
        <%= nav_group :product_manage do %>
          <%= can_li_link(:read, Product, admin_products_path) %>
          <%= can_li_link(:read, CarriageTemplate, admin_carriage_templates_path ) %>
          <%= can_li_link(:read, Category, admin_categories_path) %>
        <% end %>
        <%= nav_group :order_manage do %>
          <%= can_li_link(:manage, Order, admin_orders_path) %>
          <%= can_li_link(:read, Express, admin_expresses_path) %>
          <%= can_li_link(:manage, UserAddress, admin_user_addresses_path) %>
        <% end %>
        <%= can_li_link(:manage, SharingIncome, admin_sharing_incomes_path) %>
        <%= nav_group :withdraw_records do %>
          <%= can_li_link(:read, WithdrawRecord, admin_withdraw_records_path) %>
          <%= can_li_link(:manage, BankCard, admin_bank_cards_path ) %>
        <% end %>
        <%= can_li_link(:manage, :authentications, admin_personal_authentications_path,
                        another_active_name: 'personal_authentications') %>
        <%= nav_group :uboss do %>
          <%= can_li_link(:manage, User, admin_users_path) %>
          <%= can_li_link(:manage, Transaction, admin_transactions_path) %>
          <%= can_li_link(:manage, :backend_status, admin_backend_status_path,
                          another_active_name: 'backend_status') %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<br/>
