<div class="header-bar">
  	<div class="menu-btn"><%= image_tag 'mobile/navbar.png' %></div>
	  <% if content_for?(:page_title) %>
	    <span class="title"><%= yield(:page_title) %></span>
	  <% else %>
	    <%= image_tag 'mobile/logo.png',class:'logo' %>
	  <% end %>
</div>

<div class="nav-bar">
  <ul>
    <li><%= link_to '首页', root_path %></li>
    <li><%= link_to '我的UBOSS', account_path %></li>
    <% if current_user && current_user.is_agent? %>
      <li><%= link_to '邀请商家', invite_seller_account_path %></li>
    <% end %>
    <li>
      <%= link_to '关于', about_path %>
    </li>
  </ul>
</div>
