<div class="<%= product_show? ? 'only-products-nav' : 'header-bar' %>">

  <% if content_for?(:header_left) %>
    <%= yield :header_left %>
    
  <% end %>

  <% if content_for? :header_right %>
    <%= yield :header_right %>
    
  <% else %>
    <div class="menu-btn <%= 'white-icon' if product_show? %>"><%= image_tag 'mobile/navbar.png' %></div>
		
  	<% if product_show? || controller_name == 'stores' %>
			<%= link_to chat_path(), class: "cart-icon #{'white-icon' if product_show?}" do %>
	      <%= image_tag 'mobile/chat-icon.png' %>
	    <% end %>
		<% end %>
  	<%= link_to carts_path, class: "cart-icon #{'white-icon' if product_show?}" do %>
      <%= image_tag 'mobile/cart.png' %>
    <% end %>
		
    <div class="nav-bar">
      <ul>
        <li><%= link_to '首页', root_path %></li>
        <li><%= link_to '我的UBOSS', account_path %></li>
        <% if current_user && current_user.is_agent? %>
          <li><%= link_to '邀请商家', invite_seller_account_path %></li>
        <% end %>
        <li>
          <%= link_to '关于', about_path %>
        </li>
      </ul>
    </div>
  <% end %>

  <% if content_for?(:page_title) %>
    <div class="title"><%= yield(:page_title) %></div>
  <% elsif !product_show? %>
    <%= image_tag 'mobile/logo.png', class: 'logo' %>
  <% end %>

</div>