<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <title>asd</title>
    <link href="<%= image_url("favicon-lg.png") %>" type="image/x-icon" rel="shortcut icon">
    <link rel="apple-touch-icon" href="<%= image_url("favicon-lg.png") %>">
    <%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'activate/activate' %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>

    <%= render partial: 'baidu_tongji' %>
    <% if browser.wechat? %>
      <%= render "weixin_js" %>
      <div class="wx-mod-pop" id="pop-share">
        <span class="text-share"></span>
      </div>
    <% end %>
    <%= yield(:extra_javascript) %>
  </body>
</html>
