<!DOCTYPE html>
<html>
<head>
  <title>UBoss</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'admin', media: 'all'  %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/admin_navbar' %>

<div class="container admin-container">
  <% if flash[:error].present? %>
    <div class='alert alert-danger'>
      <%= flash[:error] %>
    </div>
  <% elsif flash[:notice].present? %>
    <div class='alert alert-success'>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert].present? %>
    <div class='alert alert-danger'>
      <%= flash[:alert] %>
    </div>
  <% end -%>
  <%= yield %>
</div>

<%= yield :page_specific_javascript %>

</body>
</html>
