<!DOCTYPE html>
<html>
	<head>
	  <%= render partial: 'page_title' %>
	  <meta name="viewport" content="width=1200" />
	  <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
    <link href="<%= image_url("favicon.png") %>" type="image/x-icon" rel="shortcut icon">
	  <%= stylesheet_link_tag    'admin', media: 'all'  %>
	  <%= javascript_include_tag 'admin' %>
	  <%= csrf_meta_tags %>
	</head>
	<body class="<%= controller_name %> <%= action_name %>" data-params="<%= request.get? ? params.to_json : {} %>">
		<div class="main-container">
	  <%= render 'layouts/admin_navbar' %>
    <div class='modal'></div>
    <% thr_navigation = render_navigation(level: 3) %>
    <div class='container nogap <%= 'content' if thr_navigation.present? %>'>
      <% if thr_navigation.present? %>
        <nav class="nav-v3">
          <%= thr_navigation %>
        </nav>
      <% end %>
			<%= render 'layouts/flash_alert' %>
      <%= yield %>
    </div>
		<br />
		<p class="text-center">copyright &copy; ULAIBER</p>

		<%= yield :page_specific_javascript %>
	  <%= render partial: 'baidu_tongji' %>

		</div>
	</body>
</html>
