<!DOCTYPE html>
<html>
<head>
  <title>UBoss</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'admin', media: 'all'  %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/admin_navbar' %>

<div class="container admin-container">
  <%= render 'layouts/flash_alert' %>
  <%= yield %>
</div>
<%= yield :page_specific_javascript %>

</body>
</html>
