<!DOCTYPE html>
<html>
	<head>
	  <%= render partial: 'page_title' %>
	  <meta name="viewport" content="width=1200" />
	  <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
    <link href="<%= image_url("favicon.png") %>" type="image/x-icon" rel="shortcut icon">
	  <%= stylesheet_link_tag    'admin', media: 'all'  %>
	  <%= javascript_include_tag 'admin' %>
	  <%= csrf_meta_tags %>
	</head>
	<body class="<%= controller_name %> <%= action_name %>" data-params="<%= request.get? ? params.to_json : {} %>">
	  <%= render 'layouts/admin_navbar' %>
    <div class='modal'></div>
    <div class='container content'>
    		<nav class="nav-v3">
   	  		<%= render_navigation(level: 3) %>
   	  </nav>   	  
			<%= render 'layouts/flash_alert' %>
      <%= yield %>
    </div>
		<br />
		<p class="text-center">copyright &copy; ULAIBER</p>

		<%= yield :page_specific_javascript %>
	  <%= render partial: 'baidu_tongji' %>
	</body>
</html>
