<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'page_title' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="<%= image_url("desktop_image/favicon.ico") %>" type="image/x-icon" rel="shortcut icon">
  <%= stylesheet_link_tag    'admin', media: 'all'  %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= render partial: 'baidu_tongji' %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="floor">
  <%= render 'layouts/admin_navbar' %>
  <div class="container admin-container mod-inner">
    <%= render 'layouts/flash_alert' %>
    <%= yield %>
  </div>
</div>

<%= yield :page_specific_javascript %>

</body>
</html>
