<!DOCTYPE html>
<html>
	<head>
	  <%= render partial: 'page_title' %>
	  <meta name="viewport" content="width=1200" />
	  <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	  <link href="<%= image_url("desktop_image/favicon.ico") %>" type="image/x-icon" rel="shortcut icon">
	  <%= stylesheet_link_tag    'admin', media: 'all'  %>
	  <%= javascript_include_tag 'admin' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	  <%= render 'layouts/admin_navbar' %>
		<%= render 'layouts/flash_alert' %>
		<%= yield %>
		<br />
		<p class="text-center">copyright &copy; ULAIBER</p>

	  <%= render partial: 'baidu_tongji' %>
		<%= yield :page_specific_javascript %>
	</body>
</html>
