<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta id='MobileViewport' name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="<%= image_url("favicon.png") %>" type="image/x-icon" rel="shortcut icon">

    <%= yield(:extra_meta_tags) %>

    <%= render partial: 'page_title' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= render partial: 'baidu_tongji' %>
    <% if browser.wechat? %>
      <%= render "weixin_js" %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>

  <body class="bg_grey <%= controller_name %> <%= action_name %>">
    <div id="window"></div>
    <div class="upass main bg_grey">

      <%= render partial: 'layouts/mobile_nav' %>
      <%= render 'layouts/mobile_flash_alert' %>
      <%= yield %>

    </div>

    <div class="wx-mod-pop" id="pop-share">
      <span class="text-share"></span>
    </div>

    <%= yield(:extra_javascript) %>

  </body>
</html>
