<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta id='MobileViewport' name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title><%= content_for?(:title) ? yield(:title) : "UBoss" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class='mobile'>

    <div id="window"></div>
    <div class="box">
      <%= yield %>
    </div>

  </body>
</html>

