<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta id='MobileViewport' name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <% if Rails.env.production? %>
      <%= production_meta_tag %>
    <% end %>
    <%= yield(:extra_meta_tags) %>

    <title><%= content_for?(:title) ? yield(:title) : "UBoss" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <% if browser.wechat? %>
      <%= render "weixin_js" %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>

  <body class="bg_grey">
    <div id="window"></div>
    <div class="upass main bg_grey">

			<header class="head">
        <div class="bottom right"></div>
        <% if content_for?(:page_title) %>
          <div class="log_font"><%= yield(:page_title) %></div>
        <% else %>
				  <div class="logo"></div>
        <% end %>
			</header>

      <div class="nav_bar">
        <ul>
          <li><%= link_to '首页', products_path %></li>
          <li><%= link_to '我的UBOSS', account_path %></li>
          <li><%= link_to '设置', settings_account_path %></li>
          <li><a href="#">关于</a></li>
        </ul>
      </div>

      <%= render 'layouts/mobile_flash_alert' %>
      <%= yield %>

    </div>

    <div class="wx-mod-pop" id="pop-share">
      <span class="text-share"></span>
    </div>

    <%= yield(:extra_javascript) %>

  </body>
</html>
