<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'page_title' %>
    <meta name="viewport" content="width=1200" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
    <%= yield(:extra_meta_tags) %>
    <%= stylesheet_link_tag    'desktop', media: 'all'  %>
    <%= javascript_include_tag 'desktop' %>
    <%= render partial: 'baidu_tongji' %>
    <%= csrf_meta_tags %>
    <link href="<%= image_url("desktop_image/favicon.ico") %>" type="image/x-icon" rel="shortcut icon">
  </head>
  <body>
	<header>
			<div class="container">
				<div class="box-w30"> 
					<div class="logo">
						<%= link_to 'http://www.uboss.me' do %>
						<%= image_tag "new_desktop/logo.png" %>
						<% end %>
					</div><!-- logo -->
				</div><!-- box-w30 -->
				<div class="box-w70"> 
				<nav class="text-right">
					<ul>
						<li><a href="<%= root_path  %>" >关于UBOSS</a></li>
						<li><a href="service_centre_consumer">服务中心</a></li>
		        <% if current_user and current_user.admin? %>
		          <li>
		            <a href="<%= admin_root_path %>">后台</a>
		          </li>
		        <% else %>
		          <li class="btn-tag">
		            <a href="<%= new_user_session_path %>" >登录/注册</a>
		          </li>
		        <% end %>
					</ul>
				</nav>
				</div><!-- box-w70 -->
		</div><!-- container -->
	</header>
	<%= yield %>
  </body>
</html>
