<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'page_title' %>
    <meta name="viewport" content="width=1200" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
    <%= yield(:extra_meta_tags) %>
    <%= stylesheet_link_tag    'desktop', media: 'all'  %>
    <%= javascript_include_tag 'desktop' %>
    <%= render partial: 'baidu_tongji' %>
    <%= csrf_meta_tags %>

    <link href="<%= image_url("desktop_image/favicon.ico") %>" type="image/x-icon" rel="shortcut icon">
   </head>
  <body>
    <div class="wrapper">
			<header>
				<div class="container">
					<div class="header">
						<div class="logo">
							<%= link_to 'http://www.uboss.me' do %>
							<%= image_tag "desktop_image/UBss.png" %>
							<% end %>
						</div>
						<nav class="text-right">
							<ul>
								<li class="header_tag"><a href="<%= root_path  %>" >关于UBOSS</a></li>
								<li class="header_tag"><a href="service_centre_consumer">服务中心</a></li>
								<% if not Rails.env.production? %>
								  <% if current_user and current_user.admin? %>
									<li >
									  <a href="<%= admin_root_path %>">后台</a>
									</li>
								  <% else %>
									<li>
									  <a href="<%= new_user_session_path %>" >登录/注册</a>
									</li>
								  <% end %>
								<% end %>
						</ul>
					</nav>
				</div><!-- .header -->
			</div><!-- container -->
		</header>
		<%= yield %>
		<div class="push"></div>
  </div><!-- wrapper -->
  <footer class="text-center">
  			<h3 class="footer-name">UBOSS</h3>
  			<p class="footer_tel">联系我们：0755-66691053</p>
  			<p class="copyright">Copyright    2015 www.uboss.me. All Rights Reserved 粤ICP备15032292号-1 </p>
   </footer>
  </body>
</html>
