<!DOCTYPE html>
<html>
  <head>
    <title>UBoss</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'desktop', media: 'all'  %>
    <%= javascript_include_tag 'desktop' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      $(function(){
        new WOW().init();
    //				$('.img_animation').animate('tile',{
    //					"duration":6000,
    //					"rows":5,
    //					"sequent": false,
    //				    "effect": "slideFromDown"
    //				})
      })
    </script>
  </head>
  <body style="text-align: center;">
      <div class="header">

  			<div class="header_top">
  				<div class="header_cont">
  					<div class="header_logo">
              <%= link_to 'http://www.uboss.cc' do %>
              <%= image_tag "desktop_image/UBss.png" %>
              <% end %>
            </div>
  					<nav>
              <% if current_user and current_user.admin? %>
              <div class="header_login"><a href="<%= admin_root_path %>"  onmouseover="this.style.color='#66CDAA'" onmouseout="this.style.color='#FFFFFF'">后台</a></div>

              <% else %>
              <div class="header_login"><a href="<%= new_user_session_path %>"  onmouseover="this.style.color='#66CDAA'" onmouseout="this.style.color='#FFFFFF'">登录</a></div>
              <div class="header_login"><a href="/sellers/new"  onmouseover="this.style.color='#66CDAA'" onmouseout="this.style.color='#FFFFFF'">注册</a></div>
              <% end %>

  						<div class="header_login"><a href="help"  onmouseover="this.style.color='#66CDAA'" onmouseout="this.style.color='#FFFFFF'">服务中心</a></div>
  						<div class="header_login"><a href="<%= root_path  %>"  onmouseover="this.style.color='#66CDAA'" onmouseout="this.style.color='#FFFFFF'">关于UBOSS</a></div>
  					</nav>
  				</div>
  			</div>
  		</div>
      <%= render 'layouts/flash_alert' %>
      <%= yield %>
      <div class="footer">
      	<div class="footer_cont">
      		<p class="foot">UBOSS</p>
      		<p>联系我们：0755-86182704</p>
      		<p>Copyright    2015 www.uboss.cc. All Rights Reserved 粤ICP备15032292号-1 </p>
      	</div>
      </div>


  </body>
</html>
