<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'page_title' %>
    <meta name="viewport" content="width=1200" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
    <%= yield(:extra_meta_tags) %>
    <%= stylesheet_link_tag    'desktop', media: 'all'  %>
    <%= javascript_include_tag 'desktop' %>
    <%= render partial: 'baidu_tongji' %>
    <%= csrf_meta_tags %>
    <link href="<%= image_url("new_desktop/favicon.ico") %>" type="image/x-icon" rel="shortcut icon">
  </head>
  <body>
		<header>
			<div class="container">
				<div class="header">
					<div class="logo">
						<%= link_to 'http://www.uboss.me' do %>
						<%= image_tag "desktop_image/UBss.png" %>
						<% end %>
					</div>
					<nav class="text-right">
						<ul>
							<li class="header_tag"><a href="<%= root_path  %>" >关于UBOSS</a></li>
							<%# <li class="header_tag"><a href="service_centre_consumer">服务中心</a></li> %>
            <% if current_user and current_user.admin? %>
              <li >
                <a href="<%= admin_root_path %>">后台</a>
              </li>
            <% else %>
              <li>
                <a href="<%= new_user_session_path %>" >登录/注册</a>
              </li>
            <% end %>
					</ul>
				</nav>
			</div><!-- .header -->
		</div><!-- container -->
	</header>
	<%= yield %>  
</html>
