<!DOCTYPE html>
<html>
  <head>
    <title>UBoss</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'desktop', media: 'all'  %>
    <%= javascript_include_tag 'desktop' %>
    <%= csrf_meta_tags %>
    <link href="<%= image_url("desktop_image/favicon.ico") %>" type="image/x-icon" rel="shortcut icon">
    <script type="text/javascript">
      $(function() {
        new WOW().init();
        /*屏幕适配*/
        if($(document).width() < 1338){
          if($(document).width()< 1035) 
            $('.img').addClass('img_mini');
          else
            $('.img').addClass('img_min');
        $('.page4_cont_list').addClass('page4_cont_list_min');  
         /* 视频适配*/
        $("#video").addClass('video_min');
        $('iframe').attr('src',"http://v.qq.com/iframe/player.html?vid=o0161da2c7v&tiny=0&auto=0")
          .attr('width','600').attr('height','450');
        }else{
          $('.img').addClass('img_max');
          $('.page4_cont_list').addClass('page4_cont_list_max');    
          /*视频适配*/
          $('#video').addClass('video_max');  
          $('iframe').attr('src',"http://v.qq.com/iframe/player.html?vid=o0161da2c7v&tiny=0&auto=0")
          .attr('width','800').attr ('height','600');
        }

      })
    </script>
  </head>
  <body>
    <div class="header_top">
			<div class="header_logo">
        <%= link_to 'http://www.uboss.cc' do %>
        <%= image_tag "desktop_image/UBss.png" %>
        <% end %>
				<!--<span class="header_font">基于人，超乎想象</span>-->
      </div>

			<nav class="header_nav">
        <% if current_user and current_user.admin? %>
        <div class="header_tag"><a href="<%= admin_root_path %>"  onmouseover="this.style.color='#66CDAA'" onmouseout="this.style.color='#FFFFFF'">后台</a></div>

        <% else %>
        <div class="header_tag"><a href="<%= new_user_session_path %>"  onmouseover="this.style.color='#66CDAA'" onmouseout="this.style.color='#FFFFFF'">登录</a></div>
        <div class="header_tag"><a href="/sellers/new"  onmouseover="this.style.color='#66CDAA'" onmouseout="this.style.color='#FFFFFF'">注册</a></div>
        <% end %>

        <div class="header_tag"><a href="help"  onmouseover="this.style.color='#66CDAA'" onmouseout="this.style.color='#FFFFFF'">服务中心</a></div>
        <div class="header_tag"><a href="<%= root_path  %>"  onmouseover="this.style.color='#66CDAA'" onmouseout="this.style.color='#FFFFFF'">关于UBOSS</a></div>
			</nav>
		</div>
		

      <%= render 'layouts/flash_alert' %>
      <%= yield %>

      <div class="footer">
  				<p class="footer_cont">UBOSS</p>
  				<p class="footer_cont">联系我们：0755-86182704</p>
  				<p class="footer_cont">Copyright    2015 www.uboss.cc. All Rights Reserved 粤ICP备15032292号-1 </p>
  		</div>

  </body>
</html>
