<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'page_title' %>
    <meta name="viewport" content="width=1200" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
    <link href="<%= image_url("favicon.png") %>" type="image/x-icon" rel="shortcut icon">
    <%= stylesheet_link_tag    'login', media: 'all'  %>
    <%= javascript_include_tag 'login' %>
    <%= csrf_meta_tags %>
  </head>
  <body>		
  	<header>
  		<div class="container">
  			<%=image_tag "admin/logo.png",alt:"Uboss"%>
  		</div>
  	</header>
  	<br />
    <div class="container text-center">
      <%= render 'layouts/flash_alert' %>
      <br />
      <%= yield %>
    </div>

  </body>
</html>
