<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'page_title' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="<%= image_url("favicon.png") %>" type="image/x-icon" rel="shortcut icon">
    <%= stylesheet_link_tag    'login', media: 'all'  %>
    <%= javascript_include_tag 'login' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <%= render 'layouts/flash_alert' %>
      <%= yield %>
    </div>

  </body>
</html>
