<!DOCTYPE html>
<html>
	<head>
	  <title>UBoss</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application",'mobile', media: 'all' %>
    <%= javascript_include_tag "application",'mobile', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
    <div style="padding:0 1%;">
      <%= render 'layouts/flash_alert' %>
      <%= yield %>
    </div>

		<%= yield :page_specific_javascript %>

	</body>
</html>
