<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="eqMobileViewport" name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no" servergenerated="true">
    <title>Ulaiber | 优来吧</title>
    <meta content="优来吧,来吧,优来吧ulaiber,优来吧laiber,优来吧ulai,优来吧laiber,优来吧猪圈,优来吧诸圈,深圳市优来吧科技有限公司" name="Keywords">
    <meta name="description" content="深圳市优来吧科技有限公司(www.ulaiber.com)，简称“Ulaiber”，2014年成立于深圳前海，轻松的团队氛围，扁平灵活的管理模式，为企业的发展注入持久能量。建立新型互联网O2O信息交流平台为目标，涉足于校园创业交流，高端精英教育，社区物业服务，商场停车导航等领域。">
    <%= stylesheet_link_tag    'ulaiber', media: 'all'  %>
    <%= javascript_include_tag 'ulaiber', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    <!--[if lt IE 9]>
      <script src="js/error.js"></script>
    <![endif]-->
  </head>
  <body ondragstart="return false">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path do %>
          <%= image_tag "ulaiber/UBss.png", class:"navbar-brand", alt:"logo" %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/desktop/ulaiber" title="home">Home/首页</a></li>
            <li><a href="/desktop/ulaiber#page2" title="product">Product/产品</a></li>
            <li><a href="/desktop/ulaiber/join" title="join">Join/加入</a></li>
            <li><a href="/desktop/ulaiber#page4" title="about">About/关于</a></li>
            <li><a href="/desktop/ulaiber#page5" title="contact">Contact/联系</a></li>
          </ul>
        </div>
      </div>
    </nav>
        <%= render 'layouts/flash_alert' %>
        <%= yield %>

  </body>
</html>
