<% @histroys.each do |obj| %>
  <tr>
    <td><%=  truncate (obj.note || obj.mobile),:length=>15,:omission=>'...'  %></td>
    <td>
      <%= obj.created_at.strftime('%m/%d') %>
    </td>
    <td class="col-xs-2 text-right">
      <%= obj.status_i18n %>
    </td>
    <td class="col-xs-2 text-right">
      <%= link_to edit_seller_note_account_path(id: obj.id) do %>
        <%= image_tag("uboss_29/edit.png" ) %>
      <% end %>
    </td>
  </tr>  
<% end %>
