<div class="my_boxlist acc-order" timestamp='<%= order.created_at %>'>
  <div class="my_centop">
    <span class="my_Ordernumber">订单号：<%= order.number %>  </span>
    <span class="my_date"><%= order.created_at.strftime('%Y-%m-%d') %></span>
  </div>
  <dl class='clearfix'>
    <%= link_to order_path(order, showwxpaytitle: 1) do %>
      <dt> <%= image_tag order.order_items.first.try(:product).try(:image_url, 'w120') %> </dt>
      <dd class="my_dd2">
      <p>
      <%= order.order_items.first.try(:product).try(:name) %>
      <span class="my_left">x<%=  order.order_items.first.try(:amount) %></span>
      </p>
      </dd>
    <% end %>
    <dd class="my_dd1">
      <p>
        价格:￥<%= order.pay_amount %>
        <span>
        <% if order.state == 'unpay' %>
          <%= link_to "付款", order_path(order, showwxpaytitle: 1), class: 'my_retur my_confir' %>
        <% elsif order.state == 'payed' %>
          <input type="submit" value="待发货" class="my_retur my_confir btn" disabled="disabled">
        <% elsif order.state == 'shiped' %>
          <%= link_to "确认收货", received_order_path(order),
            class:"my_retur my_confir", data: { confirm: '确认收货？' } %>
        <% elsif order.state == 'signed' %>
          <input type="submit" value="已签收" class="my_retur my_confir btn" disabled="disabled">
        <% elsif order.state == 'closed' %>
          <input type="submit" value="交易关闭" class="my_retur my_confir btn" disabled="disabled">
        <% elsif order.completed? %>
          <input type="submit" value="交易完成" class="my_retur my_confir btn" disabled="disabled">
        <% end %>
        </span>
      </p>
    </dd>
  </dl>
</div>
