<div class="order-list" timestamp='<%= order.created_at %>'>
  <p class="order-code">
    <span class="pull-right"><%= order.created_at.strftime('%Y-%m-%d') %></span>
 		订单号：<%= order.number %>
  </p>
  <div class="order-box">
	  <div class="cover">
	    <%= link_to order_path(order, showwxpaytitle: 1) do %>
	    	<%= image_tag order.order_items.first.try(:product).try(:image_url, 'w120') %>
	    <% end %>
	  </div><!-- order-cover -->
	  <div class="content">
			  <div class="pull-right text-right">
				  <p class="price gray-color">￥单价</p>
				  <p class="number gray-color">
						x<%= order.order_items.first.try(:amount) %>
					</p>
			  </div><!-- pull-right -->
			  <div class="name">
			  	<%= order.order_items.first.try(:product).try(:name) %>
			  </div><!-- name -->
	  </div><!-- content -->
  </div><!-- order-box -->

  <div class="order-info">
	  <div class="status pull-right">
			<% if order.state == 'unpay' %>
		    <%= link_to "付款", order_path(order, showwxpaytitle: 1), class: 'my_retur my_confir btn btn-orange' %>
		  <% elsif order.state == 'payed' %>
		    <label class="label label-authenticated">待发货</label>
		  <% elsif order.state == 'shiped' %>
		    <%= link_to "确认收货", received_order_path(order),
		        class:"my_retur my_confir btn", data: { confirm: '确认收货？' } %>
		  <% elsif order.state == 'signed' %>
		  	<label class="label label-invited">已签收</label>
		  <% elsif order.state == 'closed' %>
		 	 	<label class="label">交易关闭</label>
		  <% elsif order.completed? %>
		  	<label class="label label-bind">交易完成</label>
		  <% end %>
		</div> <!-- status -->
  	<span class="text">
  		共<%= order.order_items.first.try(:amount) %>件商品,合计:￥<%= order.pay_amount %>
  	</span>
  </div><!-- order-info -->
</div>
