<%= content_for :page_title do %>
  编辑用户
<% end %>
<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>
<br />
<%= simple_form_for current_user, url: account_path, method: :PUT do |f| %>  
	<div class="address-new">
		<div class="box-m10">
			<table>
				<tr>
					<td>账户名称</td>
					<td><%= f.input_field :nickname,placeholder: '输入昵称', class:"add_text input-block" %></td>
				</tr>
			</table>
			<br />		
			<p><%= f.submit '修改', class:"btn btn-block btn-large" %></p>
			<br />
		</div>
	</div>
<% end %>