<%= content_for :page_title do %>
  修改密码
<% end %>
<br />

<%= simple_form_for current_user, url: password_account_path, method: :patch do |f| %>
  <div class="address-new">
  	<div class="box-m10">
			<table>
      <% if current_user.need_reset_password %>
	      <tr>
	      	<td>发送到手机</td>
          <td>
            <%= f.input_field :login, id: 'new_mobile', disabled: 'disabled' %>
            <a style='color:#fff;' href='#' class="btn pull-right" id="send_mobile">发送验证码</a>
          </td>
	      </tr>
	      <tr>
	      	<td>验证码</td>
	      	<td><%= f.input_field :code, type: :tel, placeholder: '填写短信验证码', class: "add_text input-block"  %></td>
	      </tr>

	      <% else %>
	      <tr>
	      	<td>原密码</td>
	      	<td><%= f.input_field  :current_password, placeholder: '原密码', class:"add_text input-block" %></td>
	      </tr>
	      <% end %>
	      <tr>
	      	<td>新密码</td>
	      	<td><%= f.input_field  :password, placeholder: '新密码', class:"add_text input-block" %></td>
	      </tr>
	      <tr>
	      	<td>确认新密码</td>
	      	<td><%= f.input_field  :password_confirmation, placeholder: '再次输入新密码', class:"add_text input-block" %></td>
	      </tr>
    	</table>
    	<br />
	    <p><%= f.submit '修改', class:"accunt_adilbtn btn btn-large btn-block" %></p>
	    <br />
		  <% if !current_user.need_reset_password %>
		    <p><%= link_to "忘记密码",reset_password_account_path, class:"accunt_addbtn btn btn-large btn-black-border btn-block" %></p>
		  	<br />
		  <% end %>
    </div>
  </div>
<% end %>
