<%= content_for :page_title do %>
  修改备注
<% end %>

<br />

<div class="bg-white">
  <div class="box-m40">
    <br />
    <div class="input-group">
      <label>
        手机
      </label>
      <div class="input-box">
        <p class="text"><%= @histroy.mobile %></p>
      </div>
    </div><!-- input-group -->
    <%= simple_form_for 'histroy', url: update_histroy_note_account_path, method: :put do |f| %>
      <%= hidden_field_tag :id, @histroy.id %>
      <div class="input-group large">
        <label>
          备注
        </label>
        <div class="input-box">
          <%= f.input_field :note, type: :text, placeholder: '商家备注', class:"add_text input-large input-block input-border"  %>
        </div>
      </div><!-- input-group -->
      <br />
      <p>
      <%= f.submit '修改', class:"accunt_adilbtn  btn btn-large btn-block" %>
      </p>
    <% end %>
    <br />
  </div><!-- box-m40 -->
  <br />
</div><!-- bg-white -->

