<%= content_for :page_title do %>
  绑定手机
<% end %>
<div class="upass main">
<div class="container add_listall" >
  <div class="add_conts">
    <%= simple_form_for current_user, url: account_path, method: :PATCH do |f| %>
    <div class="add_inout">
      <p>
        <span><%= f.input_field :login, type: :tel, placeholder: '输入手机号', class:"add_text_2",id:'new_mobile' %></span>
        <span>
          <a style='color:#fff;' href='#' class="add_text_2 btn" id="send_mobile">发送验证码</a>
        </span>
      </p>
      <p><span>验证码</span><%= f.input_field :code, type: :tel, placeholder: '填写短信验证码', class: "add_text"  %></p>
    </div>
    <div class="accunt_adil_box3 adbtn">
      <%= f.submit '提交', class:"accunt_adilbtn" %>
    </div>
    <% end %>
</div>
