<%= content_for :page_title do %>
  我是创客
<% end %>
<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>
<div class="box">
  <br  />
  <div class="bg-white">
    <div class="box-m40">
      <br />
      <%= link_to '进入我的专属推广页', maker_qrcode_url(uid: current_user.id), class: 'btn btn-large btn-block' %>
      <br />
      <p class="gray-color">用途一：发给商家，帮助商家快速上手</p>
      <p class="gray-color">用途二：分享到社交平台，让更多用户成为您的商家</p>
      <br />
    </div>
  </div>
  <br />
  <div class="bg-white">
    <div class="box-m40">
    	<br />
      <h3 class="main-color text-center">邀请商家</h3>
    	<br />
      <p><%= text_field_tag 'send_message[mobile]', '',type: :tel, placeholder: '填入商家注册手机号',
        class:"add_text input-radius input-large input-block", id:"new_mobile"  %></p>
      <br />
      <div class="accunt_adilbtn btn btn-large btn-block" id="timedown">短信发送绑定验证码给商家</div>
      <br />
      <p class="gray-color">未注册商家自动为其创建账户</p>
      <br />
    </div>
  </div><!--bg-white -->
  <br  />
  <div class="bg-white">
    <div class="box-m40">
      <%= simple_form_for 'bind_seller', url: bind_seller_account_path, method: :put do |f| %>
    		<br />
        <h3 class="main-color text-center">绑定验证</h3>
    		<br />
        <p><%= f.input_field :invite_code, type: :tel, placeholder: '填入从商家获取绑定验证码',
          class:"add_text input-radius input-large input-block" %></p>
        <br />
        <div><%= f.submit '绑定商家', class:"accunt_adilbtn btn btn-large btn-block" %>    </div>
        <br />
      <% end %>
    </div>
  </div><!--bg-white -->
  <br  />
  <div class="bg-white">
    <div id="invite_seller_histroy">
      <div class="invite-title text-center like-color">
        总绑定 <%= @bind %>
    </div>
    <table class="list-table border-table">
      <%= render partial: "invite_seller_new_histroy" %>
    </table>
    </div>
  </div><!-- bg-white -->
</div><!-- box -->
