<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="<%= image_url("desktop_image/favicon.ico") %>" type="image/x-icon" rel="shortcut icon">

		<%= stylesheet_link_tag    'marketing', media: 'all'  %>
		<%= javascript_include_tag 'marketing' %>
		<title>UBOSS</title>

	</head>

	<body>
		<!--whole-->
		<div class="swiper-container">
			<!--page1-->
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="page1">
            <%= qrcode_image_tag new_seller_url(agent_code: @user.agent_code), logo: @user.avatar_url(:w120), html: { class: 'page1_qrcode' } %>
						<%= image_tag 'mobile/maker/page1_bottom.jpg',alt:'向上滑',class:"page1_bottom"%>
					</div>

				</div>
				<!--page2-->
				<div class="swiper-slide">
					<div class="page2">
						<div class="corner_qrcode qrcode_border">
              <%= qrcode_image_tag new_seller_url(agent_code: @user.agent_code), logo: @user.avatar_url(:w120) %>
							<p class="p1">我要拥有专属商城</p>
							<p>扫我也可以成为创客</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page3">
						<div class="corner_qrcode">
              <%= qrcode_image_tag new_seller_url(agent_code: @user.agent_code), logo: @user.avatar_url(:w120) %>
							<p class="p1">我要拥有专属商城</p>
							<p>扫我也可以成为创客</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page4">
						<div class="corner_qrcode qrcode_border">
              <%= qrcode_image_tag new_seller_url(agent_code: @user.agent_code), logo: @user.avatar_url(:w120) %>
							<p class="p1">我要拥有专属商城</p>
							<p>扫我也可以成为创客</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page5">
						<div class="corner_qrcode">
              <%= qrcode_image_tag new_seller_url(agent_code: @user.agent_code), logo: @user.avatar_url(:w120) %>
							<p class="p1">我要拥有专属商城</p>
							<p>扫我也可以成为创客</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="qrcode">
						<div class="marketing6top">
							<%= image_tag "mobile/maker/content.jpg",alt:'宣传语', class:"qrcode_content1" %>
							<div class="maker">
							<%= image_tag @user.avatar_url(:w120), alt:'头像', class:"share_portrait" %>

								<dl class="share_content">
									<dt>带你装X带你飞</dt>
									<dd>我是第123位BOSS</dd>
								</dl>
							</div>
						</div>

						<div class="qrcode_img">
							<p>长按进入</p>

              <%= qrcode_image_tag new_seller_url(agent_code: @user.agent_code), logo: @user.avatar_url(:w120) %>
						</div>
						<%= image_tag "mobile/maker/marketing6t.jpg",alt:"uboss",class:'qrcode_bottom' %>
					</div>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(function() {
				var mySwiper = new Swiper('.swiper-container', {
					direction: 'vertical',
				})
			})
		</script>
<% if current_user && current_user.id == @user.id && browser.wechat? %>
  <%= render "weixin_js" %>
  <div class="wx-mod-pop" id="pop-share">
    <span class="text-share"></span>
  </div>
  <script type="text/javascript" charset="utf-8">
wx.ready(function(){
  UBoss.luffy.resetInvokeSharing({
    title: '我是UBOSS创客，简单4步让你的销量飙起来！',
    link: '<%= maker_qrcode_url(uid: current_user.id) %>',
    imgurl: '<%= current_user.avatar_url(:w120) %>',
  });
});
  </script>
<% end %>

	</body>

</html>
