<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<%= stylesheet_link_tag    'mobile_page/marketing', media: 'all'  %>
		<%= javascript_include_tag 'swiper.3.1.2.jquery.min' %>
		<title></title>

	</head>

	<body>
		<!--whole-->
		<div class="swiper-container">
			<!--page1-->
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="page1">
						<%= image_tag 'mobile/maker/uboss.png',alt:'二維碼' %>
					</div>
				</div>
				<!--page2-->
				<div class="swiper-slide">
					<div class="page2">
						<div class="corner_qrcode qrcode_border">
							<%= image_tag 'mobile/maker/uboss.png',alt:'二維碼' %>
							<p class="p1">我要拥有专属商城</p>
							<p>扫我也可以成为创客</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page3">
						<div class="corner_qrcode">
							<%= image_tag 'mobile/maker/uboss.png',alt:'二維碼' %>
							<p class="p1">我要拥有专属商城</p>
							<p>扫我也可以成为创客</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page4">
						<div class="corner_qrcode qrcode_border">
							<%= image_tag 'mobile/maker/uboss.png',alt:'二維碼' %>
							<p class="p1">我要拥有专属商城</p>
							<p>扫我也可以成为创客</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page5">
						<div class="corner_qrcode">
							<%= image_tag 'mobile/maker/uboss.png',alt:'二維碼' %>
							<p class="p1">我要拥有专属商城</p>
							<p>扫我也可以成为创客</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="qrcode">
						<div class="marketing6top">
							<%= image_tag "mobile/maker/content.jpg",alt:'宣传语', class:"qrcode_content1" %>
							<div class="maker">
							<%= image_tag "mobile/maker/portrait.jpg",alt:'头像', class:"share_portrait" %>
								
								<dl class="share_content">
									<dt>带你装X带你飞</dt>
									<dd>我是第123位BOSS</dd>
								</dl>
							</div>
						</div>

						<div class="qrcode_img">
							<p>长按进入</p>
							
							<%= image_tag "mobile/maker/uboss.png",alt:"二维码" %>
							<!--<img src="http://qr.liantu.com/api.php?text=http://uboss.me/sellers/new?agent_code=941370=&logo=http://ssobu.b0.upaiyun.com/user/avatar/74252ffc73af87b9f89ed32983c5885b.png-thumb" alt="二维码" />-->
						</div>
						<%= image_tag "mobile/maker/marketing6t.jpg",alt:"uboss",class:'qrcode_bottom' %>
					</div>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(function() {
				var mySwiper = new Swiper('.swiper-container', {
					direction: 'vertical',
				})
			})
		</script>
	</body>

</html>