<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<%= stylesheet_link_tag    'mobile_page/marketing', media: 'all'  %>
		<%= javascript_include_tag 'swiper.jquery.min' %>
		<title>UBOSS</title>

	</head>

	<body>
		<!--whole-->
		<div class="swiper-container">
			<!--page1-->
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="page1">
            <%= qrcode_image_tag new_seller_url(agent_code: current_user.agent_code), logo: current_user.avatar_url(:w120) %>
					</div>
				</div>
				<!--page2-->
				<div class="swiper-slide">
					<div class="page2">
						<div class="corner_qrcode qrcode_border">
              <%= qrcode_image_tag new_seller_url(agent_code: current_user.agent_code), logo: current_user.avatar_url(:w120) %>
							<p class="p1">我要拥有专属商城</p>
							<p>扫我也可以成为创客</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page3">
						<div class="corner_qrcode">
              <%= qrcode_image_tag new_seller_url(agent_code: current_user.agent_code), logo: current_user.avatar_url(:w120) %>
							<p class="p1">我要拥有专属商城</p>
							<p>扫我也可以成为创客</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page4">
						<div class="corner_qrcode qrcode_border">
              <%= qrcode_image_tag new_seller_url(agent_code: current_user.agent_code), logo: current_user.avatar_url(:w120) %>
							<p class="p1">我要拥有专属商城</p>
							<p>扫我也可以成为创客</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page5">
						<div class="corner_qrcode">
              <%= qrcode_image_tag new_seller_url(agent_code: current_user.agent_code), logo: current_user.avatar_url(:w120) %>
							<p class="p1">我要拥有专属商城</p>
							<p>扫我也可以成为创客</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="qrcode">
						<div class="marketing6top">
							<%= image_tag "mobile/maker/content.jpg",alt:'宣传语', class:"qrcode_content1" %>
							<div class="maker">
							<%= image_tag current_user.avatar_url(:w120), alt:'头像', class:"share_portrait" %>

								<dl class="share_content">
									<dt>带你装X带你飞</dt>
									<dd>我是第123位BOSS</dd>
								</dl>
							</div>
						</div>

						<div class="qrcode_img">
							<p>长按进入</p>

              <%= qrcode_image_tag new_seller_url(agent_code: current_user.agent_code), logo: current_user.avatar_url(:w120) %>
						</div>
						<%= image_tag "mobile/maker/marketing6t.jpg",alt:"uboss",class:'qrcode_bottom' %>
					</div>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(function() {
				var mySwiper = new Swiper('.swiper-container', {
					direction: 'vertical',
				})
			})
		</script>
	</body>

</html>
