<%= simple_form_for(current_user, url: set_password_path, method: :PATCH) do |f| %>

  <p>设置密码登陆更便捷哦</p>
  <hr/>

  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class="button_div  col-xs-12 clearfix">
    <%= f.button :submit, "确认", class: "btn btn-large btn-primary col-xs-12" %>
    <%= link_to "以后设置", after_sign_in_path_for(current_user, need_new_passowrd: false) %>
  </div>

<% end %>
