
<%= content_for :page_title do %>
  个人信息
<% end %>
<div class="container add_listall" >
  <div class="add_inout">
    <p>
      <span>当前绑定</span>
      <span class="right_content">
        <% agent=User.find_by(id: current_user.agent_id) %>
        <%= "#{agent.identify}(#{agent.agent_code})" if agent.present? %>
      </span>
    </p>
  <% if !current_user.authenticated? %>
    <%= simple_form_for current_user, url: binding_agent_account_path, method: :put do |f| %>
      <p class="text-center">
        <span class="add_text text-center">需要更换绑定,请填写下列信息.</span>
      </p>
      <p>
        <span class="add_textd">邀请码</span>
        <%= text_field_tag :agent_code, params[:agent_code],placeholder: '创客邀请码', class:"add_text" %>
      </p>
      <p>
        <span><%= f.input_field :login, type: :tel, placeholder: '输入手机号', class:"add_text_2",id:'new_mobile', disabled:"disabled" %></span>
        <span>
          <a style='color:#fff;' href='#' class="add_text_2 btn" id="send_mobile">发送验证码</a>
        </span>
      </p>
      <p><span>验证码</span>
        <%= f.input_field :mobile_auth_code, as: :tel, required: true, placeholder: '填写短信验证码',:id=>"mobile_auth_code", class:"add_text"  %>
      </p>
    <p class="accunt_adil_box3 adbtn">
      <%= f.submit '绑定', class:"accunt_adilbtn",id:"submit_bottom", disabled: 'disabled' %>
    </p>
    <% end %>
  <% else %>
    <p class="text-center">
      <span>您已经是认证商家,不能更换绑定.</span>
    </p>
  </div>
  <% end %>
</div>
