<div class='login-container'>
  <%= simple_form_for(current_user, url: set_password_path, method: :PATCH) do |f| %>

    <p>您还未设置密码，请设置密码</p>
    <hr/>

    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <div class="button_div clearfix">
      <%= f.submit "确认", class: "btn btn-large btn-primary col-md-12" %>
      <% if desktop_request? %>
        <%= link_to "以后设置", destroy_user_session_path, method: :delete,
          class: 'action-link-btn btn btn-link col-md-12' %>
      <% else %>
        <%= link_to "以后设置", after_sign_in_path_for(current_user, need_new_passowrd: false),
          class: 'action-link-btn btn btn-link col-md-12' %>
      <% end %>
    </div>

  <% end %>
</div>
