<%= content_for :page_title do %>
  个人信息
<% end %>

<div class="container add_listall" >
  <div class="add_inout">
    <% if !current_user.authenticated? %>
      <%= simple_form_for current_user, url: binding_agent_account_path, method: :put do |f| %>
        <div style="min-height:30px;padding:15px 0;width:100%" class="clearfix">

          <div style="margin-right:110px;">
            <%= f.input_field :login, type: :tel, placeholder: '输入手机号', class:"add_text_2",id:'new_mobile', disabled:"disabled", style:"width:90%;float:right;margin-top:5px;" %>
          </div>
          <div style="position:absolute;width:90px;margin-right:10px;right:0;">
            <a style='color:#fff;' href='#' class="add_text_2 btn" id="send_mobile">发送验证码</a>
          </div>
        </div>
        <p><span>验证码</span>
          <%= f.input_field :mobile_auth_code, as: :tel, required: true, placeholder: '填写短信验证码',:id=>"mobile_auth_code", class:"add_text"  %>
        </p>
        <p style="border-bottom:0">
          <span class="add_textd">邀请码</span>
          <%= text_field_tag :agent_code, params[:agent_code],placeholder: '创客邀请码', class:"add_text" %>
        </p>
        <div class="row font_h4" style="padding:10px 20px;border-bottom:1px solid #cccccc">
          填写创客发与您的邀请码即可与创客绑定入驻UBOSS平台，您也可以不填写邀请码直接入驻UBOSS平台.
        </div>
        <p class="accunt_adil_box3 adbtn">
          <%= f.submit '绑定', class:"accunt_adilbtn",id:"submit_bottom", disabled: 'disabled' %>
        </p>
      <% end %>
    <% else %>
      <p class="text-center">
        <span>您已经是认证商家,不能更换绑定.</span>
      </p>
    <% end %>
  </div>

</div>
