<%= content_for :page_title do %>
  成为商家
<% end %>

<br />

<div class="box bg-white text-center">
  <div class="box-m40">
    <h3 > 成为UBOSS商家 </h3>
    <br />
    <p>
      亲爱的 <%= current_user.identify %>，在您确认成为UBOSS商家前，请审慎阅读 <%= link_to "《UBOSS商家入驻协议》", agreements_seller_path, target: '_blank' %>
    </p>
    <br />
    <%= link_to '我已经阅读并同意协议', url_for(action: :binding_agent), class: "btn btn-large btn-block" %>
    <br/>
    <%= link_to '暂不成为UBOSS商家', url_for(action: :settings), class: "btn btn-large btn-black-border btn-block" %>
    <br />
  </div>
</div>
