<%= content_for :page_title do %>
  我的验证券
<% end %>

<%= content_for :header_left do %>
  <a class="back" href="/account"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<div class="tab-container m-top10">
  <div class="tab-content" id="showlist" style="display: block;">
    <ul class="order-sort">
      <li class="active"><a href="<%= service_orders_account_path %>">全部</a></li>
      <li><a href="<%= service_orders_account_path(state: 'unpay') %>">待付款</a></li>
      <li><a href="<%= service_orders_account_path(state: 'payed') %>">待消费</a></li>
      <li><a href="<%= service_orders_account_path(state: 'completed') %>">待评价</a></li>
    </ul>
    <div id="u-order-list">
      <% @orders.each do |order| %>
      <% case order.type %>
        <% when 'ServiceOrder' %>
          <%= render partial: 'service_order', locals: { service_order: order } %>
        <% when 'DishesOrder' %>
          <%= render partial: 'dishes_order', locals: { service_order: order } %>
        <% end %>
      <% end %>
    </div>
    <% if @orders.blank? %>
      <div class="bg-white text-center gap">
      	<br/>
      	<p><%= image_tag 'mobile/cart-big.png' %></p>
      	<br />
      	<p class="gray-color">您还没有相关的订单</p>
      	<br />
      	<p><a href="/" class="btn btn-longer">去逛逛</a></p>
      	<br />
      </div>
    <% else %>
    	<br />
      <div class="load-more" data-container='#u-order-list' data-ele='.order-list' data-ref="/account/service_orders<%= "?state=#{params[:state]}" if params[:state] %>">加载更多</div>
    <% end %>
  	<br />
	</div><!-- tab-content showlist -->
</div><!-- tab-container  -->

<%= render partial: 'new_share' %>

<script>


  $(document).ready(function(){
    $.each($('.order-sort li'), function(){
    if($(this).find('a').attr("href")==(location.pathname+location.search)){
      $(this).addClass('active')
    }else{
      $(this).removeClass('active')
    }
    })
  });
</script>
