

<header class="head">
  <%= link_to account_path do %>
  <div class="bottom left iconleft"></div>
  <% end %>
  <div class="log_font">个人信息</div>
</header>

<div class="container add_listall" >
  <div class="add_title">
    <span>收货地址列表</span>
    <!-- <div class="close"><a href="#"><img src="img/close.png"></a></div> -->
  </div>
  
    <div class="add_inout">
      <p>
        <span>昵称</span>
        <span class="center_content">
          <%= truncate current_user.identify,:length=>28,:omission=>'...' %>
        </span>
        <span class="right_content">
          <%= link_to edit_account_path do %>
          修改<%= image_tag("uboss_29/right.png" ) %>
          <% end %>
        </span>
      </p>
      <p>
        <span>收货地址</span>
        <span class="center_content">
        </span>
        <span class="right_content">
          <%= link_to account_user_addresses_path do %>
          添加/修改<%= image_tag("uboss_29/right.png" ) %>
          <% end %>
        </span>
      </p>
      <p>
        <span>绑定手机</span>
        <span class="center_content">
          <%= current_user.mobile %>
        </span>
        <span class="right_content">
          <%= link_to '###' do %>
          修改<%= image_tag("uboss_29/right.png" ) %>
          <% end %>
        </span>
      </p>
      <p>
        <span>设置密码</span>
        <span class="center_content">
        </span>
        <span class="right_content">
          <%= link_to update_password_page_account_path do %>
          修改<%= image_tag("uboss_29/right.png" ) %>
          <% end %>
        </span>
      </p>
    </div>
  
</div>
