
<%= content_for :page_title do %>
  个人信息
<% end %>
<div class="container add_listall" >

    <div class="add_inout">
      <p>
        <span>昵称</span>
        <span class="center_content">
          <%= truncate current_user.identify,:length=>28,:omission=>'...' %>
        </span>
        <span class="right_content">
          <%= link_to edit_account_path do %>
          修改<%= image_tag("uboss_29/right.png" ) %>
          <% end %>
        </span>
      </p>
      <p>
        <span>收货地址</span>
        <span class="center_content">
        </span>
        <span class="right_content">
          <%= link_to account_user_addresses_path do %>
          添加/修改<%= image_tag("uboss_29/right.png" ) %>
          <% end %>
        </span>
      </p>
      <p>
        <span>绑定手机</span>
        <span class="center_content">
          <%= current_user.login %>
        </span>
      </p>
      <p>
        <span>设置密码</span>
        <span class="center_content">
        </span>
        <span class="right_content">
          <%= link_to update_password_page_account_path do %>
          修改<%= image_tag("uboss_29/right.png") %>
          <% end %>
        </span>
      </p>
    </div>

</div>
