<%= content_for :page_title do %>
  我的UBOSS
<% end %>
<br />
<div class="bg-white gap">
		<div class="avatar">
      <div class="cover">
      	<%= image_tag current_user.avatar_url(:thumb) %> 
      </div>
      <div class="name">     
      	<%= truncate current_user.identify,:length=>28,:omission=>'...' %>
      </div>
			<div class="setting-icon">
				<%= link_to settings_account_path do %>
	      	<%= image_tag("mobile/setting.png") %>  
	      <% end %>
      </div>
  	</div><!-- avatar -->
</div>
<br />

<div class="tab-nav">
	<div class="tab" data-id="#showlist"><span>我的订单</span></div>
	<div class="tab active" data-id="#showpcards"><span>我的友情卡</span></div>
	<div class="tab" data-id="#showincome"><span>我的收益</span></div>
</div><!-- tab-nav  -->

<div class="tab-container">
	<div class="tab-content" id="showlist">
		<div class="bg-white gap">
			<div id="u-order-list">
	    <%= render partial: 'order', collection: @orders %>
   </div><!-- bg-->
  </div>
  <div class="load-more" data-container='#u-order-list' data-ele='.acc-order' data-ref='/account/orders'>加载更多</div>
	</div><!-- tab-content showlist -->
	<div class="tab-content" id="showpcards" style="display: block;">
		<div class="privilege-rate">
		<%= link_to edit_rate_privilege_cards_path do %>
    	友情卡贡献值比率：<span class="like-color"><%= current_user.privilege_rate.to_i %>%</span>
  	<% end %>
  	</div>
  <div id="pcards-list">
    <%= render partial: 'privilege_cards/privilege_card', collection: @privilege_cards %>
  </div>
  <div class="load-more" data-container='#pcards-list' data-ele='.acc-pcard' data-ref='/privilege_cards'>加载更多</div>
	</div><!-- tab-content showpcards -->
	<div class="tab-content" id="showincome">
		<div class="accunt_adil_box1">
    <p>总收益</p>
    <strong><%= number_to_currency(current_user.income.to_f + current_user.frozen_income.to_f) %></strong><span>元</span>
  </div>
  <div class="accunt_adil_box2">
    <p>可提现</p>
    <strong><%= number_to_currency(current_user.income.to_f) %></strong><span>元</span>
  </div>
  <div class="accunt_adil_box3">
    <%= link_to("提现", new_withdraw_records_path , class:"accunt_adilbtn") %>
  </div>
	</div><!-- tab-content showincome -->
</div><!-- tab-container  -->
		
      



      



      


