<%= content_for :page_title do %>
  我的UBOSS
<% end %>
<br />
<div class="bg-white gap">
		<div class="avatar">
      <div class="cover">
      	<%= image_tag current_user.avatar_url(:thumb) %>
      </div>
      <div class="name">
      	<%= truncate current_user.identify,:length=>28,:omission=>'...' %>
      </div>
			<div class="setting-icon">
				<%= link_to settings_account_path do %>
	      	<%= image_tag("mobile/setting.png") %>
	      <% end %>
      </div>
  	</div><!-- avatar -->
</div>
<div class="link-tab">
  <a href="<%= service_orders_account_path %>"><span>验证券<p>1</p></span></a>
	<a href="javascript:;"><span>我的红包<p>100</p></span></a>
  <a href="<%= income_account_path %>"><span>我的收益<p>200</p></span></a>
</div><!-- tab-nav  -->
<br />

<div class="tab-container">
	<div class="tab-content" id="showlist" style="display: block;">
		<div id="u-order-list">
      <div class="order-list">
        <div class="seller-box">
          <span class="pull-right like-color">
            <%= link_to '全部验证券', service_orders_account_path, class: 'like-color' %>
          </span>
          <div class="text-cut">我的验证券</div>
        </div>
        <div class="link-tab">
          <a href="<%= service_orders_account_path(state: 'unpay') %>"><span>待付款</span></a>
          <a href="<%= service_orders_account_path(state: 'payed') %>"><span>待消费</span></a>
          <a href="<%= service_orders_account_path(state: 'completed') %>"><span>待评价</span></a>
        </div>
      </div>
    </div>

		<div id="u-order-list">
      <div class="order-list">
        <div class="seller-box">
          <span class="pull-right like-color">
            <%= link_to '全部订单', orders_account_path, class: 'like-color' %>
          </span>
          <div class="text-cut">我的订单</div>
        </div>
        <div class="link-tab">
          <a href="<%= orders_account_path(state: 'unpay') %>"><span>未付款</span></a>
          <a href="<%= orders_account_path(state: 'payed') %>"><span>未发货</span></a>
          <a href="<%= orders_account_path(state: 'shiped') %>"><span>未收货</span></a>
        </div>
      </div>
    </div>

		<div id="u-order-list">
      <div class="order-list">
        <div class="seller-box">
          <div class="text-cut">我的友情卡</div>
        </div>
        <div id="showpcards">
          <div class="privilege-rate">
            <%= link_to edit_rate_privilege_cards_path do %>
              友情卡贡献值比率：<span class="like-color"><%= current_user.privilege_rate.to_i %>%</span>
            <% end %>
          </div>
          <div id="pcards-list">
            <%= render partial: 'privilege_cards/privilege_card', collection: @privilege_cards %>
          </div>
          <br />
          <div class="load-more" data-container='#pcards-list' data-ele='.share-card' data-ref='/privilege_cards'>加载更多</div>
          <br />
        </div><!-- tab-content showpcards -->
      </div>
    </div>

  </div><!-- tab-content showlist -->
</div><!-- tab-container  -->

<%= render partial: 'new_share' %>

<style type="text/css" media="all">
  .link-tab{
    display: table;
    background-color: #fff;
    width: 100%;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 20px;
  }
  .link-tab a{
    width: 1%;
    vertical-align: middle;
    padding: 10px;
    display: table-cell;
    text-align: center;
    color: #999;
  }
</style>
