<%= content_for :page_title do %>
  我的UBOSS
<% end %>

<div class="container">
  <div class="my_acuntbox1">
    <div class="my_acuntcont">
      <%= link_to settings_account_path do %>
      <span class="my_img"><%= image_tag current_user.avatar_url(:thumb) %></span>
      <span class="my_text">
        <%= truncate current_user.identify,:length=>28,:omission=>'...' %>
      </span>
      <% end %>
    </div>
  </div>
  <div class="my_acuntbox2">
    <div class="my_menu">
      <ul>
        <li ><a onclick="showList()" id="showlist" class="active">我的订单</a></li>
        <li><a onclick="showIncome()"  id="showincome">我的收益</a></li>
      </ul>
    </div>
    <div class="my_con1">
      <% current_user.orders.order("created_at DESC").each do |obj| %>
      <div class="my_boxlist">
        <div class="my_centop">
          <span class="my_Ordernumber">订单号：<%= obj.number %>  </span>
          <span class="my_date"><%= obj.created_at.strftime('%Y-%m-%d') %></span>
        </div>
        <dl>
          <%= link_to order_path(obj, showwxpaytitle: 1) do %>
          <dt>
            <%= image_tag obj.order_items.first.try(:product).try(:image_url) %>
          </dt>
          <dd class="my_dd2">
            <p>
              <%= obj.order_items.first.try(:product).try(:name) %>
              <span class="my_left">x<%=  obj.order_items.first.try(:amount) %></span>
            </p>
            <p><span></span></p>
          </dd>
          <% end %>
          <dd class="my_dd1">
            <p>
              价格:￥<%= obj.pay_amount %>
              <span>
              <% if obj.state == 'unpay' %>
                <%= link_to "付款", order_path(obj, showwxpaytitle: 1), class: 'my_retur my_confir' %>
              <% elsif obj.state == 'payed' %>
                <input type="submit" value="待发货" class="my_retur my_confir btn" disabled="disabled">
              <% elsif obj.state == 'shiped' %>
                <%= link_to "确认收货", received_order_path(obj) , class:"my_retur my_confir", data: { confirm: '确认收货？' } %>
              <% elsif obj.state == 'signed' %>
                <input type="submit" value="已签收" class="my_retur my_confir btn" disabled="disabled">
              <% elsif obj.state == 'closed' %>
                <input type="submit" value="交易关闭" class="my_retur my_confir btn" disabled="disabled">
              <% elsif obj.completed? %>
                <input type="submit" value="交易完成" class="my_retur my_confir btn" disabled="disabled">
              <% end %>
              </span>
            </p>
          </dd>
        </dl>
      </div>
      <% end %>
    </div>

    <div class="accunt_adil undis">
      <div class="accunt_adil_box1">
        <p>总收益</p>
        <strong><%= current_user.income.to_f + current_user.frozen_income.to_f %></strong><span>元</span>
      </div>
      <div class="accunt_adil_box2">
        <p>可提现</p>
        <strong><%= current_user.income.to_f %></strong><span>元</span>
      </div>
      <div class="accunt_adil_box3">
        <%= link_to("提现", new_withdraw_records_path , class:"accunt_adilbtn") %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function showList() {
  $(".accunt_adil").addClass('undis');
  $(".my_con1").removeClass('undis');
  $("#showlist").addClass('active');
  $("#showincome").removeClass('active');
};
function showIncome() {
  $(".my_con1").addClass('undis');
  $(".accunt_adil").removeClass('undis');
  $("#showlist").removeClass('active');
  $("#showincome").addClass('active');
};
</script>
