<%= content_for :page_title do %>
  我的UBOSS
<% end %>
<div class="bg-white gap m-top10 border-box">
	<div class="avatar">
    <div class="cover">
    	<%= image_tag current_user.avatar_url(:thumb) %>
    </div>
    <div class="name">
    	<%= truncate current_user.identify,:length=>28,:omission=>'...' %>
    </div>
		<div class="setting-icon">
			<%= link_to settings_account_path do %>
      	<%= image_tag("mobile/setting.png") %>
      <% end %>
    </div>
	</div><!-- avatar -->
</div><!-- bg-white -->
<div class="link-tab box bg-white m-bottom10">
	<%= link_to account_verify_codes_path,class:'box-w33' do %>
		<div class="black-color">验证券</div>
		<div class="gray-color"><%= @statistics[:so_payed] %></div>
	<% end %>
	<%= link_to bonus_benefit_account_path,class:'box-w33' do %>
		<div class="black-color">我的红包</div>
		<div class="gray-color"><%= current_user.bonus_benefit %></div>
	<% end %>
	<%= link_to income_account_path,class:'box-w33' do %>
		<div class="black-color">我的收益</div>
		<div class="gray-color"><%= current_user.income.to_f + current_user.frozen_income.to_f %></div>
	<% end %>
</div>

<div class="bg-white m-bottom10">
	<div class="page-title gap border-box">
    <small class="pull-right">
      <%= link_to  service_orders_account_path, class: 'gray-color' do %>
       	全部验证券 <%= image_tag("mobile/gray-arrow-right.png",height:'10') %>
      <% end %>
    </small>
    <div class="text-cut black-color">我的验证券</div>
	</div><!-- page-title -->
  <div class="box-w100 text-center">
  	<%= link_to service_orders_account_path(state: 'unpay'),class:'box-w33' do %>
  		<div class="account-icon icon1">
    		<span class="num"><%= zero_to_nil @statistics[:so_unpay] %></span>
    	</div>
  		<div class="gray-color"><small>待付款</small></div>
  	<% end %>
    <%= link_to service_orders_account_path(state: 'payed'),class:'box-w33' do %>
    	<div class="account-icon icon5">
    		<span class="num"><%= zero_to_nil @statistics[:so_payed] %></span>
    	</div>
    	<div class="gray-color"><small>待消费</small></div>
    <% end %>
    <%= link_to service_orders_account_path(state: 'unevaluate'),class:'box-w33' do %>
    	<div class="account-icon icon3">
    		<span class="num"><%= zero_to_nil @statistics[:so_unevaluate] %></span>
    	</div>
    	<div class="gray-color"><small>待评价</small></div>
    <% end %>
  </div><!-- box-w100 -->
</div><!-- bg-white -->

<div class="bg-white m-bottom10">
  <div class="page-title gap border-box">
    <small class="pull-right">
    	 <%= link_to  orders_account_path, class: 'gray-color' do %>
       	全部订单 <%= image_tag("mobile/gray-arrow-right.png",height:'10') %>
      <% end %>
    </small>
    <div class="text-cut black-color">我的订单</div>
  </div><!-- page-title -->
  <div class="box-w100 text-center">
		<%= link_to orders_account_path(state: 'unpay'),class:'box-w25' do %>
    	<div class="account-icon icon1">
    		<span class="num"><%= zero_to_nil @statistics[:oo_unpay] %></span>
    	</div>
    	<div class="gray-color"><small>未付款</small></div>
    <% end %>
 		<%= link_to orders_account_path(state: 'shiped'),class:'box-w25' do %>
 			<div class="account-icon icon2">
        <span class="num"><%= zero_to_nil @statistics[:oo_shiped] %></span>
    	</div>
    	<div class="gray-color"><small>未收货</small></div>
    <% end %>
 		<%= link_to orders_account_path(state: 'unevaluate'),class:'box-w25' do %>
 			<div class="account-icon icon3">
        <span class="num"><%= zero_to_nil @statistics[:oo_unevaluate] %></span>
    	</div>
    	<div class="gray-color"><small>未评价</small></div>
    <% end %>
  	<%= link_to orders_account_path(state: 'after_sale'),class:'box-w25' do %>
  		<div class="account-icon  icon4">
        <span class="num"><%= zero_to_nil @statistics[:oo_after_sale] %></span>
    	</div>
    	<div class="gray-color"><small>退款/售后</small></div>
    <% end %>
  </div><!-- box-w100 -->
</div><!-- bg-white -->

<div class="bg-white m-bottom10">
  <div class="page-title gap border-box black-color">
    <div class="text-cut">我的友情卡</div>
  </div>
  <div class="privilege-rate gap">
    <%= link_to edit_rate_privilege_cards_path , class:'gap border-radius' do %>
      友情卡贡献值比率：<%= current_user.privilege_rate.to_i %>%
    <% end %>
  </div>
</div>
<div class="bg-white">
  <div id="pcards-list">
    <%= render partial: 'privilege_cards/privilege_card', collection: @privilege_cards %>
  </div>
</div><!-- bg-white -->
<br />
<div class="load-more" data-container='#pcards-list' data-ele='.share-card' data-ref='/privilege_cards'>加载更多</div>
<br />


<%= render partial: 'new_share' %>

