<%= content_for :page_title do %>
  我的UBOSS
<% end %>
<br />
<div class="bg-white gap">
		<div class="avatar">
      <div class="cover">
      	<%= image_tag current_user.avatar_url(:thumb) %>
      </div>
      <div class="name">
      	<%= truncate current_user.identify,:length=>28,:omission=>'...' %>
      </div>
			<div class="setting-icon">
				<%= link_to settings_account_path do %>
	      	<%= image_tag("mobile/setting.png") %>
	      <% end %>
      </div>
  	</div><!-- avatar -->
</div>
<br />

<div class="tab-nav">
	<a class="tab active" href="#showlist"><span>我的订单</span></a>
	<a class="tab" href="#showpcards"><span>我的友情卡</span></a>
	<a class="tab" href="#showincome"><span>我的收益</span></a>
</div><!-- tab-nav  -->

<div class="tab-container">
	<div class="tab-content" id="showlist" style="display: block;">
		<ul class="order-sort">
			<li class="active"><a href="<%= account_path %>">全部</a></li>
			<li><a href="<%= account_path(state: 'unpay') %>">未付款</a></li>
			<li><a href="<%= account_path(state: 'payed') %>">未发货</a></li>
			<li><a href="<%= account_path(state: 'shiped') %>">未收货</a></li>
      <li><a href="<%= account_path(state: 'completed') %>">已完成</a></li>
			<li><a href="<%= account_path(state: 'after_sale') %>">售后</a></li>
		</ul>
		<div id="u-order-list">
      <% if params[:state] == 'after_sale' %>
        <%= render partial: 'refund', collection: @refunds %>
      <% else %>
        <%= render partial: 'order', collection: @orders %>
      <% end %>
   	</div>

    <% if params[:state] == 'after_sale' %>
      <% if @refunds.blank? %>
        <div class="bg-white text-center gap">
          <br />
          <p class="gray-color">您还没有相关信息</p>
          <br />
          <p><a href="/" class="btn btn-longer">去逛逛</a></p>
          <br />
        </div>
      <% else %>
        <div class="load-more" data-container='#u-order-list' data-ele='.order-list' data-ref='/account/orders'>加载更多</div>
      <% end %>
    <% else %>
      <% if @orders.blank? %>
        <div class="bg-white text-center gap">
          <br/>
          <p><%= image_tag 'mobile/cart-big.png' %></p>
          <br />
          <p class="gray-color">您还没有相关的订单</p>
          <br />
          <p><a href="/" class="btn btn-longer">去逛逛</a></p>
          <br />
        </div>
      <% else %>
        <br />
        <div class="load-more" data-container='#u-order-list' data-ele='.order-list' data-ref='/account/orders'>加载更多</div>
      <% end %>
    <% end %>
  	<br />
	</div><!-- tab-content showlist -->
	<div class="tab-content" id="showpcards">
		<div class="privilege-rate">
		<%= link_to edit_rate_privilege_cards_path do %>
    	友情卡贡献值比率：<span class="like-color"><%= current_user.privilege_rate.to_i %>%</span>
  	<% end %>
  	</div>
	  <div id="pcards-list">
	    <%= render partial: 'privilege_cards/privilege_card', collection: @privilege_cards %>
	  </div>
	  <br />
	  <div class="load-more" data-container='#pcards-list' data-ele='.share-card' data-ref='/privilege_cards'>加载更多</div>
	  <br />
	</div><!-- tab-content showpcards -->
	<div class="tab-content" id="showincome">
		<div class="bg-white gap">
			<br />
	    <p class="gray-color">总收益</p>
	    <h2 class="main-color"><%= number_to_currency(current_user.income.to_f + current_user.frozen_income.to_f) %> <small>元</small></h2>
		  <hr />
		  <br />
	    <p class="gray-color">可提现</p>
	    <h2 class="main-color"><%= number_to_currency(current_user.income.to_f) %><small>元</small></h2>
	    <br />
		  <%= link_to("提现", new_withdraw_records_path , class:"accunt_adilbtn btn btn-large btn-block") %>
		  <br />
	 </div><!-- bg-white -->
	</div><!-- tab-content showincome -->
</div><!-- tab-container  -->

<%= render partial: 'new_share' %>

<script>
	var locationid=document.location.href.substr(document.location.href.indexOf('#'),document.location.href.length);
	if($(locationid).length>0){
		$('.tab-container .tab-content').hide();
		$('.tab-nav .tab').removeClass('active');
		$('.tab-nav .tab').each(function(){
			if($(this).attr('href')==locationid){
				$(this).addClass('active');
			}
		})
		$(locationid).show();
	}

  $(document).ready(function(){
    $.each($('.order-sort li'), function(){
    if($(this).find('a').attr("href")==(location.pathname+location.search)){
      $(this).addClass('active')
    }else{
      $(this).removeClass('active')
    }
    })
  });
</script>
