<header class="head">
  <%= link_to url_for(controller: :products,action: :index) do %>
  <div class="bottom left iconleft"></div>
  <% end %>
  <div class="log_font">我的账户</div>
</header>
<div class="container">
  <div class="my_acuntbox1">
    <div class="my_acuntcont">
      <span class="my_img"><img src="assets/img/header_img.jpg"></span>
      <span class="my_text">
        <%= link_to (truncate current_user.identify,:length=>28,:omission=>'...' ), edit_account_path %>
      </span>
      <span class="my_btn">
        <%= link_to '退出', destroy_user_session_path(current_user), method: :delete, class: 'my_retur' %>
      </span>
    </div>
  </div>
  <div class="my_acuntbox2">
    <div class="my_menu">
      <ul>
        <li id="showlist" class="acticv"><a onclick="showList()">我的订单</a></li>
        <li id="showincome"><a onclick="showIncome()">我的收益</a></li>
      </ul>
    </div>
    <div class="my_con1">
      <% current_user.orders.order("created_at DESC").each do |obj| %>
      <div class="my_boxlist">
        <div class="my_centop">
          <span class="my_Ordernumber">订单号：<%= obj.number %>  </span>
          <span class="my_date"><%= obj.created_at.strftime('%Y-%m-%d') %></span>
        </div>
        <dl>
          <%= link_to order_path(obj) do %>
          <dt>
            <%= image_tag obj.order_items.first.try(:product).try(:image_url) %>
          </dt>
          <dd class="my_dd2">
            <p>
              <%= obj.order_items.first.try(:product).try(:name) %>
              <span class="my_left">x<%=  obj.order_items.first.try(:amount) %></span>
            </p>
            <p><span>补身体的好选择</span></p>
          </dd>
          <% end %>
          <dd class="my_dd1">
            <p>
              价格:￥<%= obj.pay_amount %>
              <span>
              <% if obj.state == 'unpay' %>
                <%= link_to "付款", order_path(obj, showwxpaytitle: 1), class: 'my_retur my_confir' %>
              <% elsif obj.state == 'payed' %>
                <a href="#" class="my_retur my_confir" disabled="disabled">待发货</a>
              <% elsif obj.state == 'shiped' %>
                <%= link_to("确认收货", received_order_path(obj) , class:"my_retur my_confir") %>
              <% elsif obj.state == 'signed' %>
                <a href="#" class="my_retur my_confir" disabled="disabled">已签收</a>
              <% elsif obj.state == 'closed' %>
                <a href="#" class="my_retur my_confir" disabled="disabled">交易关闭</a>
              <% end %>
              </span>
            </p>
          </dd>
        </dl>
      </div>
      <% end %>
    </div>

    <div class="accunt_adil undis">
      <div class="accunt_adil_box1">
        <p>总收益</p>
        <strong><%= current_user.income.to_f %></strong><span>元</span>
      </div>
      <div class="accunt_adil_box2">
        <p>可提现</p>
        <strong><%= current_user.income.to_f %></strong><span>元</span>
        <p>部分商家会以商品形式返现</p>
        <p>商品提现请致电：XXXX-XXXX</p>
      </div>
      <div class="accunt_adil_box3"><input type="submit" value="提现" class="accunt_adilbtn"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
function showList() {
  $(".accunt_adil").addClass('undis');
  $(".my_con1").removeClass('undis');
  $("#showlist").addClass('acticv');
  $("#showincome").removeClass('acticv');
};
function showIncome() {
  $(".my_con1").addClass('undis');
  $(".accunt_adil").removeClass('undis');
  $("#showlist").removeClass('acticv');
  $("#showincome").addClass('acticv');
};
</script>
