<header class="head">
  <%= link_to url_for(controller: :accounts,action: :settings) do %>
  <div class="bottom left iconleft"></div>
  <% end %>
  <div class="log_font">修改密码</div>
</header>
<div class="row" style="padding-top:15px;"></div>
<%= simple_form_for current_user, url: password_account_path, method: :patch do |f| %>
  <div class="row">
    <ul class="index_ul">
      <li><%= f.input :identify,  label_html:{class:"col-xs-6"},input_html:{disabled:'disabled'} %></li>
      <%# if !current_user.need_reset_password %>
      <li><%= f.input :current_password,label_html:{class:"col-xs-6"}%></li>
      <%# end %>
      <li><%= f.input :password, label: "新密码", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),label_html:{class:"col-xs-6"} %></li>
      <li><%= f.input :password_confirmation, label: "确认新密码", required: true,label_html:{class:"col-xs-6"} %></li>
    </ul>
 
  
  
  </div>
  <div class="row" style="padding-top:15px;"></div>
  <div class="row">
    <div style="padding:0 10px;">
      <%= f.submit '修改',class:"btn bg_green col-xs-12 white" %>
    </div>
    
  </div>
  
  
<% end %>
