<%= content_for :page_title do %>
  修改密码
<% end %>
<div class="container add_listall" >
  <div class="add_conts">
    <%= simple_form_for current_user, url: password_account_path, method: :patch do |f| %>
    <div class="add_inout">
      <p><span>账户名称</span><%= f.input_field :identify, disabled:'disabled', class:"add_text" %></p>
      <%# if !current_user.need_reset_password %>
      <p><span>原密码</span><%= f.input_field  :current_password, placeholder: '原密码', class:"add_text" %></p>
      <%# end %>
      <p><span>新密码</span><%= f.input_field  :password, placeholder: '新密啊', class:"add_text" %></p>
      <p><span>确认新密码</span><%= f.input_field  :password_confirmation, placeholder: '再次输入新密码', class:"add_text" %></p>
    </div>
    <div class="accunt_adil_box3 adbtn">
      <%= f.submit '修改', class:"accunt_adilbtn" %>
    </div>
    <% end %>
</div>
