<%= content_for :page_title do %>
  修改密码
<% end %>
<div class="container add_listall" >
  <div class="add_conts">
    <%= simple_form_for current_user, url: password_account_path, method: :patch do |f| %>
    <div class="add_inout">
      <p><span>账户名称</span><%= f.input_field :identify, disabled:'disabled', class:"add_text" %></p>
      <% if current_user.need_reset_password %>
      <p>
        <span><%= f.input_field :mobile, type: :tel, placeholder: '输入手机号', class:"add_text_2",id:'new_mobile', disabled:"disabled" %></span>
        <span>
          <a style='color:#fff;' href='#' class="add_text_2 btn" id="send_mobile">发送验证码</a>
        </span>
      </p>
      <p><span>验证码</span><%= f.input_field :code, type: :tel, placeholder: '填写短信验证码', class: "add_text"  %></p>

      <% else %>
      <p><span>原密码</span><%= f.input_field  :current_password, placeholder: '原密码', class:"add_text" %></p>
      <% end %>
      <p><span>新密码</span><%= f.input_field  :password, placeholder: '新密啊', class:"add_text" %></p>
      <p><span>确认新密码</span><%= f.input_field  :password_confirmation, placeholder: '再次输入新密码', class:"add_text" %></p>
    </div>
    <div class="accunt_adil_box3 adbtn">
      <%= f.submit '修改', class:"accunt_adilbtn" %>
    </div>
    <% end %>
</div>
